Solutions/Vaikora-AzureSecurityCenter/Package/mainTemplate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "author": "Data443 Risk Mitigation, Inc. - support@data443.com",
    "comments": "Solution template for VaikoraSecurityCenter"
  },
  "parameters": {
    "location": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Not used, but needed to pass arm-ttk test `Location-Should-Not-Be-Hardcoded`. We instead use the `workspace-location` which is derived from the LA workspace"
      }
    },
    "workspace-location": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "[concat('Region to deploy solution resources -- separate from location selection',parameters('location'))]"
      }
    },
    "workspace": {
      "defaultValue": "",
      "type": "string",
      "metadata": {
        "description": "Workspace name for Log Analytics where Microsoft Sentinel is setup"
      }
    },
    "PlaybookName": {
      "defaultValue": "VaikoraToAzureSecurityCenter",
      "type": "string",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "VaikoraApiKey": {
      "type": "securestring",
      "metadata": {
        "description": "Vaikora API key (X-API-Key header)"
      }
    },
    "VaikoraAgentId": {
      "type": "string",
      "metadata": {
        "description": "Vaikora Agent ID to poll"
      }
    },
    "WorkspaceId": {
      "type": "string",
      "metadata": {
        "description": "Log Analytics Workspace ID for Data Collector API"
      }
    },
    "WorkspaceKey": {
      "type": "securestring",
      "metadata": {
        "description": "Log Analytics Primary Key for Data Collector API signing"
      }
    }
  },
  "variables": {
    "email": "support@data443.com",
    "_email": "[variables('email')]",
    "_solutionName": "VaikoraSecurityCenter",
    "_solutionVersion": "3.0.0",
    "solutionId": "data443riskmitigationinc1761580347231.azure-sentinel-solution-vaikora-security-center",
    "_solutionId": "[variables('solutionId')]",
    "workspaceResourceId": "[resourceId('microsoft.OperationalInsights/Workspaces', parameters('workspace'))]",
    "logAnalyticsConnectionName": "[concat('azureloganalyticsdatacollector-', parameters('PlaybookName'))]",

    "playbookVersion1": "1.0",
    "playbookContentId1": "VaikoraToAzureSecurityCenter",
    "_playbookContentId1": "[variables('playbookContentId1')]",
    "playbookId1": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId1'))]",
    "playbookTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId1'))))]",
    "_playbookcontentProductId1": "[concat(take(variables('_solutionId'),50),'-','pl','-', uniqueString(concat(variables('_solutionId'),'-','Playbook','-',variables('_playbookContentId1'),'-', variables('playbookVersion1'))))]",

    "analyticRuleObject1": {
      "analyticRuleVersion1": "3.0.0",
      "_analyticRulecontentId1": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "analyticRuleId1": "[resourceId('Microsoft.SecurityInsights/AlertRuleTemplates', 'a1b2c3d4-e5f6-7890-abcd-ef1234567890')]",
      "analyticRuleTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-ar-',uniquestring('a1b2c3d4-e5f6-7890-abcd-ef1234567890')))]",
      "_analyticRulecontentProductId1": "[concat(take(variables('_solutionId'),50),'-','ar','-', uniqueString(concat(variables('_solutionId'),'-','AnalyticsRule','-','a1b2c3d4-e5f6-7890-abcd-ef1234567890','-', '3.0.0')))]"
    },
    "analyticRuleObject2": {
      "analyticRuleVersion2": "3.0.0",
      "_analyticRulecontentId2": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "analyticRuleId2": "[resourceId('Microsoft.SecurityInsights/AlertRuleTemplates', 'b2c3d4e5-f6a7-8901-bcde-f12345678901')]",
      "analyticRuleTemplateSpecName2": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-ar-',uniquestring('b2c3d4e5-f6a7-8901-bcde-f12345678901')))]",
      "_analyticRulecontentProductId2": "[concat(take(variables('_solutionId'),50),'-','ar','-', uniqueString(concat(variables('_solutionId'),'-','AnalyticsRule','-','b2c3d4e5-f6a7-8901-bcde-f12345678901','-', '3.0.0')))]"
    },
    "analyticRuleObject3": {
      "analyticRuleVersion3": "3.0.0",
      "_analyticRulecontentId3": "c3d4e5f6-a7b8-9012-cdef-012345678902",
      "analyticRuleId3": "[resourceId('Microsoft.SecurityInsights/AlertRuleTemplates', 'c3d4e5f6-a7b8-9012-cdef-012345678902')]",
      "analyticRuleTemplateSpecName3": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-ar-',uniquestring('c3d4e5f6-a7b8-9012-cdef-012345678902')))]",
      "_analyticRulecontentProductId3": "[concat(take(variables('_solutionId'),50),'-','ar','-', uniqueString(concat(variables('_solutionId'),'-','AnalyticsRule','-','c3d4e5f6-a7b8-9012-cdef-012345678902','-', '3.0.0')))]"
    },

    "_solutioncontentProductId": "[concat(take(variables('_solutionId'),50),'-','sl','-', uniqueString(concat(variables('_solutionId'),'-','Solution','-',variables('_solutionId'),'-', variables('_solutionVersion'))))]"
  },
  "resources": [
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('playbookTemplateSpecName1')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "VaikoraToAzureSecurityCenter Playbook with template version 1.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion1')]",
          "parameters": {
            "PlaybookName": {
              "defaultValue": "VaikoraToAzureSecurityCenter",
              "type": "string"
            },
            "VaikoraApiKey": {
              "type": "securestring"
            },
            "VaikoraAgentId": {
              "type": "string"
            },
            "WorkspaceId": {
              "type": "string"
            },
            "WorkspaceKey": {
              "type": "securestring"
            }
          },
          "variables": {
            "logAnalyticsConnectionName": "[concat('azureloganalyticsdatacollector-', parameters('PlaybookName'))]"
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('logAnalyticsConnectionName')]",
              "location": "[[resourceGroup().location]",
              "properties": {
                "displayName": "Vaikora Log Analytics Data Collector",
                "customParameterValues": {},
                "api": {
                  "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
                },
                "parameterValues": {
                  "username": "[[parameters('WorkspaceId')]",
                  "password": "[[parameters('WorkspaceKey')]"
                }
              }
            },
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[resourceGroup().location]",
              "tags": {
                "hidden-SentinelTemplateName": "VaikoraToAzureSecurityCenter",
                "hidden-SentinelTemplateVersion": "1.0"
              },
              "identity": {
                "type": "SystemAssigned"
              },
              "dependsOn": [
                "[[resourceId('Microsoft.Web/connections', variables('logAnalyticsConnectionName'))]"
              ],
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "VaikoraApiKey": {
                      "type": "securestring"
                    },
                    "VaikoraAgentId": {
                      "type": "string",
                      "defaultValue": "[[parameters('VaikoraAgentId')]"
                    },
                    "$connections": {
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "Recurrence": {
                      "type": "Recurrence",
                      "recurrence": {
                        "frequency": "Hour",
                        "interval": 6,
                        "timeZone": "UTC"
                      }
                    }
                  },
                  "actions": {
                    "Poll_Vaikora_Actions": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "https://api.vaikora.com/api/v1/actions",
                        "queries": {
                          "agent_id": "@parameters('VaikoraAgentId')",
                          "per_page": "100"
                        },
                        "headers": {
                          "X-API-Key": "@parameters('VaikoraApiKey')",
                          "Accept": "application/json"
                        }
                      },
                      "runAfter": {}
                    },
                    "Parse_Response": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Poll_Vaikora_Actions')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": { "type": "string" },
                                  "agent_id": { "type": "string" },
                                  "action_type": { "type": "string" },
                                  "severity": { "type": "string" },
                                  "title": { "type": "string" },
                                  "description": { "type": "string" },
                                  "source_ip": { "type": "string" },
                                  "destination_ip": { "type": "string" },
                                  "source_host": { "type": "string" },
                                  "destination_host": { "type": "string" },
                                  "process_name": { "type": "string" },
                                  "user_name": { "type": "string" },
                                  "file_path": { "type": "string" },
                                  "threat_detected": { "type": "boolean" },
                                  "is_anomaly": { "type": "boolean" },
                                  "confidence_score": { "type": "number" },
                                  "created_at": { "type": "string" },
                                  "updated_at": { "type": "string" }
                                }
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Poll_Vaikora_Actions": ["Succeeded"]
                      }
                    },
                    "Filter_High_Risk_Actions": {
                      "type": "Query",
                      "inputs": {
                        "from": "@body('Parse_Response')?['data']",
                        "where": "@or(or(equals(item()?['severity'], 'high'), equals(item()?['severity'], 'critical')), or(equals(item()?['is_anomaly'], true), equals(item()?['threat_detected'], true)))"
                      },
                      "runAfter": {
                        "Parse_Response": ["Succeeded"]
                      }
                    },
                    "For_Each_Security_Alert": {
                      "type": "Foreach",
                      "foreach": "@body('Filter_High_Risk_Actions')",
                      "actions": {
                        "Send_to_Log_Analytics": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/api/logs",
                            "body": "@{json(concat('{\"TimeGenerated\":\"', items('For_Each_Security_Alert')?['created_at'], '\",\"AlertId\":\"', items('For_Each_Security_Alert')?['id'], '\",\"AgentId\":\"', items('For_Each_Security_Alert')?['agent_id'], '\",\"ActionType\":\"', items('For_Each_Security_Alert')?['action_type'], '\",\"Severity\":\"', items('For_Each_Security_Alert')?['severity'], '\",\"Title\":\"', replace(items('For_Each_Security_Alert')?['title'], '\"', '\\\"'), '\",\"Description\":\"', replace(items('For_Each_Security_Alert')?['description'], '\"', '\\\"'), '\",\"SourceIP\":\"', items('For_Each_Security_Alert')?['source_ip'], '\",\"DestinationIP\":\"', items('For_Each_Security_Alert')?['destination_ip'], '\",\"SourceHost\":\"', items('For_Each_Security_Alert')?['source_host'], '\",\"DestinationHost\":\"', items('For_Each_Security_Alert')?['destination_host'], '\",\"ProcessName\":\"', items('For_Each_Security_Alert')?['process_name'], '\",\"UserName\":\"', items('For_Each_Security_Alert')?['user_name'], '\",\"FilePath\":\"', items('For_Each_Security_Alert')?['file_path'], '\",\"ThreatDetected\":', string(items('For_Each_Security_Alert')?['threat_detected']), ',\"IsAnomaly\":', string(items('For_Each_Security_Alert')?['is_anomaly']), ',\"ConfidenceScore\":', string(items('For_Each_Security_Alert')?['confidence_score']), ',\"UpdatedAt\":\"', items('For_Each_Security_Alert')?['updated_at'], '\"}'))}",
                            "headers": {
                              "Log-Type": "Vaikora_SecurityAlerts"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Filter_High_Risk_Actions": ["Succeeded"]
                      }
                    }
                  }
                },
                "parameters": {
                  "VaikoraApiKey": {
                    "value": "[[parameters('VaikoraApiKey')]"
                  },
                  "VaikoraAgentId": {
                    "value": "[[parameters('VaikoraAgentId')]"
                  },
                  "$connections": {
                    "value": {
                      "azureloganalyticsdatacollector": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('logAnalyticsConnectionName'))]",
                        "connectionName": "[[variables('logAnalyticsConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
                      }
                    }
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')),'/'))))]",
              "dependsOn": [
                "[[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
              ],
              "properties": {
                "parentId": "[[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]",
                "contentId": "[variables('_playbookContentId1')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion1')]",
                "source": {
                  "kind": "Solution",
                  "name": "VaikoraSecurityCenter",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "[variables('_email')]",
                  "tier": "Partner",
                  "link": "https://www.data443.com"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_playbookContentId1')]",
        "contentKind": "Playbook",
        "displayName": "VaikoraToAzureSecurityCenter",
        "contentProductId": "[variables('_playbookcontentProductId1')]",
        "id": "[variables('_playbookcontentProductId1')]",
        "version": "[variables('playbookVersion1')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('analyticRuleObject1').analyticRuleTemplateSpecName1]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "Vaikora - High Severity Security Alerts analytic rule with template version 1.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('analyticRuleObject1').analyticRuleVersion1]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.SecurityInsights/AlertRuleTemplates",
              "name": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
              "apiVersion": "2022-04-01-preview",
              "kind": "Scheduled",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "description": "Detects high or critical severity security alerts ingested from the Vaikora AI signal exchange platform in the last 6 hours.",
                "displayName": "Vaikora - High Severity Security Alerts",
                "enabled": false,
                "query": "Vaikora_SecurityAlerts_CL\n| where TimeGenerated >= ago(6h)\n| where Severity_s in (\"high\", \"critical\")\n| extend AlertId=AlertId_s, AgentId=AgentId_s, ActionType=ActionType_s, Severity=Severity_s, Title=Title_s, Description=Description_s, SourceIP=SourceIP_s, DestinationIP=DestinationIP_s, SourceHost=SourceHost_s, DestHost=DestinationHost_s, ProcessName=ProcessName_s, UserName=UserName_s, FilePath=FilePath_s, Confidence=ConfidenceScore_d, ThreatFlag=ThreatDetected_b, AnomalyFlag=IsAnomaly_b\n| project TimeGenerated, AlertId, AgentId, ActionType, Severity, Title, Description, SourceIP, DestinationIP, SourceHost, DestHost, ProcessName, UserName, FilePath, Confidence, ThreatFlag, AnomalyFlag\n| order by TimeGenerated desc",
                "queryFrequency": "PT6H",
                "queryPeriod": "PT6H",
                "severity": "High",
                "suppressionDuration": "PT1H",
                "suppressionEnabled": false,
                "triggerOperator": "GreaterThan",
                "triggerThreshold": 0,
                "status": "Available",
                "requiredDataConnectors": [
                  {
                    "connectorId": "VaikoraSecurityCenter",
                    "dataTypes": ["Vaikora_SecurityAlerts_CL"]
                  }
                ],
                "tactics": [
                  "InitialAccess",
                  "Execution",
                  "Persistence",
                  "DefenseEvasion",
                  "CredentialAccess",
                  "LateralMovement",
                  "Exfiltration",
                  "Impact"
                ],
                "entityMappings": [
                  {
                    "entityType": "IP",
                    "fieldMappings": [{ "identifier": "Address", "columnName": "SourceIP" }]
                  },
                  {
                    "entityType": "IP",
                    "fieldMappings": [{ "identifier": "Address", "columnName": "DestinationIP" }]
                  },
                  {
                    "entityType": "Host",
                    "fieldMappings": [{ "identifier": "HostName", "columnName": "SourceHost" }]
                  },
                  {
                    "entityType": "Account",
                    "fieldMappings": [{ "identifier": "Name", "columnName": "UserName" }]
                  }
                ],
                "alertDetailsOverride": {
                  "alertDisplayNameFormat": "Vaikora {{Severity_s}} Alert: {{Title_s}}",
                  "alertDescriptionFormat": "Vaikora detected a {{Severity_s}} severity event on agent {{AgentId_s}}. {{Description_s}}",
                  "alertSeverityColumnName": "Severity_s"
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('AnalyticsRule-', last(split(variables('analyticRuleObject1').analyticRuleId1,'/'))))]",
              "properties": {
                "description": "Vaikora Security Center Analytics Rule 1",
                "parentId": "[variables('analyticRuleObject1').analyticRuleId1]",
                "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
                "kind": "AnalyticsRule",
                "version": "[variables('analyticRuleObject1').analyticRuleVersion1]",
                "source": {
                  "kind": "Solution",
                  "name": "VaikoraSecurityCenter",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "[variables('_email')]",
                  "tier": "Partner",
                  "link": "https://www.data443.com"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
        "contentKind": "AnalyticsRule",
        "displayName": "Vaikora - High Severity Security Alerts",
        "contentProductId": "[variables('analyticRuleObject1')._analyticRulecontentProductId1]",
        "id": "[variables('analyticRuleObject1')._analyticRulecontentProductId1]",
        "version": "[variables('analyticRuleObject1').analyticRuleVersion1]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('analyticRuleObject2').analyticRuleTemplateSpecName2]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "Vaikora - Anomaly Detection analytic rule with template version 1.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('analyticRuleObject2').analyticRuleVersion2]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.SecurityInsights/AlertRuleTemplates",
              "name": "[variables('analyticRuleObject2')._analyticRulecontentId2]",
              "apiVersion": "2022-04-01-preview",
              "kind": "Scheduled",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "description": "Detects actions flagged as anomalies or confirmed threats by the Vaikora AI engine, even when severity is below high/critical.",
                "displayName": "Vaikora - Anomaly Detection",
                "enabled": false,
                "query": "Vaikora_SecurityAlerts_CL\n| where TimeGenerated >= ago(6h)\n| where IsAnomaly_b == true or ThreatDetected_b == true\n| where Severity_s !in (\"high\", \"critical\")\n| extend AlertId=AlertId_s, AgentId=AgentId_s, ActionType=ActionType_s, Severity=Severity_s, Title=Title_s, Description=Description_s, SourceIP=SourceIP_s, DestinationIP=DestinationIP_s, SourceHost=SourceHost_s, UserName=UserName_s, Confidence=ConfidenceScore_d, ThreatFlag=ThreatDetected_b, AnomalyFlag=IsAnomaly_b\n| project TimeGenerated, AlertId, AgentId, ActionType, Severity, Title, Description, SourceIP, DestinationIP, SourceHost, UserName, Confidence, ThreatFlag, AnomalyFlag\n| order by Confidence desc, TimeGenerated desc",
                "queryFrequency": "PT6H",
                "queryPeriod": "PT6H",
                "severity": "Medium",
                "suppressionDuration": "PT1H",
                "suppressionEnabled": false,
                "triggerOperator": "GreaterThan",
                "triggerThreshold": 0,
                "status": "Available",
                "requiredDataConnectors": [
                  {
                    "connectorId": "VaikoraSecurityCenter",
                    "dataTypes": ["Vaikora_SecurityAlerts_CL"]
                  }
                ],
                "tactics": [
                  "Discovery",
                  "LateralMovement",
                  "Collection",
                  "Exfiltration"
                ],
                "entityMappings": [
                  {
                    "entityType": "IP",
                    "fieldMappings": [{ "identifier": "Address", "columnName": "SourceIP" }]
                  },
                  {
                    "entityType": "Host",
                    "fieldMappings": [{ "identifier": "HostName", "columnName": "SourceHost" }]
                  },
                  {
                    "entityType": "Account",
                    "fieldMappings": [{ "identifier": "Name", "columnName": "UserName" }]
                  }
                ]
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('AnalyticsRule-', last(split(variables('analyticRuleObject2').analyticRuleId2,'/'))))]",
              "properties": {
                "description": "Vaikora Security Center Analytics Rule 2",
                "parentId": "[variables('analyticRuleObject2').analyticRuleId2]",
                "contentId": "[variables('analyticRuleObject2')._analyticRulecontentId2]",
                "kind": "AnalyticsRule",
                "version": "[variables('analyticRuleObject2').analyticRuleVersion2]",
                "source": {
                  "kind": "Solution",
                  "name": "VaikoraSecurityCenter",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "[variables('_email')]",
                  "tier": "Partner",
                  "link": "https://www.data443.com"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('analyticRuleObject2')._analyticRulecontentId2]",
        "contentKind": "AnalyticsRule",
        "displayName": "Vaikora - Anomaly Detection",
        "contentProductId": "[variables('analyticRuleObject2')._analyticRulecontentProductId2]",
        "id": "[variables('analyticRuleObject2')._analyticRulecontentProductId2]",
        "version": "[variables('analyticRuleObject2').analyticRuleVersion2]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('analyticRuleObject3').analyticRuleTemplateSpecName3]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "Vaikora - Feed Outage Detection analytic rule with template version 1.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('analyticRuleObject3').analyticRuleVersion3]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.SecurityInsights/AlertRuleTemplates",
              "name": "[variables('analyticRuleObject3')._analyticRulecontentId3]",
              "apiVersion": "2022-04-01-preview",
              "kind": "Scheduled",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "description": "Fires when no Vaikora data has arrived in the custom table for 12 or more hours, indicating a possible Logic App failure or API authentication issue.",
                "displayName": "Vaikora - Feed Outage Detection",
                "enabled": false,
                "query": "Vaikora_SecurityAlerts_CL\n| where TimeGenerated >= ago(12h)\n| summarize Count = count()\n| where Count == 0\n| extend Alert=\"No Vaikora data ingested in the last 12 hours\", Suggestion=\"Check the VaikoraToAzureSecurityCenter Logic App run history and verify the Vaikora API key is valid.\"\n| project Alert, Suggestion",
                "queryFrequency": "PT12H",
                "queryPeriod": "PT12H",
                "severity": "Low",
                "suppressionDuration": "PT1H",
                "suppressionEnabled": false,
                "triggerOperator": "LessThan",
                "triggerThreshold": 1,
                "status": "Available",
                "requiredDataConnectors": [
                  {
                    "connectorId": "VaikoraSecurityCenter",
                    "dataTypes": ["Vaikora_SecurityAlerts_CL"]
                  }
                ],
                "tactics": []
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('AnalyticsRule-', last(split(variables('analyticRuleObject3').analyticRuleId3,'/'))))]",
              "properties": {
                "description": "Vaikora Security Center Analytics Rule 3",
                "parentId": "[variables('analyticRuleObject3').analyticRuleId3]",
                "contentId": "[variables('analyticRuleObject3')._analyticRulecontentId3]",
                "kind": "AnalyticsRule",
                "version": "[variables('analyticRuleObject3').analyticRuleVersion3]",
                "source": {
                  "kind": "Solution",
                  "name": "VaikoraSecurityCenter",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "[variables('_email')]",
                  "tier": "Partner",
                  "link": "https://www.data443.com"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('analyticRuleObject3')._analyticRulecontentId3]",
        "contentKind": "AnalyticsRule",
        "displayName": "Vaikora - Feed Outage Detection",
        "contentProductId": "[variables('analyticRuleObject3')._analyticRulecontentProductId3]",
        "id": "[variables('analyticRuleObject3')._analyticRulecontentProductId3]",
        "version": "[variables('analyticRuleObject3').analyticRuleVersion3]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentPackages",
      "apiVersion": "2023-04-01-preview",
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('_solutionId'))]",
      "location": "[parameters('workspace-location')]",
      "properties": {
        "version": "[variables('_solutionVersion')]",
        "kind": "Solution",
        "contentSchemaVersion": "3.0.0",
        "displayName": "Vaikora Security Center",
        "publisherDisplayName": "Data443 Risk Mitigation, Inc.",
        "descriptionHtml": "<p>The Vaikora Security Center solution integrates Vaikora AI-driven security signal detection with Microsoft Sentinel and Azure Defender for Cloud via a Logic App playbook that polls the Vaikora API and writes qualifying alerts to the Vaikora_SecurityAlerts_CL custom table.</p>",
        "contentProductId": "[variables('_solutioncontentProductId')]",
        "id": "[variables('_solutioncontentProductId')]",
        "icon": "<img src=\"https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Logos/data443_logo.svg\" width=\"75px\" height=\"75px\">",
        "contentId": "[variables('_solutionId')]",
        "parentId": "[variables('_solutionId')]",
        "source": {
          "kind": "Solution",
          "name": "VaikoraSecurityCenter",
          "sourceId": "[variables('_solutionId')]"
        },
        "author": {
          "name": "Data443 Risk Mitigation, Inc.",
          "email": "[variables('_email')]"
        },
        "support": {
          "name": "Data443 Risk Mitigation, Inc.",
          "email": "[variables('_email')]",
          "tier": "Partner",
          "link": "https://www.data443.com"
        },
        "dependencies": {
          "operator": "AND",
          "criteria": [
            {
              "kind": "Playbook",
              "contentId": "[variables('_playbookContentId1')]",
              "version": "[variables('playbookVersion1')]"
            },
            {
              "kind": "AnalyticsRule",
              "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
              "version": "[variables('analyticRuleObject1').analyticRuleVersion1]"
            },
            {
              "kind": "AnalyticsRule",
              "contentId": "[variables('analyticRuleObject2')._analyticRulecontentId2]",
              "version": "[variables('analyticRuleObject2').analyticRuleVersion2]"
            },
            {
              "kind": "AnalyticsRule",
              "contentId": "[variables('analyticRuleObject3')._analyticRulecontentId3]",
              "version": "[variables('analyticRuleObject3').analyticRuleVersion3]"
            }
          ]
        },
        "firstPublishDate": "2026-04-02",
        "providers": ["Data443 Risk Mitigation, Inc."],
        "categories": {
          "domains": ["Security - Threat Protection"],
          "verticals": []
        }
      }
    }
  ],
  "outputs": {}
}
