Solutions/Cyren-SentinelOne-ThreatIntelligence/Package/mainTemplate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "author": "Data443 Risk Mitigation, Inc. - support@data443.com",
    "comments": "Solution template for Cyren-SentinelOne-ThreatIntelligence"
  },
  "parameters": {
    "location": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Not used, but needed to pass arm-ttk test `Location-Should-Not-Be-Hardcoded`.  We instead use the `workspace-location` which is derived from the LA workspace"
      }
    },
    "workspace-location": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "[concat('Region to deploy solution resources -- separate from location selection',parameters('location'))]"
      }
    },
    "workspace": {
      "defaultValue": "",
      "type": "string",
      "metadata": {
        "description": "Workspace name for Log Analytics where Microsoft Sentinel is setup"
      }
    }
  },
  "variables": {
    "email": "support@data443.com",
    "_email": "[variables('email')]",
    "_solutionName": "Cyren-SentinelOne-ThreatIntelligence",
    "_solutionVersion": "3.0.0",
    "solutionId": "data443riskmitigationinc1761580347231.azure-sentinel-solution-cyren-s1-ioc-automation",
    "_solutionId": "[variables('solutionId')]",
    "Playbooks": "Playbooks",
    "_Playbooks": "[variables('Playbooks')]",
    "blanks": "[replace('b', 'b', '')]",
    "playbookVersion1": "1.0.0",
    "playbookContentId1": "Playbooks",
    "_playbookContentId1": "[variables('playbookContentId1')]",
    "playbookId1": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId1'))]",
    "playbookTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId1'))))]",
    "workspaceResourceId": "[resourceId('microsoft.OperationalInsights/Workspaces', parameters('workspace'))]",
    "_playbookcontentProductId1": "[concat(take(variables('_solutionId'),50),'-','pl','-', uniqueString(concat(variables('_solutionId'),'-','Playbook','-',variables('_playbookContentId1'),'-', variables('playbookVersion1'))))]",
    "_solutioncontentProductId": "[concat(take(variables('_solutionId'),50),'-','sl','-', uniqueString(concat(variables('_solutionId'),'-','Solution','-',variables('_solutionId'),'-', variables('_solutionVersion'))))]"
  },
  "resources": [
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('playbookTemplateSpecName1')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "pb-cyren-to-sentinelone Playbook with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion1')]",
          "parameters": {
            "PlaybookName": {
              "type": "string",
              "defaultValue": "pb-cyren-to-sentinelone"
            },
            "Cyren_JwtToken": {
              "type": "securestring",
              "defaultValue": "",
              "metadata": {
                "description": "Cyren CCF JWT Bearer Token for API authentication"
              }
            },
            "Cyren_FeedId": {
              "type": "string",
              "defaultValue": "ip_reputation",
              "metadata": {
                "description": "Cyren CCF Feed ID (e.g. ip_reputation, malware_urls)"
              }
            },
            "SentinelOne_ApiToken": {
              "type": "securestring",
              "defaultValue": "",
              "metadata": {
                "description": "SentinelOne API Token"
              }
            },
            "SentinelOne_BaseUrl": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "Your SentinelOne console URL (e.g. https://usea1-021.sentinelone.net). Log in to SentinelOne and copy the URL from your browser address bar."
              }
            },
            "SentinelOne_AccountId": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "SentinelOne Account ID"
              }
            },
            "workspace": {
              "type": "string",
              "metadata": {
                "description": "Workspace name for Log Analytics"
              }
            }
          },
          "variables": {
            "workspaceResourceId": "[[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace'))]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]"
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "tags": {
                "hidden-SentinelTemplateName": "CyrenToSentinelOne",
                "hidden-SentinelTemplateVersion": "1.0.0",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "properties": {
                "state": "Enabled",
                "parameters": {
                  "Cyren_JwtToken": {
                    "value": "[[parameters('Cyren_JwtToken')]"
                  },
                  "Cyren_FeedId": {
                    "value": "[[parameters('Cyren_FeedId')]"
                  },
                  "SentinelOne_ApiToken": {
                    "value": "[[parameters('SentinelOne_ApiToken')]"
                  },
                  "SentinelOne_BaseUrl": {
                    "value": "[[parameters('SentinelOne_BaseUrl')]"
                  },
                  "SentinelOne_AccountId": {
                    "value": "[[parameters('SentinelOne_AccountId')]"
                  }
                },
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "Cyren_ApiUrl": {
                      "type": "string",
                      "defaultValue": "https://api-feeds.cyren.com/v1/feed/data"
                    },
                    "Cyren_JwtToken": {
                      "type": "string",
                      "defaultValue": "[variables('blanks')]"
                    },
                    "Cyren_FeedId": {
                      "type": "string",
                      "defaultValue": "ip_reputation"
                    },
                    "SentinelOne_BaseUrl": {
                      "type": "string",
                      "defaultValue": "[variables('blanks')]"
                    },
                    "SentinelOne_ApiToken": {
                      "type": "string",
                      "defaultValue": "[variables('blanks')]"
                    },
                    "SentinelOne_AccountId": {
                      "type": "string",
                      "defaultValue": "[variables('blanks')]"
                    }
                  },
                  "triggers": {
                    "Recurrence": {
                      "type": "Recurrence",
                      "recurrence": {
                        "frequency": "Hour",
                        "interval": 6,
                        "timeZone": "UTC"
                      }
                    }
                  },
                  "actions": {
                    "Initialize_PersistentToken": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "persistentToken",
                            "type": "string",
                            "value": "[variables('blanks')]"
                          }
                        ]
                      }
                    },
                    "Initialize_HasMoreData": {
                      "type": "InitializeVariable",
                      "runAfter": {
                        "Initialize_PersistentToken": [
                          "Succeeded"
                        ]
                      },
                      "inputs": {
                        "variables": [
                          {
                            "name": "hasMoreData",
                            "type": "boolean",
                            "value": true
                          }
                        ]
                      }
                    },
                    "List_STAR_Rules": {
                      "type": "Http",
                      "runAfter": {
                        "Initialize_HasMoreData": [
                          "Succeeded"
                        ]
                      },
                      "inputs": {
                        "method": "GET",
                        "uri": "@{parameters('SentinelOne_BaseUrl')}/web/api/v2.1/cloud-detection/rules?accountIds=@{parameters('SentinelOne_AccountId')}",
                        "headers": {
                          "Content-Type": "application/json",
                          "Authorization": "@{concat('ApiToken ', parameters('SentinelOne_ApiToken'))}"
                        }
                      }
                    },
                    "Check_Rule_Exists": {
                      "type": "If",
                      "runAfter": {
                        "List_STAR_Rules": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@contains(string(body('List_STAR_Rules')), 'Cyren IOC Detection')",
                              false
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Create_STAR_Rule": {
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "@{parameters('SentinelOne_BaseUrl')}/web/api/v2.1/cloud-detection/rules",
                            "headers": {
                              "Content-Type": "application/json",
                              "Authorization": "@{concat('ApiToken ', parameters('SentinelOne_ApiToken'))}"
                            },
                            "body": {
                              "filter": {
                                "accountIds": [
                                  "@{parameters('SentinelOne_AccountId')}"
                                ]
                              },
                              "data": {
                                "name": "Cyren IOC Detection",
                                "s1ql": "IndicatorSource = \"Cyren\"",
                                "queryType": "events",
                                "severity": "High",
                                "status": "Active",
                                "expirationMode": "Permanent",
                                "treatAsThreat": "Suspicious"
                              }
                            }
                          }
                        }
                      }
                    },
                    "Paginate_Cyren_Feed": {
                      "type": "Until",
                      "runAfter": {
                        "Check_Rule_Exists": [
                          "Succeeded"
                        ]
                      },
                      "expression": "@equals(variables('hasMoreData'), false)",
                      "limit": {
                        "count": 10,
                        "timeout": "PT1H"
                      },
                      "actions": {
                        "Build_Cyren_Api_Url": {
                          "type": "Compose",
                          "inputs": "@{concat(parameters('Cyren_ApiUrl'), '?feedId=', encodeUriComponent(parameters('Cyren_FeedId')), '&count=1000&queryWindowInMin=360', if(equals(variables('persistentToken'), ''), '', uriComponentToString(uri('&token=', encodeUriComponent(variables('persistentToken'))))))}"
                        },
                        "Get_Cyren_Feed_Page": {
                          "type": "Http",
                          "runAfter": {
                            "Build_Cyren_Api_Url": [
                              "Succeeded"
                            ]
                          },
                          "inputs": {
                            "method": "GET",
                            "uri": "@{outputs('Build_Cyren_Api_Url')}",
                            "headers": {
                              "Authorization": "@{concat('Bearer ', parameters('Cyren_JwtToken'))}",
                              "Accept": "application/json",
                              "User-Agent": "Microsoft-Sentinel-Cyren-SentinelOne/1.0"
                            }
                          }
                        },
                        "Check_Has_Data": {
                          "type": "If",
                          "runAfter": {
                            "Filter_Empty_Lines": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@length(body('Filter_Empty_Lines'))",
                                  0
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "For_Each_Indicator": {
                              "type": "Foreach",
                              "foreach": "@body('Filter_Empty_Lines')",
                              "runtimeConfiguration": {
                                "concurrency": {
                                  "repetitions": 1
                                }
                              },
                              "actions": {
                                "Check_LastSeen_Recent": {
                                  "type": "If",
                                  "expression": {
                                    "or": [
                                      {
                                        "equals": [
                                          "@coalesce(item()?['last_seen'], '')",
                                          ""
                                        ]
                                      },
                                      {
                                        "greaterOrEquals": [
                                          "@coalesce(item()?['last_seen'], utcNow())",
                                          "@addDays(utcNow(), -2)"
                                        ]
                                      }
                                    ]
                                  },
                                  "actions": {
                                    "Post_IOC_to_SentinelOne": {
                                      "type": "Http",
                                      "inputs": {
                                        "method": "POST",
                                        "uri": "@{parameters('SentinelOne_BaseUrl')}/web/api/v2.1/threat-intelligence/iocs",
                                        "headers": {
                                          "Content-Type": "application/json",
                                          "Authorization": "@{concat('ApiToken ', parameters('SentinelOne_ApiToken'))}"
                                        },
                                        "body": {
                                          "filter": {
                                            "accountIds": [
                                              "@{parameters('SentinelOne_AccountId')}"
                                            ]
                                          },
                                          "data": [
                                            {
                                              "value": "@{if(equals(parameters('Cyren_FeedId'), 'malware_urls'), coalesce(item()?['url'], item()?['identifier']), item()?['identifier'])}",
                                              "type": "@{if(equals(parameters('Cyren_FeedId'), 'malware_urls'), 'URL', 'IPV4')}",
                                              "source": "Cyren",
                                              "method": "EQUALS",
                                              "validUntil": "@{addDays(utcNow(), 90)}",
                                              "externalId": "@{concat('cyren-', parameters('Cyren_FeedId'), '-', coalesce(item()?['identifier'], 'unknown'))}",
                                              "description": "@{concat('Cyren ', parameters('Cyren_FeedId'), ': Risk=', coalesce(string(item()?['detection']?['risk']), 'N/A'), ' | Categories=', coalesce(string(item()?['detection']?['category']), 'N/A'), ' | Action=', coalesce(item()?['action'], 'N/A'), ' | First Seen=', coalesce(item()?['first_seen'], 'N/A'), ' | Last Seen=', coalesce(item()?['last_seen'], 'N/A'))}"
                                            }
                                          ]
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "Update_PersistentToken": {
                              "type": "SetVariable",
                              "runAfter": {
                                "Extract_Last_Offset": [
                                  "Succeeded"
                                ]
                              },
                              "inputs": {
                                "name": "persistentToken",
                                "value": "@{outputs('Extract_Last_Offset')}"
                              }
                            },
                            "Check_Token_Empty": {
                              "type": "If",
                              "runAfter": {
                                "Update_PersistentToken": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "and": [
                                  {
                                    "less": [
                                      "@length(body('Filter_Empty_Lines'))",
                                      1000
                                    ]
                                  }
                                ]
                              },
                              "actions": {
                                "End_Pagination": {
                                  "type": "SetVariable",
                                  "inputs": {
                                    "name": "hasMoreData",
                                    "value": false
                                  }
                                }
                              }
                            },
                            "Extract_Last_Offset": {
                              "type": "Compose",
                              "inputs": "@string(json(last(body('Filter_Empty_Lines')))?['offset'])",
                              "runAfter": {
                                "For_Each_Indicator": [
                                  "Succeeded"
                                ]
                              }
                            }
                          },
                          "else": {
                            "actions": {
                              "No_More_Data": {
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "hasMoreData",
                                  "value": false
                                }
                              }
                            }
                          }
                        },
                        "Split_NDJSON_Lines": {
                          "type": "Compose",
                          "inputs": "@split(trim(string(body('Get_Cyren_Feed_Page'))), decodeUriComponent('%0A'))",
                          "runAfter": {
                            "Get_Cyren_Feed_Page": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Filter_Empty_Lines": {
                          "type": "Query",
                          "inputs": {
                            "from": "@outputs('Split_NDJSON_Lines')",
                            "where": "@not(equals(trim(item()), ''))"
                          },
                          "runAfter": {
                            "Split_NDJSON_Lines": [
                              "Succeeded"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId1'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId1')]",
                "contentId": "[variables('_playbookContentId1')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion1')]",
                "source": {
                  "kind": "Solution",
                  "name": "Cyren-SentinelOne-ThreatIntelligence",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "support@data443.com",
                  "tier": "Partner",
                  "link": "https://www.data443.com"
                }
              }
            }
          ],
          "metadata": {
            "title": "Cyren to SentinelOne IOC Automation",
            "description": "This playbook fetches IP reputation and malware URL threat intelligence indicators from the Cyren CCF API feed and creates corresponding IOC indicators in SentinelOne for automated threat detection and response.",
            "prerequisites": [
              "1. Cyren CCF JWT Bearer Token (obtain from your Cyren subscription portal)",
              "2. Cyren Feed ID (ip_reputation or malware_urls, depending on your subscription)",
              "3. SentinelOne API Token with Threat Intelligence IOC management permissions",
              "4. SentinelOne Console URL",
              "5. SentinelOne Account ID"
            ],
            "postDeployment": [
              "1. Configure the Cyren_JwtToken parameter with your Cyren CCF JWT Bearer Token.",
              "2. Configure the Cyren_FeedId parameter (ip_reputation or malware_urls).",
              "3. Configure the SentinelOne_ApiToken, SentinelOne_BaseUrl, and SentinelOne_AccountId parameters.",
              "4. Enable the Logic App and verify the recurrence trigger is set to your desired interval."
            ],
            "lastUpdateTime": "2026-03-18T00:00:00Z",
            "tags": [
              "ThreatIntelligence",
              "IOC",
              "SentinelOne",
              "Cyren"
            ],
            "releaseNotes": [
              {
                "version": "1.0.0",
                "title": "pb-cyren-to-sentinelone",
                "notes": [
                  "Initial version of Cyren to SentinelOne IOC Automation playbook"
                ]
              }
            ]
          }
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_playbookContentId1')]",
        "contentKind": "Playbook",
        "displayName": "pb-cyren-to-sentinelone",
        "contentProductId": "[variables('_playbookcontentProductId1')]",
        "id": "[variables('_playbookcontentProductId1')]",
        "version": "[variables('playbookVersion1')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentPackages",
      "apiVersion": "2023-04-01-preview",
      "location": "[parameters('workspace-location')]",
      "properties": {
        "version": "3.0.0",
        "kind": "Solution",
        "contentSchemaVersion": "3.0.0",
        "displayName": "Cyren-SentinelOne-ThreatIntelligence",
        "publisherDisplayName": "Data443 Risk Mitigation, Inc.",
        "descriptionHtml": "<p><strong>Note:</strong> Please refer to the following before installing the solution:</p>\n<p>• Review the solution <a href=\"https://github.com/Azure/Azure-Sentinel/tree/master/Solutions/Cyren-SentinelOne-ThreatIntelligence/ReleaseNotes.md\">Release Notes</a></p>\n<p>• There may be <a href=\"https://aka.ms/sentinelsolutionsknownissues\">known issues</a> pertaining to this Solution, please refer to them before installing.</p>\n<p>The Cyren SentinelOne Threat Intelligence solution polls the Cyren CCF (IP reputation, malware URLs) threat intelligence feed and pushes indicators of compromise (IOCs) to SentinelOne's Threat Intelligence API for automated detection and response.</p>\n<p><strong>Playbooks:</strong> 1</p>\n<p><a href=\"https://aka.ms/azuresentinel\">Learn more about Microsoft Sentinel</a> | <a href=\"https://aka.ms/azuresentinelsolutionsdoc\">Learn more about Solutions</a></p>\n",
        "contentKind": "Solution",
        "contentProductId": "[variables('_solutioncontentProductId')]",
        "id": "[variables('_solutioncontentProductId')]",
        "icon": "<img src=\"https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Workbooks/Images/Logos/cyren_logo.svg\" width=\"75px\" height=\"75px\">",
        "contentId": "[variables('_solutionId')]",
        "parentId": "[variables('_solutionId')]",
        "source": {
          "kind": "Solution",
          "name": "Cyren-SentinelOne-ThreatIntelligence",
          "sourceId": "[variables('_solutionId')]"
        },
        "author": {
          "name": "Data443 Risk Mitigation, Inc.",
          "email": "[variables('_email')]"
        },
        "support": {
          "name": "Data443 Risk Mitigation, Inc.",
          "email": "support@data443.com",
          "tier": "Partner",
          "link": "https://www.data443.com"
        },
        "dependencies": {
          "operator": "AND",
          "criteria": [
            {
              "kind": "Playbook",
              "contentId": "[variables('_Playbooks')]",
              "version": "[variables('playbookVersion1')]"
            }
          ]
        },
        "firstPublishDate": "2026-02-17",
        "providers": [
          "Data443 Risk Mitigation, Inc.",
          "Cyren"
        ],
        "categories": {
          "domains": [
            "Security - Threat Intelligence"
          ]
        }
      },
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('_solutionId'))]"
    }
  ],
  "outputs": {}
}
