Solutions/Vaikora-O365/Package/mainTemplate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "author": "Data443 Risk Mitigation, Inc. - support@data443.com",
    "comments": "Solution template for Vaikora-O365"
  },
  "parameters": {
    "location": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Not used, but needed to pass arm-ttk test `Location-Should-Not-Be-Hardcoded`.  We instead use the `workspace-location` which is derived from the LA workspace"
      }
    },
    "workspace-location": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "[concat('Region to deploy solution resources -- separate from location selection',parameters('location'))]"
      }
    },
    "workspace": {
      "defaultValue": "",
      "type": "string",
      "metadata": {
        "description": "Workspace name for Log Analytics where Microsoft Sentinel is setup"
      }
    },
    "workbook1-name": {
      "type": "string",
      "defaultValue": "Vaikora for O365 Quarantine Dashboard",
      "minLength": 1,
      "metadata": {
        "description": "Name for the workbook"
      }
    }
  },
  "variables": {
    "email": "support@data443.com",
    "_email": "[variables('email')]",
    "_solutionName": "Vaikora-O365",
    "_solutionVersion": "3.0.0",
    "solutionId": "data443riskmitigationinc1761580347231.azure-sentinel-solution-vaikora-o365",
    "_solutionId": "[variables('solutionId')]",
    "VaikoraO365ToQuarantine": "VaikoraO365ToQuarantine",
    "_VaikoraO365ToQuarantine": "[variables('VaikoraO365ToQuarantine')]",
    "playbookVersion1": "1.0.0",
    "playbookContentId1": "VaikoraO365ToQuarantine",
    "_playbookContentId1": "[variables('playbookContentId1')]",
    "playbookId1": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId1'))]",
    "playbookTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId1'))))]",
    "workspaceResourceId": "[resourceId('microsoft.OperationalInsights/Workspaces', parameters('workspace'))]",
    "_playbookcontentProductId1": "[concat(take(variables('_solutionId'),50),'-','pl','-', uniqueString(concat(variables('_solutionId'),'-','Playbook','-',variables('_playbookContentId1'),'-', variables('playbookVersion1'))))]",
    "analyticRuleObject1": {
      "analyticRuleVersion1": "1.0.0",
      "_analyticRulecontentId1": "017031f6-be1d-4c68-b4d3-182fa84378cc",
      "analyticRuleId1": "[resourceId('Microsoft.SecurityInsights/AlertRuleTemplates', '017031f6-be1d-4c68-b4d3-182fa84378cc')]",
      "analyticRuleTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-ar-',uniquestring('017031f6-be1d-4c68-b4d3-182fa84378cc')))]",
      "_analyticRulecontentProductId1": "[concat(take(variables('_solutionId'),50),'-','ar','-', uniqueString(concat(variables('_solutionId'),'-','AnalyticsRule','-','017031f6-be1d-4c68-b4d3-182fa84378cc','-', '1.0.0')))]"
    },
    "analyticRuleObject2": {
      "analyticRuleVersion2": "1.0.0",
      "_analyticRulecontentId2": "3b3eb1cd-578d-4198-9b7a-bd7253b0dc9f",
      "analyticRuleId2": "[resourceId('Microsoft.SecurityInsights/AlertRuleTemplates', '3b3eb1cd-578d-4198-9b7a-bd7253b0dc9f')]",
      "analyticRuleTemplateSpecName2": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-ar-',uniquestring('3b3eb1cd-578d-4198-9b7a-bd7253b0dc9f')))]",
      "_analyticRulecontentProductId2": "[concat(take(variables('_solutionId'),50),'-','ar','-', uniqueString(concat(variables('_solutionId'),'-','AnalyticsRule','-','3b3eb1cd-578d-4198-9b7a-bd7253b0dc9f','-', '1.0.0')))]"
    },
    "analyticRuleObject3": {
      "analyticRuleVersion3": "1.0.0",
      "_analyticRulecontentId3": "968b70c1-b468-418a-ac02-1eb74783a52a",
      "analyticRuleId3": "[resourceId('Microsoft.SecurityInsights/AlertRuleTemplates', '968b70c1-b468-418a-ac02-1eb74783a52a')]",
      "analyticRuleTemplateSpecName3": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-ar-',uniquestring('968b70c1-b468-418a-ac02-1eb74783a52a')))]",
      "_analyticRulecontentProductId3": "[concat(take(variables('_solutionId'),50),'-','ar','-', uniqueString(concat(variables('_solutionId'),'-','AnalyticsRule','-','968b70c1-b468-418a-ac02-1eb74783a52a','-', '1.0.0')))]"
    },
    "workbookVersion1": "1.0.0",
    "workbookContentId1": "VaikoraO365QuarantineDashboard",
    "workbookId1": "[resourceId('Microsoft.Insights/workbooks', variables('workbookContentId1'))]",
    "workbookTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-wb-',uniquestring(variables('_workbookContentId1'))))]",
    "_workbookContentId1": "[variables('workbookContentId1')]",
    "_workbookcontentProductId1": "[concat(take(variables('_solutionId'),50),'-','wb','-', uniqueString(concat(variables('_solutionId'),'-','Workbook','-',variables('_workbookContentId1'),'-', variables('workbookVersion1'))))]",
    "_solutioncontentProductId": "[concat(take(variables('_solutionId'),50),'-','sl','-', uniqueString(concat(variables('_solutionId'),'-','Solution','-',variables('_solutionId'),'-', variables('_solutionVersion'))))]"
  },
  "resources": [
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('playbookTemplateSpecName1')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "VaikoraO365ToQuarantine Playbook with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion1')]",
          "parameters": {
            "PlaybookName": {
              "defaultValue": "VaikoraO365ToQuarantine",
              "type": "string",
              "metadata": {
                "description": "Name of the Logic App playbook"
              }
            },
            "TeamsWebhookUrl": {
              "type": "securestring",
              "metadata": {
                "description": "Microsoft Teams Incoming Webhook URL for SOC notifications"
              }
            },
            "workspace": {
              "type": "string",
              "metadata": {
                "description": "Workspace name for Log Analytics where Microsoft Sentinel is set up"
              }
            },
            "location": {
              "type": "string",
              "defaultValue": "[concat('[resourceGroup().locatio', 'n]')]",
              "metadata": {
                "description": "Region for the deployed Logic App and managed connections. Defaults to the resource group location."
              }
            }
          },
          "variables": {
            "logicAppName": "[[parameters('PlaybookName')]",
            "azureSentinelConnectionName": "[[concat('azuresentinel-', parameters('PlaybookName'))]",
            "workspaceResourceId": "[[resourceId('Microsoft.OperationalInsights/workspaces', variables('workspace-name'))]",
            "connection-1": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
            "_connection-1": "[[variables('connection-1')]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]"
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('azureSentinelConnectionName')]",
              "location": "[[parameters('location')]",
              "kind": "V1",
              "properties": {
                "displayName": "Vaikora-O365 Azure Sentinel",
                "api": {
                  "id": "[[variables('_connection-1')]"
                }
              }
            },
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[parameters('location')]",
              "tags": {
                "hidden-SentinelTemplateName": "VaikoraO365ToQuarantine",
                "hidden-SentinelTemplateVersion": "1.0.0",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "identity": {
                "type": "SystemAssigned"
              },
              "dependsOn": [
                "[[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]"
              ],
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "TeamsWebhookUrl": {
                      "type": "securestring"
                    },
                    "$connections": {
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "Microsoft_Sentinel_incident": {
                      "type": "ApiConnectionWebhook",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "body": {
                          "callback_url": "@listCallbackUrl()"
                        },
                        "path": "/incident-creation"
                      }
                    }
                  },
                  "actions": {
                    "Initialize_QuarantineRow": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "QuarantineRow",
                            "type": "object",
                            "value": "@coalesce(triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames']?[0], json('{}'))"
                          }
                        ]
                      }
                    },
                    "Extract_Incident_Fields": {
                      "type": "Compose",
                      "inputs": {
                        "incidentNumber": "@triggerBody()?['object']?['properties']?['incidentNumber']",
                        "incidentTitle": "@triggerBody()?['object']?['properties']?['title']",
                        "incidentUrl": "@triggerBody()?['object']?['properties']?['incidentUrl']",
                        "severity": "@triggerBody()?['object']?['properties']?['severity']",
                        "status": "@triggerBody()?['object']?['properties']?['status']",
                        "alertCount": "@length(coalesce(triggerBody()?['object']?['properties']?['additionalData']?['alertsCount'], 0))"
                      },
                      "runAfter": {
                        "Initialize_QuarantineRow": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Post_Teams_Notification": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@parameters('TeamsWebhookUrl')",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "@@type": "MessageCard",
                          "@@context": "https://schema.org/extensions",
                          "themeColor": "7C3AED",
                          "summary": "@{concat('Vaikora-O365 incident #', outputs('Extract_Incident_Fields')?['incidentNumber'])}",
                          "title": "@{concat('Vaikora-O365 quarantine incident: ', outputs('Extract_Incident_Fields')?['incidentTitle'])}",
                          "sections": [
                            {
                              "facts": [
                                {
                                  "name": "Incident",
                                  "value": "@{outputs('Extract_Incident_Fields')?['incidentNumber']}"
                                },
                                {
                                  "name": "Severity",
                                  "value": "@{outputs('Extract_Incident_Fields')?['severity']}"
                                },
                                {
                                  "name": "Status",
                                  "value": "@{outputs('Extract_Incident_Fields')?['status']}"
                                },
                                {
                                  "name": "Alerts",
                                  "value": "@{outputs('Extract_Incident_Fields')?['alertCount']}"
                                }
                              ],
                              "markdown": true
                            }
                          ],
                          "potentialAction": [
                            {
                              "@@type": "OpenUri",
                              "name": "View incident in Microsoft Sentinel",
                              "targets": [
                                {
                                  "os": "default",
                                  "uri": "@{outputs('Extract_Incident_Fields')?['incidentUrl']}"
                                }
                              ]
                            }
                          ]
                        }
                      },
                      "runAfter": {
                        "Extract_Incident_Fields": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Add_Comment_To_Incident": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "message": "<p><strong>Vaikora for O365</strong> classified this message as high-risk and quarantined it automatically. SOC notification dispatched to Teams.</p>"
                        },
                        "path": "/Incidents/Comment"
                      },
                      "runAfter": {
                        "Post_Teams_Notification": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Tag_Incident_Vaikora_O365": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "put",
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "tagsToAdd": {
                            "TagsToAdd": [
                              {
                                "Tag": "Vaikora-O365"
                              },
                              {
                                "Tag": "EmailQuarantine"
                              }
                            ]
                          }
                        },
                        "path": "/Incidents/Tags"
                      },
                      "runAfter": {
                        "Add_Comment_To_Incident": [
                          "Succeeded"
                        ]
                      }
                    }
                  }
                },
                "parameters": {
                  "TeamsWebhookUrl": {
                    "value": "[[parameters('TeamsWebhookUrl')]"
                  },
                  "$connections": {
                    "value": {
                      "azuresentinel": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
                        "connectionName": "[[variables('azureSentinelConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
                      }
                    }
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId1'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId1')]",
                "contentId": "[variables('_playbookContentId1')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion1')]",
                "source": {
                  "kind": "Solution",
                  "name": "Vaikora-O365",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "support@data443.com",
                  "tier": "Partner",
                  "link": "https://www.data443.com"
                }
              }
            }
          ],
          "metadata": {
            "title": "Vaikora for O365 - Quarantine Incident Responder",
            "description": "This playbook responds to Microsoft Sentinel incidents raised from the VaikoraO365_Quarantine_CL custom Log Analytics table. It enriches the incident with classification reasoning, posts a notification to a SOC Teams channel via webhook, and adds a comment to the incident. Designed to pair with the Vaikora for O365 black-box Azure VM that classifies M365 mailbox content and writes quarantine events.",
            "mainSteps": [
              "1. Triggers when a Microsoft Sentinel incident is created from a Vaikora-O365 analytic rule.",
              "2. Extracts the originating quarantine row from the incident's custom details.",
              "3. Posts a structured notification to the configured Microsoft Teams webhook with sender, subject, recipient, action_id, confidence, and reasoning.",
              "4. Adds a comment to the Sentinel incident summarizing the classification.",
              "5. Tags the incident with the Vaikora-O365 action category."
            ],
            "prerequisites": [
              "1. Microsoft Sentinel enabled on the target workspace.",
              "2. Vaikora for O365 black-box Azure VM deployed in the customer tenant, writing to VaikoraO365_Quarantine_CL.",
              "3. A Microsoft Teams Incoming Webhook URL for the SOC notification channel.",
              "4. A user account or system-assigned managed identity with Microsoft Sentinel Responder role on the workspace."
            ],
            "postDeployment": [
              "1. Open the Logic App in the Azure portal.",
              "2. Authorize the azuresentinel API connection (Sentinel Responder role required).",
              "3. Authorize the teams API connection or update the Teams webhook URL parameter.",
              "4. Enable the analytic rules deployed with this solution.",
              "5. Wire the analytic rule actions to invoke this playbook when an incident fires."
            ],
            "lastUpdateTime": "2026-05-13T00:00:00Z",
            "tags": [
              "Vaikora",
              "O365",
              "Email",
              "Quarantine",
              "Microsoft Sentinel"
            ]
          }
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_playbookContentId1')]",
        "contentKind": "Playbook",
        "displayName": "VaikoraO365ToQuarantine",
        "contentProductId": "[variables('_playbookcontentProductId1')]",
        "id": "[variables('_playbookcontentProductId1')]",
        "version": "[variables('playbookVersion1')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('analyticRuleObject1').analyticRuleTemplateSpecName1]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "Vaikora - High score quarantine_AnalyticalRules Analytics Rule with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('analyticRuleObject1').analyticRuleVersion1]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.SecurityInsights/AlertRuleTemplates",
              "name": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
              "apiVersion": "2023-02-01-preview",
              "kind": "Scheduled",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "description": "Identifies high-confidence phishing or suspected-threat quarantine events from Vaikora for O365. Fires when the classifier returns action_id 4 (Suspected) or 5 (Phishing) with confidence above 0.8 on a Microsoft 365 mailbox.\n",
                "displayName": "Vaikora - High score quarantine",
                "enabled": false,
                "query": "VaikoraO365_Quarantine_CL\n| where TimeGenerated >= ago(15m)\n| where ActionId_d in (4, 5)\n| where Confidence_d >= 0.8\n| extend\n    EmailId          = EmailId_s,\n    TenantId         = TenantId_s,\n    ActionId         = ActionId_d,\n    ActionName       = ActionName_s,\n    Confidence       = Confidence_d,\n    RiskScore        = RiskScore_d,\n    SubCategory      = SubCategory_s,\n    Reasoning        = Reasoning_s,\n    SourceMailbox    = SourceMailbox_s,\n    SenderAddress    = SenderAddress_s,\n    SenderDomain     = SenderDomain_s,\n    Subject          = Subject_s,\n    RecipientAddress = RecipientAddress_s,\n    ModelVersion     = ModelVersion_s\n| project\n    TimeGenerated, EmailId, TenantId, ActionId, ActionName, Confidence, RiskScore,\n    SubCategory, Reasoning, SourceMailbox, SenderAddress, SenderDomain, Subject,\n    RecipientAddress, ModelVersion\n| order by TimeGenerated desc\n",
                "queryFrequency": "PT15M",
                "queryPeriod": "PT15M",
                "severity": "High",
                "suppressionDuration": "PT1H",
                "suppressionEnabled": false,
                "triggerOperator": "GreaterThan",
                "triggerThreshold": 0,
                "status": "Available",
                "requiredDataConnectors": [
                  {
                    "connectorId": "VaikoraO365",
                    "dataTypes": [
                      "VaikoraO365_Quarantine_CL"
                    ]
                  }
                ],
                "tactics": [
                  "InitialAccess",
                  "CredentialAccess",
                  "Collection",
                  "Exfiltration"
                ],
                "subTechniques": [
                  "T1566.001",
                  "T1566.002"
                ],
                "techniques": [
                  "T1566",
                  "T1566.001",
                  "T1566.002"
                ],
                "entityMappings": [
                  {
                    "entityType": "MailMessage",
                    "fieldMappings": [
                      {
                        "columnName": "RecipientAddress",
                        "identifier": "Recipient"
                      },
                      {
                        "columnName": "EmailId",
                        "identifier": "NetworkMessageId"
                      }
                    ]
                  },
                  {
                    "entityType": "Account",
                    "fieldMappings": [
                      {
                        "columnName": "SenderAddress",
                        "identifier": "FullName"
                      }
                    ]
                  },
                  {
                    "entityType": "Account",
                    "fieldMappings": [
                      {
                        "columnName": "RecipientAddress",
                        "identifier": "FullName"
                      }
                    ]
                  },
                  {
                    "entityType": "DNS",
                    "fieldMappings": [
                      {
                        "columnName": "SenderDomain",
                        "identifier": "DomainName"
                      }
                    ]
                  }
                ],
                "alertDetailsOverride": {
                  "alertDisplayNameFormat": "Vaikora-O365 {{ActionName}} on {{RecipientAddress}}",
                  "alertDescriptionFormat": "Vaikora-O365 classified this message as {{ActionName}} with confidence {{Confidence}}. The message was quarantined from the recipient mailbox."
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('AnalyticsRule-', last(split(variables('analyticRuleObject1').analyticRuleId1,'/'))))]",
              "properties": {
                "description": "Vaikora-O365 Analytics Rule 1",
                "parentId": "[variables('analyticRuleObject1').analyticRuleId1]",
                "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
                "kind": "AnalyticsRule",
                "version": "[variables('analyticRuleObject1').analyticRuleVersion1]",
                "source": {
                  "kind": "Solution",
                  "name": "Vaikora-O365",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "support@data443.com",
                  "tier": "Partner",
                  "link": "https://www.data443.com"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
        "contentKind": "AnalyticsRule",
        "displayName": "Vaikora - High score quarantine",
        "contentProductId": "[variables('analyticRuleObject1')._analyticRulecontentProductId1]",
        "id": "[variables('analyticRuleObject1')._analyticRulecontentProductId1]",
        "version": "[variables('analyticRuleObject1').analyticRuleVersion1]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('analyticRuleObject2').analyticRuleTemplateSpecName2]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "Vaikora - Quarantine rate spike_AnalyticalRules Analytics Rule with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('analyticRuleObject2').analyticRuleVersion2]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.SecurityInsights/AlertRuleTemplates",
              "name": "[variables('analyticRuleObject2')._analyticRulecontentId2]",
              "apiVersion": "2023-02-01-preview",
              "kind": "Scheduled",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "description": "Identifies an abnormal spike in Vaikora for O365 quarantine volume for a tenant. Fires when the hourly count exceeds three times the rolling 7-day baseline, signaling a targeted campaign or model surge worth admin review.\n",
                "displayName": "Vaikora - Quarantine rate spike",
                "enabled": false,
                "query": "let baseline = VaikoraO365_Quarantine_CL\n  | where TimeGenerated between (ago(7d) .. ago(1h))\n  | summarize HourlyCount = count() by bin(TimeGenerated, 1h), TenantId_s\n  | summarize AvgHourlyCount = avg(HourlyCount) by TenantId_s;\nVaikoraO365_Quarantine_CL\n| where TimeGenerated >= ago(1h)\n| summarize RecentCount = count() by TenantId_s\n| join kind=inner baseline on TenantId_s\n| where RecentCount > (AvgHourlyCount * 3.0)\n| where RecentCount >= 10\n| project TimeGenerated = now(), TenantId = TenantId_s, RecentCount, AvgHourlyCount, RatioOverBaseline = (RecentCount / AvgHourlyCount)\n",
                "queryFrequency": "PT1H",
                "queryPeriod": "P7D",
                "severity": "Medium",
                "suppressionDuration": "PT1H",
                "suppressionEnabled": false,
                "triggerOperator": "GreaterThan",
                "triggerThreshold": 0,
                "status": "Available",
                "requiredDataConnectors": [
                  {
                    "connectorId": "VaikoraO365",
                    "dataTypes": [
                      "VaikoraO365_Quarantine_CL"
                    ]
                  }
                ],
                "tactics": [
                  "InitialAccess"
                ],
                "techniques": [
                  "T1566"
                ],
                "entityMappings": [
                  {
                    "entityType": "CloudApplication",
                    "fieldMappings": [
                      {
                        "columnName": "TenantId",
                        "identifier": "Name"
                      }
                    ]
                  }
                ],
                "alertDetailsOverride": {
                  "alertDescriptionFormat": "Quarantine count for the last hour is {{RecentCount}}, which is more than three times the 7-day baseline of {{AvgHourlyCount}}.",
                  "alertDisplayNameFormat": "Vaikora-O365 quarantine spike on tenant {{TenantId}}"
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('AnalyticsRule-', last(split(variables('analyticRuleObject2').analyticRuleId2,'/'))))]",
              "properties": {
                "description": "Vaikora-O365 Analytics Rule 2",
                "parentId": "[variables('analyticRuleObject2').analyticRuleId2]",
                "contentId": "[variables('analyticRuleObject2')._analyticRulecontentId2]",
                "kind": "AnalyticsRule",
                "version": "[variables('analyticRuleObject2').analyticRuleVersion2]",
                "source": {
                  "kind": "Solution",
                  "name": "Vaikora-O365",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "support@data443.com",
                  "tier": "Partner",
                  "link": "https://www.data443.com"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('analyticRuleObject2')._analyticRulecontentId2]",
        "contentKind": "AnalyticsRule",
        "displayName": "Vaikora - Quarantine rate spike",
        "contentProductId": "[variables('analyticRuleObject2')._analyticRulecontentProductId2]",
        "id": "[variables('analyticRuleObject2')._analyticRulecontentProductId2]",
        "version": "[variables('analyticRuleObject2').analyticRuleVersion2]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('analyticRuleObject3').analyticRuleTemplateSpecName3]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "Vaikora - Engine offline_AnalyticalRules Analytics Rule with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('analyticRuleObject3').analyticRuleVersion3]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.SecurityInsights/AlertRuleTemplates",
              "name": "[variables('analyticRuleObject3')._analyticRulecontentId3]",
              "apiVersion": "2023-02-01-preview",
              "kind": "Scheduled",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "description": "Identifies a Vaikora for O365 engine outage by absent quarantine telemetry. Fires when a tenant active in the last 24 hours has sent no rows in the last two hours, indicating the customer VM is unhealthy or the Graph subscription has lapsed.\n",
                "displayName": "Vaikora - Engine offline",
                "enabled": false,
                "query": "let recentTenants = toscalar(\n  VaikoraO365_Quarantine_CL\n  | where TimeGenerated >= ago(2h)\n  | summarize make_set(TenantId_s)\n);\nVaikoraO365_Quarantine_CL\n| where TimeGenerated between (ago(1d) .. ago(2h))\n| summarize LastSeen = max(TimeGenerated) by TenantId_s\n| where TenantId_s !in (recentTenants)\n| project TimeGenerated = now(), TenantId = TenantId_s, LastSeen, HoursOffline = (now() - LastSeen) / 1h\n",
                "queryFrequency": "PT30M",
                "queryPeriod": "P1D",
                "severity": "Medium",
                "suppressionDuration": "PT1H",
                "suppressionEnabled": false,
                "triggerOperator": "GreaterThan",
                "triggerThreshold": 0,
                "status": "Available",
                "requiredDataConnectors": [
                  {
                    "connectorId": "VaikoraO365",
                    "dataTypes": [
                      "VaikoraO365_Quarantine_CL"
                    ]
                  }
                ],
                "tactics": [
                  "DefenseEvasion"
                ],
                "entityMappings": [
                  {
                    "entityType": "CloudApplication",
                    "fieldMappings": [
                      {
                        "columnName": "TenantId",
                        "identifier": "Name"
                      }
                    ]
                  }
                ],
                "alertDetailsOverride": {
                  "alertDescriptionFormat": "No Vaikora-O365 quarantine telemetry has arrived from this tenant in the last 2 hours. Last seen: {{LastSeen}}.",
                  "alertDisplayNameFormat": "Vaikora-O365 engine offline for tenant {{TenantId}}"
                },
                "techniques": [
                  "T1562"
                ]
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('AnalyticsRule-', last(split(variables('analyticRuleObject3').analyticRuleId3,'/'))))]",
              "properties": {
                "description": "Vaikora-O365 Analytics Rule 3",
                "parentId": "[variables('analyticRuleObject3').analyticRuleId3]",
                "contentId": "[variables('analyticRuleObject3')._analyticRulecontentId3]",
                "kind": "AnalyticsRule",
                "version": "[variables('analyticRuleObject3').analyticRuleVersion3]",
                "source": {
                  "kind": "Solution",
                  "name": "Vaikora-O365",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "support@data443.com",
                  "tier": "Partner",
                  "link": "https://www.data443.com"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('analyticRuleObject3')._analyticRulecontentId3]",
        "contentKind": "AnalyticsRule",
        "displayName": "Vaikora - Engine offline",
        "contentProductId": "[variables('analyticRuleObject3')._analyticRulecontentProductId3]",
        "id": "[variables('analyticRuleObject3')._analyticRulecontentProductId3]",
        "version": "[variables('analyticRuleObject3').analyticRuleVersion3]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('workbookTemplateSpecName1')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "VaikoraO365QuarantineDashboard Workbook with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('workbookVersion1')]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.Insights/workbooks",
              "name": "[variables('workbookContentId1')]",
              "location": "[parameters('workspace-location')]",
              "kind": "shared",
              "apiVersion": "2021-08-01",
              "metadata": {
                "description": "Visualization for Vaikora for O365 mailbox quarantine events. Shows volume over time, action breakdown, confidence distribution, top sender domains, top targeted recipients, recent high-risk quarantines, and per-tenant activity."
              },
              "properties": {
                "displayName": "[parameters('workbook1-name')]",
                "serializedData": "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\":1,\"content\":{\"json\":\"## Vaikora for O365 - Quarantine Dashboard\\n\\nThis workbook visualizes Microsoft 365 mailbox quarantine events written to `VaikoraO365_Quarantine_CL` by the Vaikora for O365 black-box VM. Use it to review classification volume by tenant, action breakdown, confidence distribution, and recent high-risk quarantines.\"},\"name\":\"header\"},{\"type\":9,\"content\":{\"version\":\"KqlParameterItem/1.0\",\"parameters\":[{\"id\":\"timeRange\",\"version\":\"KqlParameterItem/1.0\",\"name\":\"TimeRange\",\"label\":\"Time Range\",\"type\":4,\"value\":{\"durationMs\":86400000},\"typeSettings\":{\"selectableValues\":[{\"durationMs\":3600000},{\"durationMs\":14400000},{\"durationMs\":43200000},{\"durationMs\":86400000},{\"durationMs\":259200000},{\"durationMs\":604800000},{\"durationMs\":2592000000}]}},{\"id\":\"tenantId\",\"version\":\"KqlParameterItem/1.0\",\"name\":\"TenantId\",\"label\":\"Tenant\",\"type\":2,\"multiSelect\":true,\"quote\":\"'\",\"delimiter\":\",\",\"query\":\"VaikoraO365_Quarantine_CL\\n| where isnotempty(TenantId_s)\\n| summarize by TenantId_s\\n| project value=TenantId_s, label=TenantId_s\\n| take 50\",\"typeSettings\":{\"additionalResourceOptions\":[\"value::all\"],\"selectAllValue\":\"*\",\"showDefault\":false},\"timeContext\":{\"durationMs\":86400000},\"timeContextFromParameter\":\"TimeRange\",\"defaultValue\":\"value::all\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},{\"id\":\"actionFilter\",\"version\":\"KqlParameterItem/1.0\",\"name\":\"ActionFilter\",\"label\":\"Action\",\"type\":2,\"multiSelect\":true,\"quote\":\"'\",\"delimiter\":\",\",\"query\":\"VaikoraO365_Quarantine_CL\\n| where isnotempty(ActionName_s)\\n| summarize by ActionName_s\\n| project value=ActionName_s, label=ActionName_s\",\"typeSettings\":{\"additionalResourceOptions\":[\"value::all\"],\"selectAllValue\":\"*\",\"showDefault\":false},\"timeContext\":{\"durationMs\":86400000},\"timeContextFromParameter\":\"TimeRange\",\"defaultValue\":\"value::all\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"}],\"style\":\"pills\"},\"name\":\"parameters\"},{\"type\":1,\"content\":{\"json\":\"### Summary\"},\"name\":\"summary-header\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"VaikoraO365_Quarantine_CL\\n| where TimeGenerated {TimeRange}\\n| where TenantId_s in~ ({TenantId}) or \\\"*\\\" in~ ({TenantId})\\n| where ActionName_s in~ ({ActionFilter}) or \\\"*\\\" in~ ({ActionFilter})\\n| summarize\\n    TotalQuarantined = count(),\\n    Phishing = countif(ActionId_d == 5),\\n    Suspected = countif(ActionId_d == 4),\\n    HighConfidence = countif(Confidence_d >= 0.9),\\n    Tenants = dcount(TenantId_s),\\n    RecipientsTargeted = dcount(RecipientAddress_s)\\n| project TotalQuarantined, Phishing, Suspected, HighConfidence, Tenants, RecipientsTargeted\",\"size\":4,\"title\":\"Quarantine Overview\",\"queryType\":0,\"visualization\":\"tiles\",\"tileSettings\":{\"showBorder\":true,\"titleContent\":{\"columnMatch\":\"\",\"formatter\":1},\"leftContent\":{\"columnMatch\":\"TotalQuarantined\",\"formatter\":12,\"formatOptions\":{\"palette\":\"purple\"}}}},\"name\":\"overview-tiles\"},{\"type\":1,\"content\":{\"json\":\"### Quarantine Volume Over Time\"},\"name\":\"volume-header\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"VaikoraO365_Quarantine_CL\\n| where TimeGenerated {TimeRange}\\n| where TenantId_s in~ ({TenantId}) or \\\"*\\\" in~ ({TenantId})\\n| where ActionName_s in~ ({ActionFilter}) or \\\"*\\\" in~ ({ActionFilter})\\n| summarize\\n    Total = count(),\\n    Phishing = countif(ActionId_d == 5),\\n    Suspected = countif(ActionId_d == 4),\\n    AlmostSuspected = countif(ActionId_d == 3)\\n  by bin(TimeGenerated, 1h)\\n| order by TimeGenerated asc\",\"size\":0,\"title\":\"Quarantine Volume Over Time\",\"queryType\":0,\"visualization\":\"timechart\",\"chartSettings\":{\"seriesLabelSettings\":[{\"seriesName\":\"Phishing\",\"color\":\"red\"},{\"seriesName\":\"Suspected\",\"color\":\"orange\"},{\"seriesName\":\"AlmostSuspected\",\"color\":\"yellow\"}]}},\"name\":\"volume-timechart\"},{\"type\":1,\"content\":{\"json\":\"### Action Breakdown and Confidence Distribution\"},\"name\":\"breakdown-header\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"VaikoraO365_Quarantine_CL\\n| where TimeGenerated {TimeRange}\\n| where TenantId_s in~ ({TenantId}) or \\\"*\\\" in~ ({TenantId})\\n| where ActionName_s in~ ({ActionFilter}) or \\\"*\\\" in~ ({ActionFilter})\\n| summarize Count = count() by ActionName_s\\n| order by Count desc\",\"size\":3,\"title\":\"Quarantines by Action\",\"queryType\":0,\"visualization\":\"piechart\"},\"customWidth\":\"50\",\"name\":\"action-pie\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"VaikoraO365_Quarantine_CL\\n| where TimeGenerated {TimeRange}\\n| where TenantId_s in~ ({TenantId}) or \\\"*\\\" in~ ({TenantId})\\n| where ActionName_s in~ ({ActionFilter}) or \\\"*\\\" in~ ({ActionFilter})\\n| extend ConfidenceBucket = bin(Confidence_d, 0.1)\\n| summarize Count = count() by ConfidenceBucket\\n| order by ConfidenceBucket asc\",\"size\":3,\"title\":\"Confidence Distribution (bin=0.1)\",\"queryType\":0,\"visualization\":\"barchart\"},\"customWidth\":\"50\",\"name\":\"confidence-histogram\"},{\"type\":1,\"content\":{\"json\":\"### Top Sender Domains and Targeted Recipients\"},\"name\":\"top-header\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"VaikoraO365_Quarantine_CL\\n| where TimeGenerated {TimeRange}\\n| where TenantId_s in~ ({TenantId}) or \\\"*\\\" in~ ({TenantId})\\n| where ActionName_s in~ ({ActionFilter}) or \\\"*\\\" in~ ({ActionFilter})\\n| where isnotempty(SenderDomain_s)\\n| summarize\\n    Quarantines = count(),\\n    AvgConfidence = round(avg(Confidence_d), 2),\\n    PhishingCount = countif(ActionId_d == 5),\\n    LastSeen = max(TimeGenerated)\\n  by SenderDomain = SenderDomain_s\\n| order by Quarantines desc\\n| take 10\",\"size\":0,\"title\":\"Top 10 Sender Domains\",\"queryType\":0,\"visualization\":\"table\"},\"customWidth\":\"50\",\"name\":\"top-senders\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"VaikoraO365_Quarantine_CL\\n| where TimeGenerated {TimeRange}\\n| where TenantId_s in~ ({TenantId}) or \\\"*\\\" in~ ({TenantId})\\n| where ActionName_s in~ ({ActionFilter}) or \\\"*\\\" in~ ({ActionFilter})\\n| where isnotempty(RecipientAddress_s)\\n| summarize\\n    Quarantines = count(),\\n    AvgConfidence = round(avg(Confidence_d), 2),\\n    PhishingCount = countif(ActionId_d == 5),\\n    LastSeen = max(TimeGenerated)\\n  by Recipient = RecipientAddress_s\\n| order by Quarantines desc\\n| take 10\",\"size\":0,\"title\":\"Top 10 Targeted Recipients\",\"queryType\":0,\"visualization\":\"table\"},\"customWidth\":\"50\",\"name\":\"top-recipients\"},{\"type\":1,\"content\":{\"json\":\"### Recent High-Risk Quarantines\"},\"name\":\"highrisk-header\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"VaikoraO365_Quarantine_CL\\n| where TimeGenerated {TimeRange}\\n| where TenantId_s in~ ({TenantId}) or \\\"*\\\" in~ ({TenantId})\\n| where ActionName_s in~ ({ActionFilter}) or \\\"*\\\" in~ ({ActionFilter})\\n| where ActionId_d in (4, 5)\\n| where Confidence_d >= 0.8\\n| project TimeGenerated, ActionName_s, Confidence_d, RiskScore_d, SubCategory_s, SenderAddress_s, SenderDomain_s, RecipientAddress_s, Subject_s, Reasoning_s\\n| order by TimeGenerated desc\\n| take 50\",\"size\":0,\"title\":\"Recent High-Risk Quarantines (top 50)\",\"queryType\":0,\"visualization\":\"table\",\"gridSettings\":{\"formatters\":[{\"columnMatch\":\"ActionName_s\",\"formatter\":18,\"formatOptions\":{\"thresholdsOptions\":\"colors\",\"thresholdsGrid\":[{\"operator\":\"==\",\"thresholdValue\":\"Phishing\",\"representation\":\"red\",\"text\":\"{0}\"},{\"operator\":\"==\",\"thresholdValue\":\"Suspected\",\"representation\":\"orange\",\"text\":\"{0}\"},{\"operator\":\"Default\",\"representation\":\"blue\",\"text\":\"{0}\"}]}},{\"columnMatch\":\"Confidence_d\",\"formatter\":8,\"formatOptions\":{\"min\":0,\"max\":1,\"palette\":\"redBright\"}}]}},\"name\":\"highrisk-table\"},{\"type\":1,\"content\":{\"json\":\"### Tenant Activity\"},\"name\":\"tenant-header\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"VaikoraO365_Quarantine_CL\\n| where TimeGenerated {TimeRange}\\n| where TenantId_s in~ ({TenantId}) or \\\"*\\\" in~ ({TenantId})\\n| where ActionName_s in~ ({ActionFilter}) or \\\"*\\\" in~ ({ActionFilter})\\n| summarize\\n    Quarantines = count(),\\n    Phishing = countif(ActionId_d == 5),\\n    Suspected = countif(ActionId_d == 4),\\n    AvgConfidence = round(avg(Confidence_d), 2),\\n    RecipientsTargeted = dcount(RecipientAddress_s),\\n    LastSeen = max(TimeGenerated)\\n  by TenantId = TenantId_s\\n| order by Quarantines desc\",\"size\":0,\"title\":\"Quarantine Activity by Tenant\",\"queryType\":0,\"visualization\":\"table\"},\"name\":\"tenant-table\"}],\"fromTemplateId\":\"sentinel-VaikoraO365QuarantineDashboard\",\"$schema\":\"https://github.com/Microsoft/Application-Insights-Workbooks/blob/master/schema/workbook.json\"}\n",
                "version": "1.0",
                "sourceId": "[variables('workspaceResourceId')]",
                "category": "sentinel"
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Workbook-', last(split(variables('workbookId1'),'/'))))]",
              "properties": {
                "description": "@{workbookKey=VaikoraO365QuarantineDashboard; logoFileName=vaikora_logo.svg; description=Visualization for Vaikora for O365 mailbox quarantine events. Shows volume over time, action breakdown, confidence distribution, top sender domains, top targeted recipients, recent high-risk quarantines, and per-tenant activity.; dataTypesDependencies=System.Object[]; dataConnectorsDependencies=System.Object[]; previewImagesFileNames=System.Object[]; version=1.0.0; title=Vaikora for O365 Quarantine Dashboard; templateRelativePath=VaikoraO365QuarantineDashboard.json; subtitle=; provider=Data443 Risk Mitigation, Inc.}.description",
                "parentId": "[variables('workbookId1')]",
                "contentId": "[variables('_workbookContentId1')]",
                "kind": "Workbook",
                "version": "[variables('workbookVersion1')]",
                "source": {
                  "kind": "Solution",
                  "name": "Vaikora-O365",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "support@data443.com",
                  "tier": "Partner",
                  "link": "https://www.data443.com"
                },
                "dependencies": {
                  "operator": "AND",
                  "criteria": [
                    {
                      "contentId": "VaikoraO365_Quarantine_CL",
                      "kind": "DataType"
                    },
                    {
                      "contentId": "VaikoraO365",
                      "kind": "DataConnector"
                    }
                  ]
                }
              },
              "description": "Quarantine dashboard for Vaikora for O365. Shows volume over time, action breakdown, confidence distribution, top sender domains, top targeted recipients, recent high-risk quarantines, and per-tenant activity, all derived from the VaikoraO365_Quarantine_CL custom Log Analytics table."
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_workbookContentId1')]",
        "contentKind": "Workbook",
        "displayName": "[parameters('workbook1-name')]",
        "contentProductId": "[variables('_workbookcontentProductId1')]",
        "id": "[variables('_workbookcontentProductId1')]",
        "version": "[variables('workbookVersion1')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentPackages",
      "apiVersion": "2023-04-01-preview",
      "location": "[parameters('workspace-location')]",
      "properties": {
        "version": "3.0.0",
        "kind": "Solution",
        "contentSchemaVersion": "3.0.0",
        "displayName": "Vaikora-O365",
        "publisherDisplayName": "Data443 Risk Mitigation, Inc.",
        "descriptionHtml": "<p><strong>Note:</strong> Please refer to the following before installing the solution:</p>\n<p>• Review the solution <a href=\"https://github.com/Azure/Azure-Sentinel/tree/master/Solutions/Vaikora-O365/ReleaseNotes.md\">Release Notes</a></p>\n<p>• There may be <a href=\"https://aka.ms/sentinelsolutionsknownissues\">known issues</a> pertaining to this Solution, please refer to them before installing.</p>\n<p>The <a href=\"https://vaikora.com\">Vaikora</a> for O365 solution ships the Microsoft Sentinel content that pairs with the Vaikora-O365 black-box Azure VM. The VM scans Microsoft 365 mailboxes via Microsoft Graph API, classifies messages with the CTASD inference engine, and writes quarantine events into a custom Log Analytics table (VaikoraO365_Quarantine_CL). This solution adds a Logic App playbook that turns each quarantine event into a Sentinel incident, plus analytic rules over the custom table that fire on high-confidence phishing scores and tenant-wide quarantine rate anomalies.</p>\n<p><strong>Workbooks:</strong> 1, <strong>Analytic Rules:</strong> 3, <strong>Playbooks:</strong> 1</p>\n<p><a href=\"https://aka.ms/azuresentinel\">Learn more about Microsoft Sentinel</a> | <a href=\"https://aka.ms/azuresentinelsolutionsdoc\">Learn more about Solutions</a></p>\n",
        "contentKind": "Solution",
        "contentProductId": "[variables('_solutioncontentProductId')]",
        "id": "[variables('_solutioncontentProductId')]",
        "icon": "<img src=\"https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Logos/vaikora_logo.svg\" width=\"75px\" height=\"75px\">",
        "contentId": "[variables('_solutionId')]",
        "parentId": "[variables('_solutionId')]",
        "source": {
          "kind": "Solution",
          "name": "Vaikora-O365",
          "sourceId": "[variables('_solutionId')]"
        },
        "author": {
          "name": "Data443 Risk Mitigation, Inc.",
          "email": "[variables('_email')]"
        },
        "support": {
          "name": "Data443 Risk Mitigation, Inc.",
          "email": "support@data443.com",
          "tier": "Partner",
          "link": "https://www.data443.com"
        },
        "dependencies": {
          "operator": "AND",
          "criteria": [
            {
              "kind": "Playbook",
              "contentId": "[variables('_VaikoraO365ToQuarantine')]",
              "version": "[variables('playbookVersion1')]"
            },
            {
              "kind": "AnalyticsRule",
              "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
              "version": "[variables('analyticRuleObject1').analyticRuleVersion1]"
            },
            {
              "kind": "AnalyticsRule",
              "contentId": "[variables('analyticRuleObject2')._analyticRulecontentId2]",
              "version": "[variables('analyticRuleObject2').analyticRuleVersion2]"
            },
            {
              "kind": "AnalyticsRule",
              "contentId": "[variables('analyticRuleObject3')._analyticRulecontentId3]",
              "version": "[variables('analyticRuleObject3').analyticRuleVersion3]"
            },
            {
              "kind": "Workbook",
              "contentId": "[variables('_workbookContentId1')]",
              "version": "[variables('workbookVersion1')]"
            }
          ]
        },
        "firstPublishDate": "2026-05-13",
        "providers": [
          "Data443 Risk Mitigation, Inc."
        ],
        "categories": {
          "domains": [
            "Security - Threat Protection"
          ]
        }
      },
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('_solutionId'))]"
    }
  ],
  "outputs": {}
}
