Solutions/Recorded Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash",
        "description": "This playbook leverages the Recorded Future API to enrich IP, Domain, Url & Hash indicators, found in Sentinel incidents, with the following context: Risk Score, Risk Rules and Link to Intelligence Card. The enrichment content will be posted as a comment in the Sentinel incident <img alt=\"Sentinel incident comment\" src=\"https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Solutions/Recorded%20Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/images/EnrichmentExampleDark.png\"/>.",
        "prerequisites": [
            "To use the Recorded Future for Azure connector, you will need a valid API token from Recorded Future as described in the documentation https://learn.microsoft.com/en-us/connectors/recordedfuturev2/#how-to-get-credentials"
        ],
        "postDeployment": [
            "After deployment open the playbook in edit mode and configure/authorize all connections and press save.<img alt=\"Logic app schema\" src=\"https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Solutions/Recorded%20Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/LogicAppDark.png\" />"
        ],
        "prerequisitesDeployTemplateFile": "",
        "lastUpdateTime": "2022-11-29T00:00:00.000Z",
        "entities": [
            "ip",
            "url",
            "domain",
            "filehash"
        ],
        "tags": [ "Enrichment" ],
        "support": {
            "tier": "Partner"
        },
        "author": {
            "name": "Recorded Future"
        },
        "releaseNotes": [
            {
                "version": "1.1.0",
                "title": "RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash",
                "notes": [ "Improved layout and added consent for intelligence Recorded Future cloud sharing." ]
            },
            {
                "version": "1.0.0",
                "title": "RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash",
                "notes": [ "Initial version" ]
            }
        ]
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash",
            "type": "string"
        },
        "IntelligenceCloudSharingConsent": {
            "defaultValue": true,
            "type": "bool",
            "metadata": {
                "description": "Consent to share correlations and enrichments data with the Recorded Future Intelligence Cloud. More information can be found here [Recorded Future Intelligence Cloud](https://support.recordedfuture.com/hc/en-us/articles/11633413141779)"
            }
        }
    },
    "variables": {
        "RecordedFutureConnectionName": "recordedfuture-connectorv2",
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('RecordedFutureConnectionName'))]"
            ],
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "For_each": {
                            "actions": {
                                "Parse_JSON_2": {
                                    "inputs": {
                                        "content": "@items('For_each')",
                                        "schema": {
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "kind": {
                                                    "type": "string"
                                                },
                                                "properties": {
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "ParseJson"
                                },
                                "Switch": {
                                    "cases": {
                                        "Case": {
                                            "actions": {
                                                "Add_comment_to_incident_(V3)_-_Domain": {
                                                    "inputs": {
                                                        "body": {
                                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                                            "message": "<p><img src=\"https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Logos/RecordedFuture.svg\" width=\"80\" height=\"80\"/><br>\nEnrichmed Domain: <strong>@{body('Parse_JSON_-_DNS_Resolution')?['domainName']}</strong><br>\nRisk Score: <strong>@{body('Domain_Enrichment')?['data']?['risk']?['score']}</strong><br>\n@{concat('<a href=\"', body('Domain_Enrichment')?['data']?['intelCard'], '\">Open IOC Intelligence Card (Portal)</a>')}<br>\nTriggered Risk Rules: @{body('Domain_Evidence_Details_HTML_table')}<br>\nTechnical Links: @{body('Domain_Technical_Links_HTML_table')}<br>\nResearch Links: @{body('Domain_Research_Links_HTML_table')}</p>"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/Incidents/Comment"
                                                    },
                                                    "runAfter": {
                                                        "Domain_Research_Links_HTML_table": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection"
                                                },
                                                "Domain_Enrichment": {
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['recordedfuture']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/lookup/domain/@{encodeURIComponent(body('Parse_JSON_-_DNS_Resolution')?['domainName'])}",
                                                        "queries": {
                                                            "IntelligenceCloudSharingConsent": "@parameters('IntelligenceCloudSharingConsent')",
                                                            "fields": "intelCard,risk,links"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Parse_JSON_-_DNS_Resolution": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection"
                                                },
                                                "Domain_Evidence_Details_HTML_table": {
                                                    "inputs": {
                                                        "columns": [
                                                            {
                                                                "header": "Risk_Rules",
                                                                "value": "@item()?['rule']"
                                                            },
                                                            {
                                                                "header": "Severity",
                                                                "value": "@body('Domain_Enrichment')?['data']?['risk']?['criticalityLabel']"
                                                            },
                                                            {
                                                                "header": "Evidence_Details",
                                                                "value": "@item()?['evidenceString']"
                                                            }
                                                        ],
                                                        "format": "HTML",
                                                        "from": "@body('Domain_Enrichment')?['data']?['risk']?['evidenceDetails']"
                                                    },
                                                    "runAfter": {
                                                        "Domain_Enrichment": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Table"
                                                },
                                                "Domain_Research_Links_HTML_table": {
                                                    "inputs": {
                                                        "columns": [
                                                            {
                                                                "header": "Name",
                                                                "value": "@replace(item()?['name'],'.','[.]')"
                                                            },
                                                            {
                                                                "header": "Type",
                                                                "value": "@item()?['type']"
                                                            },
                                                            {
                                                                "header": "Category",
                                                                "value": "@item()?['category']"
                                                            },
                                                            {
                                                                "header": "Score",
                                                                "value": "@item()?['score']"
                                                            }
                                                        ],
                                                        "format": "HTML",
                                                        "from": "@if(empty(body('Domain_Enrichment')?['data']?['links']?['research']),variables('EmptyArray'),body('Domain_Enrichment')?['data']?['links']?['research']?['entities'])"
                                                    },
                                                    "runAfter": {
                                                        "Domain_Technical_Links_HTML_table": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Table"
                                                },
                                                "Domain_Technical_Links_HTML_table": {
                                                    "inputs": {
                                                        "columns": [
                                                            {
                                                                "header": "Name",
                                                                "value": "@replace(item()?['name'],'.','[.]')"
                                                            },
                                                            {
                                                                "header": "Type",
                                                                "value": "@item()?['type']"
                                                            },
                                                            {
                                                                "header": "Category",
                                                                "value": "@item()?['category']"
                                                            },
                                                            {
                                                                "header": "Score",
                                                                "value": "@item()?['score']"
                                                            }
                                                        ],
                                                        "format": "HTML",
                                                        "from": "@if(empty(body('Domain_Enrichment')?['data']?['links']?['technical']),variables('EmptyArray'),body('Domain_Enrichment')?['data']?['links']?['technical']?['entities'])"
                                                    },
                                                    "runAfter": {
                                                        "Domain_Evidence_Details_HTML_table": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Table"
                                                },
                                                "Parse_JSON_-_DNS_Resolution": {
                                                    "inputs": {
                                                        "content": "@body('Parse_JSON_2')?['properties']",
                                                        "schema": {
                                                            "properties": {
                                                                "domainName": {
                                                                    "type": "string"
                                                                },
                                                                "friendlyName": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "type": "ParseJson"
                                                }
                                            },
                                            "case": "DnsResolution"
                                        },
                                        "Case_2": {
                                            "actions": {
                                                "Add_comment_to_incident_(V3)_-_Hash": {
                                                    "inputs": {
                                                        "body": {
                                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                                            "message": "<p><img src=\"https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Logos/RecordedFuture.svg\" width=\"80\" height=\"80\"/><br>\nEnrichmed Hash: <strong>@{body('Parse_JSON_-_File_Hash')?['hashValue']}</strong><br>\nRisk Score: <strong></strong><strong>@{body('Hash_Enrichment')?['data']?['risk']?['score']}</strong><br>\n@{concat('<a href=\"', body('Hash_Enrichment')?['data']?['intelCard'], '\">Open IOC Intelligence Card (Portal)</a>')}<br>\nRisk Rules: @{body('Hash_Evidence_Details_HTML_table')}<br>\nTechnical Links: @{body('Hash_Technical_Links_HTML_table')}<br>\nResearch Links: @{body('Hash_Research_Links_HTML_table')}</p>"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/Incidents/Comment"
                                                    },
                                                    "runAfter": {
                                                        "Hash_Technical_Links_HTML_table": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection"
                                                },
                                                "Hash_Enrichment": {
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['recordedfuture']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/lookup/hash/@{encodeURIComponent(body('Parse_JSON_-_File_Hash')?['hashValue'])}",
                                                        "queries": {
                                                            "IntelligenceCloudSharingConsent": "@parameters('IntelligenceCloudSharingConsent')",
                                                            "fields": "intelCard,risk,links"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Parse_JSON_-_File_Hash": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection"
                                                },
                                                "Hash_Evidence_Details_HTML_table": {
                                                    "inputs": {
                                                        "columns": [
                                                            {
                                                                "header": "Risk_Rules",
                                                                "value": "@item()?['rule']"
                                                            },
                                                            {
                                                                "header": "Severity",
                                                                "value": "@body('Hash_Enrichment')?['data']?['risk']?['criticalityLabel']"
                                                            },
                                                            {
                                                                "header": "Evidence_Details",
                                                                "value": "@item()?['evidenceString']"
                                                            }
                                                        ],
                                                        "format": "HTML",
                                                        "from": "@body('Hash_Enrichment')?['data']?['risk']?['evidenceDetails']"
                                                    },
                                                    "runAfter": {
                                                        "Hash_Enrichment": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Table"
                                                },
                                                "Hash_Research_Links_HTML_table": {
                                                    "inputs": {
                                                        "columns": [
                                                            {
                                                                "header": "Name",
                                                                "value": "@replace(item()?['name'],'.','[.]')"
                                                            },
                                                            {
                                                                "header": "Type",
                                                                "value": "@item()?['type']"
                                                            },
                                                            {
                                                                "header": "Category",
                                                                "value": "@item()?['category']"
                                                            },
                                                            {
                                                                "header": "Score",
                                                                "value": "@item()?['score']"
                                                            }
                                                        ],
                                                        "format": "HTML",
                                                        "from": "@if(empty(body('Hash_Enrichment')?['data']?['links']?['research']),variables('EmptyArray'),body('Hash_Enrichment')?['data']?['links']?['research']?['entities'])"
                                                    },
                                                    "runAfter": {
                                                        "Hash_Evidence_Details_HTML_table": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Table"
                                                },
                                                "Hash_Technical_Links_HTML_table": {
                                                    "inputs": {
                                                        "columns": [
                                                            {
                                                                "header": "Name",
                                                                "value": "@replace(item()?['name'],'.','[.]')"
                                                            },
                                                            {
                                                                "header": "Type",
                                                                "value": "@item()?['type']"
                                                            },
                                                            {
                                                                "header": "Category",
                                                                "value": "@item()?['category']"
                                                            },
                                                            {
                                                                "header": "Score",
                                                                "value": "@item()?['score']"
                                                            }
                                                        ],
                                                        "format": "HTML",
                                                        "from": "@if(empty(body('Hash_Enrichment')?['data']?['links']?['technical']),variables('EmptyArray'),body('Hash_Enrichment')?['data']?['links']?['technical']?['entities'])"
                                                    },
                                                    "runAfter": {
                                                        "Hash_Research_Links_HTML_table": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Table"
                                                },
                                                "Parse_JSON_-_File_Hash": {
                                                    "inputs": {
                                                        "content": "@body('Parse_JSON_2')?['properties']",
                                                        "schema": {
                                                            "properties": {
                                                                "algorithm": {
                                                                    "type": "string"
                                                                },
                                                                "friendlyName": {
                                                                    "type": "string"
                                                                },
                                                                "hashValue": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "type": "ParseJson"
                                                }
                                            },
                                            "case": "FileHash"
                                        },
                                        "Case_3": {
                                            "actions": {
                                                "Add_comment_to_incident_(V3)_-_URL": {
                                                    "inputs": {
                                                        "body": {
                                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                                            "message": "<p><img src=\"https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Logos/RecordedFuture.svg\" width=\"80\" height=\"80\"/><br>\nEnriched URL: <strong></strong><strong>@{replace(body('Parse_JSON_-_Url')?['url'], '.', '[.]')}</strong><strong></strong><br>\nRisk Score: <strong></strong><strong>@{body('URL_Enrichment')?['data']?['risk']?['score']}</strong><strong></strong><br>\nTriggered&nbsp;Risk&nbsp;Rules: @{body('URL_Evidence_Details_HTML_table')}<br>\nTechnical Links: @{body('URL_Technical_Links_HTML_table')}<br>\nResearch Links: @{body('URL_Research_Links_HTML_table')}</p>"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/Incidents/Comment"
                                                    },
                                                    "runAfter": {
                                                        "URL_Research_Links_HTML_table": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection"
                                                },
                                                "Parse_JSON_-_Url": {
                                                    "inputs": {
                                                        "content": "@body('Parse_JSON_2')?['properties']",
                                                        "schema": {
                                                            "properties": {
                                                                "friendlyName": {
                                                                    "type": "string"
                                                                },
                                                                "url": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "type": "ParseJson"
                                                },
                                                "URL_Enrichment": {
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['recordedfuture']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/lookup/url/@{encodeURIComponent(body('Parse_JSON_-_Url')?['url'])}",
                                                        "queries": {
                                                            "IntelligenceCloudSharingConsent": "@parameters('IntelligenceCloudSharingConsent')",
                                                            "fields": "intelCard,risk,links"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Parse_JSON_-_Url": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection"
                                                },
                                                "URL_Evidence_Details_HTML_table": {
                                                    "inputs": {
                                                        "columns": [
                                                            {
                                                                "header": "Risk_Rules",
                                                                "value": "@item()?['rule']"
                                                            },
                                                            {
                                                                "header": "Severity",
                                                                "value": "@body('URL_Enrichment')?['data']?['risk']?['criticalityLabel']"
                                                            },
                                                            {
                                                                "header": "Evidence_Details",
                                                                "value": "@item()?['evidenceString']"
                                                            }
                                                        ],
                                                        "format": "HTML",
                                                        "from": "@body('URL_Enrichment')?['data']?['risk']?['evidenceDetails']"
                                                    },
                                                    "runAfter": {
                                                        "URL_Enrichment": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Table"
                                                },
                                                "URL_Research_Links_HTML_table": {
                                                    "inputs": {
                                                        "columns": [
                                                            {
                                                                "header": "Name",
                                                                "value": "@replace(item()?['name'],'.','[.]')"
                                                            },
                                                            {
                                                                "header": "Type",
                                                                "value": "@item()?['type']"
                                                            },
                                                            {
                                                                "header": "Category",
                                                                "value": "@item()?['category']"
                                                            },
                                                            {
                                                                "header": "Score",
                                                                "value": "@item()?['score']"
                                                            }
                                                        ],
                                                        "format": "HTML",
                                                        "from": "@if(empty(body('URL_Enrichment')?['data']?['links']?['research']),variables('EmptyArray'),body('URL_Enrichment')?['data']?['links']?['research']?['entities'])"
                                                    },
                                                    "runAfter": {
                                                        "URL_Technical_Links_HTML_table": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Table"
                                                },
                                                "URL_Technical_Links_HTML_table": {
                                                    "inputs": {
                                                        "columns": [
                                                            {
                                                                "header": "Name",
                                                                "value": "@replace(item()?['name'],'.','[.]')"
                                                            },
                                                            {
                                                                "header": "Type",
                                                                "value": "@item()?['type']"
                                                            },
                                                            {
                                                                "header": "Category",
                                                                "value": "@item()?['category']"
                                                            },
                                                            {
                                                                "header": "Score",
                                                                "value": "@item()?['score']"
                                                            }
                                                        ],
                                                        "format": "HTML",
                                                        "from": "@if(empty(body('URL_Enrichment')?['data']?['links']?['technical']),variables('EmptyArray'),body('URL_Enrichment')?['data']?['links']?['technical']?['entities'])"
                                                    },
                                                    "runAfter": {
                                                        "URL_Evidence_Details_HTML_table": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Table"
                                                }
                                            },
                                            "case": "Url"
                                        },
                                        "Case_4": {
                                            "actions": {
                                                "Add_comment_to_incident_(V3)_-_IP": {
                                                    "inputs": {
                                                        "body": {
                                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                                            "message": "<p><img src=\"https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Logos/RecordedFuture.svg\"  width=\"80\" height=\"80\"/><br>\nEnriched IP: <strong></strong><strong>@{body('Parse_JSON_-_Ip')?['address']}</strong><strong></strong><br>\nRisk Score: <strong></strong><strong>@{body('IP_Enrichment')?['data']?['risk']?['score']}</strong><strong></strong><br>\n@{concat('<a href=\"', body('IP_Enrichment')?['data']?['intelCard'], '\">Open IOC Intelligence Card (Portal)</a>')}<br>\nTriggered&nbsp;Risk&nbsp;Rules: @{body('IP_Evidence_Details_HTML_table')}<br>\nTechnical Links: @{body('IP_Technical_Links_HTML_table')}<br>\nResearch Links: @{body('IP_Research_Links_HTML_table')}</p>"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/Incidents/Comment"
                                                    },
                                                    "runAfter": {
                                                        "IP_Research_Links_HTML_table": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection"
                                                },
                                                "IP_Enrichment": {
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['recordedfuture']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/lookup/ip/@{encodeURIComponent(body('Parse_JSON_-_Ip')?['address'])}",
                                                        "queries": {
                                                            "IntelligenceCloudSharingConsent": "@parameters('IntelligenceCloudSharingConsent')",
                                                            "fields": "intelCard,risk,links"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Parse_JSON_-_Ip": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection"
                                                },
                                                "IP_Evidence_Details_HTML_table": {
                                                    "inputs": {
                                                        "columns": [
                                                            {
                                                                "header": "Risk_Rules",
                                                                "value": "@item()?['rule']"
                                                            },
                                                            {
                                                                "header": "Severity",
                                                                "value": "@body('IP_Enrichment')?['data']?['risk']?['criticalityLabel']"
                                                            },
                                                            {
                                                                "header": "Evidence_Details",
                                                                "value": "@item()?['evidenceString']"
                                                            }
                                                        ],
                                                        "format": "HTML",
                                                        "from": "@body('IP_Enrichment')?['data']?['risk']?['evidenceDetails']"
                                                    },
                                                    "runAfter": {
                                                        "IP_Enrichment": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Table"
                                                },
                                                "IP_Research_Links_HTML_table": {
                                                    "inputs": {
                                                        "columns": [
                                                            {
                                                                "header": "Name",
                                                                "value": "@replace(item()?['name'],'.','[.]')"
                                                            },
                                                            {
                                                                "header": "Type",
                                                                "value": "@item()?['type']"
                                                            },
                                                            {
                                                                "header": "Category",
                                                                "value": "@item()?['category']"
                                                            },
                                                            {
                                                                "header": "Score",
                                                                "value": "@item()?['score']"
                                                            }
                                                        ],
                                                        "format": "HTML",
                                                        "from": "@if(empty(body('IP_Enrichment')?['data']?['links']?['research']),variables('EmptyArray'),body('IP_Enrichment')?['data']?['links']?['research']?['entities'])"
                                                    },
                                                    "runAfter": {
                                                        "IP_Technical_Links_HTML_table": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Table"
                                                },
                                                "IP_Technical_Links_HTML_table": {
                                                    "inputs": {
                                                        "columns": [
                                                            {
                                                                "header": "Name",
                                                                "value": "@replace(item()?['name'],'.','[.]')"
                                                            },
                                                            {
                                                                "header": "Type",
                                                                "value": "@item()?['type']"
                                                            },
                                                            {
                                                                "header": "Category",
                                                                "value": "@item()?['category']"
                                                            },
                                                            {
                                                                "header": "Score",
                                                                "value": "@item()?['score']"
                                                            }
                                                        ],
                                                        "format": "HTML",
                                                        "from": "@if(empty(body('IP_Enrichment')?['data']?['links']?['technical']),variables('EmptyArray'),body('IP_Enrichment')?['data']?['links']?['technical']?['entities'])"
                                                    },
                                                    "runAfter": {
                                                        "IP_Evidence_Details_HTML_table": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Table"
                                                },
                                                "Parse_JSON_-_Ip": {
                                                    "inputs": {
                                                        "content": "@body('Parse_JSON_2')?['properties']",
                                                        "schema": {
                                                            "properties": {
                                                                "address": {
                                                                    "type": "string"
                                                                },
                                                                "friendlyName": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "type": "ParseJson"
                                                }
                                            },
                                            "case": "Ip"
                                        }
                                    },
                                    "expression": "@body('Parse_JSON_2')?['kind']",
                                    "runAfter": {
                                        "Parse_JSON_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Switch"
                                }
                            },
                            "foreach": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_variable": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "EmptyArray",
                                        "type": "array"
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "IntelligenceCloudSharingConsent": {
                            "defaultValue": "true",
                            "type": "bool"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_Azure_Sentinel_incident_creation_rule_was_triggered": {
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            },
                            "type": "ApiConnectionWebhook"
                        }
                    }
                },
                "parameters": {
                    "IntelligenceCloudSharingConsent": {
                        "value": "[parameters('IntelligenceCloudSharingConsent')]"
                    },
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azuresentinel')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]"
                            },
                            "recordedfuture": {
                                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/recordedfuturev2')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('RecordedFutureConnectionName'))]",
                                "connectionName": "[variables('RecordedFutureConnectionName')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('RecordedFutureConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/recordedfuturev2')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azuresentinel')]"
                }
            }
        }
    ]
}
