Playbooks/Create-Zendesk-Ticket/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "Create Zendesk ticket",
        "description": "This playbook will create a Zendesk ticket when a new incident is created in Microsoft Sentinel.",
        "version": "1.0.0",
        "prerequisites": [ "Create a Zendesk user (for example, call it Microsoft Sentinel) which on behalf of its requester id new tickets will be created." ],
        "lastUpdateTime": "2022-07-22T00:00:00.000Z",
        "entities": [],
        "tags": [ "Sync" ],
        "support": {
            "tier": "community"
        },
        "author": {
            "name": "Brian Delaney"
        },
        "releaseNotes": [
            {
                "version": "1.0.0",
                "title": "Create Zendesk ticket",
                "notes": [
                    "Initial version"
                ]
            }
        ],
        "providers": [ "Zendesk" ],
        "categories": {
            "domains": ["IT Operations", "Security - Automation (SOAR)"]
        },
        "source": {
            "kind": "Community"
        }
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Create-Zendesk-Ticket",
            "type": "string"
        },
        "requester_id": {
            "defaultValue": "00000000001",
            "type": "string",
            "metadata": {
                "description": "Zendesk id of the user which tickets will be created on behalf. Recommendation: create an Microsoft Sentinel user."
            }
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "ZendeskConnectionName": "[concat('zendesk-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('ZendeskConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[concat('zendesk-', parameters('PlaybookName'))]",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/zendesk')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "hidden-SentinelTemplateName": "CreateZendeskTicket-Incident",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('ZendeskConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            },
                            "type": "ApiConnectionWebhook"
                        }
                    },
                    "actions": {
                        "Create_CSV_table": {
                            "inputs": {
                                "format": "CSV",
                                "from": "@body('Select')"
                            },
                            "runAfter": {
                                "Select": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Table"
                        },
                        "Create_Item": {
                            "inputs": {
                                "body": {
                                    "description": "Severity: @{triggerBody()?['object']?['properties']?['severity']}\nCreation time: @{formatDateTime(triggerBody()?['object']?['properties']?['createdTimeUtc'], 'yyyy-MM-dd hh:mm:ss')}\nDescription: @{triggerBody()?['object']?['properties']?['description']}\nEntities:\n@{body('Create_CSV_table')}\n\n\nView incident in Microsoft Sentinel: @{triggerBody()?['object']?['properties']?['incidentUrl']}\n\n",
                                    "external_id": "@{triggerBody()?['object']?['properties']?['incidentNumber']}",
                                    "requester_id": "[parameters('requester_id')]",
                                    "subject": "@{triggerBody()?['object']?['properties']?['incidentNumber']} Microsoft Sentinel @{triggerBody()?['object']?['properties']?['severity']} incident: @{triggerBody()?['object']?['properties']?['title']}",
                                    "type": "incident"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['zendesk']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('tickets'))}/items"
                            },
                            "runAfter": {
                                "Create_CSV_table": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Select": {
                            "inputs": {
                                "from": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "select": {
                                    "Entity": "@item()?['properties']?['friendlyName']",
                                    "Type": "@item()?['kind']"
                                }
                            },
                            "runAfter": {},
                            "type": "Select"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            },
                            "zendesk": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('zendeskConnectionName'))]",
                                "connectionName": "[variables('zendeskConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/zendesk')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}
