Playbooks/RecordedFuture_Generic_Detection/RecordedFuture_Generic_Detection_IndicatorProcessor.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "RecordedFuture_Generic_Detection_IndicatorProcessor",
        "description": "This playbook leverages the Recorded Future API and automatically imports the Risklists with Very Malicious (Score 90+) IPs and Domains, as Threat Intelligence Indicators, for detection purposes in Azure Sentinel",
        "prerequisites": [
            "First install the RecordedFuture_Generic_Detection_ImportToSentinel playbook.",
            "To use the Recorded Future for Azure connector, you will need a valid API token from Recorded Future as described in the documentation https://learn.microsoft.com/en-us/connectors/recordedfuturev2/#how-to-get-credentials"
        ],
        "postDeployment": [
            "After deployment you have to open the playbook to configure all connections and press save."
        ],
        "prerequisitesDeployTemplateFile": "./RecordedFuture_Generic_Detection_ImportToSentinel.json",
        "lastUpdateTime": "2022-10-21T13:37:00.000Z",
        "entities": [],
        "tags": [ "Threat Intelligence" ],
        "support": {
            "tier": "Partner",
            "armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author": {
            "name": "Recorded Future"
        }
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "RecordedFuture_Generic_Detection_IndicatorProcessor",
            "type": "string"
        },
        "PlaybookNameBatching": {
            "defaultValue": "RecordedFuture_Generic_Detection_ImportToSentinel",
            "type": "string"
        }
    },
    "variables": {
        "RecordedfutureConnectionName": "[concat('Recordedfuture-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Recorded_Future_RiskLists_and_SCF_Download')",
                            "actions": {
                                "Parse_JSON": {
                                    "runAfter": {},
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each')",
                                        "schema": {
                                            "properties": {
                                                "EvidenceDetails": {
                                                    "properties": {
                                                        "EvidenceDetails": {
                                                            "items": {
                                                                "properties": {
                                                                    "Criticality": {
                                                                        "type": "integer"
                                                                    },
                                                                    "CriticalityLabel": {
                                                                        "type": "string"
                                                                    },
                                                                    "EvidenceString": {
                                                                        "type": "string"
                                                                    },
                                                                    "Rule": {
                                                                        "type": "string"
                                                                    },
                                                                    "Timestamp": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "Rule",
                                                                    "EvidenceString",
                                                                    "CriticalityLabel",
                                                                    "Timestamp",
                                                                    "Criticality"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Name": {
                                                    "type": "string"
                                                },
                                                "Risk": {
                                                    "type": "integer"
                                                },
                                                "riskString": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "RecordedFuture_Generic_Detection_ImportToSentinel": {
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SendToBatch",
                                    "inputs": {
                                        "batchName": "RFGenericDetect",
                                        "content": {
                                            "action": "alert",
                                            "additionalInformation": "@{body('Parse_JSON')?['EvidenceDetails']}",
                                            "azureTenantId": "[subscription().tenantId]",
                                            "confidence": "@int(body('Parse_JSON')?['Risk'])",
                                            "description": "Recorded Future - Generic Detection(Very Malicious)",
                                            "expirationDateTime": "@{addDays(utcNow(),1)}",
                                            "ingestedDateTime": "@{utcNow()}",
                                            "isActive": true,
                                            "networkIPv4": "@{body('Parse_JSON')?['Name']}",
                                            "targetProduct": "Azure Sentinel",
                                            "threatType": "WatchList",
                                            "tlpLevel": "Amber"
                                        },
                                        "host": {
                                            "triggerName": "Batch_messages",
                                            "workflow": {
                                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('PlaybookNameBatching'))]"
                                            }
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Recorded_Future_RiskLists_and_SCF_Download": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_2": {
                            "foreach": "@body('Recorded_Future_RiskLists_and_SCF_Download_2')",
                            "actions": {
                                "Parse_JSON_2": {
                                    "runAfter": {},
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each_2')",
                                        "schema": {
                                            "properties": {
                                                "EvidenceDetails": {
                                                    "properties": {
                                                        "EvidenceDetails": {
                                                            "items": {
                                                                "properties": {
                                                                    "Criticality": {
                                                                        "type": "integer"
                                                                    },
                                                                    "CriticalityLabel": {
                                                                        "type": "string"
                                                                    },
                                                                    "EvidenceString": {
                                                                        "type": "string"
                                                                    },
                                                                    "Rule": {
                                                                        "type": "string"
                                                                    },
                                                                    "Timestamp": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "Rule",
                                                                    "EvidenceString",
                                                                    "CriticalityLabel",
                                                                    "Timestamp",
                                                                    "Criticality"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Name": {
                                                    "type": "string"
                                                },
                                                "Risk": {
                                                    "type": "integer"
                                                },
                                                "riskString": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "RecordedFuture_Generic_Detection_ImportToSentinel_2": {
                                    "runAfter": {
                                        "Parse_JSON_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SendToBatch",
                                    "inputs": {
                                        "batchName": "RFGenericDetect",
                                        "content": {
                                            "action": "alert",
                                            "additionalInformation": "@{body('Parse_JSON_2')?['EvidenceDetails']}",
                                            "azureTenantId": "[subscription().tenantId]",
                                            "confidence": "@int(body('Parse_JSON_2')?['Risk'])",
                                            "description": "Recorded Future - Generic Detection(Very Malicious)",
                                            "domainName": "@{body('Parse_JSON_2')?['Name']}",
                                            "expirationDateTime": "@{addHours(utcNow(),2)}",
                                            "ingestedDateTime": "@{utcNow()}",
                                            "isActive": true,
                                            "targetProduct": "Azure Sentinel",
                                            "threatType": "WatchList",
                                            "tlpLevel": "Amber"
                                        },
                                        "host": {
                                            "triggerName": "Batch_messages",
                                            "workflow": {
                                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('PlaybookNameBatching'))]"
                                            }
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Recorded_Future_RiskLists_and_SCF_Download_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Recorded_Future_RiskLists_and_SCF_Download": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['recordedfuture']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/fusion/files",
                                "queries": {
                                    "path": "/public/MicrosoftAzure/ip_gt_90.json"
                                }
                            }
                        },
                        "Recorded_Future_RiskLists_and_SCF_Download_2": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['recordedfuture']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/fusion/files",
                                "queries": {
                                    "path": "/public/MicrosoftAzure/domain_gt_90.json"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "recordedfuture": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('RecordedfutureConnectionName'))]",
                                "connectionName": "[variables('RecordedfutureConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Recordedfuturev2')]"
                            }
                        }
                    }
                }
            },
            "name": "[parameters('PlaybookName')]",
            "type": "Microsoft.Logic/workflows",
            "location": "[resourceGroup().location]",
            "tags": {
                "hidden-SentinelTemplateName": "RecordedFuture_Generic_Detection_IndicatorProcessor",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "apiVersion": "2017-07-01",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('RecordedfutureConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('RecordedfutureConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('RecordedfutureConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/recordedfuturev2')]"
                }
            }
        }
    ]
}
