Solutions/Vaikora-CrowdStrike-ThreatIntelligence/Package/mainTemplate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "lastUpdateTime": "2026-04-03T00:00:00.000Z",
    "support": {
      "tier": "partner"
    },
    "author": {
      "name": "Data443 Risk Mitigation, Inc."
    },
    "releaseNotes": [
      {
        "version": "3.0.0",
        "title": "Initial release",
        "notes": [
          "Initial release of Vaikora AI Agent Signals connector"
        ]
      }
    ],
    "title": "Vaikora AI Agent Signals to CrowdStrike",
    "description": "This playbook polls Vaikora for AI agent behavioral signals and pushes high-risk actions and anomalies as custom IOCs to CrowdStrike Falcon.",
    "prerequisites": [
      "CrowdStrike Falcon API Client ID and Secret with IOC Read+Write scope",
      "Vaikora API Key"
    ],
    "postDeployment": [
      "Grant the Logic App Managed Identity 'Monitoring Metrics Publisher' role on the DCR resource"
    ],
    "tags": [
      "Vaikora",
      "CrowdStrike",
      "AI Security",
      "IOC",
      "Data443"
    ]
  },
  "parameters": {
    "location": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Not used, but needed to pass arm-ttk test `Location-Should-Not-Be-Hardcoded`.  We instead use the `workspace-location` which is derived from the LA workspace"
      }
    },
    "workspace-location": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "[concat('Region to deploy solution resources -- separate from location selection',parameters('location'))]"
      }
    },
    "workspace": {
      "defaultValue": "",
      "type": "string",
      "metadata": {
        "description": "Workspace name for Log Analytics where Microsoft Sentinel is setup"
      }
    },
    "vaikoraApiKey": {
      "type": "securestring",
      "defaultValue": ""
    },
    "vaikoraAgentId": {
      "type": "string",
      "defaultValue": ""
    },
    "CrowdStrike_ClientId": {
      "type": "securestring",
      "defaultValue": "",
      "metadata": {
        "description": "CrowdStrike OAuth2 Client ID"
      }
    },
    "CrowdStrike_ClientSecret": {
      "type": "securestring",
      "defaultValue": "",
      "metadata": {
        "description": "CrowdStrike OAuth2 Client Secret"
      }
    },
    "CrowdStrike_BaseUrl": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "CrowdStrike API Base URL (e.g. https://api.crowdstrike.com or https://api.us-2.crowdstrike.com)"
      }
    }
  },
  "variables": {
    "_email": "[variables('email')]",
    "_solutionName": "Vaikora-CrowdStrike-ThreatIntelligence",
    "_solutionVersion": "3.0.0",
    "_solutionId": "[variables('solutionId')]",
    "_Playbooks": "[variables('Playbooks')]",
    "blanks": "[replace('b', 'b', '')]",
    "playbookVersion1": "1.0",
    "_playbookContentId1": "[variables('playbookContentId1')]",
    "playbookId1": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId1'))]",
    "playbookTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId1'))))]",
    "workspaceResourceId": "[resourceId('microsoft.OperationalInsights/Workspaces', parameters('workspace'))]",
    "_playbookcontentProductId1": "[concat(take(variables('_solutionId'),50),'-','pl','-', uniqueString(concat(variables('_solutionId'),'-','Playbook','-',variables('_playbookContentId1'),'-', variables('playbookVersion1'))))]",
    "_solutioncontentProductId": "[concat(take(variables('_solutionId'),50),'-','sl','-', uniqueString(concat(variables('_solutionId'),'-','Solution','-',variables('_solutionId'),'-', variables('_solutionVersion'))))]",
    "email": "support@data443.com",
    "Playbooks": "Playbooks",
    "solutionId": "data443riskmitigationinc1761580347231.azure-sentinel-solution-vaikora-crowdstrike",
    "playbookContentId1": "VaikoraToCrowdStrike_Playbook"
  },
  "resources": [
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('playbookTemplateSpecName1')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "Playbooks Playbook with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion1')]",
          "parameters": {
            "vaikoraApiKey": {
              "type": "securestring",
              "defaultValue": "",
              "metadata": {
                "description": "Vaikora API key (X-API-Key header)"
              }
            },
            "vaikoraAgentId": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "Vaikora agent_id to poll for AI signal actions"
              }
            },
            "CrowdStrike_ClientId": {
              "type": "securestring",
              "defaultValue": "",
              "metadata": {
                "description": "CrowdStrike OAuth2 Client ID"
              }
            },
            "CrowdStrike_ClientSecret": {
              "type": "securestring",
              "defaultValue": "",
              "metadata": {
                "description": "CrowdStrike OAuth2 Client Secret"
              }
            },
            "CrowdStrike_BaseUrl": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "CrowdStrike API Base URL (e.g. https://api.crowdstrike.com or https://api.us-2.crowdstrike.com)"
              }
            },
            "PlaybookName": {
              "type": "string",
              "defaultValue": "pb-vaikora-to-crowdstrike"
            }
          },
          "variables": {
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "properties": {
                "state": "Enabled",
                "parameters": {
                  "vaikoraApiKey": {
                    "value": "[[parameters('VaikoraApiKey')]"
                  },
                  "vaikoraAgentId": {
                    "value": "[[parameters('VaikoraAgentId')]"
                  },
                  "CrowdStrike_ClientId": {
                    "value": "[[parameters('CrowdStrike_ClientId')]"
                  },
                  "CrowdStrike_ClientSecret": {
                    "value": "[[parameters('CrowdStrike_ClientSecret')]"
                  },
                  "CrowdStrike_BaseUrl": {
                    "value": "[[parameters('CrowdStrike_BaseUrl')]"
                  }
                },
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "Vaikora_BaseUrl": {
                      "type": "string",
                      "defaultValue": "https://api.vaikora.com/api/v1"
                    },
                    "vaikoraApiKey": {
                      "type": "securestring",
                      "defaultValue": "[variables('blanks')]"
                    },
                    "vaikoraAgentId": {
                      "type": "string",
                      "defaultValue": "[variables('blanks')]"
                    },
                    "CrowdStrike_BaseUrl": {
                      "type": "string",
                      "defaultValue": ""
                    },
                    "CrowdStrike_ClientId": {
                      "type": "string",
                      "defaultValue": "[variables('blanks')]"
                    },
                    "CrowdStrike_ClientSecret": {
                      "type": "securestring",
                      "defaultValue": "[variables('blanks')]"
                    }
                  },
                  "triggers": {
                    "Recurrence": {
                      "type": "Recurrence",
                      "recurrence": {
                        "frequency": "Hour",
                        "interval": 6,
                        "timeZone": "UTC"
                      }
                    }
                  },
                  "actions": {
                    "Get_CrowdStrike_Token": {
                      "type": "Http",
                      "runAfter": {},
                      "inputs": {
                        "method": "POST",
                        "uri": "@{parameters('CrowdStrike_BaseUrl')}/oauth2/token",
                        "headers": {
                          "Content-Type": "application/x-www-form-urlencoded",
                          "User-Agent": "data443-vaikora-crowdstrike/1.0"
                        },
                        "body": "client_id=@{parameters('CrowdStrike_ClientId')}&client_secret=@{parameters('CrowdStrike_ClientSecret')}"
                      }
                    },
                    "Get_Vaikora_Actions": {
                      "type": "Http",
                      "runAfter": {
                        "Get_CrowdStrike_Token": [
                          "Succeeded"
                        ]
                      },
                      "inputs": {
                        "method": "GET",
                        "uri": "@{parameters('Vaikora_BaseUrl')}/actions?agent_id=@{parameters('VaikoraAgentId')}&per_page=100",
                        "headers": {
                          "X-API-Key": "@{parameters('VaikoraApiKey')}",
                          "Accept": "application/json",
                          "User-Agent": "data443-vaikora-crowdstrike/1.0"
                        }
                      }
                    },
                    "Filter_High_Priority_Actions": {
                      "type": "Query",
                      "runAfter": {
                        "Get_Vaikora_Actions": [
                          "Succeeded"
                        ]
                      },
                      "inputs": {
                        "from": "@body('Get_Vaikora_Actions')?['actions']",
                        "where": "@or(or(equals(item()?['risk_level'], 'high'), equals(item()?['risk_level'], 'critical')), equals(item()?['is_anomaly'], true))"
                      }
                    },
                    "Check_Has_Actions": {
                      "type": "If",
                      "runAfter": {
                        "Filter_High_Priority_Actions": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@length(body('Filter_High_Priority_Actions'))",
                              0
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "For_Each_Action": {
                          "type": "Foreach",
                          "foreach": "@body('Filter_High_Priority_Actions')",
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 1
                            }
                          },
                          "actions": {
                            "Compose_IOC_Value": {
                              "type": "Compose",
                              "runAfter": {},
                              "inputs": "@coalesce(item()?['ip_address'], item()?['target_ip'], item()?['url'], item()?['target_url'], item()?['target'], item()?['log_hash'])"
                            },
                            "Compose_IOC_Type": {
                              "type": "Compose",
                              "runAfter": {
                                "Compose_IOC_Value": [
                                  "Succeeded"
                                ]
                              },
                              "inputs": "@if(or(not(empty(item()?['ip_address'])), not(empty(item()?['target_ip']))), 'ipv4', if(or(not(empty(item()?['url'])), not(empty(item()?['target_url']))), 'url', 'domain'))"
                            },
                            "Compose_CS_Severity": {
                              "type": "Compose",
                              "runAfter": {},
                              "inputs": "@if(equals(item()?['risk_level'], 'critical'), 'critical', if(equals(item()?['risk_level'], 'high'), 'high', 'medium'))"
                            },
                            "Compose_CS_Action": {
                              "type": "Compose",
                              "runAfter": {},
                              "inputs": "@if(equals(item()?['risk_level'], 'critical'), 'prevent', 'detect')"
                            },
                            "Compose_Tags": {
                              "type": "Compose",
                              "runAfter": {},
                              "inputs": "@union(createArray('vaikora', 'ai-agent-security', 'data443'), if(equals(item()?['is_anomaly'], true), createArray('ai-agent-anomaly'), createArray()), if(equals(item()?['threat_detected'], true), createArray('ai-threat-detected'), createArray()))"
                            },
                            "Post_IOC_to_CrowdStrike": {
                              "type": "Http",
                              "runAfter": {
                                "Compose_IOC_Value": [
                                  "Succeeded"
                                ],
                                "Compose_IOC_Type": [
                                  "Succeeded"
                                ],
                                "Compose_CS_Severity": [
                                  "Succeeded"
                                ],
                                "Compose_CS_Action": [
                                  "Succeeded"
                                ],
                                "Compose_Tags": [
                                  "Succeeded"
                                ]
                              },
                              "inputs": {
                                "method": "POST",
                                "uri": "@{parameters('CrowdStrike_BaseUrl')}/iocs/entities/indicators/v1?ignore_warnings=true",
                                "headers": {
                                  "Content-Type": "application/json",
                                  "Authorization": "@{concat('Bearer ', body('Get_CrowdStrike_Token')?['access_token'])}",
                                  "User-Agent": "data443-vaikora-crowdstrike/1.0"
                                },
                                "body": {
                                  "indicators": [
                                    {
                                      "type": "@{outputs('Compose_IOC_Type')}",
                                      "value": "@{outputs('Compose_IOC_Value')}",
                                      "action": "@{outputs('Compose_CS_Action')}",
                                      "severity": "@{outputs('Compose_CS_Severity')}",
                                      "source": "Vaikora AI Agent Security (Data443)",
                                      "description": "Vaikora AI Signal | Agent: @{item()?['agent_id']} | Type: @{item()?['action_type']} | Risk: @{item()?['risk_level']} (@{item()?['risk_score']}) | Anomaly: @{item()?['is_anomaly']} (@{item()?['anomaly_score']}) | Threat: @{item()?['threat_detected']} (@{item()?['threat_score']}) | Policy: @{item()?['policy_decision']} | @{item()?['timestamp']}",
                                      "expiration": "@{addDays(utcNow(), 30)}",
                                      "platforms": [
                                        "windows",
                                        "mac",
                                        "linux"
                                      ],
                                      "tags": "@outputs('Compose_Tags')",
                                      "applied_globally": true,
                                      "external_id": "@{concat('vaikora-', item()?['id'])}"
                                    }
                                  ]
                                }
                              }
                            }
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      }
                    }
                  }
                }
              },
              "tags": {
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]",
                "hidden-SentinelTemplateName": "VaikoraToCrowdStrike",
                "hidden-SentinelTemplateVersion": "1.0"
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId1'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId1')]",
                "contentId": "[variables('_playbookContentId1')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion1')]",
                "source": {
                  "kind": "Solution",
                  "name": "Vaikora-CrowdStrike-ThreatIntelligence",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Data443 Risk Mitigation, Inc.",
                  "email": "support@data443.com",
                  "tier": "Partner",
                  "link": "https://www.data443.com"
                }
              }
            }
          ],
          "metadata": {
            "title": "Vaikora AI Agent Signals to CrowdStrike",
            "description": "This playbook polls Vaikora for AI agent behavioral signals and pushes high-risk actions and anomalies as custom IOCs to CrowdStrike Falcon.",
            "prerequisites": [
              "CrowdStrike Falcon API Client ID and Secret with IOC Read+Write scope",
              "Vaikora API Key"
            ],
            "postDeployment": [
              "Grant the Logic App Managed Identity 'Monitoring Metrics Publisher' role on the DCR resource"
            ],
            "lastUpdateTime": "2026-04-28T00:00:00.000Z",
            "tags": [
              "Vaikora",
              "CrowdStrike",
              "AI Security",
              "IOC",
              "Data443"
            ],
            "releaseNotes": [
              {
                "version": "1.0",
                "title": "Initial release",
                "notes": [
                  "Initial release of Vaikora AI Agent Signals to CrowdStrike playbook"
                ]
              }
            ]
          }
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_playbookContentId1')]",
        "contentKind": "Playbook",
        "displayName": "pb-vaikora-to-crowdstrike",
        "contentProductId": "[variables('_playbookcontentProductId1')]",
        "id": "[variables('_playbookcontentProductId1')]",
        "version": "[variables('playbookVersion1')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentPackages",
      "apiVersion": "2023-04-01-preview",
      "location": "[parameters('workspace-location')]",
      "properties": {
        "version": "3.0.0",
        "kind": "Solution",
        "contentSchemaVersion": "3.0.0",
        "displayName": "Vaikora-CrowdStrike-ThreatIntelligence",
        "publisherDisplayName": "Data443 Risk Mitigation, Inc.",
        "descriptionHtml": "<p><strong>Note:</strong> Please refer to the following before installing the solution:</p>\n<p>\u2022 Review the solution <a href=\"https://github.com/Azure/Azure-Sentinel/tree/master/Solutions/Vaikora-CrowdStrike-ThreatIntelligence/ReleaseNotes.md\">Release Notes</a></p>\n<p>\u2022 There may be <a href=\"https://aka.ms/sentinelsolutionsknownissues\">known issues</a> pertaining to this Solution, please refer to them before installing.</p>\n<p>The Vaikora CrowdStrike AI Agent Security solution polls Vaikora AI agent signals (high/critical risk actions and anomaly detections) and pushes them as Custom IOCs to CrowdStrike Falcon for detection and prevention.</p>\n<p><strong>Playbooks:</strong> 1</p>\n<p><a href=\"https://aka.ms/azuresentinel\">Learn more about Microsoft Sentinel</a> | <a href=\"https://aka.ms/azuresentinelsolutionsdoc\">Learn more about Solutions</a></p>\n",
        "contentKind": "Solution",
        "contentProductId": "[variables('_solutioncontentProductId')]",
        "id": "[variables('_solutioncontentProductId')]",
        "icon": "<img src=\"https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Logos/vaikora_logo.svg\" width=\"75px\" height=\"75px\">",
        "contentId": "[variables('_solutionId')]",
        "parentId": "[variables('_solutionId')]",
        "source": {
          "kind": "Solution",
          "name": "Vaikora-CrowdStrike-ThreatIntelligence",
          "sourceId": "[variables('_solutionId')]"
        },
        "author": {
          "name": "Data443 Risk Mitigation, Inc.",
          "email": "[variables('_email')]"
        },
        "support": {
          "name": "Data443 Risk Mitigation, Inc.",
          "email": "support@data443.com",
          "tier": "Partner",
          "link": "https://www.data443.com"
        },
        "dependencies": {
          "operator": "AND",
          "criteria": [
            {
              "kind": "Playbook",
              "contentId": "[variables('_Playbooks')]",
              "version": "[variables('playbookVersion1')]"
            }
          ]
        },
        "firstPublishDate": "2026-04-02",
        "providers": [
          "Data443 Risk Mitigation, Inc.",
          "Vaikora"
        ],
        "categories": {
          "domains": [
            "Security - Threat Intelligence"
          ]
        }
      },
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('_solutionId'))]"
    }
  ],
  "outputs": {}
}