Solutions/Whisper/Data Connectors/WhisperWhoisHistoryPipeline.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "Whisper Security - WHOIS History Pipeline",
    "description": "Deploys a Logic App workflow that calls the Whisper Security whisper.history() API on a daily schedule to retrieve historical WHOIS snapshots for monitored domains, applying Cypher injection protection, then ingests snapshot data into WhisperHistory_CL via DCR.",
    "prerequisites": [
      "Azure Sentinel workspace",
      "Whisper API key in Key Vault",
      "WhisperHistory_CL table deployed (WhisperHistory_CL.json)",
      "Data Collection Endpoint and Rule for WhisperHistory_CL"
    ],
    "version": "1.0.0",
    "author": {
      "name": "Whisper Security"
    }
  },
  "parameters": {
    "workspace": {
      "type": "string",
      "metadata": {
        "description": "Log Analytics workspace name"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "playbook-name": {
      "type": "string",
      "defaultValue": "Whisper-WhoisHistoryPipeline",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "keyVaultSecretUri": {
      "type": "securestring",
      "metadata": {
        "description": "Key Vault secret URI for the Whisper API key (e.g. https://myvault.vault.azure.net/secrets/whisper-api-key)"
      }
    },
    "dceEndpoint": {
      "type": "string",
      "metadata": {
        "description": "Data Collection Endpoint logs ingestion URI"
      }
    },
    "dcrImmutableId": {
      "type": "string",
      "metadata": {
        "description": "Immutable ID of the Data Collection Rule for WhisperHistory_CL"
      }
    },
    "domainWatchlist": {
      "type": "string",
      "metadata": {
        "description": "Comma-separated list of domains to track WHOIS history"
      }
    },
    "keyVaultName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Key Vault that holds the Whisper API key"
      }
    }
  },
  "variables": {
    "keyvaultConnectionName": "keyvault"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2018-07-01-preview",
      "name": "[variables('keyvaultConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Key Vault - Whisper API Key",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'keyvault')]"
        },
        "parameterValueType": "Alternative",
        "alternativeParameterValues": {
          "vaultName": "[parameters('keyVaultName')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('playbook-name')]",
      "location": "[parameters('location')]",
      "tags": {
        "LogicAppsCategory": "security",
        "hidden-SentinelTemplateName": "Whisper-WhoisHistoryPipeline",
        "hidden-SentinelTemplateVersion": "1.0.0",
        "hidden-SentinelWorkspaceId": "[parameters('workspace')]"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('keyvaultConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "keyVaultSecretUri": {
              "type": "SecureString"
            },
            "dceEndpoint": {
              "type": "String"
            },
            "dcrImmutableId": {
              "type": "String"
            },
            "domainWatchlist": {
              "type": "String"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Day",
                "interval": 1
              }
            }
          },
          "actions": {
            "Initialize_Indicator": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "indicator",
                    "type": "string",
                    "value": ""
                  }
                ]
              },
              "runAfter": {}
            },
            "Initialize_Domains": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "domains",
                    "type": "array",
                    "value": "@split(parameters('domainWatchlist'), ',')"
                  }
                ]
              },
              "runAfter": {
                "Initialize_Indicator": [
                  "Succeeded"
                ]
              }
            },
            "For_Each_Domain": {
              "type": "Foreach",
              "foreach": "@variables('domains')",
              "actions": {
                "Set_Indicator_Value": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "indicator",
                    "value": "@{trim(items('For_Each_Domain'))}"
                  },
                  "runAfter": {}
                },
                "Validate_Input": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "contains": [
                            "@toUpper(variables('indicator'))",
                            "MATCH"
                          ]
                        }
                      },
                      {
                        "not": {
                          "contains": [
                            "@toUpper(variables('indicator'))",
                            "RETURN"
                          ]
                        }
                      },
                      {
                        "not": {
                          "contains": [
                            "@toUpper(variables('indicator'))",
                            "DELETE"
                          ]
                        }
                      },
                      {
                        "not": {
                          "contains": [
                            "@toUpper(variables('indicator'))",
                            "MERGE"
                          ]
                        }
                      },
                      {
                        "not": {
                          "contains": [
                            "@toUpper(variables('indicator'))",
                            "CREATE"
                          ]
                        }
                      },
                      {
                        "not": {
                          "contains": [
                            "@toUpper(variables('indicator'))",
                            "SET"
                          ]
                        }
                      },
                      {
                        "not": {
                          "contains": [
                            "@toUpper(variables('indicator'))",
                            "REMOVE"
                          ]
                        }
                      },
                      {
                        "not": {
                          "contains": [
                            "@toUpper(variables('indicator'))",
                            "DETACH"
                          ]
                        }
                      },
                      {
                        "not": {
                          "equals": [
                            "@length(variables('indicator'))",
                            0
                          ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "Enrich_Scope": {
                      "type": "Scope",
                      "actions": {
                        "Get_API_Key": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['keyvault']['connectionId']"
                              }
                            },
                            "method": "get",
                            "path": "/secrets/@{encodeURIComponent(last(split(parameters('keyVaultSecretUri'), '/')))}/value"
                          },
                          "runAfter": {},
                          "runtimeConfiguration": {
                            "secureData": {
                              "properties": [
                                "outputs"
                              ]
                            }
                          }
                        },
                        "Call_Whisper_History": {
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "https://graph.whisper.security/api/query",
                            "headers": {
                              "Content-Type": "application/json",
                              "X-API-Key": "@body('Get_API_Key')?['value']"
                            },
                            "body": {
                              "query": "MATCH (h:HOSTNAME {name: \"@{variables('indicator')}\"})\nOPTIONAL MATCH (h)-[:HAS_REGISTRAR]->(r:REGISTRAR)\nOPTIONAL MATCH (h)-[:HAS_EMAIL]->(e:EMAIL)\nOPTIONAL MATCH (h)-[:HAS_COUNTRY]->(c:COUNTRY)\nOPTIONAL MATCH (ns:HOSTNAME)-[:NAMESERVER_FOR]->(h)\nWITH h, r, e, c, collect(distinct ns.name) AS nsList\nRETURN toString(timestamp())          AS snapshotDate,\n       coalesce(r.name, \"\")           AS registrar,\n       coalesce(e.name, \"\")           AS registrant,\n       coalesce(c.name, \"\")           AS country,\n       reduce(s = \"\", n IN nsList | s + CASE WHEN s = \"\" THEN \"\" ELSE \",\" END + n) AS nameServers,\n       \"\"                             AS createDate,\n       \"\"                             AS updateDate,\n       \"\"                             AS expiryDate"
                            },
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 3,
                              "interval": "PT10S",
                              "maximumInterval": "PT1M"
                            }
                          },
                          "runAfter": {
                            "Get_API_Key": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "secureData": {
                              "properties": [
                                "inputs"
                              ]
                            }
                          }
                        },
                        "Parse_History_Response": {
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@body('Call_Whisper_History')",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "columns": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "rows": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "snapshotDate": {
                                        "type": "string"
                                      },
                                      "registrar": {
                                        "type": "string"
                                      },
                                      "registrant": {
                                        "type": "string"
                                      },
                                      "country": {
                                        "type": "string"
                                      },
                                      "nameServers": {
                                        "type": "string"
                                      },
                                      "createDate": {
                                        "type": "string"
                                      },
                                      "updateDate": {
                                        "type": "string"
                                      },
                                      "expiryDate": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "Call_Whisper_History": [
                              "Succeeded"
                            ]
                          }
                        },
                        "For_Each_Snapshot": {
                          "type": "Foreach",
                          "foreach": "@body('Parse_History_Response')?['rows']",
                          "actions": {
                            "Map_Snapshot_Fields": {
                              "type": "Compose",
                              "inputs": {
                                "indicator": "@variables('indicator')",
                                "indicatorType": "domain",
                                "snapshotDate": "@{items('For_Each_Snapshot')?['snapshotDate']}",
                                "registrar": "@{items('For_Each_Snapshot')?['registrar']}",
                                "registrant": "@{items('For_Each_Snapshot')?['registrant']}",
                                "country": "@{items('For_Each_Snapshot')?['country']}",
                                "nameServers": "@{items('For_Each_Snapshot')?['nameServers']}",
                                "createDate": "@{items('For_Each_Snapshot')?['createDate']}",
                                "updateDate": "@{items('For_Each_Snapshot')?['updateDate']}",
                                "expiryDate": "@{items('For_Each_Snapshot')?['expiryDate']}",
                                "TimeGenerated": "@{utcNow()}"
                              },
                              "runAfter": {}
                            },
                            "Ingest_To_DCR": {
                              "type": "Http",
                              "inputs": {
                                "method": "POST",
                                "uri": "@{parameters('dceEndpoint')}/dataCollectionRules/@{parameters('dcrImmutableId')}/streams/Custom-WhisperHistory_CL?api-version=2023-01-01",
                                "headers": {
                                  "Content-Type": "application/json"
                                },
                                "body": [
                                  "@outputs('Map_Snapshot_Fields')"
                                ],
                                "authentication": {
                                  "type": "ManagedServiceIdentity",
                                  "audience": "https://monitor.azure.com"
                                },
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 3,
                                  "interval": "PT10S",
                                  "maximumInterval": "PT1M"
                                }
                              },
                              "runAfter": {
                                "Map_Snapshot_Fields": [
                                  "Succeeded"
                                ]
                              }
                            }
                          },
                          "runAfter": {
                            "Parse_History_Response": [
                              "Succeeded"
                            ]
                          }
                        }
                      }
                    },
                    "Handle_Error": {
                      "type": "Scope",
                      "runAfter": {
                        "Enrich_Scope": [
                          "Failed",
                          "TimedOut"
                        ]
                      },
                      "actions": {
                        "Log_Error": {
                          "type": "Compose",
                          "inputs": {
                            "status": "error",
                            "indicator": "@variables('indicator')",
                            "error": "@{result('Enrich_Scope')}",
                            "timestamp": "@{utcNow()}"
                          },
                          "runAfter": {}
                        }
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Log_Blocked_Input": {
                        "type": "Compose",
                        "inputs": {
                          "status": "blocked",
                          "reason": "Cypher injection keyword detected or empty indicator",
                          "indicator": "@variables('indicator')",
                          "timestamp": "@{utcNow()}"
                        },
                        "runAfter": {}
                      }
                    }
                  },
                  "runAfter": {
                    "Set_Indicator_Value": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Initialize_Domains": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "keyvault": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('keyvaultConnectionName'))]",
                "connectionName": "[variables('keyvaultConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'keyvault')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          },
          "keyVaultSecretUri": {
            "value": "[parameters('keyVaultSecretUri')]"
          },
          "dceEndpoint": {
            "value": "[parameters('dceEndpoint')]"
          },
          "dcrImmutableId": {
            "value": "[parameters('dcrImmutableId')]"
          },
          "domainWatchlist": {
            "value": "[parameters('domainWatchlist')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('playbook-name'))]"
    },
    "logicAppManagedIdentityPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('playbook-name')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}
