Solutions/Cyjax/Playbooks/CyjaxDataBreaches/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "Cyjax Data Breaches",
        "description": "This playbook is triggered manually from a Data Breaches Tab from Cyjax Workbook in Microsoft Sentinel. It fetches email credential breach data from Cyjax based on user provided inputs (Query, Since, and Until) and displays them in the workbook panel. This workbook helps you to investigate potential email credential compromises using the Cyjax Data Breaches API.",
        "prerequisites": [
            "1. Obtain a Cyjax API key and store it in Azure Key Vault as a secret named 'Cyjax-API-Key'.",
            "2. Create or identify an Azure Key Vault and note its name and Tenant ID.",
            "3. Ensure you have a Log Analytics Workspace configured for Microsoft Sentinel."
        ],
        "postDeployment": [
            "**a. Authorize connections**",
            "Once deployment is complete, authorize each connection.",
            "1. Go to your logic app → API connections → Select Keyvault connection resource",
            "2. Go to General → edit API connection",
            "3. Click Authorize",
            "4. Sign in",
            "5. Click Save",
            "6. Repeat steps for Log Analytics Data Collector connection",
            "**b. Add Access policy in Keyvault**",
            "Add access policy for the playbook's managed identity to read secrets from Key Vault.",
            "1. Go to logic app → <your logic app> → identity → System assigned Managed identity and copy Object (principal) ID.",
            "2. Go to keyvaults → <your keyvault> → Access policies → create.",
            "3. Select Get and List permissions for Secrets. Click next.",
            "4. In the principal section, search by copied object ID. Click next.",
            "5. Click review + create."
        ],
        "prerequisitesDeployTemplateFile": "",
        "lastUpdateTime": "2025-03-16",
        "entities": [
            "Email"
        ],
        "tags": [
            "Cyjax",
            "Enrichment",
            "Data Breaches",
            "Credential Compromise"
        ],
        "support": {
            "tier": "community",
            "armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author": {
            "name": "Cyjax"
        }
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "CyjaxDataBreaches",
            "type": "string",
            "metadata": {
                "description": "Name of the playbook."
            }
        },
        "CyjaxBaseUrl": {
            "type": "string",
            "defaultValue": "https://api.cymon.co",
            "metadata": {
                "description": "Base URL for the Cyjax API (e.g., https://api.cymon.co)."
            }
        },
        "KeyVaultName": {
            "type": "string",
            "minLength": 1,
            "metadata": {
                "description": "Name of the Azure Key Vault where the Cyjax API key is stored as a secret named 'Cyjax-API-Key'"
            }
        },
        "TenantId": {
            "type": "string",
            "minLength": 1,
            "metadata": {
                "description": "Microsoft Entra ID Tenant ID where the Key Vault is located. Found in Azure Portal → Microsoft Entra ID → Overview"
            }
        }
    },
    "variables": {
        "KeyvaultConnectionName": "[concat('Keyvault-', parameters('PlaybookName'))]",
        "AzureloganalyticsdatacollectorConnectionName": "[concat('Azureloganalyticsdatacollector-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "query": {
                                            "type": "string"
                                        },
                                        "since": {
                                            "type": "string"
                                        },
                                        "until": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Initialize_Variables": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "base_url",
                                        "type": "string",
                                        "value": "[trim(parameters('CyjaxBaseUrl'))]"
                                    },
                                    {
                                        "name": "api_version",
                                        "type": "string",
                                        "value": "v2"
                                    },
                                    {
                                        "name": "break_loop",
                                        "type": "boolean",
                                        "value": false
                                    },
                                    {
                                        "name": "page_number",
                                        "type": "integer",
                                        "value": 1
                                    },
                                    {
                                        "name": "data_to_send",
                                        "type": "array"
                                    },
                                    {
                                        "name": "fetch_error",
                                        "type": "boolean",
                                        "value": false
                                    },
                                    {
                                        "name": "fetch_error_message",
                                        "type": "object"
                                    }
                                ]
                            }
                        },
                        "Get_Cyjax_API_Key": {
                            "runAfter": {
                                "Initialize_Variables": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('Cyjax-API-Key')}/value"
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Until_Breaches_Data_is_Fetched": {
                            "actions": {
                                "Condition_To_Ingest_Data_If_Status_Code_is_200_And_Data_is_Available": {
                                    "actions": {
                                        "Parse_JSON_For_Data_Breaches_Data": {
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('HTTP_Request_To_Fetch_Data_breaches')",
                                                "schema": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "email": {
                                                                "type": "string"
                                                            },
                                                            "source": {
                                                                "type": "string"
                                                            },
                                                            "data_breach": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "url": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "data_classes": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "discovered_at": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "Increment_Page_Number": {
                                            "runAfter": {
                                                "Set_Data_To_Send_Empty_For_Next_Execution": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "IncrementVariable",
                                            "inputs": {
                                                "name": "page_number",
                                                "value": 1
                                            }
                                        },
                                        "For_Each_Data_of_Breaches_Data": {
                                            "foreach": "@body('Parse_JSON_For_Data_Breaches_Data')",
                                            "actions": {
                                                "Modify_Data_To_Append_Query_Input_As_Field": {
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "data_to_send",
                                                        "value": "@setProperty(items('For_Each_Data_of_Breaches_Data'), 'query', triggerBody()?['query'])"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Parse_JSON_For_Data_Breaches_Data": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach",
                                            "runtimeConfiguration": {
                                                "concurrency": {
                                                    "repetitions": 1
                                                }
                                            }
                                        },
                                        "Send_Breaches_Data_To_Log_Analytics_Workspace": {
                                            "runAfter": {
                                                "For_Each_Data_of_Breaches_Data": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": "@{variables('data_to_send')}",
                                                "headers": {
                                                    "Log-Type": "CyjaxDataBreaches"
                                                },
                                                "path": "/api/logs"
                                            }
                                        },
                                        "Set_Data_To_Send_Empty_For_Next_Execution": {
                                            "runAfter": {
                                                "Send_Breaches_Data_To_Log_Analytics_Workspace": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "data_to_send",
                                                "value": "@null"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "HTTP_Request_To_Fetch_Data_breaches": [
                                            "Succeeded",
                                            "TIMEDOUT",
                                            "FAILED"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Set_Break_Loop_True": {
                                                "runAfter": {
                                                    "Condition_To_Set_Error_of_Status_code_is_not_200": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "break_loop",
                                                    "value": true
                                                }
                                            },
                                            "Condition_To_Set_Error_of_Status_code_is_not_200": {
                                                "actions": {
                                                    "Set_Fetch_Error_As_True": {
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "fetch_error",
                                                            "value": true
                                                        }
                                                    },
                                                    "Set_Fetch_Error_Message": {
                                                        "runAfter": {
                                                            "Set_Fetch_Error_As_True": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "fetch_error_message",
                                                            "value": "@body('HTTP_Request_To_Fetch_Data_breaches')"
                                                        }
                                                    }
                                                },
                                                "else": {
                                                    "actions": {}
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "not": {
                                                                "equals": [
                                                                    "@outputs('HTTP_Request_To_Fetch_Data_breaches')?['statusCode']",
                                                                    200
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                },
                                                "type": "If"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@outputs('HTTP_Request_To_Fetch_Data_breaches')?['statusCode']",
                                                    200
                                                ]
                                            },
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@length(body('HTTP_Request_To_Fetch_Data_breaches'))",
                                                        0
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "HTTP_Request_To_Fetch_Data_breaches": {
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "@{variables('base_url')}/@{variables('api_version')}/data-leak/credentials",
                                        "method": "GET",
                                        "headers": {
                                            "Authorization": "Bearer @{body('Get_Cyjax_API_Key')?['value']}"
                                        },
                                        "queries": {
                                            "query": "@{triggerBody()?['query']}",
                                            "since": "@{triggerBody()?['since']}",
                                            "until": "@{triggerBody()?['until']}",
                                            "page": "@{variables('page_number')}",
                                            "per-page": "100"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_Cyjax_API_Key": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@equals(variables('break_loop'), true)",
                            "limit": {
                                "timeout": "PT1H"
                            },
                            "type": "Until"
                        },
                        "Condition_to_Terminate_playbook_if_error_fetched": {
                            "actions": {
                                "Terminate": {
                                    "type": "Terminate",
                                    "inputs": {
                                        "runStatus": "Failed",
                                        "runError": {
                                            "code": "@outputs('HTTP_Request_To_Fetch_Data_breaches')?['statusCode']",
                                            "message": "@variables('fetch_error_message')"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Until_Breaches_Data_is_Fetched": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {}
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@variables('fetch_error')",
                                            "@true"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "keyvault": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]",
                                "connectionName": "[variables('KeyvaultConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Keyvault')]",
                                "connectionProperties": {}
                            },
                            "azureloganalyticsdatacollector": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureloganalyticsdatacollectorConnectionName'))]",
                                "connectionName": "[variables('AzureloganalyticsdatacollectorConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azureloganalyticsdatacollector')]",
                                "connectionProperties": {}
                            }
                        }
                    }
                }
            },
            "name": "[parameters('PlaybookName')]",
            "type": "Microsoft.Logic/workflows",
            "location": "[resourceGroup().location]",
            "tags": {
                "environment": "Production",
                "hidden-SentinelTemplateName": "CyjaxDataBreaches",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "apiVersion": "2017-07-01",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('AzureloganalyticsdatacollectorConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('KeyvaultConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('KeyvaultConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Keyvault')]"
                },
                "parameterValues": {
                    "token:TenantId": "[trim(parameters('TenantId'))]",
                    "token:grantType": "code",
                    "vaultName": "[trim(parameters('KeyVaultName'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureloganalyticsdatacollectorConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzureloganalyticsdatacollectorConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azureloganalyticsdatacollector')]"
                }
            }
        }
    ]
}