Solutions/Infoblox/Playbooks/Infoblox DHCP Lookup/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "Infoblox-DHCP-Lookup",
        "description": "The playbook will retrieve IP entities from an incident, search for related DHCP data in a table, and if found, add the DHCP lookup data as a comment on the incident.",
        "prerequisites": [
            "1. CEF based Infoblox Data Connector should be configured to ingest DHCP lease related data in Microsoft Sentinel."
        ],
        "postDeployment": [
            "**a. Authorize connections**",
            "Once deployment is complete, authorize each connection.",
            "1. Go to your logic app -> API connections -> Select azuremonitorlogs connection resource",
            "2. Go to General -> edit API connection",
            "3. Click Authorize",
            "4. Sign in",
            "5. Click Save",
            "6. Repeat steps for other connections",
            "**b. Assign Role to add comment in incident**",
            "Assign role to this playbook.",    
            "1. Go to Log Analytics Workspace → <your workspace> → Access Control → Add","2. Add role assignment",
            "3. Assignment type: Job function roles -> Add 'Microsoft Sentinel Contributor' as a Role",
            "4. Members: select managed identity for assigned access to and add your logic app as member",
            "5. Click on review+assign",
            "**c. Configurations in Microsoft Sentinel**",
            "1. In Microsoft sentinel, analytical rules should be configured to trigger an incident which has Entities Mapping available for IP.",
            "2. To manually run the playbook on a particular incident follow the below steps:",
            "a. Go to Microsoft Sentinel -> <your workspace> -> Incidents",
            "b. Select an incident.",
            "c. In the right pane, click on Actions, and from the dropdown select the 'Run Playbook' option.",
            "d. Click on the Run button beside this playbook."
        ],
        "entities": [ "IP" ],
        "tags": [ "Infoblox", "DHCP", "IP", "Lookup" ],
        "lastUpdateTime": "2024-07-19T16:15:48.355Z",
        "support": {
            "tier": "Community",
            "armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author": {
            "name": "Infoblox"
        }
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Infoblox-DHCP-Lookup",
            "minLength": 1,
            "type": "string",
            "metadata": {
                "description": "Please do not keep 'Playbook Name' parameter empty, else you will receive validation failure"
            }
        },
        "Workspace Name": {
            "type": "string",
            "metadata": {
                "description": "Enter name of Log Analytics Workspace where DHCP data is available"
            }
        },
        "Lookup Time": {
            "type": "string",
            "defaultValue": "14d",
            "metadata": {
                "description": "Enter time period (in days) in which you want to search for DHCP lookup data"
            }
        }
    },
    "variables": {
        "AzuremonitorlogsConnectionName": "[concat('Azuremonitorlogs-', parameters('PlaybookName'))]",
        "MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Condition_To_Terminate_Execution_If_No_IPs_Found": {
                            "actions": {
                                "Terminate_As_No_IPs_Found": {
                                    "runAfter": {},
                                    "type": "Terminate",
                                    "inputs": {
                                        "runError": {
                                            "message": "No IPs found associated with incident."
                                        },
                                        "runStatus": "Failed"
                                    }
                                }
                            },
                            "runAfter": {
                                "Entities_-_Get_IPs": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@empty(body('Entities_-_Get_IPs')?['IPs'])",
                                            "@true"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Entities_-_Get_IPs": {
                            "runAfter": {
                                "Initialize_Number_Of_Comments": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/ip"
                            }
                        },
                        "For_Each_IP": {
                            "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                            "actions": {
                                "Condition_To_Verify_IP_Address_is_Empty_Or_Not": {
                                    "actions": {
                                        "Condition_To_Verify_Comments_Count_Does_Not_Exceeded_To_100": {
                                            "actions": {
                                                "Add_Comment_To_Incident_For_Empty_IP_Address_Found": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                                            "message": "<p>Empty IP Address found.</p>"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/Incidents/Comment"
                                                    }
                                                },
                                                "Increment_Comments_Count_For_Empty_IP_Address": {
                                                    "runAfter": {
                                                        "Add_Comment_To_Incident_For_Empty_IP_Address_Found": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "IncrementVariable",
                                                    "inputs": {
                                                        "name": "no_of_comments",
                                                        "value": 1
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "else": {
                                                "actions": {
                                                    "Condition_To_Verify_That_Incident_Has_99_Comment": {
                                                        "actions": {
                                                            "Add_Comment_That_Limit_Has_Been_Exceeded_To_100": {
                                                                "runAfter": {},
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "body": {
                                                                        "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                        "message": "<p>Comment limit to an incident has been breached.</p>"
                                                                    },
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "post",
                                                                    "path": "/Incidents/Comment"
                                                                }
                                                            },
                                                            "Increment_Number_Of_Comments_For_Exceeded_Limit": {
                                                                "runAfter": {
                                                                    "Add_Comment_That_Limit_Has_Been_Exceeded_To_100": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "IncrementVariable",
                                                                "inputs": {
                                                                    "name": "no_of_comments",
                                                                    "value": 1
                                                                }
                                                            }
                                                        },
                                                        "runAfter": {},
                                                        "expression": {
                                                            "and": [
                                                                {
                                                                    "equals": [
                                                                        "@variables('no_of_comments')",
                                                                        99
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "type": "If"
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "less": [
                                                            "@variables('no_of_comments')",
                                                            99
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {},
                                    "else": {
                                        "actions": {
                                            "Condition_To_Verify_No_Empty_Results": {
                                                "actions": {
                                                    "Condition_To_Verify_That_Incident_Comment_Does_Not_Reach_Limit": {
                                                        "actions": {
                                                            "Add_Comment__For_Empty_Results_Found_For_IP": {
                                                                "runAfter": {},
                                                                "type": "ApiConnection",
                                                                "inputs": {
                                                                    "body": {
                                                                        "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                        "message": "<p>No Latest DHCP Lookup Data Found For IP: @{items('For_Each_IP')?['Address']}</p>"
                                                                    },
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "post",
                                                                    "path": "/Incidents/Comment"
                                                                }
                                                            },
                                                            "Increment_Comments_Count_For_Empty_Results_For_IP": {
                                                                "runAfter": {
                                                                    "Add_Comment__For_Empty_Results_Found_For_IP": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "IncrementVariable",
                                                                "inputs": {
                                                                    "name": "no_of_comments",
                                                                    "value": 1
                                                                }
                                                            }
                                                        },
                                                        "runAfter": {},
                                                        "else": {
                                                            "actions": {
                                                                "Condition_To_Verify_That_Incident_Comment_Count_Reach_To_99": {
                                                                    "actions": {
                                                                        "Add_Comment_That_Limit_Has_Been_Exceeded_To_100_(2)": {
                                                                            "runAfter": {},
                                                                            "type": "ApiConnection",
                                                                            "inputs": {
                                                                                "body": {
                                                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                                    "message": "<p>Comment limit to an incident has been breached.</p>"
                                                                                },
                                                                                "host": {
                                                                                    "connection": {
                                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                                    }
                                                                                },
                                                                                "method": "post",
                                                                                "path": "/Incidents/Comment"
                                                                            }
                                                                        },
                                                                        "Increment_Comment_Count_To_100": {
                                                                            "runAfter": {
                                                                                "Add_Comment_That_Limit_Has_Been_Exceeded_To_100_(2)": [
                                                                                    "Succeeded"
                                                                                ]
                                                                            },
                                                                            "type": "IncrementVariable",
                                                                            "inputs": {
                                                                                "name": "no_of_comments",
                                                                                "value": 1
                                                                            }
                                                                        }
                                                                    },
                                                                    "runAfter": {},
                                                                    "expression": {
                                                                        "and": [
                                                                            {
                                                                                "equals": [
                                                                                    "@variables('no_of_comments')",
                                                                                    99
                                                                                ]
                                                                            }
                                                                        ]
                                                                    },
                                                                    "type": "If"
                                                                }
                                                            }
                                                        },
                                                        "expression": {
                                                            "and": [
                                                                {
                                                                    "less": [
                                                                        "@variables('no_of_comments')",
                                                                        99
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "type": "If"
                                                    }
                                                },
                                                "runAfter": {
                                                    "Run_Query_And_Fetch_Latest_DHCP_Lookup_Data_For_Selected_Time_Period": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "else": {
                                                    "actions": {
                                                        "For_Each_Query_Result": {
                                                            "foreach": "@body('Run_Query_And_Fetch_Latest_DHCP_Lookup_Data_For_Selected_Time_Period')?['value']",
                                                            "actions": {
                                                                "Condition_To_Verify_That_Comment_Limit_Does_Not_Exceeded": {
                                                                    "actions": {
                                                                        "Condition_To_Verify_Character_Limit_Does_Not_Exceeded": {
                                                                            "actions": {
                                                                                "Comment_For_HTML_Table": {
                                                                                    "runAfter": {},
                                                                                    "type": "ApiConnection",
                                                                                    "inputs": {
                                                                                        "body": {
                                                                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                                            "message": "<p>Latest DCHP Lookup Detail For IP :- &nbsp;@{body('Parse_JSON_For_Query_Result_Data')?['SourceIP']}<br>\n@{variables('html_table')}</p>"
                                                                                        },
                                                                                        "host": {
                                                                                            "connection": {
                                                                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                                            }
                                                                                        },
                                                                                        "method": "post",
                                                                                        "path": "/Incidents/Comment"
                                                                                    }
                                                                                },
                                                                                "Increment_Comments_Count_For_HTML_Table": {
                                                                                    "runAfter": {
                                                                                        "Comment_For_HTML_Table": [
                                                                                            "Succeeded"
                                                                                        ]
                                                                                    },
                                                                                    "type": "IncrementVariable",
                                                                                    "inputs": {
                                                                                        "name": "no_of_comments",
                                                                                        "value": 1
                                                                                    }
                                                                                }
                                                                            },
                                                                            "runAfter": {},
                                                                            "else": {
                                                                                "actions": {
                                                                                    "Comment_For_Characters_Limit": {
                                                                                        "runAfter": {},
                                                                                        "type": "ApiConnection",
                                                                                        "inputs": {
                                                                                            "body": {
                                                                                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                                                "message": "<p>Query contains more than 30000 characters for IP: @{items('For_Each_IP')?['Address']} Latest DHCP lookup data.</p>"
                                                                                            },
                                                                                            "host": {
                                                                                                "connection": {
                                                                                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                                                }
                                                                                            },
                                                                                            "method": "post",
                                                                                            "path": "/Incidents/Comment"
                                                                                        }
                                                                                    },
                                                                                    "Increment_Comments_Count_For_Characters_Limit": {
                                                                                        "runAfter": {
                                                                                            "Comment_For_Characters_Limit": [
                                                                                                "Succeeded"
                                                                                            ]
                                                                                        },
                                                                                        "type": "IncrementVariable",
                                                                                        "inputs": {
                                                                                            "name": "no_of_comments",
                                                                                            "value": 1
                                                                                        }
                                                                                    }
                                                                                }
                                                                            },
                                                                            "expression": {
                                                                                "and": [
                                                                                    {
                                                                                        "lessOrEquals": [
                                                                                            "@length(variables('html_table'))",
                                                                                            30000
                                                                                        ]
                                                                                    }
                                                                                ]
                                                                            },
                                                                            "type": "If"
                                                                        }
                                                                    },
                                                                    "runAfter": {
                                                                        "Set_HTML_Table_Content_Data": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "else": {
                                                                        "actions": {
                                                                            "Condition_To_Verify_That_Incident_Has_99_Comments": {
                                                                                "actions": {
                                                                                    "Add_Comment_That_Limit_Has_Been_Exceeded": {
                                                                                        "runAfter": {},
                                                                                        "type": "ApiConnection",
                                                                                        "inputs": {
                                                                                            "body": {
                                                                                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                                                "message": "<p>Comment limit to an incident has been breached.</p>"
                                                                                            },
                                                                                            "host": {
                                                                                                "connection": {
                                                                                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                                                }
                                                                                            },
                                                                                            "method": "post",
                                                                                            "path": "/Incidents/Comment"
                                                                                        }
                                                                                    },
                                                                                    "Increment_Comments_Count": {
                                                                                        "runAfter": {
                                                                                            "Add_Comment_That_Limit_Has_Been_Exceeded": [
                                                                                                "Succeeded"
                                                                                            ]
                                                                                        },
                                                                                        "type": "IncrementVariable",
                                                                                        "inputs": {
                                                                                            "name": "no_of_comments",
                                                                                            "value": 1
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "runAfter": {},
                                                                                "expression": {
                                                                                    "and": [
                                                                                        {
                                                                                            "equals": [
                                                                                                "@variables('no_of_comments')",
                                                                                                99
                                                                                            ]
                                                                                        }
                                                                                    ]
                                                                                },
                                                                                "type": "If"
                                                                            }
                                                                        }
                                                                    },
                                                                    "expression": {
                                                                        "and": [
                                                                            {
                                                                                "less": [
                                                                                    "@variables('no_of_comments')",
                                                                                    99
                                                                                ]
                                                                            }
                                                                        ]
                                                                    },
                                                                    "type": "If"
                                                                },
                                                                "Parse_JSON_For_Query_Result_Data": {
                                                                    "runAfter": {},
                                                                    "type": "ParseJson",
                                                                    "inputs": {
                                                                        "content": "@items('For_Each_Query_Result')",
                                                                        "schema": {
                                                                            "properties": {
                                                                                "Activity": {
                                                                                    "type": "string"
                                                                                },
                                                                                "DeviceAddress": {
                                                                                    "type": "string"
                                                                                },
                                                                                "DeviceDnsDomain": {
                                                                                    "type": "string"
                                                                                },
                                                                                "DeviceName": {
                                                                                    "type": "string"
                                                                                },
                                                                                "InfobloxClientID": {
                                                                                    "type": "string"
                                                                                },
                                                                                "InfobloxDHCPOptions": {
                                                                                    "type": "string"
                                                                                },
                                                                                "InfobloxDUID": {
                                                                                    "type": "string"
                                                                                },
                                                                                "InfobloxFingerprint": {
                                                                                    "type": "string"
                                                                                },
                                                                                "InfobloxFingerprintPr": {
                                                                                    "type": "string"
                                                                                },
                                                                                "InfobloxHost": {
                                                                                    "type": "string"
                                                                                },
                                                                                "InfobloxHostID": {
                                                                                    "type": "string"
                                                                                },
                                                                                "InfobloxIPSpace": {
                                                                                    "type": "string"
                                                                                },
                                                                                "InfobloxLeaseOp": {
                                                                                    "type": "string"
                                                                                },
                                                                                "InfobloxLeaseUUID": {
                                                                                    "type": "string"
                                                                                },
                                                                                "InfobloxLifetime": {
                                                                                    "type": "string"
                                                                                },
                                                                                "InfobloxRangeEnd": {
                                                                                    "type": "string"
                                                                                },
                                                                                "InfobloxRangeStart": {
                                                                                    "type": "string"
                                                                                },
                                                                                "InfobloxSubnet": {
                                                                                    "type": "string"
                                                                                },
                                                                                "SourceHostName": {
                                                                                    "type": "string"
                                                                                },
                                                                                "SourceIP": {
                                                                                    "type": "string"
                                                                                },
                                                                                "SourceMACAddress": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    }
                                                                },
                                                                "Set_HTML_Table_Content_Data": {
                                                                    "runAfter": {
                                                                        "Parse_JSON_For_Query_Result_Data": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "html_table",
                                                                        "value": "<p style=\"height:0px\"><table><tbody> \n<tr><th colspan=\"2\">DHCP Lookup For IP @{body('Parse_JSON_For_Query_Result_Data')?['SourceIP']}</th></tr>\n<tr><td>Source IP</td><td style=\"text-align:left\">@{body('Parse_JSON_For_Query_Result_Data')?['SourceIP']}</td></tr>\n<tr><td>Source HostName</td><td style=\"text-align:left\">@{body('Parse_JSON_For_Query_Result_Data')?['SourceHostName']}</td></tr>\n<tr><td>Source Mac Address</td><td style=\"text-align:left\">@{body('Parse_JSON_For_Query_Result_Data')?['SourceMACAddress']}</td></tr>\n<tr><td>Device Name</td><td style=\"text-align:left\">@{body('Parse_JSON_For_Query_Result_Data')?['DeviceName']}</td></tr>\n<tr><td>Device Address</td><td style=\"text-align:left\">@{body('Parse_JSON_For_Query_Result_Data')?['DeviceAddress']}</td></tr>\n<tr><td>Device DNS Domain</td><td style=\"text-align:left\">@{body('Parse_JSON_For_Query_Result_Data')?['DeviceDnsDomain']}</td></tr>\n<tr><td>Infoblox Host</td><td style=\"text-align:left\">@{body('Parse_JSON_For_Query_Result_Data')?['InfobloxHost']}</td></tr>\n<tr><td>Infoblox Subnet</td><td style=\"text-align:left\">@{body('Parse_JSON_For_Query_Result_Data')?['InfobloxSubnet']}</td></tr>\n<tr><td>Infoblox Range Start</td><td style=\"text-align:left\">@{body('Parse_JSON_For_Query_Result_Data')?['InfobloxRangeStart']}</td></tr>\n<tr><td>Infoblox Range End</td><td style=\"text-align:left\">@{body('Parse_JSON_For_Query_Result_Data')?['InfobloxRangeEnd']}</td></tr>\n<tr><td>Infoblox Lease Op</td><td style=\"text-align:left\">@{body('Parse_JSON_For_Query_Result_Data')?['InfobloxLeaseOp']}</td></tr>\n<tr><td>Infoblox Client ID</td><td style=\"text-align:left\">@{body('Parse_JSON_For_Query_Result_Data')?['InfobloxClientID']}</td></tr>\n<tr><td>Infoblox Lifetime</td><td style=\"text-align:left\">@{body('Parse_JSON_For_Query_Result_Data')?['InfobloxLifetime']}</td></tr>\n<tr><td>Infoblox Fingerprint Pr</td><td style=\"text-align:left\">@{body('Parse_JSON_For_Query_Result_Data')?['InfobloxFingerprintPr']}</td></tr>\n<tr><td>Infoblox Fingerprint</td><td style=\"text-align:left\">@{body('Parse_JSON_For_Query_Result_Data')?['InfobloxFingerprint']}</td></tr>\n<tr><td>Infoblox DHCP Options</td><td style=\"text-align:left\">@{body('Parse_JSON_For_Query_Result_Data')?['InfobloxDHCPOptions']}</td></tr>\n</tbody></table></p>"
                                                                    }
                                                                }
                                                            },
                                                            "runAfter": {},
                                                            "type": "Foreach"
                                                        }
                                                    }
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "equals": [
                                                                "@empty(body('Run_Query_And_Fetch_Latest_DHCP_Lookup_Data_For_Selected_Time_Period')?['value'])",
                                                                "@true"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "type": "If"
                                            },
                                            "Run_Query_And_Fetch_Latest_DHCP_Lookup_Data_For_Selected_Time_Period": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": "let DHCP_VALUE = 'DHCP';\nlet IP = '@{items('For_each_IP')?['Address']}';\nCommonSecurityLog\n| where TimeGenerated >= ago(@{variables('lookup_time')})\n| where DeviceEventClassID contains DHCP_VALUE\n    and SourceIP == IP\n| top 1 by TimeGenerated desc\n| parse-kv AdditionalExtensions as (InfobloxHost : string,\nInfobloxHostID : string,\nInfobloxIPSpace : string,\nInfobloxSubnet : string,\nInfobloxRangeStart : string,\nInfobloxRangeEnd : string,\nInfobloxLeaseOp : string,\nInfobloxClientID : string,\nInfobloxDUID : string,\nInfobloxLifetime : string,\nInfobloxLeaseUUID : string,\nInfobloxFingerprintPr : string,\nInfobloxFingerprint : string,\nInfobloxDHCPOptions : string) with(kv_delimiter=\"=\", pair_delimiter=\";\")\n| project \nSourceIP,SourceHostName,SourceMACAddress, Activity, DeviceName,DeviceAddress,DeviceDnsDomain,\nInfobloxHost,\nInfobloxHostID,\nInfobloxIPSpace,\nInfobloxSubnet,\nInfobloxRangeStart,\nInfobloxRangeEnd,\nInfobloxLeaseOp,\nInfobloxClientID,\nInfobloxDUID,\nInfobloxLifetime,\nInfobloxLeaseUUID,\nInfobloxFingerprintPr,\nInfobloxFingerprint,\nInfobloxDHCPOptions\n",
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/queryData",
                                                    "queries": {
                                                        "resourcegroups": "[resourceGroup().name]",
                                                        "resourcename": "[trim(parameters('Workspace Name'))]",
                                                        "resourcetype": "Log Analytics Workspace",
                                                        "subscriptions": "[subscription().subscriptionId]",
                                                        "timerange": "Set in query"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@empty(items('For_Each_IP')?['Address'])",
                                                    "@true"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Condition_To_Terminate_Execution_If_No_IPs_Found": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "Initialize_Error_Message": {
                            "runAfter": {
                                "Initialize_Lookup_Back_Time_Period": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "error_message",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_HTML_Table": {
                            "runAfter": {
                                "Initialize_Error_Message": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "html_table",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Lookup_Back_Time_Period": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "lookup_time",
                                        "type": "string",
                                        "value": "[trim(parameters('Lookup Time'))]"
                                    }
                                ]
                            }
                        },
                        "Initialize_Number_Of_Comments": {
                            "runAfter": {
                                "Initialize_HTML_Table": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "no_of_comments",
                                        "type": "integer",
                                        "value": "@length(triggerBody()?['object']?['properties']?['Comments'])"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
                                "connectionName": "[variables('AzuremonitorlogsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
                            },
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "name": "[parameters('PlaybookName')]",
            "type": "Microsoft.Logic/workflows",
            "location": "[resourceGroup().location]",
            "tags": {
                "hidden-SentinelTemplateName": "Infoblox-DHCP-Lookup",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "apiVersion": "2017-07-01",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzuremonitorlogsConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzuremonitorlogsConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('MicrosoftSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        }
    ]
}
