Solutions/PaloAlto-PAN-OS/Playbooks/PlaybooksOnPrem/PaloAlto-PAN-OS-BlockIP/azuredeploy.json
{
   "$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
   "contentVersion":"1.0.0.0",
   "metadata":{
      "title":"Block IP - Palo Alto PAN-OS",
      "description":"This playbook allows blocking/allowing of IPs in PAN-OS, using a address object group. The address object group itself should be attached to a pre-defined security policy rule.",
      "mainSteps":[
         "1.For each IP in the incident, check if IP is already a member of a security policy rule or of the predefined object group.",
         "2. If it isn't, an adaptive card is sent to a Teams channel with information about the incident and giving the option to block/unblock the IP by adding/removing it to/from the address object group."
      ],
      "prerequisites":[
         "1. Palo Alto PAN-OS custom connector needs to be deployed prior to the deployment of this playbook, in the same resource group and region.",
         "2. Generate an API key.[Refer this link on how to generate the API Key](https://paloaltolactest.trafficmanager.net/restapi-doc/#tag/key-generation)",
         "3. Address group should be created for PAN-OS, and supply as a deployment parameter."
      ],
      "prerequisitesDeployTemplateFile":"../../PaloAltoCustomConnector/azuredeploy.json",
      "lastUpdateTime":"2021-07-28T00:00:00.000Z",
      "entities":[
         "Ip"
      ],
      "tags":[
         "Remediation",
         "Response from teams"
      ],
      "support":{
         "tier":"community"
      },
      "author":{
         "name":"Accenture"
      }
   },
   "parameters":{
      "PlaybookName":{
         "defaultValue":"PaloAlto-PAN-OS-BlockIP",
         "type":"String",
         "metadata":{
            "description":"Name of the Logic Apps resource to be created."
         }
      },
      "CustomConnectorName":{
         "defaultValue":"PAN-OSRestApiCustomConnector",
         "type":"string",
         "metadata":{
            "description":"Name of the custom connector which interacts with PAN-OS"
         }
      },
      "Teams GroupId":{
         "defaultValue":"TeamsGroupId",
         "type":"String",
         "metadata":{
            "description":"GroupId of the Team channel"
         }
      },
      "Teams ChannelId":{
         "defaultValue":"TeamChannelId",
         "type":"String",
         "metadata":{
            "description":"Team ChannelId"
         }
      },
      "Address Group":{
         "defaultValue":"AddressGroup",
         "type":"String",
         "metadata":{
            "description":"Address Group"
         }
      },
      "KeyVaultName": {
         "defaultValue":"pan-os-kv",
         "type": "string",
         "metadata": {
            "description": "Specifies the name of the key vault."
         }
      },
      "secretValue": {
         "type": "secureString",
         "defaultValue": "",
         "metadata": {
            "description": "Specifies the value of the secret that you want to create."
         }
      },
      "onPremiseGatewayName": {
         "defaultValue": "",
         "type": "String",
         "metadata": {
            "description": "Provide the On-premises data gateway that will be used with PaloAlto connector. Data gateway should be deployed under the same subscription and resource group as playbook."
         }
      }
   },
   "variables":{
      "AzureSentinelConnectionName":"[concat('azuresentinel-', parameters('PlaybookName'))]",
      "TeamsConnectionName":"[concat('teamsconnector-', parameters('PlaybookName'))]",
      "PaloAltoConnectorConnectionName":"[concat('PaloAltoConnector-', parameters('PlaybookName'))]",
      "KeyVaultConnectionName":"[concat('keyvault-', parameters('KeyVaultName'))]",
      "secretName": "X-PAN-KEY"
   },
   "resources":[
      {
         "type":"Microsoft.Web/connections",
         "apiVersion":"2016-06-01",
         "name":"[variables('PaloAltoConnectorConnectionName')]",
         "location":"[resourceGroup().location]",
         "properties":{
            "parameterValues": {
               "authType": "anonymous",
               "gateway": {
                  "id": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connectionGateways/',parameters('onPremiseGatewayName'))]"
               }
            },
            "api":{
               "id":"[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/', parameters('CustomConnectorName'))]"
            }
         }
      },
      {
         "type":"Microsoft.Web/connections",
         "apiVersion":"2016-06-01",
         "name":"[variables('AzureSentinelConnectionName')]",
         "location":"[resourceGroup().location]",
         "kind":"V1",
         "properties":{
            "displayName":"[variables('AzureSentinelConnectionName')]",
            "customParameterValues":{

            },
            "parameterValueType":"Alternative",
            "api":{
               "id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
            }
         }
      },
      {
         "type": "Microsoft.Web/connections",
         "apiVersion": "2016-06-01",
         "name": "[variables('TeamsConnectionName')]",
         "location": "[resourceGroup().location]",
         "properties": {
            "customParameterValues": {},
            "api": {
               "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
            }
         }
      },
      {
         "type": "Microsoft.KeyVault/vaults",
         "apiVersion": "2016-10-01",
         "name": "[parameters('KeyVaultName')]",
         "location": "[resourceGroup().location]",
         "properties": {
            "sku": {
               "family": "A",
               "name": "standard"
            },
            "tenantId": "[subscription().tenantId]",
            "enabledForDeployment": false,
            "enabledForDiskEncryption": false,
            "enabledForTemplateDeployment": true,
            "enableSoftDelete": true,
            "accessPolicies": [
            ]
         }
      },
      {
         "type": "Microsoft.KeyVault/vaults/secrets",
         "apiVersion": "2016-10-01",
         "name": "[concat(parameters('KeyVaultName'), '/', variables('secretName'))]",
         "dependsOn": [
            "[resourceId('Microsoft.KeyVault/vaults', parameters('KeyVaultName'))]"
         ],
         "properties": {
            "value": "[parameters('secretValue')]",
            "contentType": "string",
            "attributes": {
               "enabled": true
            }
         }
      },
      {
         "type": "Microsoft.Web/connections",
         "apiVersion": "2016-06-01",
         "name": "[variables('KeyVaultConnectionName')]",
         "location": "[resourceGroup().location]",
         "kind": "V1",
         "properties": {
            "displayName": "[parameters('PlaybookName')]",
            "customParameterValues": {},
            "parameterValueType": "Alternative",
            "alternativeParameterValues": {
               "vaultName": "[parameters('KeyVaultName')]"
            },
            "api": {
               "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
            }
         }
      },
      {
         "type":"Microsoft.Logic/workflows",
         "apiVersion":"2017-07-01",
         "name":"[parameters('PlaybookName')]",
         "location":"[resourceGroup().location]",
         "tags":{
            "hidden-SentinelTemplateName":"BlockIP-PAN-OS-ResponseFromTeams",
            "hidden-SentinelTemplateVersion":"1.0"
         },
         "identity":{
            "type":"SystemAssigned"
         },
         "dependsOn":[
            "[resourceId('Microsoft.Web/connections', variables('PaloAltoConnectorConnectionName'))]",
            "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
            "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
            "[resourceId('Microsoft.Web/connections', variables('KeyVaultConnectionName'))]"
         ],
         "properties":{
            "state":"Enabled",
            "definition":{
               "$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
               "contentVersion":"1.0.0.0",
               "parameters":{
                  "$connections":{
                     "defaultValue":{

                     },
                     "type":"Object"
                  }
               },
               "triggers":{
                  "When_Azure_Sentinel_incident_creation_rule_was_triggered_(Private_Preview_only)":{
                     "type":"ApiConnectionWebhook",
                     "inputs":{
                        "body":{
                           "callback_url":"@{listCallbackUrl()}"
                        },
                        "host":{
                           "connection":{
                              "name":"@parameters('$connections')['azuresentinel']['connectionId']"
                           }
                        },
                        "path":"/incident-creation"
                     }
                  }
               },
               "actions":{
                  "Compose_product_name": {
                     "description": "compose to select the incident alert product name",
                     "inputs": "@body('Select_alert_product_names')?[0]?['text']",
                     "runAfter": {
                        "Select_alert_product_names": [
                           "Succeeded"
                        ]
                     },
                     "type": "Compose"
                  },
                  "Condition_based_on_the_incident_configuration_from_adaptive_card": {
                     "actions": {
                        "Add_comment_to_incident_(V3)": {
                           "inputs": {
                              "body": {
                                 "incidentArmId": "@triggerBody()?['object']?['id']",
                                 "message": "<p>PAN-OS Playbook ran and performed the following actions:<br>\n@{variables('IPAddressAction')}<br>\n<br>\n<br>\n<br>\nActions taken on Sentinel : Add comment to incident and closure with classification reason &nbsp;@{body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')['data']['incidentStatus']}</p>"
                              },
                              "host": {
                                 "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                 }
                              },
                              "method": "post",
                              "path": "/Incidents/Comment"
                           },
                           "runAfter": {},
                           "type": "ApiConnection"
                        },
                        "Update_incident": {
                           "inputs": {
                              "body": {
                                 "classification": {
                                    "ClassificationAndReason": "@{body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')['data']['incidentStatus']}"
                                 },
                                 "incidentArmId": "@triggerBody()?['object']?['id']",
                                 "severity": "@{body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')['data']['incidentSeverity']}",
                                 "status": "Closed"
                              },
                              "host": {
                                 "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                 }
                              },
                              "method": "put",
                              "path": "/Incidents"
                           },
                           "runAfter": {
                              "Add_comment_to_incident_(V3)": [
                                 "Succeeded"
                              ]
                           },
                           "type": "ApiConnection"
                        }
                     },
                     "description": "This decides the action taken on the summarized adaptive card",
                     "expression": {
                        "and": [
                           {
                              "equals": [
                                 "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')['submitActionId']",
                                 "Change incident configuration"
                              ]
                           }
                        ]
                     },
                     "runAfter": {
                        "Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response": [
                           "Succeeded"
                        ]
                     },
                     "type": "If"
                  },
                  "Entities_-_Get_IPs": {
                     "inputs": {
                        "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                        "host": {
                           "connection": {
                              "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                           }
                        },
                        "method": "post",
                        "path": "/entities/ip"
                     },
                     "runAfter": {
                        "Get_secret": [
                           "Succeeded"
                        ]
                     },
                     "type": "ApiConnection"
                  },
                  "For_each_malicious_IP": {
                     "actions": {
                        "Condition_based_on_user_inputs_from_the_adaptive_card": {
                           "actions": {
                              "Condition__to_check_if_user_chosen_Block_IP": {
                                 "actions": {
                                    "Create_an_address_object": {
                                       "description": "This creates a new address object for the malicious IP",
                                       "inputs": {
                                          "body": {
                                             "entry": {
                                                "@@name": "@items('For_each_malicious_IP')?['Address']",
                                                "description": "@items('For_each_malicious_IP')?['Address']",
                                                "ip-netmask": "@items('For_each_malicious_IP')?['Address']"
                                             }
                                          },
                                          "headers": {
                                             "X-PAN-KEY": "@body('Get_secret')?['value']"
                                          },
                                          "host": {
                                             "connection": {
                                                "name": "@parameters('$connections')['PaloAltoConnector']['connectionId']"
                                             }
                                          },
                                          "method": "post",
                                          "path": "/restapi/v10.0/Objects/Addresses",
                                          "queries": {
                                             "X-PAN-KEY": "@body('Get_secret')?['value']",
                                             "address type": "ip-netmask",
                                             "location": "vsys",
                                             "name": "@items('For_each_malicious_IP')?['Address']",
                                             "vsys": "vsys1"
                                          }
                                       },
                                       "runAfter": {},
                                       "type": "ApiConnection"
                                    }
                                 },
                                 "description": "This check if user chooses Block IP",
                                 "expression": {
                                    "and": [
                                       {
                                          "equals": [
                                             "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response_3')['submitActionId']",
                                             "Block IP ( add to @{outputs('Configured_address_group')} address group )"
                                          ]
                                       },
                                       {
                                          "equals": [
                                             "@length(body('Filter_array_of_Ip_address_from_list_of_address_objects'))",
                                             0
                                          ]
                                       }
                                    ]
                                 },
                                 "runAfter": {},
                                 "type": "If"
                              },
                              "Condition_to_check_the_edit_an_address_object_group_status": {
                                 "actions": {
                                    "Condition_to_check_the_action_of_adaptive_card_to_set_the_action_summary": {
                                       "actions": {
                                          "Append_success_status_Blocked_IP_status_to_summary_card": {
                                             "description": "append action taken to summarize on the adaptive card",
                                             "inputs": {
                                                "name": "IPAddressAction",
                                                "value": "IP Address : @{items('For_each_malicious_IP')?['Address']} ,  Action Taken :  Blocked  by               \n                       adding to @{outputs('Configured_address_group')}  ,  Status  :  Success"
                                             },
                                             "runAfter": {},
                                             "type": "AppendToArrayVariable"
                                          }
                                       },
                                       "else": {
                                          "actions": {
                                             "Append_success_status_UnBlocked_IP_status_to_summary_card": {
                                                "description": "append action taken to summarize on the adaptive card",
                                                "inputs": {
                                                   "name": "IPAddressAction",
                                                   "value": "IP Address : @{items('For_each_malicious_IP')?['Address']} ,  Action Taken :  UnBlocked  by      \n                                  removing from @{outputs('Configured_address_group')}  ,  Status  :  Success"
                                                },
                                                "runAfter": {},
                                                "type": "AppendToArrayVariable"
                                             }
                                          }
                                       },
                                       "expression": {
                                          "and": [
                                             {
                                                "equals": [
                                                   "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response_3')['submitActionId']",
                                                   "Block IP ( add to @{outputs('Configured_address_group')} address group )"
                                                ]
                                             }
                                          ]
                                       },
                                       "runAfter": {},
                                       "type": "If"
                                    }
                                 },
                                 "else": {
                                    "actions": {
                                       "Append_failure_status_to_summary_card": {
                                          "description": "append action taken to summarize on the adaptive card",
                                          "inputs": {
                                             "name": "IPAddressAction",
                                             "value": "IP Address : @{items('For_each_malicious_IP')?['Address']} ,  Action Taken :  @{body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response_3')['submitActionId']} ,  Status         :  Failure"
                                          },
                                          "runAfter": {},
                                          "type": "AppendToArrayVariable"
                                       }
                                    }
                                 },
                                 "expression": {
                                    "and": [
                                       {
                                          "equals": [
                                             "@body('Update_an_address_object_group')?['@status']",
                                             "success"
                                          ]
                                       }
                                    ]
                                 },
                                 "runAfter": {
                                    "Update_an_address_object_group": [
                                       "Succeeded"
                                    ]
                                 },
                                 "type": "If"
                              },
                              "Update_an_address_object_group": {
                                 "inputs": {
                                    "body": {
                                       "entry": {
                                          "@@name": "AddressGroup",
                                          "static": {
                                             "member": "@variables('AddressGroupMembers')"
                                          }
                                       }
                                    },
                                    "headers": {
                                       "X-PAN-KEY": "@body('Get_secret')?['value']"
                                    },
                                    "host": {
                                       "connection": {
                                          "name": "@parameters('$connections')['PaloAltoConnector']['connectionId']"
                                       }
                                    },
                                    "method": "put",
                                    "path": "/restapi/v10.0/Objects/AddressGroups",
                                    "queries": {
                                       "location": "vsys",
                                       "name": "AddressGroup",
                                       "vsys": "vsys1"
                                    }
                                 },
                                 "runAfter": {
                                    "Condition__to_check_if_user_chosen_Block_IP": [
                                       "Succeeded"
                                    ]
                                 },
                                 "type": "ApiConnection"
                              }
                           },
                           "description": "condition to check the submit action is block / unblock or Ignore",
                           "else": {
                              "actions": {
                                 "Append_to_array_variable_Ip_address_action_chosen": {
                                    "description": "This appends the action taken on IP to the list of existing actions",
                                    "inputs": {
                                       "name": "IPAddressAction",
                                       "value": "IP Address : @{items('For_each_malicious_IP')?['Address']} ,  Action Taken :  @{body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response_3')['submitActionId']} ,  Status :  Success                                               "
                                    },
                                    "runAfter": {},
                                    "type": "AppendToArrayVariable"
                                 }
                              }
                           },
                           "expression": {
                              "and": [
                                 {
                                    "not": {
                                       "equals": [
                                          "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response_3')['submitActionId']",
                                          "Ignore"
                                       ]
                                    }
                                 }
                              ]
                           },
                           "runAfter": {
                              "Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response_3": [
                                 "Succeeded"
                              ]
                           },
                           "type": "If"
                        },
                        "Condition_to_check_if_Ip_address_already_present_in_list_of_address_objects": {
                           "actions": {
                              "Condition_to_check_if_Ip_already_present_in_predefined_address_group": {
                                 "actions": {
                                    "Append_address_group_text": {
                                       "description": "append address group text to adaptive card dynamically",
                                       "inputs": {
                                          "name": "AdaptiveCardBody",
                                          "value": {
                                             "text": "The IP  @{items('For_each_malicious_IP')?['Address']} is already a member of the blocked address group @{outputs('Configured_address_group')}",
                                             "type": "TextBlock",
                                             "wrap": true
                                          }
                                       },
                                       "runAfter": {},
                                       "type": "AppendToArrayVariable"
                                    },
                                    "Filter_array_IP_address_from_the_list_of_address_objects_to_unreference": {
                                       "description": "This filters the IP address from predefined address group to unreference/unblock IP",
                                       "inputs": {
                                          "from": "@variables('AddressGroupMembers')",
                                          "where": "@not(equals(item(), items('For_each_malicious_IP')?['Address']))"
                                       },
                                       "runAfter": {
                                          "Set_dynamic_action_name": [
                                             "Succeeded"
                                          ]
                                       },
                                       "type": "Query"
                                    },
                                    "Set_dynamic_action_name": {
                                       "description": "variable to set action name dynamically",
                                       "inputs": {
                                          "name": "ActionName",
                                          "value": "UnBlock IP"
                                       },
                                       "runAfter": {
                                          "Append_address_group_text": [
                                             "Succeeded"
                                          ]
                                       },
                                       "type": "SetVariable"
                                    },
                                    "unreference_IP_address_from_the_existing_group_members": {
                                       "description": "unreference IP address from the group members and update",
                                       "inputs": {
                                          "name": "AddressGroupMembers",
                                          "value": "@body('Filter_array_IP_address_from_the_list_of_address_objects_to_unreference')"
                                       },
                                       "runAfter": {
                                          "Filter_array_IP_address_from_the_list_of_address_objects_to_unreference": [
                                             "Succeeded"
                                          ]
                                       },
                                       "type": "SetVariable"
                                    }
                                 },
                                 "description": "condition to check the malicious IP address is present in the predefined address group and the IP is part of static member",
                                 "else": {
                                    "actions": {
                                       "Append_IP_address_to_the_address_group_members": {
                                          "description": "append IP address to the address group members",
                                          "inputs": {
                                             "name": "AddressGroupMembers",
                                             "value": "@items('For_each_malicious_IP')?['Address']"
                                          },
                                          "runAfter": {
                                             "Append_address_group_text_to_adaptive_card_body": [
                                                "Succeeded"
                                             ]
                                          },
                                          "type": "AppendToArrayVariable"
                                       },
                                       "Append_address_group_text_to_adaptive_card_body": {
                                          "description": "append address group text to adaptive card dynamically",
                                          "inputs": {
                                             "name": "AdaptiveCardBody",
                                             "value": {
                                                "text": "The IP  @{items('For_each_malicious_IP')?['Address']} is not a member of the blocked address group @{outputs('Configured_address_group')}",
                                                "type": "TextBlock",
                                                "wrap": true
                                             }
                                          },
                                          "runAfter": {},
                                          "type": "AppendToArrayVariable"
                                       },
                                       "Set_dynamic_action_name_to_variable_Action_name": {
                                          "description": "set action name dynamically",
                                          "inputs": {
                                             "name": "ActionName",
                                             "value": "Block IP"
                                          },
                                          "runAfter": {
                                             "Append_IP_address_to_the_address_group_members": [
                                                "Succeeded"
                                             ]
                                          },
                                          "type": "SetVariable"
                                       }
                                    }
                                 },
                                 "expression": {
                                    "and": [
                                       {
                                          "contains": [
                                             "@variables('AddressGroupMembers')",
                                             "@items('For_each_malicious_IP')?['Address']"
                                          ]
                                       }
                                    ]
                                 },
                                 "runAfter": {},
                                 "type": "If"
                              }
                           },
                           "description": "This checks if Ip is a member of any of the list of address objects",
                           "else": {
                              "actions": {
                                 "Append_IP_to_array_of_address_group_members": {
                                    "description": "append the Malicious IP address to the existing group members to block / unblock from the predefined address group",
                                    "inputs": {
                                       "name": "AddressGroupMembers",
                                       "value": "@items('For_each_malicious_IP')?['Address']"
                                    },
                                    "runAfter": {
                                       "Append_to_array_variable_text_if_IP_is_not_a_member_of_blocked_address_group": [
                                          "Succeeded"
                                       ]
                                    },
                                    "type": "AppendToArrayVariable"
                                 },
                                 "Append_to_array_variable_text_if_IP_is_not_a_member_of_blocked_address_group": {
                                    "description": "This appends the text to display If Ip is not a member of security policy rules",
                                    "inputs": {
                                       "name": "AdaptiveCardBody",
                                       "value": {
                                          "text": "The IP  @{items('For_each_malicious_IP')?['Address']} is not a member of the blocked address group @{outputs('Configured_address_group')}",
                                          "type": "TextBlock",
                                          "wrap": true
                                       }
                                    },
                                    "runAfter": {},
                                    "type": "AppendToArrayVariable"
                                 },
                                 "Set_variable_to_Block_Ip": {
                                    "description": "This sets the variable block IP",
                                    "inputs": {
                                       "name": "ActionName",
                                       "value": "Block IP"
                                    },
                                    "runAfter": {
                                       "Append_IP_to_array_of_address_group_members": [
                                          "Succeeded"
                                       ]
                                    },
                                    "type": "SetVariable"
                                 }
                              }
                           },
                           "expression": {
                              "and": [
                                 {
                                    "greater": [
                                       "@length(body('Filter_array_of_Ip_address_from_list_of_address_objects'))",
                                       0
                                    ]
                                 }
                              ]
                           },
                           "runAfter": {
                              "Condition_to_check_if_the_IP_is_a_part_of_security_policy_rules": [
                                 "Succeeded"
                              ]
                           },
                           "type": "If"
                        },
                        "Condition_to_check_if_the_IP_is_a_part_of_security_policy_rules": {
                           "actions": {
                              "Append_policy_text": {
                                 "description": "dynamic policy text based on security policies",
                                 "inputs": {
                                    "name": "AdaptiveCardBody",
                                    "value": {
                                       "text": "It is also member of the following security policy rules",
                                       "type": "TextBlock"
                                    }
                                 },
                                 "runAfter": {},
                                 "type": "AppendToArrayVariable"
                              },
                              "Append_security_policies": {
                                 "description": "append security policies which the IP address is exist",
                                 "inputs": {
                                    "name": "AdaptiveCardBody",
                                    "value": {
                                       "columns": [
                                          {
                                             "items": "@body('Select_security_policy_rules')",
                                             "type": "Column"
                                          }
                                       ],
                                       "type": "ColumnSet"
                                    }
                                 },
                                 "runAfter": {
                                    "Append_policy_text": [
                                       "Succeeded"
                                    ]
                                 },
                                 "type": "AppendToArrayVariable"
                              }
                           },
                           "description": "condition to check if the IP address is present in the existing security policy rules to conditionally apply the policy text and security policy rules",
                           "else": {
                              "actions": {
                                 "Append_policy_text_to_adaptive_card_body_variable": {
                                    "description": "dynamic policy text based on security policies",
                                    "inputs": {
                                       "name": "AdaptiveCardBody",
                                       "value": {
                                          "text": "It is not a member of any other Policy Rules",
                                          "type": "TextBlock"
                                       }
                                    },
                                    "runAfter": {},
                                    "type": "AppendToArrayVariable"
                                 },
                                 "Append_security_policies_to_adaptive_card_body_variable": {
                                    "description": "append security policies which the IP address is exist",
                                    "inputs": {
                                       "name": "AdaptiveCardBody",
                                       "value": {}
                                    },
                                    "runAfter": {
                                       "Append_policy_text_to_adaptive_card_body_variable": [
                                          "Succeeded"
                                       ]
                                    },
                                    "type": "AppendToArrayVariable"
                                 }
                              }
                           },
                           "expression": {
                              "and": [
                                 {
                                    "greater": [
                                       "@length(body('Select_security_policy_rules'))",
                                       0
                                    ]
                                 }
                              ]
                           },
                           "runAfter": {
                              "Select_security_policy_rules": [
                                 "Succeeded"
                              ]
                           },
                           "type": "If"
                        },
                        "Configured_address_group": {
                           "description": "compose predefined address group",
                           "inputs": "@body('List_address_groups')?['result']?['entry']?[0]?['@name']",
                           "runAfter": {
                              "Set_variable_address_group_members": [
                                 "Succeeded"
                              ]
                           },
                           "type": "Compose"
                        },
                        "Filter_array_Ip_from_list_of_security_rules": {
                           "description": "This filters all the security rules in which this Ip is a member",
                           "inputs": {
                              "from": "@body('List_security_rules')?['result']?['entry']",
                              "where": "@contains(item()?['source']?['member'], items('For_each_malicious_IP')?['Address'])"
                           },
                           "runAfter": {
                              "Configured_address_group": [
                                 "Succeeded"
                              ]
                           },
                           "type": "Query"
                        },
                        "Filter_array_of_Ip_address_from_list_of_address_objects": {
                           "description": "This filters the list of address objects in which this Ip is a member ",
                           "inputs": {
                              "from": "@body('List_address_objects')?['result']?['entry']",
                              "where": "@equals(item()?['ip-netmask'], items('For_each_malicious_IP')?['Address'])"
                           },
                           "runAfter": {
                              "Set_variable_adaptive_card_body": [
                                 "Succeeded"
                              ]
                           },
                           "type": "Query"
                        },
                        "List_address_groups": {
                           "description": "This gets complete list of address object groups present in the PAN-OS",
                           "inputs": {
                              "headers": {
                                 "X-PAN-KEY": "@body('Get_secret')?['value']"
                              },
                              "host": {
                                 "connection": {
                                    "name": "@parameters('$connections')['PaloAltoConnector']['connectionId']"
                                 }
                              },
                              "method": "get",
                              "path": "/restapi/v10.0/Objects/AddressGroups",
                              "queries": {
                                 "location": "vsys",
                                 "name": "AddressGroup",
                                 "vsys": "vsys1"
                              }
                           },
                           "runAfter": {
                              "Filter_array_of_Ip_address_from_list_of_address_objects": [
                                 "Succeeded"
                              ]
                           },
                           "type": "ApiConnection"
                        },
                        "Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response_3": {
                           "inputs": {
                              "body": {
                                 "body": {
                                    "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"body\":@{variables('AdaptiveCardBody')} ,\n     \"actions\": [\n  {\n    \"title\": \"@{variables('ActionName')} ( add to @{outputs('Configured_address_group')} address group )\",\n    \"type\": \"Action.Submit\"\n  },\n  {\n    \"title\": \"Ignore\",\n    \"type\": \"Action.Submit\"\n  }\n],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}",
                                    "recipient": {
                                       "channelId": "TeamChannelId"
                                    },
                                    "shouldUpdateCard": true
                                 },
                                 "notificationUrl": "@{listCallbackUrl()}"
                              },
                              "host": {
                                 "connection": {
                                    "name": "@parameters('$connections')['teams']['connectionId']"
                                 }
                              },
                              "path": "/flowbot/actions/flowcontinuation/recipienttypes/channel/$subscriptions",
                              "queries": {
                                 "groupId": "TeamgroupId"
                              }
                           },
                           "runAfter": {
                              "Condition_to_check_if_Ip_address_already_present_in_list_of_address_objects": [
                                 "Succeeded"
                              ]
                           },
                           "type": "ApiConnectionWebhook"
                        },
                        "Select_security_policy_rules": {
                           "description": "prepare columns list to show the security policy rules in the adaptive card if IP address is present",
                           "inputs": {
                              "from": "@body('Filter_array_Ip_from_list_of_security_rules')",
                              "select": {
                                 "text": " @{item()?['@name']}, action :  @{item()?['action']}",
                                 "type": "TextBlock",
                                 "weight": "bolder"
                              }
                           },
                           "runAfter": {
                              "Filter_array_Ip_from_list_of_security_rules": [
                                 "Succeeded"
                              ]
                           },
                           "type": "Select"
                        },
                        "Set_variable_adaptive_card_body": {
                           "description": "variable to hold adaptive card body",
                           "inputs": {
                              "name": "AdaptiveCardBody",
                              "value": [
                                 {
                                    "size": "Large",
                                    "text": "Suspicious IP - Azure Sentinel",
                                    "type": "TextBlock",
                                    "weight": "Bolder",
                                    "wrap": true
                                 },
                                 {
                                    "text": "Possible Comprised IP @{items('For_each_malicious_IP')?['Address']} detected by the provider  :  @{outputs('Compose_product_name')}",
                                    "type": "TextBlock",
                                    "wrap": true
                                 },
                                 {
                                    "text": " @{triggerBody()?['object']?['properties']?['severity']} Incident @{triggerBody()?['object']?['properties']?['title']} ",
                                    "type": "TextBlock",
                                    "weight": "Bolder",
                                    "wrap": true
                                 },
                                 {
                                    "text": " Incident No : @{triggerBody()?['object']?['properties']?['incidentNumber']}  ",
                                    "type": "TextBlock",
                                    "weight": "Bolder",
                                    "wrap": true
                                 },
                                 {
                                    "text": "Incident description",
                                    "type": "TextBlock",
                                    "weight": "Bolder",
                                    "wrap": true
                                 },
                                 {
                                    "text": "@{triggerBody()?['object']?['properties']?['description']}",
                                    "type": "TextBlock",
                                    "wrap": true
                                 },
                                 {
                                    "text": "[[[Click here to view the Incident](@{triggerBody()?['object']?['properties']?['incidentUrl']})",
                                    "type": "TextBlock",
                                    "wrap": true
                                 },
                                 {
                                    "size": "Medium",
                                    "text": "Response in PAN-OS",
                                    "type": "TextBlock",
                                    "weight": "Bolder"
                                 },
                                 {
                                    "size": "Small",
                                    "style": "Person",
                                    "type": "Image",
                                    "url": "https://avatars2.githubusercontent.com/u/4855743?s=280&v=4"
                                 }
                              ]
                           },
                           "runAfter": {},
                           "type": "SetVariable"
                        },
                        "Set_variable_address_group_members": {
                           "description": "assign list of address group members",
                           "inputs": {
                              "name": "AddressGroupMembers",
                              "value": "@body('List_address_groups')?['result']?['entry']?[0]?['static']?['member']"
                           },
                           "runAfter": {
                              "List_address_groups": [
                                 "Succeeded"
                              ]
                           },
                           "type": "SetVariable"
                        }
                     },
                     "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                     "runAfter": {
                        "List_security_rules": [
                           "Succeeded"
                        ]
                     },
                     "runtimeConfiguration": {
                        "concurrency": {
                           "repetitions": 1
                        }
                     },
                     "type": "Foreach"
                  },
                  "Get_secret": {
                     "inputs": {
                        "host": {
                           "connection": {
                              "name": "@parameters('$connections')['keyvault']['connectionId']"
                           }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('X-PAN-KEY')}/value"
                     },
                     "runAfter": {},
                     "runtimeConfiguration": {
                        "secureData": {
                           "properties": [
                              "outputs"
                           ]
                        }
                     },
                     "type": "ApiConnection"
                  },
                  "Initialize_variable_IP_address_action": {
                     "description": "This holds the action taken on each IP ",
                     "inputs": {
                        "variables": [
                           {
                              "name": "IPAddressAction",
                              "type": "array"
                           }
                        ]
                     },
                     "runAfter": {
                        "Initialize_variable_address_group_members": [
                           "Succeeded"
                        ]
                     },
                     "type": "InitializeVariable"
                  },
                  "Initialize_variable_action_name": {
                     "description": "variable to store action name to be displayed on adaptive card",
                     "inputs": {
                        "variables": [
                           {
                              "name": "ActionName",
                              "type": "string"
                           }
                        ]
                     },
                     "runAfter": {
                        "Entities_-_Get_IPs": [
                           "Succeeded"
                        ]
                     },
                     "type": "InitializeVariable"
                  },
                  "Initialize_variable_adaptive_card_body": {
                     "description": "variable to store adaptive card body json",
                     "inputs": {
                        "variables": [
                           {
                              "name": "AdaptiveCardBody",
                              "type": "array"
                           }
                        ]
                     },
                     "runAfter": {
                        "Initialize_variable_action_name": [
                           "Succeeded"
                        ]
                     },
                     "type": "InitializeVariable"
                  },
                  "Initialize_variable_address_group_members": {
                     "description": "variable to store the list of address group members",
                     "inputs": {
                        "variables": [
                           {
                              "name": "AddressGroupMembers",
                              "type": "array"
                           }
                        ]
                     },
                     "runAfter": {
                        "Initialize_variable_adaptive_card_body": [
                           "Succeeded"
                        ]
                     },
                     "type": "InitializeVariable"
                  },
                  "List_address_objects": {
                     "description": "This gets complete list of address object present in the PAN-OS",
                     "inputs": {
                        "header": {
                           "X-PAN-KEY": "@body('Get_secret')?['value']"
                        },
                        "headers": {
                           "X-PAN-KEY": "@body('Get_secret')?['value']"
                        },
                        "host": {
                           "connection": {
                              "name": "@parameters('$connections')['PaloAltoConnector']['connectionId']"
                           }
                        },
                        "method": "get",
                        "path": "/restapi/v10.0/Objects/Addresses",
                        "queries": {
                           "location": "vsys",
                           "vsys": "vsys1"
                        }
                     },
                     "runAfter": {
                        "Compose_product_name": [
                           "Succeeded"
                        ]
                     },
                     "type": "ApiConnection"
                  },
                  "List_security_rules": {
                     "description": "This gets complete list of security policy rules present in the PAN-OS",
                     "inputs": {
                        "headers": {
                           "X-PAN-KEY": "@body('Get_secret')?['value']"
                        },
                        "host": {
                           "connection": {
                              "name": "@parameters('$connections')['PaloAltoConnector']['connectionId']"
                           }
                        },
                        "method": "get",
                        "path": "/restapi/v10.0/Policies/SecurityRules",
                        "queries": {
                           "location": "vsys",
                           "vsys": "vsys1"
                        }
                     },
                     "runAfter": {
                        "List_address_objects": [
                           "Succeeded"
                        ]
                     },
                     "type": "ApiConnection"
                  },
                  "Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response": {
                     "inputs": {
                        "body": {
                           "body": {
                              "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n           \n            \"weight\": \"Bolder\",\n            \"text\": \"Below is the summary of actions taken on IP's by SOC\",\n            \"wrap\": true\n        },\n    {\n  \"columns\": [\n    {\n      \"items\":@{body('Set_variable_actions_on_IP_to_be_displayed_on_adaptive_card')} ,\n      \"type\": \"Column\",\n      \"wrap\": true\n    }\n  ],\n  \"separator\": \"true\",\n  \"type\": \"ColumnSet\",\n  \"width\": \"stretch\"\n},\n {\n    \"text\": \" Incident No : @{triggerBody()?['object']?['properties']?['incidentNumber']}  \",\n    \"type\": \"TextBlock\",\n    \"weight\": \"Bolder\",\n    \"wrap\": true\n  },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"[Click here to view the Incident](@{triggerBody()?['object']?['properties']?['incidentUrl']})\",\n            \"wrap\": true\n        },\n\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"size\": \"Medium\",\n                            \"weight\": \"Bolder\",\n                            \"text\": \"Incident configuration :\",\n                            \"wrap\": true\n                        }\n                    ],\n                    \"width\": \"auto\"\n                }\n            ]\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"style\": \"Person\",\n                            \"url\": \"https://connectoricons-prod.azureedge.net/releases/v1.0.1391/1.0.1391.2130/azuresentinel/icon.png\",\n                            \"size\": \"Small\"\n                        }\n                    ],\n                    \"width\": \"auto\"\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Close Azure Sentinal incident?\"\n        },\n        {\n            \"choices\": [\n                {\n                    \"isSelected\": true,\n                    \"title\": \"False Positive - Inaccurate Data\",\n                    \"value\": \"False Positive - Inaccurate Data\"\n                },\n                {\n                    \"isSelected\": true,\n                    \"title\": \"False Positive - Incorrect Alert Logic\",\n                    \"value\": \"False Positive - Incorrect Alert Logic\"\n                },\n                {\n                    \"title\": \"True Positive - Suspicious Activity\",\n                    \"value\": \"True Positive - Suspicious Activity\"\n                },\n                {\n                    \"title\": \"Benign Positive - Suspicious But Expected\",\n                    \"value\": \"Benign Positive - Suspicious But Expected\"\n                },\n                {\n                    \"title\": \"Undetermined\",\n                    \"value\": \"Undetermined\"\n                }\n            ],\n            \"id\": \"incidentStatus\",\n            \"style\": \"compact\",\n            \"type\": \"Input.ChoiceSet\",\n            \"value\": \"Benign Positive - Suspicious But Expected\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Change Azure Sentinel Incident Severity?\"\n        },\n        {\n            \"choices\": [\n                {\n                  \n                    \"title\": \"High\",\n                    \"value\": \"High\"\n                },\n                {\n                    \"title\": \"Medium\",\n                    \"value\": \"Medium\"\n                },\n                {\n                    \"title\": \"Low\",\n                    \"value\": \"Low\"\n                },\n                {\n                    \"title\": \"Don't change\",\n                    \"value\": \"same\"\n                }\n            ],\n            \"id\": \"incidentSeverity\",\n            \"style\": \"compact\",\n            \"type\": \"Input.ChoiceSet\",\n            \"value\": \"@{triggerBody()?['object']?['properties']?['severity']}\"\n        }\n       \n     \n        \n    ],\n\"width\":\"auto\",\n   \"actions\": [\n                    {\n                        \"type\": \"Action.Submit\",\n                        \"title\": \"Change incident configuration\"\n                    },\n{\n                        \"type\": \"Action.Submit\",\n                        \"title\": \"Ignore\"\n                    }\n   ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}",
                              "recipient": {
                                 "channelId": "TeamChannelId"
                              },
                              "shouldUpdateCard": true
                           },
                           "notificationUrl": "@{listCallbackUrl()}"
                        },
                        "host": {
                           "connection": {
                              "name": "@parameters('$connections')['teams']['connectionId']"
                           }
                        },
                        "path": "/flowbot/actions/flowcontinuation/recipienttypes/channel/$subscriptions",
                        "queries": {
                           "groupId": "TeamgroupId"
                        }
                     },
                     "runAfter": {
                        "Set_variable_actions_on_IP_to_be_displayed_on_adaptive_card": [
                           "Succeeded"
                        ]
                     },
                     "type": "ApiConnectionWebhook"
                  },
                  "Select_alert_product_names": {
                     "description": "data operator to select the alert product name",
                     "inputs": {
                        "from": "@triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames']",
                        "select": {
                           "text": "@item()"
                        }
                     },
                     "runAfter": {
                        "Initialize_variable_IP_address_action": [
                           "Succeeded"
                        ]
                     },
                     "type": "Select"
                  },
                  "Set_variable_actions_on_IP_to_be_displayed_on_adaptive_card": {
                     "description": "This is used to compose the list of actions taken by SOC on respective IP addresses",
                     "inputs": {
                        "from": "@variables('IPAddressAction')",
                        "select": {
                           "text": "@item()",
                           "type": "TextBlock"
                        }
                     },
                     "runAfter": {
                        "For_each_malicious_IP": [
                           "Succeeded"
                        ]
                     },
                     "type": "Select"
                  }
               },
               "outputs":{

               }
            },
            "parameters":{
               "$connections":{
                  "value":{
                     "PaloAltoConnector":{
                        "connectionId":"[resourceId('Microsoft.Web/connections', variables('PaloAltoConnectorConnectionName'))]",
                        "connectionName":"[variables('PaloAltoConnectorConnectionName')]",
                        "id":"[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/', parameters('CustomConnectorName'))]"
                     },
                     "azuresentinel":{
                        "connectionId":"[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                        "connectionName":"[variables('AzureSentinelConnectionName')]",
                        "id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                        "connectionProperties":{
                           "authentication":{
                              "type":"ManagedServiceIdentity"
                           }
                        }
                     },
                     "keyvault": {
                        "connectionId": "[resourceId('Microsoft.Web/connections', variables('KeyVaultConnectionName'))]",
                        "connectionName": "[variables('KeyVaultConnectionName')]",
                        "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]",
                        "connectionProperties": {
                           "authentication": {
                              "type": "ManagedServiceIdentity"
                           }
                        }
                     },
                     "teams": {
                        "connectionId": "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
                        "connectionName": "[variables('TeamsConnectionName')]",
                        "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
                     }
                  }
               }
            }
         }
      }
   ]
}