Solutions/PRODAFT USTA - Account Takeover Prevention/Package/mainTemplate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "author": "PRODAFT - integration@prodaft.com",
    "comments": "Solution template for PRODAFT USTA - Account Takeover Prevention"
  },
  "parameters": {
    "location": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Not used, but needed to pass arm-ttk test `Location-Should-Not-Be-Hardcoded`.  We instead use the `workspace-location` which is derived from the LA workspace"
      }
    },
    "workspace-location": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "[concat('Region to deploy solution resources -- separate from location selection',parameters('location'))]"
      }
    },
    "workspace": {
      "defaultValue": "",
      "type": "string",
      "metadata": {
        "description": "Workspace name for Log Analytics where Microsoft Sentinel is setup"
      }
    },
    "workbook1-name": {
      "type": "string",
      "defaultValue": "PRODAFT USTA - Account Takeover Prevention",
      "minLength": 1,
      "metadata": {
        "description": "Name for the workbook"
      }
    },
    "resourceGroupName": {
      "type": "string",
      "defaultValue": "[resourceGroup().name]",
      "metadata": {
        "description": "resource group name where Microsoft Sentinel is setup"
      }
    },
    "subscription": {
      "type": "string",
      "defaultValue": "[last(split(subscription().id, '/'))]",
      "metadata": {
        "description": "subscription id where Microsoft Sentinel is setup"
      }
    }
  },
  "variables": {
    "email": "integration@prodaft.com",
    "_email": "[variables('email')]",
    "_solutionName": "PRODAFT USTA - Account Takeover Prevention",
    "_solutionVersion": "3.0.0",
    "solutionId": "prodaft.azure-sentinel-solution-prodaft-usta-atp",
    "_solutionId": "[variables('solutionId')]",
    "workbookVersion1": "1.0.0",
    "workbookContentId1": "PRODAFTUstaATPWorkbook",
    "workbookId1": "[resourceId('Microsoft.Insights/workbooks', variables('workbookContentId1'))]",
    "workbookTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-wb-',uniquestring(variables('_workbookContentId1'))))]",
    "_workbookContentId1": "[variables('workbookContentId1')]",
    "workspaceResourceId": "[resourceId('microsoft.OperationalInsights/Workspaces', parameters('workspace'))]",
    "_workbookcontentProductId1": "[concat(take(variables('_solutionId'),50),'-','wb','-', uniqueString(concat(variables('_solutionId'),'-','Workbook','-',variables('_workbookContentId1'),'-', variables('workbookVersion1'))))]",
    "analyticRuleObject1": {
      "analyticRuleVersion1": "1.0.0",
      "_analyticRulecontentId1": "9ad6cf22-ffbb-4422-9933-9bbd0104f818",
      "analyticRuleId1": "[resourceId('Microsoft.SecurityInsights/AlertRuleTemplates', '9ad6cf22-ffbb-4422-9933-9bbd0104f818')]",
      "analyticRuleTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-ar-',uniquestring('9ad6cf22-ffbb-4422-9933-9bbd0104f818')))]",
      "_analyticRulecontentProductId1": "[concat(take(variables('_solutionId'),50),'-','ar','-', uniqueString(concat(variables('_solutionId'),'-','AnalyticsRule','-','9ad6cf22-ffbb-4422-9933-9bbd0104f818','-', '1.0.0')))]"
    },
    "analyticRuleObject2": {
      "analyticRuleVersion2": "1.0.0",
      "_analyticRulecontentId2": "5da571b5-54f6-42c2-8c3e-27edd987ceec",
      "analyticRuleId2": "[resourceId('Microsoft.SecurityInsights/AlertRuleTemplates', '5da571b5-54f6-42c2-8c3e-27edd987ceec')]",
      "analyticRuleTemplateSpecName2": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-ar-',uniquestring('5da571b5-54f6-42c2-8c3e-27edd987ceec')))]",
      "_analyticRulecontentProductId2": "[concat(take(variables('_solutionId'),50),'-','ar','-', uniqueString(concat(variables('_solutionId'),'-','AnalyticsRule','-','5da571b5-54f6-42c2-8c3e-27edd987ceec','-', '1.0.0')))]"
    },
    "huntingQueryObject1": {
      "huntingQueryVersion1": "1.0.0",
      "_huntingQuerycontentId1": "c2acc93e-23c8-4d0c-87d7-eee7064e8fec",
      "huntingQueryTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-hq-',uniquestring('c2acc93e-23c8-4d0c-87d7-eee7064e8fec')))]"
    },
    "parserObject1": {
      "_parserName1": "[concat(parameters('workspace'),'/','PRODAFTUstaCompromisedCredentials')]",
      "_parserId1": "[resourceId('Microsoft.OperationalInsights/workspaces/savedSearches', parameters('workspace'), 'PRODAFTUstaCompromisedCredentials')]",
      "parserTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-pr-',uniquestring('PRODAFTUstaCompromisedCredentials-Parser')))]",
      "parserVersion1": "1.0.0",
      "parserContentId1": "PRODAFTUstaCompromisedCredentials-Parser"
    },
    "dataConnectorCCPVersion": "3.0.0",
    "_dataConnectorContentIdConnectorDefinition1": "PRODAFTUstaATPCCPDefinition",
    "dataConnectorTemplateNameConnectorDefinition1": "[concat(parameters('workspace'),'-dc-',uniquestring(variables('_dataConnectorContentIdConnectorDefinition1')))]",
    "_dataConnectorContentIdConnections1": "PRODAFTUstaATPCCPDefinitionConnections",
    "dataConnectorTemplateNameConnections1": "[concat(parameters('workspace'),'-dc-',uniquestring(variables('_dataConnectorContentIdConnections1')))]",
    "dataCollectionEndpointId1": "[concat('/subscriptions/',parameters('subscription'),'/resourceGroups/',parameters('resourceGroupName'),'/providers/Microsoft.Insights/dataCollectionEndpoints/',parameters('workspace'))]",
    "blanks": "[replace('b', 'b', '')]",
    "PRODAFTUstaATP-Backfill": "PRODAFTUstaATP-Backfill",
    "_PRODAFTUstaATP-Backfill": "[variables('PRODAFTUstaATP-Backfill')]",
    "playbookVersion1": "1.0",
    "playbookContentId1": "PRODAFTUstaATP-Backfill",
    "_playbookContentId1": "[variables('playbookContentId1')]",
    "playbookId1": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId1'))]",
    "playbookTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId1'))))]",
    "_playbookcontentProductId1": "[concat(take(variables('_solutionId'),50),'-','pl','-', uniqueString(concat(variables('_solutionId'),'-','Playbook','-',variables('_playbookContentId1'),'-', variables('playbookVersion1'))))]",
    "_solutioncontentProductId": "[concat(take(variables('_solutionId'),50),'-','sl','-', uniqueString(concat(variables('_solutionId'),'-','Solution','-',variables('_solutionId'),'-', variables('_solutionVersion'))))]"
  },
  "resources": [
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('workbookTemplateSpecName1')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "PRODAFTUstaATPOverview Workbook with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('workbookVersion1')]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.Insights/workbooks",
              "name": "[variables('workbookContentId1')]",
              "location": "[parameters('workspace-location')]",
              "kind": "shared",
              "apiVersion": "2021-08-01",
              "metadata": {
                "description": "Gain insights into compromised corporate credentials ingested from PRODAFT USTA Account Takeover Prevention: exposure over time, affected companies, infostealer families, leak sources, and password strength."
              },
              "properties": {
                "displayName": "[parameters('workbook1-name')]",
                "serializedData": "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\":1,\"content\":{\"json\":\"# PRODAFT USTA — Account Takeover Prevention\\n\\nMonitors compromised corporate credentials ingested from the PRODAFT USTA Account Takeover Prevention API. Passwords are never stored — only strength signals (score and length) are retained at ingestion.\\n\\nTime filtering uses **Created** (the event time reported by USTA) so historical backfilled tickets appear on the correct date.\"},\"name\":\"title\"},{\"type\":9,\"content\":{\"version\":\"KqlParameterItem/1.0\",\"parameters\":[{\"id\":\"804f74be-6505-4d37-8113-051548c0cbb4\",\"version\":\"KqlParameterItem/1.0\",\"name\":\"TimeRange\",\"label\":\"Time range\",\"type\":4,\"isRequired\":true,\"value\":{\"durationMs\":7776000000},\"typeSettings\":{\"selectableValues\":[{\"durationMs\":86400000},{\"durationMs\":604800000},{\"durationMs\":2592000000},{\"durationMs\":7776000000}]}}],\"style\":\"pills\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"parameters\"},{\"type\":1,\"content\":{\"json\":\"## Compromised Credentials (ATP)\"},\"name\":\"header-atp\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"PRODAFTUstaCompromisedCredentials\\n| where Created {TimeRange}\\n| summarize Credentials = count() by bin(Created, 1d)\\n| sort by Created asc\",\"size\":0,\"title\":\"Compromised credentials over time\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"timechart\"},\"customWidth\":\"50\",\"name\":\"atp-timechart\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"PRODAFTUstaCompromisedCredentials\\n| where Created {TimeRange}\\n| extend Scope = iff(IsCorporate == true, \\\"Corporate\\\", \\\"Personal\\\")\\n| summarize Count = count() by Scope\",\"size\":0,\"title\":\"Corporate vs personal\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"piechart\"},\"customWidth\":\"50\",\"name\":\"atp-scope\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"PRODAFTUstaCompromisedCredentials\\n| where Created {TimeRange}\\n| summarize Credentials = count() by CompanyName\\n| top 10 by Credentials desc\",\"size\":0,\"title\":\"Top affected companies\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"barchart\"},\"customWidth\":\"50\",\"name\":\"atp-companies\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"PRODAFTUstaCompromisedCredentials\\n| where Created {TimeRange}\\n| where isnotempty(VictimMalware)\\n| summarize Credentials = count() by VictimMalware\\n| top 10 by Credentials desc\",\"size\":0,\"title\":\"Top infostealer families\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"barchart\"},\"customWidth\":\"50\",\"name\":\"atp-malware\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"PRODAFTUstaCompromisedCredentials\\n| where Created {TimeRange}\\n| where isnotempty(Source)\\n| summarize Credentials = count() by Source\",\"size\":0,\"title\":\"Credentials by leak source\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"piechart\"},\"customWidth\":\"50\",\"name\":\"atp-source\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"PRODAFTUstaCompromisedCredentials\\n| where Created {TimeRange}\\n| where isnotempty(PasswordScore)\\n| summarize Credentials = count() by PasswordScore\\n| sort by Credentials desc\",\"size\":0,\"title\":\"Password strength of exposed credentials\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"barchart\"},\"customWidth\":\"50\",\"name\":\"atp-password-strength\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"PRODAFTUstaCompromisedCredentials\\n| where Created {TimeRange}\\n| where IsCorporate == true\\n| project Created, CompanyName, Username, Source, PasswordScore, VictimComputerName, VictimCountry, VictimMalware, InfectionDate, Status\\n| sort by Created desc\\n| take 100\",\"size\":0,\"title\":\"Recent corporate credential tickets\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"table\"},\"name\":\"atp-grid\"}],\"fromTemplateId\":\"sentinel-PRODAFTUstaATPWorkbook\",\"$schema\":\"https://github.com/Microsoft/Application-Insights-Workbooks/blob/master/schema/workbook.json\"}\n",
                "version": "1.0",
                "sourceId": "[variables('workspaceResourceId')]",
                "category": "sentinel"
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Workbook-', last(split(variables('workbookId1'),'/'))))]",
              "properties": {
                "description": "@{workbookKey=PRODAFTUstaATPWorkbook; logoFileName=PRODAFTUstaATP.svg; description=Gain insights into compromised corporate credentials ingested from PRODAFT USTA Account Takeover Prevention: exposure over time, affected companies, infostealer families, leak sources, and password strength.; dataTypesDependencies=System.Object[]; dataConnectorsDependencies=System.Object[]; previewImagesFileNames=System.Object[]; version=1.0.0; title=PRODAFT USTA - Account Takeover Prevention; templateRelativePath=PRODAFTUstaATPOverview.json; subtitle=; provider=PRODAFT}.description",
                "parentId": "[variables('workbookId1')]",
                "contentId": "[variables('_workbookContentId1')]",
                "kind": "Workbook",
                "version": "[variables('workbookVersion1')]",
                "source": {
                  "kind": "Solution",
                  "name": "PRODAFT USTA - Account Takeover Prevention",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                },
                "dependencies": {
                  "operator": "AND",
                  "criteria": [
                    {
                      "contentId": "PRODAFTUstaCompromisedCredentials_CL",
                      "kind": "DataType"
                    },
                    {
                      "contentId": "PRODAFTUstaATPCCPDefinition",
                      "kind": "DataConnector"
                    }
                  ]
                }
              },
              "description": "Monitors compromised corporate credentials ingested from PRODAFT USTA Account Takeover Prevention: exposure over time, affected companies, infostealer families, leak sources, and password strength."
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_workbookContentId1')]",
        "contentKind": "Workbook",
        "displayName": "[parameters('workbook1-name')]",
        "contentProductId": "[variables('_workbookcontentProductId1')]",
        "id": "[variables('_workbookcontentProductId1')]",
        "version": "[variables('workbookVersion1')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('analyticRuleObject1').analyticRuleTemplateSpecName1]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "CorporateCredentialCompromised_AnalyticalRules Analytics Rule with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('analyticRuleObject1').analyticRuleVersion1]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.SecurityInsights/AlertRuleTemplates",
              "name": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
              "apiVersion": "2023-02-01-preview",
              "kind": "Scheduled",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "description": "Identifies a new PRODAFT USTA Account Takeover Prevention ticket that exposes a\ncorporate credential (IsCorporate = true). These typically originate from infostealer\ninfections on a victim host and indicate that a valid corporate identity may be\navailable to threat actors. Investigate the affected account, reset credentials, and\nreview the victim host for malware.",
                "displayName": "PRODAFT USTA - Corporate credential compromised",
                "enabled": false,
                "query": "PRODAFTUstaCompromisedCredentials\n| where Created > ago(1h)\n| where IsCorporate == true\n| project\n    TimeGenerated,\n    Created,\n    TicketId,\n    CompanyName,\n    Username,\n    Url,\n    Source,\n    PasswordScore,\n    VictimComputerName,\n    VictimOs,\n    VictimCountry,\n    VictimIp,\n    VictimMalware,\n    InfectionDate,\n    Status\n",
                "queryFrequency": "PT1H",
                "queryPeriod": "PT1H",
                "severity": "High",
                "suppressionDuration": "PT1H",
                "suppressionEnabled": false,
                "triggerOperator": "GreaterThan",
                "triggerThreshold": 0,
                "status": "Available",
                "requiredDataConnectors": [
                  {
                    "connectorId": "PRODAFTUstaATPCCPDefinition",
                    "dataTypes": [
                      "PRODAFTUstaCompromisedCredentials_CL"
                    ]
                  }
                ],
                "tactics": [
                  "CredentialAccess",
                  "InitialAccess"
                ],
                "techniques": [
                  "T1555",
                  "T1078"
                ],
                "entityMappings": [
                  {
                    "entityType": "Account",
                    "fieldMappings": [
                      {
                        "columnName": "Username",
                        "identifier": "FullName"
                      }
                    ]
                  },
                  {
                    "entityType": "Host",
                    "fieldMappings": [
                      {
                        "columnName": "VictimComputerName",
                        "identifier": "HostName"
                      }
                    ]
                  },
                  {
                    "entityType": "IP",
                    "fieldMappings": [
                      {
                        "columnName": "VictimIp",
                        "identifier": "Address"
                      }
                    ]
                  }
                ],
                "customDetails": {
                  "Malware": "VictimMalware",
                  "Ticket": "TicketId",
                  "PasswordScore": "PasswordScore",
                  "Source": "Source",
                  "Company": "CompanyName"
                },
                "incidentConfiguration": {
                  "createIncident": true,
                  "groupingConfiguration": {
                    "enabled": true,
                    "matchingMethod": "Selected",
                    "reopenClosedIncident": false,
                    "groupByEntities": [
                      "Account"
                    ],
                    "lookbackDuration": "1h"
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('AnalyticsRule-', last(split(variables('analyticRuleObject1').analyticRuleId1,'/'))))]",
              "properties": {
                "description": "PRODAFT USTA - Account Takeover Prevention Analytics Rule 1",
                "parentId": "[variables('analyticRuleObject1').analyticRuleId1]",
                "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
                "kind": "AnalyticsRule",
                "version": "[variables('analyticRuleObject1').analyticRuleVersion1]",
                "source": {
                  "kind": "Solution",
                  "name": "PRODAFT USTA - Account Takeover Prevention",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
        "contentKind": "AnalyticsRule",
        "displayName": "PRODAFT USTA - Corporate credential compromised",
        "contentProductId": "[variables('analyticRuleObject1')._analyticRulecontentProductId1]",
        "id": "[variables('analyticRuleObject1')._analyticRulecontentProductId1]",
        "version": "[variables('analyticRuleObject1').analyticRuleVersion1]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('analyticRuleObject2').analyticRuleTemplateSpecName2]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "CompromisedCredentialUsedInSignin_AnalyticalRules Analytics Rule with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('analyticRuleObject2').analyticRuleVersion2]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.SecurityInsights/AlertRuleTemplates",
              "name": "[variables('analyticRuleObject2')._analyticRulecontentId2]",
              "apiVersion": "2023-02-01-preview",
              "kind": "Scheduled",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "description": "Correlates corporate credentials exposed in PRODAFT USTA Account Takeover Prevention\ntickets with successful Microsoft Entra ID sign-ins for the same user. A successful\nsign-in by an account whose credentials are known to be compromised is a strong signal\nof account takeover. Requires the Microsoft Entra ID (SigninLogs) connector. Username\nmatching is best-effort (case-insensitive) because USTA may record either an email or a\nbare username.",
                "displayName": "PRODAFT USTA - Compromised credential used in successful sign-in",
                "enabled": false,
                "query": "let lookback = 14d;\nlet detection = 1h;\nlet compromised =\n    PRODAFTUstaCompromisedCredentials\n    | where Created > ago(lookback)\n    | where IsCorporate == true\n    | where isnotempty(Username)\n    | extend MatchName = tolower(Username)\n    | summarize arg_max(TimeGenerated, TicketId, CompanyName, InfectionDate, Source) by MatchName;\nSigninLogs\n| where TimeGenerated > ago(detection)\n| where ResultType == 0\n| where isnotempty(UserPrincipalName)\n| extend MatchName = tolower(UserPrincipalName)\n| join kind=inner compromised on MatchName\n| project\n    TimeGenerated,\n    UserPrincipalName,\n    IPAddress,\n    Location,\n    AppDisplayName,\n    ClientAppUsed,\n    TicketId,\n    CompanyName,\n    Source,\n    InfectionDate\n",
                "queryFrequency": "PT1H",
                "queryPeriod": "P14D",
                "severity": "High",
                "suppressionDuration": "PT1H",
                "suppressionEnabled": false,
                "triggerOperator": "GreaterThan",
                "triggerThreshold": 0,
                "status": "Available",
                "requiredDataConnectors": [
                  {
                    "connectorId": "PRODAFTUstaATPCCPDefinition",
                    "dataTypes": [
                      "PRODAFTUstaCompromisedCredentials_CL"
                    ]
                  },
                  {
                    "connectorId": "AzureActiveDirectory",
                    "dataTypes": [
                      "SigninLogs"
                    ]
                  }
                ],
                "tactics": [
                  "CredentialAccess",
                  "InitialAccess"
                ],
                "techniques": [
                  "T1078",
                  "T1555"
                ],
                "entityMappings": [
                  {
                    "entityType": "Account",
                    "fieldMappings": [
                      {
                        "columnName": "UserPrincipalName",
                        "identifier": "FullName"
                      }
                    ]
                  },
                  {
                    "entityType": "IP",
                    "fieldMappings": [
                      {
                        "columnName": "IPAddress",
                        "identifier": "Address"
                      }
                    ]
                  }
                ],
                "customDetails": {
                  "Ticket": "TicketId",
                  "Source": "Source",
                  "Company": "CompanyName"
                },
                "incidentConfiguration": {
                  "createIncident": true,
                  "groupingConfiguration": {
                    "enabled": true,
                    "matchingMethod": "Selected",
                    "reopenClosedIncident": false,
                    "groupByEntities": [
                      "Account"
                    ],
                    "lookbackDuration": "1d"
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('AnalyticsRule-', last(split(variables('analyticRuleObject2').analyticRuleId2,'/'))))]",
              "properties": {
                "description": "PRODAFT USTA - Account Takeover Prevention Analytics Rule 2",
                "parentId": "[variables('analyticRuleObject2').analyticRuleId2]",
                "contentId": "[variables('analyticRuleObject2')._analyticRulecontentId2]",
                "kind": "AnalyticsRule",
                "version": "[variables('analyticRuleObject2').analyticRuleVersion2]",
                "source": {
                  "kind": "Solution",
                  "name": "PRODAFT USTA - Account Takeover Prevention",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('analyticRuleObject2')._analyticRulecontentId2]",
        "contentKind": "AnalyticsRule",
        "displayName": "PRODAFT USTA - Compromised credential used in successful sign-in",
        "contentProductId": "[variables('analyticRuleObject2')._analyticRulecontentProductId2]",
        "id": "[variables('analyticRuleObject2')._analyticRulecontentProductId2]",
        "version": "[variables('analyticRuleObject2').analyticRuleVersion2]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('huntingQueryObject1').huntingQueryTemplateSpecName1]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "InfostealerExposureByCompany_HuntingQueries Hunting Query with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('huntingQueryObject1').huntingQueryVersion1]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.OperationalInsights/savedSearches",
              "apiVersion": "2025-07-01",
              "name": "PRODAFT_USTA_-_Account_Takeover_Prevention_Hunting_Query_1",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "eTag": "*",
                "displayName": "PRODAFT USTA - Infostealer exposure across corporate identities",
                "category": "Hunting Queries",
                "query": "PRODAFTUstaCompromisedCredentials\n| where IsCorporate == true\n| summarize\n    Credentials = count(),\n    Identities = dcount(Username),\n    Hosts = dcount(VictimComputerName),\n    MalwareFamilies = make_set(VictimMalware, 25),\n    FirstSeen = min(Created),\n    LastSeen = max(Created)\n    by CompanyName, VictimCountry\n| sort by Credentials desc\n",
                "version": 2,
                "tags": [
                  {
                    "name": "description",
                    "value": "Summarizes corporate credential exposure from PRODAFT USTA ATP tickets, grouped by\ncompany and country. Shows distinct victim hosts and malware families to help spot\ninfostealer activity affecting your identities."
                  },
                  {
                    "name": "tactics",
                    "value": "CredentialAccess"
                  },
                  {
                    "name": "techniques",
                    "value": "T1555"
                  }
                ]
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('HuntingQuery-', last(split(resourceId('Microsoft.OperationalInsights/savedSearches', variables('huntingQueryObject1')._huntingQuerycontentId1),'/'))))]",
              "properties": {
                "description": "PRODAFT USTA - Account Takeover Prevention Hunting Query 1",
                "parentId": "[resourceId('Microsoft.OperationalInsights/savedSearches', variables('huntingQueryObject1')._huntingQuerycontentId1)]",
                "contentId": "[variables('huntingQueryObject1')._huntingQuerycontentId1]",
                "kind": "HuntingQuery",
                "version": "[variables('huntingQueryObject1').huntingQueryVersion1]",
                "source": {
                  "kind": "Solution",
                  "name": "PRODAFT USTA - Account Takeover Prevention",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('huntingQueryObject1')._huntingQuerycontentId1]",
        "contentKind": "HuntingQuery",
        "displayName": "PRODAFT USTA - Infostealer exposure across corporate identities",
        "contentProductId": "[concat(take(variables('_solutionId'),50),'-','hq','-', uniqueString(concat(variables('_solutionId'),'-','HuntingQuery','-',variables('huntingQueryObject1')._huntingQuerycontentId1,'-', '1.0.0')))]",
        "id": "[concat(take(variables('_solutionId'),50),'-','hq','-', uniqueString(concat(variables('_solutionId'),'-','HuntingQuery','-',variables('huntingQueryObject1')._huntingQuerycontentId1,'-', '1.0.0')))]",
        "version": "1.0.0"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('parserObject1').parserTemplateSpecName1]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "PRODAFTUstaCompromisedCredentials Data Parser with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('parserObject1').parserVersion1]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "name": "[variables('parserObject1')._parserName1]",
              "apiVersion": "2025-07-01",
              "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "eTag": "*",
                "displayName": "Parser for PRODAFT USTA Compromised Credentials",
                "category": "Microsoft Sentinel Parser",
                "functionAlias": "PRODAFTUstaCompromisedCredentials",
                "query": "// Deduplicates the append-only PRODAFTUstaCompromisedCredentials_CL table so that each\n// USTA ticket (TicketId) appears exactly once. Log Analytics is append-only and has no\n// unique-key/upsert, so the same TicketId can be ingested more than once (backfill/poller\n// overlap, or a ticket whose status changes and is re-fetched). This parser keeps the most\n// recently ingested copy of each ticket, so consumers always see one row per ticket with\n// its latest status. Query this function instead of the raw *_CL table.\nPRODAFTUstaCompromisedCredentials_CL\n| summarize arg_max(TimeGenerated, *) by TicketId\n",
                "functionParameters": "",
                "version": 2,
                "tags": [
                  {
                    "name": "description",
                    "value": ""
                  }
                ]
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Parser-', last(split(variables('parserObject1')._parserId1,'/'))))]",
              "dependsOn": [
                "[variables('parserObject1')._parserId1]"
              ],
              "properties": {
                "parentId": "[resourceId('Microsoft.OperationalInsights/workspaces/savedSearches', parameters('workspace'), 'PRODAFTUstaCompromisedCredentials')]",
                "contentId": "[variables('parserObject1').parserContentId1]",
                "kind": "Parser",
                "version": "[variables('parserObject1').parserVersion1]",
                "source": {
                  "name": "PRODAFT USTA - Account Takeover Prevention",
                  "kind": "Solution",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('parserObject1').parserContentId1]",
        "contentKind": "Parser",
        "displayName": "Parser for PRODAFT USTA Compromised Credentials",
        "contentProductId": "[concat(take(variables('_solutionId'),50),'-','pr','-', uniqueString(concat(variables('_solutionId'),'-','Parser','-',variables('parserObject1').parserContentId1,'-', '1.0.0')))]",
        "id": "[concat(take(variables('_solutionId'),50),'-','pr','-', uniqueString(concat(variables('_solutionId'),'-','Parser','-',variables('parserObject1').parserContentId1,'-', '1.0.0')))]",
        "version": "[variables('parserObject1').parserVersion1]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
      "apiVersion": "2025-07-01",
      "name": "[variables('parserObject1')._parserName1]",
      "location": "[parameters('workspace-location')]",
      "properties": {
        "eTag": "*",
        "displayName": "Parser for PRODAFT USTA Compromised Credentials",
        "category": "Microsoft Sentinel Parser",
        "functionAlias": "PRODAFTUstaCompromisedCredentials",
        "query": "// Deduplicates the append-only PRODAFTUstaCompromisedCredentials_CL table so that each\n// USTA ticket (TicketId) appears exactly once. Log Analytics is append-only and has no\n// unique-key/upsert, so the same TicketId can be ingested more than once (backfill/poller\n// overlap, or a ticket whose status changes and is re-fetched). This parser keeps the most\n// recently ingested copy of each ticket, so consumers always see one row per ticket with\n// its latest status. Query this function instead of the raw *_CL table.\nPRODAFTUstaCompromisedCredentials_CL\n| summarize arg_max(TimeGenerated, *) by TicketId\n",
        "functionParameters": "",
        "version": 2,
        "tags": [
          {
            "name": "description",
            "value": ""
          }
        ]
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
      "apiVersion": "2022-01-01-preview",
      "location": "[parameters('workspace-location')]",
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Parser-', last(split(variables('parserObject1')._parserId1,'/'))))]",
      "dependsOn": [
        "[variables('parserObject1')._parserId1]"
      ],
      "properties": {
        "parentId": "[resourceId('Microsoft.OperationalInsights/workspaces/savedSearches', parameters('workspace'), 'PRODAFTUstaCompromisedCredentials')]",
        "contentId": "[variables('parserObject1').parserContentId1]",
        "kind": "Parser",
        "version": "[variables('parserObject1').parserVersion1]",
        "source": {
          "kind": "Solution",
          "name": "PRODAFT USTA - Account Takeover Prevention",
          "sourceId": "[variables('_solutionId')]"
        },
        "author": {
          "name": "PRODAFT",
          "email": "[variables('_email')]"
        },
        "support": {
          "name": "PRODAFT",
          "email": "integration@prodaft.com",
          "tier": "Partner",
          "link": "https://www.prodaft.com"
        }
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('dataConnectorTemplateNameConnectorDefinition1'), variables('dataConnectorCCPVersion'))]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "contentId": "[variables('_dataConnectorContentIdConnectorDefinition1')]",
        "displayName": "PRODAFT USTA - Account Takeover Prevention (via Codeless Connector Framework)",
        "contentKind": "DataConnector",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('dataConnectorCCPVersion')]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',variables('_dataConnectorContentIdConnectorDefinition1'))]",
              "apiVersion": "2022-09-01-preview",
              "type": "Microsoft.OperationalInsights/workspaces/providers/dataConnectorDefinitions",
              "location": "[parameters('workspace-location')]",
              "kind": "Customizable",
              "properties": {
                "connectorUiConfig": {
                  "id": "PRODAFTUstaATPCCPDefinition",
                  "title": "PRODAFT USTA - Account Takeover Prevention (via Codeless Connector Framework)",
                  "publisher": "PRODAFT",
                  "descriptionMarkdown": "The PRODAFT USTA Account Takeover Prevention data connector ingests compromised-credential tickets from the PRODAFT USTA platform into Microsoft Sentinel. Sensitive values are redacted at ingestion: plaintext passwords are never stored — only password strength signals (score and length) are retained for triage.",
                  "graphQueriesTableName": "PRODAFTUstaCompromisedCredentials_CL",
                  "graphQueries": [
                    {
                      "metricName": "Compromised credential tickets",
                      "legend": "PRODAFTUstaCompromisedCredentials_CL",
                      "baseQuery": "PRODAFTUstaCompromisedCredentials_CL"
                    }
                  ],
                  "sampleQueries": [
                    {
                      "description": "Recently compromised corporate credentials",
                      "query": "PRODAFTUstaCompromisedCredentials\n| where IsCorporate == true\n| sort by Created desc"
                    },
                    {
                      "description": "Top infostealer families",
                      "query": "PRODAFTUstaCompromisedCredentials\n| where isnotempty(VictimMalware)\n| summarize Count = count() by VictimMalware\n| sort by Count desc"
                    }
                  ],
                  "dataTypes": [
                    {
                      "name": "PRODAFTUstaCompromisedCredentials_CL",
                      "lastDataReceivedQuery": "PRODAFTUstaCompromisedCredentials_CL\n| summarize Time = max(TimeGenerated)\n| where isnotempty(Time)"
                    }
                  ],
                  "connectivityCriteria": [
                    {
                      "type": "HasDataConnectors"
                    }
                  ],
                  "availability": {
                    "status": 1,
                    "isPreview": false
                  },
                  "permissions": {
                    "resourceProvider": [
                      {
                        "provider": "Microsoft.OperationalInsights/workspaces",
                        "permissionsDisplayText": "Read and Write permissions are required.",
                        "providerDisplayName": "Workspace",
                        "scope": "Workspace",
                        "requiredPermissions": {
                          "read": true,
                          "write": true,
                          "delete": true
                        }
                      }
                    ],
                    "customs": [
                      {
                        "name": "PRODAFT USTA API key",
                        "description": "A long-lived PRODAFT USTA API key with access to the Account Takeover Prevention endpoint is required."
                      }
                    ]
                  },
                  "instructionSteps": [
                    {
                      "title": "Connect PRODAFT USTA Account Takeover Prevention to Microsoft Sentinel",
                      "description": "Enter your USTA base URL and a long-lived API key, then select Connect. The connector authenticates to USTA with the `Authorization: Bearer <api-key>` header and polls every minute. To load history from before the connection time, deploy the **PRODAFTUstaATP-Backfill** playbook shipped with this solution.",
                      "instructions": [
                        {
                          "type": "Textbox",
                          "parameters": {
                            "label": "USTA Base URL",
                            "placeholder": "https://usta.prodaft.com",
                            "type": "text",
                            "name": "ustaBaseUrl",
                            "required": true
                          }
                        },
                        {
                          "type": "Textbox",
                          "parameters": {
                            "label": "API Key",
                            "placeholder": "Enter your USTA API key",
                            "type": "password",
                            "name": "apiKey",
                            "required": true
                          }
                        },
                        {
                          "type": "ConnectionToggleButton",
                          "parameters": {
                            "connectLabel": "Connect",
                            "name": "connect"
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            },
            {
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('DataConnector-', variables('_dataConnectorContentIdConnectorDefinition1')))]",
              "apiVersion": "2022-01-01-preview",
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "properties": {
                "parentId": "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/dataConnectorDefinitions', variables('_dataConnectorContentIdConnectorDefinition1'))]",
                "contentId": "[variables('_dataConnectorContentIdConnectorDefinition1')]",
                "kind": "DataConnector",
                "version": "[variables('dataConnectorCCPVersion')]",
                "source": {
                  "sourceId": "[variables('_solutionId')]",
                  "name": "[variables('_solutionName')]",
                  "kind": "Solution"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                },
                "dependencies": {
                  "criteria": [
                    {
                      "version": "[variables('dataConnectorCCPVersion')]",
                      "contentId": "[variables('_dataConnectorContentIdConnections1')]",
                      "kind": "ResourcesDataConnector"
                    }
                  ]
                }
              }
            },
            {
              "name": "PRODAFTUstaATPDCR",
              "apiVersion": "2022-06-01",
              "type": "Microsoft.Insights/dataCollectionRules",
              "location": "[parameters('workspace-location')]",
              "kind": "[variables('blanks')]",
              "properties": {
                "dataCollectionEndpointId": "[variables('dataCollectionEndpointId1')]",
                "streamDeclarations": {
                  "Custom-PRODAFTUstaCompromisedCredentials_CL": {
                    "columns": [
                      {
                        "name": "id",
                        "type": "long"
                      },
                      {
                        "name": "status",
                        "type": "string"
                      },
                      {
                        "name": "status_timestamp",
                        "type": "datetime"
                      },
                      {
                        "name": "created",
                        "type": "datetime"
                      },
                      {
                        "name": "content_type",
                        "type": "string"
                      },
                      {
                        "name": "company",
                        "type": "dynamic"
                      },
                      {
                        "name": "content",
                        "type": "dynamic"
                      }
                    ]
                  }
                },
                "destinations": {
                  "logAnalytics": [
                    {
                      "workspaceResourceId": "[variables('workspaceResourceId')]",
                      "name": "clv2ws1"
                    }
                  ]
                },
                "dataFlows": [
                  {
                    "streams": [
                      "Custom-PRODAFTUstaCompromisedCredentials_CL"
                    ],
                    "destinations": [
                      "clv2ws1"
                    ],
                    "outputStream": "Custom-PRODAFTUstaCompromisedCredentials_CL",
                    "transformKql": "source | extend c = content, co = company | project TimeGenerated = now(), TicketId = tolong(id), Status = tostring(status), StatusTimestamp = todatetime(status_timestamp), Created = todatetime(created), ContentType = tostring(content_type), CompanyId = toint(co.id), CompanyName = tostring(co.name), Username = tostring(c.username), Url = tostring(c.url), Source = tostring(c.source), IsCorporate = tobool(c.is_corporate), PasswordScore = tostring(c.password_complexity.score), PasswordLength = toint(c.password_complexity.length), VictimUid = tostring(c.victim_detail.victim_uid), VictimUsername = tostring(c.victim_detail.username), VictimCountry = tostring(c.victim_detail.country), VictimIp = tostring(c.victim_detail.ip), VictimComputerName = tostring(c.victim_detail.computer_name), VictimOs = tostring(c.victim_detail.victim_os), VictimMalware = tostring(c.victim_detail.malware), InfectionDate = todatetime(c.victim_detail.infection_date)"
                  }
                ]
              }
            },
            {
              "name": "PRODAFTUstaCompromisedCredentials_CL",
              "apiVersion": "2022-10-01",
              "type": "Microsoft.OperationalInsights/workspaces/tables",
              "location": "[parameters('workspace-location')]",
              "kind": null,
              "properties": {
                "totalRetentionInDays": 90,
                "retentionInDays": 90,
                "schema": {
                  "name": "PRODAFTUstaCompromisedCredentials_CL",
                  "description": "PRODAFT USTA Account Takeover Prevention - compromised credentials (password redacted). TimeGenerated reflects ingestion time; Created and StatusTimestamp carry the true event time reported by USTA.",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "dateTime"
                    },
                    {
                      "name": "TicketId",
                      "type": "long"
                    },
                    {
                      "name": "Status",
                      "type": "string"
                    },
                    {
                      "name": "StatusTimestamp",
                      "type": "dateTime"
                    },
                    {
                      "name": "Created",
                      "type": "dateTime"
                    },
                    {
                      "name": "ContentType",
                      "type": "string"
                    },
                    {
                      "name": "CompanyId",
                      "type": "int"
                    },
                    {
                      "name": "CompanyName",
                      "type": "string"
                    },
                    {
                      "name": "Username",
                      "type": "string"
                    },
                    {
                      "name": "Url",
                      "type": "string"
                    },
                    {
                      "name": "Source",
                      "type": "string"
                    },
                    {
                      "name": "IsCorporate",
                      "type": "boolean"
                    },
                    {
                      "name": "PasswordScore",
                      "type": "string"
                    },
                    {
                      "name": "PasswordLength",
                      "type": "int"
                    },
                    {
                      "name": "VictimUid",
                      "type": "string"
                    },
                    {
                      "name": "VictimUsername",
                      "type": "string"
                    },
                    {
                      "name": "VictimCountry",
                      "type": "string"
                    },
                    {
                      "name": "VictimIp",
                      "type": "string"
                    },
                    {
                      "name": "VictimComputerName",
                      "type": "string"
                    },
                    {
                      "name": "VictimOs",
                      "type": "string"
                    },
                    {
                      "name": "VictimMalware",
                      "type": "string"
                    },
                    {
                      "name": "InfectionDate",
                      "type": "dateTime"
                    }
                  ]
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "contentProductId": "[concat(take(variables('_solutionId'), 50),'-','dc','-', uniqueString(concat(variables('_solutionId'),'-','DataConnector','-',variables('_dataConnectorContentIdConnectorDefinition1'),'-', variables('dataConnectorCCPVersion'))))]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "version": "[variables('dataConnectorCCPVersion')]"
      }
    },
    {
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',variables('_dataConnectorContentIdConnectorDefinition1'))]",
      "apiVersion": "2022-09-01-preview",
      "type": "Microsoft.OperationalInsights/workspaces/providers/dataConnectorDefinitions",
      "location": "[parameters('workspace-location')]",
      "kind": "Customizable",
      "properties": {
        "connectorUiConfig": {
          "id": "PRODAFTUstaATPCCPDefinition",
          "title": "PRODAFT USTA - Account Takeover Prevention (via Codeless Connector Framework)",
          "publisher": "PRODAFT",
          "descriptionMarkdown": "The PRODAFT USTA Account Takeover Prevention data connector ingests compromised-credential tickets from the PRODAFT USTA platform into Microsoft Sentinel. Sensitive values are redacted at ingestion: plaintext passwords are never stored — only password strength signals (score and length) are retained for triage.",
          "graphQueriesTableName": "PRODAFTUstaCompromisedCredentials_CL",
          "graphQueries": [
            {
              "metricName": "Compromised credential tickets",
              "legend": "PRODAFTUstaCompromisedCredentials_CL",
              "baseQuery": "PRODAFTUstaCompromisedCredentials_CL"
            }
          ],
          "sampleQueries": [
            {
              "description": "Recently compromised corporate credentials",
              "query": "PRODAFTUstaCompromisedCredentials\n| where IsCorporate == true\n| sort by Created desc"
            },
            {
              "description": "Top infostealer families",
              "query": "PRODAFTUstaCompromisedCredentials\n| where isnotempty(VictimMalware)\n| summarize Count = count() by VictimMalware\n| sort by Count desc"
            }
          ],
          "dataTypes": [
            {
              "name": "PRODAFTUstaCompromisedCredentials_CL",
              "lastDataReceivedQuery": "PRODAFTUstaCompromisedCredentials_CL\n| summarize Time = max(TimeGenerated)\n| where isnotempty(Time)"
            }
          ],
          "connectivityCriteria": [
            {
              "type": "HasDataConnectors"
            }
          ],
          "availability": {
            "status": 1,
            "isPreview": false
          },
          "permissions": {
            "resourceProvider": [
              {
                "provider": "Microsoft.OperationalInsights/workspaces",
                "permissionsDisplayText": "Read and Write permissions are required.",
                "providerDisplayName": "Workspace",
                "scope": "Workspace",
                "requiredPermissions": {
                  "read": true,
                  "write": true,
                  "delete": true
                }
              }
            ],
            "customs": [
              {
                "name": "PRODAFT USTA API key",
                "description": "A long-lived PRODAFT USTA API key with access to the Account Takeover Prevention endpoint is required."
              }
            ]
          },
          "instructionSteps": [
            {
              "title": "Connect PRODAFT USTA Account Takeover Prevention to Microsoft Sentinel",
              "description": "Enter your USTA base URL and a long-lived API key, then select Connect. The connector authenticates to USTA with the `Authorization: Bearer <api-key>` header and polls every minute. To load history from before the connection time, deploy the **PRODAFTUstaATP-Backfill** playbook shipped with this solution.",
              "instructions": [
                {
                  "type": "Textbox",
                  "parameters": {
                    "label": "USTA Base URL",
                    "placeholder": "https://usta.prodaft.com",
                    "type": "text",
                    "name": "ustaBaseUrl",
                    "required": true
                  }
                },
                {
                  "type": "Textbox",
                  "parameters": {
                    "label": "API Key",
                    "placeholder": "Enter your USTA API key",
                    "type": "password",
                    "name": "apiKey",
                    "required": true
                  }
                },
                {
                  "type": "ConnectionToggleButton",
                  "parameters": {
                    "connectLabel": "Connect",
                    "name": "connect"
                  }
                }
              ]
            }
          ]
        }
      }
    },
    {
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('DataConnector-', variables('_dataConnectorContentIdConnectorDefinition1')))]",
      "apiVersion": "2022-01-01-preview",
      "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
      "properties": {
        "parentId": "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/dataConnectorDefinitions', variables('_dataConnectorContentIdConnectorDefinition1'))]",
        "contentId": "[variables('_dataConnectorContentIdConnectorDefinition1')]",
        "kind": "DataConnector",
        "version": "[variables('dataConnectorCCPVersion')]",
        "source": {
          "sourceId": "[variables('_solutionId')]",
          "name": "[variables('_solutionName')]",
          "kind": "Solution"
        },
        "author": {
          "name": "PRODAFT",
          "email": "[variables('_email')]"
        },
        "support": {
          "name": "PRODAFT",
          "email": "integration@prodaft.com",
          "tier": "Partner",
          "link": "https://www.prodaft.com"
        },
        "dependencies": {
          "criteria": [
            {
              "version": "[variables('dataConnectorCCPVersion')]",
              "contentId": "[variables('_dataConnectorContentIdConnections1')]",
              "kind": "ResourcesDataConnector"
            }
          ]
        }
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('dataConnectorTemplateNameConnections1'), variables('dataConnectorCCPVersion'))]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "contentId": "[variables('_dataConnectorContentIdConnections1')]",
        "displayName": "PRODAFT USTA - Account Takeover Prevention (via Codeless Connector Framework)",
        "contentKind": "ResourcesDataConnector",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('dataConnectorCCPVersion')]",
          "parameters": {
            "guidValue": {
              "defaultValue": "[[newGuid()]",
              "type": "securestring"
            },
            "innerWorkspace": {
              "defaultValue": "[parameters('workspace')]",
              "type": "securestring"
            },
            "connectorDefinitionName": {
              "defaultValue": "PRODAFT USTA - Account Takeover Prevention (via Codeless Connector Framework)",
              "type": "securestring",
              "minLength": 1
            },
            "workspace": {
              "defaultValue": "[parameters('workspace')]",
              "type": "securestring"
            },
            "dcrConfig": {
              "defaultValue": {
                "dataCollectionEndpoint": "data collection Endpoint",
                "dataCollectionRuleImmutableId": "data collection rule immutableId"
              },
              "type": "object"
            },
            "ustaBaseUrl": {
              "defaultValue": "ustaBaseUrl",
              "type": "securestring",
              "minLength": 1
            },
            "apiKey": {
              "defaultValue": "apiKey",
              "type": "securestring",
              "minLength": 1
            }
          },
          "variables": {
            "_dataConnectorContentIdConnections1": "[variables('_dataConnectorContentIdConnections1')]"
          },
          "resources": [
            {
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('DataConnector-', variables('_dataConnectorContentIdConnections1')))]",
              "apiVersion": "2022-01-01-preview",
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "properties": {
                "parentId": "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/dataConnectors', variables('_dataConnectorContentIdConnections1'))]",
                "contentId": "[variables('_dataConnectorContentIdConnections1')]",
                "kind": "ResourcesDataConnector",
                "version": "[variables('dataConnectorCCPVersion')]",
                "source": {
                  "sourceId": "[variables('_solutionId')]",
                  "name": "[variables('_solutionName')]",
                  "kind": "Solution"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                }
              }
            },
            {
              "name": "[[concat(parameters('innerWorkspace'),'/Microsoft.SecurityInsights/', 'PRODAFTUstaCompromisedCredentialsPolling', parameters('guidValue'))]",
              "apiVersion": "2023-02-01-preview",
              "type": "Microsoft.OperationalInsights/workspaces/providers/dataConnectors",
              "location": "[parameters('workspace-location')]",
              "kind": "RestApiPoller",
              "properties": {
                "connectorDefinitionName": "PRODAFTUstaATPCCPDefinition",
                "dataType": "PRODAFTUstaCompromisedCredentials_CL",
                "auth": {
                  "type": "APIKey",
                  "apiKey": "[[parameters('apiKey')]",
                  "apiKeyName": "Authorization",
                  "apiKeyIdentifier": "Bearer"
                },
                "request": {
                  "apiEndpoint": "[[concat(parameters('ustaBaseUrl'),'/api/threat-stream/v4/security-intelligence/account-takeover-prevention/compromised-credentials-tickets')]",
                  "httpMethod": "GET",
                  "queryWindowInMin": 1,
                  "queryTimeFormat": "yyyy-MM-ddTHH:mm:ssZ",
                  "headers": {
                    "Accept": "application/json",
                    "User-Agent": "Azure-Sentinel-USTA-Integration/1.0"
                  },
                  "queryParameters": {
                    "ordering": "created",
                    "start": "{_QueryWindowStartTime}",
                    "size": "100"
                  },
                  "rateLimitQPS": 5,
                  "retryCount": 3,
                  "timeoutInSeconds": 60
                },
                "paging": {
                  "pagingType": "NextPageUrl",
                  "nextPageUrl": "[[concat(parameters('ustaBaseUrl'),'/api/threat-stream/v4/security-intelligence/account-takeover-prevention/compromised-credentials-tickets')]",
                  "nextPageTokenJsonPath": "$.next"
                },
                "response": {
                  "eventsJsonPaths": [
                    "$.results"
                  ],
                  "format": "json"
                },
                "dcrConfig": {
                  "streamName": "Custom-PRODAFTUstaCompromisedCredentials_CL",
                  "dataCollectionEndpoint": "[[parameters('dcrConfig').dataCollectionEndpoint]",
                  "dataCollectionRuleImmutableId": "[[parameters('dcrConfig').dataCollectionRuleImmutableId]"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "contentProductId": "[concat(take(variables('_solutionId'), 50),'-','rdc','-', uniqueString(concat(variables('_solutionId'),'-','ResourcesDataConnector','-',variables('_dataConnectorContentIdConnections1'),'-', variables('dataConnectorCCPVersion'))))]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "version": "[variables('dataConnectorCCPVersion')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('playbookTemplateSpecName1')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "PRODAFTUstaATP-Backfill Playbook with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion1')]",
          "parameters": {
            "PlaybookName": {
              "defaultValue": "PRODAFTUstaATP-Backfill",
              "type": "string",
              "metadata": {
                "description": "Name of the Logic App playbook."
              }
            },
            "DataCollectionEndpointUri": {
              "type": "string",
              "metadata": {
                "description": "Logs-ingestion URI of the connector's Data Collection Endpoint, e.g. https://<dce-name>-a1b2.westeurope-1.ingest.monitor.azure.com"
              }
            },
            "DataCollectionRuleImmutableId": {
              "type": "string",
              "metadata": {
                "description": "Immutable ID of the connector's Data Collection Rule, e.g. dcr-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
              }
            },
            "UstaBaseUrl": {
              "type": "string",
              "defaultValue": "https://usta.prodaft.com",
              "metadata": {
                "description": "PRODAFT USTA API base URL."
              }
            },
            "UstaApiKey": {
              "type": "securestring",
              "metadata": {
                "description": "PRODAFT USTA long-lived API key."
              }
            },
            "BackfillDays": {
              "type": "int",
              "defaultValue": 90,
              "metadata": {
                "description": "Number of days of history to backfill."
              }
            }
          },
          "variables": {
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "tags": {
                "hidden-SentinelTemplateName": "PRODAFTUstaATP-Backfill",
                "hidden-SentinelTemplateVersion": "1.0",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "DataCollectionEndpointUri": {
                      "type": "String",
                      "defaultValue": "[[parameters('DataCollectionEndpointUri')]"
                    },
                    "DataCollectionRuleImmutableId": {
                      "type": "String",
                      "defaultValue": "[[parameters('DataCollectionRuleImmutableId')]"
                    },
                    "UstaBaseUrl": {
                      "type": "String",
                      "defaultValue": "[[parameters('UstaBaseUrl')]"
                    },
                    "UstaApiKey": {
                      "type": "SecureString",
                      "defaultValue": "[[parameters('UstaApiKey')]"
                    },
                    "BackfillDays": {
                      "type": "Int",
                      "defaultValue": "[[parameters('BackfillDays')]"
                    }
                  },
                  "triggers": {
                    "manual": {
                      "type": "Request",
                      "kind": "Http"
                    }
                  },
                  "actions": {
                    "Initialize_NextUrl": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "NextUrl",
                            "type": "string",
                            "value": "@{concat(parameters('UstaBaseUrl'), '/api/threat-stream/v4/security-intelligence/account-takeover-prevention/compromised-credentials-tickets?ordering=created&size=100&start=', encodeUriComponent(addDays(utcNow(), mul(-1, parameters('BackfillDays')), 'yyyy-MM-ddTHH:mm:ssZ')))}"
                          }
                        ]
                      }
                    },
                    "Until_All_Pages_Ingested": {
                      "type": "Until",
                      "expression": "@empty(variables('NextUrl'))",
                      "limit": {
                        "count": 1000,
                        "timeout": "PT4H"
                      },
                      "runAfter": {
                        "Initialize_NextUrl": [
                          "Succeeded"
                        ]
                      },
                      "actions": {
                        "Fetch_USTA_Page": {
                          "type": "Http",
                          "runtimeConfiguration": {
                            "secureData": {
                              "properties": [
                                "inputs",
                                "outputs"
                              ]
                            }
                          },
                          "inputs": {
                            "method": "GET",
                            "uri": "@variables('NextUrl')",
                            "headers": {
                              "Accept": "application/json",
                              "Authorization": "Bearer @{parameters('UstaApiKey')}",
                              "User-Agent": "Azure-Sentinel-USTA-Integration/1.0"
                            }
                          }
                        },
                        "If_Page_Has_Records": {
                          "type": "If",
                          "runAfter": {
                            "Fetch_USTA_Page": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@length(coalesce(body('Fetch_USTA_Page')?['results'], json('[]')))",
                                  0
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Ingest_Page_Via_DCR": {
                              "type": "Http",
                              "runtimeConfiguration": {
                                "secureData": {
                                  "properties": [
                                    "inputs"
                                  ]
                                }
                              },
                              "inputs": {
                                "method": "POST",
                                "uri": "@{concat(parameters('DataCollectionEndpointUri'), '/dataCollectionRules/', parameters('DataCollectionRuleImmutableId'), '/streams/Custom-PRODAFTUstaCompromisedCredentials_CL?api-version=2023-01-01')}",
                                "headers": {
                                  "Content-Type": "application/json"
                                },
                                "body": "@body('Fetch_USTA_Page')?['results']",
                                "authentication": {
                                  "type": "ManagedServiceIdentity",
                                  "audience": "https://monitor.azure.com"
                                }
                              }
                            }
                          }
                        },
                        "Update_NextUrl": {
                          "type": "SetVariable",
                          "runAfter": {
                            "If_Page_Has_Records": [
                              "Succeeded"
                            ]
                          },
                          "inputs": {
                            "name": "NextUrl",
                            "value": "@{coalesce(body('Fetch_USTA_Page')?['next'], '')}"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId1'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId1')]",
                "contentId": "[variables('_playbookContentId1')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion1')]",
                "source": {
                  "kind": "Solution",
                  "name": "PRODAFT USTA - Account Takeover Prevention",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "PRODAFT",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "PRODAFT",
                  "email": "integration@prodaft.com",
                  "tier": "Partner",
                  "link": "https://www.prodaft.com"
                }
              }
            }
          ],
          "metadata": {
            "title": "PRODAFTUstaATP-Backfill",
            "description": "On-demand backfill playbook for PRODAFT USTA - Account Takeover Prevention. Pages through the USTA compromised-credentials API and pushes historical tickets to the connector's Data Collection Endpoint (Logs Ingestion API), so the same DCR transform (password redaction, field mapping) is applied as for live polling. The codeless connector only polls forward from connection time; run this playbook once after connecting to load history.",
            "prerequisites": [
              "The PRODAFT USTA - Account Takeover Prevention solution installed and its data connector connected (this creates the DCE, DCR, and table).",
              "The Data Collection Endpoint logs-ingestion URI and the DCR immutable ID (see readme.md for how to find them).",
              "A PRODAFT USTA long-lived API key."
            ],
            "postDeployment": [
              "Grant the playbook's system-assigned managed identity the 'Monitoring Metrics Publisher' role on the connector's Data Collection Rule, then run the trigger once (see readme.md)."
            ],
            "lastUpdateTime": "2026-07-06T00:00:00Z",
            "tags": [
              "Backfill",
              "Threat Intelligence"
            ],
            "releaseNotes": [
              {
                "version": "1.0",
                "title": "PRODAFTUstaATP-Backfill",
                "notes": [
                  "Initial version"
                ]
              }
            ]
          }
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_playbookContentId1')]",
        "contentKind": "Playbook",
        "displayName": "PRODAFTUstaATP-Backfill",
        "contentProductId": "[variables('_playbookcontentProductId1')]",
        "id": "[variables('_playbookcontentProductId1')]",
        "version": "[variables('playbookVersion1')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentPackages",
      "apiVersion": "2023-04-01-preview",
      "location": "[parameters('workspace-location')]",
      "properties": {
        "version": "3.0.0",
        "kind": "Solution",
        "contentSchemaVersion": "3.0.0",
        "displayName": "PRODAFT USTA - Account Takeover Prevention",
        "publisherDisplayName": "PRODAFT",
        "descriptionHtml": "<p><strong>Note:</strong> Please refer to the following before installing the solution:</p>\n<p>• Review the solution <a href=\"https://github.com/Azure/Azure-Sentinel/tree/master/Solutions/PRODAFT%20USTA%20-%20Account%20Takeover%20Prevention/ReleaseNotes.md\">Release Notes</a></p>\n<p>• There may be <a href=\"https://aka.ms/sentinelsolutionsknownissues\">known issues</a> pertaining to this Solution, please refer to them before installing.</p>\n<p>The <strong>PRODAFT USTA - Account Takeover Prevention</strong> solution ingests compromised corporate credentials from the PRODAFT USTA platform into Microsoft Sentinel via a codeless (Codeless Connector Framework) data connector. Plaintext passwords are dropped at ingestion — only password strength signals (score and length) are retained for triage. Includes analytic rules to alert on newly exposed corporate credentials and on successful Entra ID sign-ins with known-compromised accounts, a hunting query, an overview workbook, and an on-demand backfill playbook for loading historical data.</p>\n<p><strong>Data Connectors:</strong> 1, <strong>Parsers:</strong> 1, <strong>Workbooks:</strong> 1, <strong>Analytic Rules:</strong> 2, <strong>Hunting Queries:</strong> 1, <strong>Playbooks:</strong> 1</p>\n<p><a href=\"https://aka.ms/azuresentinel\">Learn more about Microsoft Sentinel</a> | <a href=\"https://aka.ms/azuresentinelsolutionsdoc\">Learn more about Solutions</a></p>\n",
        "contentKind": "Solution",
        "contentProductId": "[variables('_solutioncontentProductId')]",
        "id": "[variables('_solutioncontentProductId')]",
        "icon": "<img src=\"https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Logos/PRODAFTUstaATP.svg\" width=\"75px\" height=\"75px\">",
        "contentId": "[variables('_solutionId')]",
        "parentId": "[variables('_solutionId')]",
        "source": {
          "kind": "Solution",
          "name": "PRODAFT USTA - Account Takeover Prevention",
          "sourceId": "[variables('_solutionId')]"
        },
        "author": {
          "name": "PRODAFT",
          "email": "[variables('_email')]"
        },
        "support": {
          "name": "PRODAFT",
          "email": "integration@prodaft.com",
          "tier": "Partner",
          "link": "https://www.prodaft.com"
        },
        "dependencies": {
          "operator": "AND",
          "criteria": [
            {
              "kind": "Workbook",
              "contentId": "[variables('_workbookContentId1')]",
              "version": "[variables('workbookVersion1')]"
            },
            {
              "kind": "AnalyticsRule",
              "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
              "version": "[variables('analyticRuleObject1').analyticRuleVersion1]"
            },
            {
              "kind": "AnalyticsRule",
              "contentId": "[variables('analyticRuleObject2')._analyticRulecontentId2]",
              "version": "[variables('analyticRuleObject2').analyticRuleVersion2]"
            },
            {
              "kind": "HuntingQuery",
              "contentId": "[variables('huntingQueryObject1')._huntingQuerycontentId1]",
              "version": "[variables('huntingQueryObject1').huntingQueryVersion1]"
            },
            {
              "kind": "Parser",
              "contentId": "[variables('parserObject1').parserContentId1]",
              "version": "[variables('parserObject1').parserVersion1]"
            },
            {
              "kind": "DataConnector",
              "contentId": "[variables('_dataConnectorContentIdConnections1')]",
              "version": "[variables('dataConnectorCCPVersion')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_PRODAFTUstaATP-Backfill')]",
              "version": "[variables('playbookVersion1')]"
            }
          ]
        },
        "firstPublishDate": "2026-07-06",
        "providers": [
          "PRODAFT"
        ],
        "categories": {
          "domains": [
            "Security - Threat Intelligence"
          ]
        }
      },
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('_solutionId'))]"
    }
  ],
  "outputs": {}
}
