Solutions/RiskIQV2/Playbooks/Sentinel-Incident-Enrich-RiskIQ-Intel-Summary-Domain/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "comments": "Perform automated enrichment on the Azure Sentinel Incidents based on RiskIQ Intelligence data.",
        "author": "Brandon Dixon, RiskIQ"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Sentinel-Incident-Enrich-RiskIQ-Intel-Summary-Domain",
            "type": "string"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "RiskIQConnectionName": "[concat('riskiqpassivetotal-', parameters('PlaybookName'))]"
    },
    "resources": [{
        "type": "Microsoft.Web/connections",
        "apiVersion": "2016-06-01",
        "name": "[variables('RiskIQConnectionName')]",
        "location": "[resourceGroup().location]",
        "properties": {
            "customParameterValues": {},
            "api": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/riskiqpassivetotal')]"
            }
        }
    }, {
        "type": "Microsoft.Web/connections",
        "apiVersion": "2016-06-01",
        "name": "[variables('AzureSentinelConnectionName')]",
        "location": "[resourceGroup().location]",
        "properties": {
            "customParameterValues": {},
            "api": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
            }
        }
    }, {
        "type": "Microsoft.Logic/workflows",
        "apiVersion": "2017-07-01",
        "name": "[parameters('PlaybookName')]",
        "location": "[resourceGroup().location]",
        "tags": {
            "LogicAppsCategory": "security"
        },
        "dependsOn": [
            "[resourceId('Microsoft.Web/connections', variables('RiskIQConnectionName'))]",
            "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
        ],
        "properties": {
            "state": "Enabled",
            "definition": {
                "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                "actions": {
                    "Alert_-_Get_incident": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    },
                    "Entities_-_Get_Hosts": {
                        "inputs": {
                            "body": "@triggerBody()?['Entities']",
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/entities/host"
                        },
                        "runAfter": {
                            "Alert_-_Get_incident": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "For_each_Host": {
                        "actions": {
                            "Add_comment_to_incident_(V3)_2": {
                                "inputs": {
                                    "body": {
                                        "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                        "message": "<p>Threat Article Results: @{items('For_each_Host')?['HostName']}.@{items('For_each_Host')?['DnsDomain']}<br>\n@{body('Create_Host_HTML_table')}</p>"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/Incidents/Comment"
                                },
                                "runAfter": {
                                    "Create_Host_HTML_table": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ApiConnection"
                            },
                            "Create_Host_HTML_table": {
                                "inputs": {
                                    "format": "HTML",
                                    "from": "@variables('result_output_host')"
                                },
                                "runAfter": {
                                    "For_each_host_article": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Table"
                            },
                            "For_each_host_article": {
                                "actions": {
                                    "Append_to_host_array": {
                                        "inputs": {
                                            "name": "result_output_host",
                                            "value": {
                                                "Link": "@item()['link']",
                                                "Title": "@item()['title']"
                                            }
                                        },
                                        "runAfter": {},
                                        "type": "AppendToArrayVariable"
                                    }
                                },
                                "foreach": "@body('Get_articles_by_indicator_host')?['articles']",
                                "runAfter": {
                                    "Get_articles_by_indicator_host": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Foreach"
                            },
                            "Get_articles_by_indicator_host": {
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['riskiqpassivetotal']['connectionId']"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/articles/indicator",
                                    "queries": {
                                        "query": "@{items('For_each_Host')?['HostName']}.@{items('For_each_Host')?['DnsDomain']}"
                                    }
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            }
                        },
                        "foreach": "@body('Entities_-_Get_Hosts')?['Hosts']",
                        "runAfter": {
                            "Init_Result_Host": [
                                "Succeeded"
                            ]
                        },
                        "type": "Foreach"
                    },
                    "Init_Result_Host": {
                        "inputs": {
                            "variables": [
                                {
                                    "name": "result_output_host",
                                    "type": "array"
                                }
                            ]
                        },
                        "runAfter": {
                            "Entities_-_Get_Hosts": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable"
                    }
                },
                "contentVersion": "1.0.0.0",
                "outputs": {},
                "parameters": {
                    "$connections": {
                        "defaultValue": {},
                        "type": "Object"
                    }
                },
                "triggers": {
                    "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                        "inputs": {
                            "body": {
                                "callback_url": "@{listCallbackUrl()}"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                            },
                            "path": "/subscribe"
                        },
                        "type": "ApiConnectionWebhook"
                    }
                }
            },
            "parameters": {
                "$connections": {
                    "value": {
                        "azuresentinel": {
                            "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                            "connectionName": "[variables('AzureSentinelConnectionName')]",
                            "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                        },
                        "riskiqpassivetotal": {
                            "connectionId": "[resourceId('Microsoft.Web/connections', variables('RiskIQConnectionName'))]",
                            "connectionName": "[variables('RiskIQConnectionName')]",
                            "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/riskiqpassivetotal')]"
                        }
                    }
                }
            }
        }
    }]
}