Solutions/Veeam/Playbooks/Veeam-PerformScanBackup/PerformScanBackup.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "Veeam-PerformScanBackup",
    "description": "This Microsoft Sentinel playbook with an incident trigger performs antivirus scan on Veeam backup using VbrHostName, BackupObjectId, MachineDisplayName custom incident fields to identify backup. Indicates results as incident comments.",
    "prerequisites": [
      "1. Microsoft Sentinel workspace configured.",
      "2. Permissions to create Logic Apps and API Connections.",
      "3. Permissions to assign roles to the Resource Group.",
      "4. Veeam Azure Function App deployed and configured.",
      "5. Hybrid Connection and Key Vault secrets configured for each VBR Server."
    ],
    "entities": [],
    "tags": [ "Automation", "Veeam", "Backup", "Antivirus", "Scan" ],
    "lastUpdateTime": "2025-08-25T00:00:00.000Z",
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "Custom Template"
    },
    "parameterTemplateVersion": "1.0.0",
    "postDeployment": [
      "1. Assign the Microsoft Sentinel Contributor role to the Logic App's managed identity on the Microsoft Sentinel workspace."
    ]
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "Veeam-PerformScanBackup",
      "type": "string",
      "metadata": {
        "description": "Name of the playbook (Logic App) to be created"
      }
    },
    "functionAppName": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Name of the Azure Function App for Veeam integration"
      }
    },
    "AzureSentinelConnectionName": {
      "type": "string",
      "defaultValue": "azuresentinel-connection",
      "metadata": {
        "description": "The name to use for the Microsoft Sentinel Connector in the Logic App (This will exist as an API Connection in your subscription)"
      }
    }
  },
  "variables": {
    "functionAppId": "[resourceId('Microsoft.Web/sites', parameters('functionAppName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[parameters('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "tags": {
        "hidden-SentinelTemplateName": "Veeam-PerformScanBackup",
        "hidden-SentinelTemplateVersion": "1.0"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('AzureSentinelConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "IsYara": {
              "defaultValue": true,
              "type": "Bool"
            },
            "TimeRange": {
              "defaultValue": "1w1d",
              "type": "String"
            },
            "VbrHostName": {
              "defaultValue": "vbr1",
              "type": "String"
            },
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Parse_sessionId": {
              "runAfter": {
                "Add_comment_to_incident": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('StartBackupScanAV')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "headers": {
                      "type": "object",
                      "properties": {
                        "Date": {
                          "type": "string"
                        },
                        "Transfer-Encoding": {
                          "type": "string"
                        },
                        "Request-Context": {
                          "type": "string"
                        },
                        "Content-Type": {
                          "type": "string"
                        },
                        "Content-Length": {
                          "type": "string"
                        }
                      }
                    },
                    "body": {
                      "type": "object",
                      "properties": {
                        "sessionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "Until_state_is_not_Stopped": {
              "actions": {
                "Parse_session": {
                  "runAfter": {
                    "GetSession_": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('GetSession_')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "sessionType": {
                          "type": "integer"
                        },
                        "state": {
                          "type": "integer"
                        },
                        "platformName": {
                          "type": "integer"
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "jobId": {
                          "type": "string"
                        },
                        "creationTime": {
                          "type": "string"
                        },
                        "endTime": {},
                        "progressPercent": {
                          "type": "integer"
                        },
                        "result": {
                          "type": "object",
                          "properties": {
                            "result": {
                              "type": "integer"
                            },
                            "message": {
                              "type": "string"
                            },
                            "isCanceled": {
                              "type": "boolean"
                            }
                          }
                        },
                        "resourceId": {},
                        "resourceReference": {},
                        "parentSessionId": {},
                        "usn": {
                          "type": "integer"
                        },
                        "platformId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "GetSession_": {
                  "type": "Function",
                  "inputs": {
                    "queries": {
                      "vbrHostName": "@variables('VbrHostName')",
                      "sessionId": "@body('Parse_sessionId')?['body']?['sessionId']"
                    },
                    "function": {
                      "id": "[format('{0}/functions/GetSessionAsync', variables('functionAppId'))]"
                    }
                  }
                },
                "Delay": {
                  "runAfter": {
                    "Parse_session": [
                      "Succeeded"
                    ]
                  },
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 3,
                      "unit": "Minute"
                    }
                  }
                }
              },
              "runAfter": {
                "Parse_sessionId": [
                  "Succeeded"
                ]
              },
              "expression": "@equals(body('Parse_session')?['state'],1)",
              "limit": {
                "timeout": "PT3H"
              },
              "type": "Until"
            },
            "Get_variables_from_custom_fields": {
              "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
              "actions": {
                "Parse_custom_fields": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@items('Get_variables_from_custom_fields')?['properties']?['additionalData']?['Custom Details']",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "VbrHostName": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "MachineDisplayName": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "MachineUuid": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "BackupObjectId": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "Get_VbrHostName": {
                  "foreach": "@outputs('Parse_custom_fields')?['body']?['VbrHostName']",
                  "actions": {
                    "Set_VbrHostName": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "VbrHostName",
                        "value": "@items('Get_VbrHostName')"
                      }
                    }
                  },
                  "runAfter": {
                    "Parse_custom_fields": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Get_BackupObjectId": {
                  "foreach": "@outputs('Parse_custom_fields')?['body']?['BackupObjectId']",
                  "actions": {
                    "Set_BackupObjectId": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "BackupObjectId",
                        "value": "@items('Get_BackupObjectId')"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_VbrHostName": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Get_MachineDispalyName": {
                  "foreach": "@body('Parse_custom_fields')?['MachineDisplayName']",
                  "actions": {
                    "Set_MachineDispalyName": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "MachineDisplayName",
                        "value": "@items('Get_MachineDispalyName')"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_BackupObjectId": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Initialize_MachineDisplayName": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Initialize_VbrHostName": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "VbrHostName",
                    "type": "string",
                    "value": "none"
                  }
                ]
              }
            },
            "StartBackupScanAV": {
              "runAfter": {
                "Get_variables_from_custom_fields": [
                  "Succeeded"
                ]
              },
              "type": "Function",
              "inputs": {
                "queries": {
                  "VbrHostName": "@variables('VbrHostName')",
                  "backupObjectId": "@variables('BackupObjectId')",
                  "vmName": "@variables('MachineDisplayName')"
                },
                "function": {
                  "id": "[format('{0}/functions/StartBackupScanAV', variables('functionAppId'))]"
                }
              }
            },
            "Initialize_BackupObjectId": {
              "runAfter": {
                "Initialize_VbrHostName": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "BackupObjectId",
                    "type": "string",
                    "value": "none"
                  }
                ]
              }
            },
            "Initialize_MachineDisplayName": {
              "runAfter": {
                "Initialize_BackupObjectId": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "MachineDisplayName",
                    "type": "string",
                    "value": "none"
                  }
                ]
              }
            },
            "Add_comment_to_incident_(V3)": {
              "runAfter": {
                "Result": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p class=\"editor-paragraph\">AV scan for @{variables('MachineDisplayName')} has finished. Details: @{body('Parse_session')?['result']?['message']}.</p><p class=\"editor-paragraph\"><i><em class=\"editor-text-italic\">Incident has been resolved, so you can close it.</em></i></p>"
                },
                "path": "/Incidents/Comment"
              }
            },
            "Result": {
              "runAfter": {
                "Until_state_is_not_Stopped": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@body('Parse_session')?['result']"
            },
            "Add_comment_to_incident": {
              "runAfter": {
                "StartBackupScanAV": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p class=\"editor-paragraph\">AV scan for @{variables('MachineDisplayName')} has been started.</p>"
                },
                "path": "/Incidents/Comment"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionName": "[parameters('AzureSentinelConnectionName')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('AzureSentinelConnectionName'))]",
                "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/azuresentinel', subscription().subscriptionId, resourceGroup().location)]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    }
  ]
}