Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEFileHash/incident-trigger/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "Restrict MDE FileHash - Incident Triggered",
        "description": "This playbook will take FileHash entities and generate alert and block threat indicators for each file hash in MDE for 90 days.",
        "prerequisites": ["- **For Gov Only** \n\n You will need to update the HTTP action URL to the correct URL documented [here](https://docs.microsoft.com/microsoft-365/security/defender-endpoint/gov?view=o365-worldwide#api) \n\n - You will need to grant Ti.ReadWrite permissions to the managed identity. Run the following code replacing the managed identity object id. You find the managed identity object id on the Identity blade under Settings for the Logic App. \n\n ```powershell \n\n $MIGuid = '<Enter your managed identity guid here>' \n\n $MI = Get-AzureADServicePrincipal -ObjectId $MIGuid \n\n $MDEAppId = 'fc780465-2017-40d4-a0c5-307022471b92' \n\n $PermissionName = 'Ti.ReadWrite' \n\n $MDEServicePrincipal = Get-AzureADServicePrincipal -Filter 'appId eq '$MDEAppId'' \n\n $AppRole = $MDEServicePrincipal.AppRoles | Where-Object {$_.Value -eq $PermissionName -and $_.AllowedMemberTypes -contains 'Application'} \n\n New-AzureAdServiceAppRoleAssignment -ObjectId $MI.ObjectId -PrincipalId $MI.ObjectId ` -ResourceId $MDEServicePrincipal.ObjectId -Id $AppRole.Id \n\n ```"],
        "lastUpdateTime": "2022-07-14T00:00:00.000Z",
        "entities": [ "FileHash" ],
        "tags": [ "Remediation" ],
        "support": {
            "tier": "Community"
        },
        "author": {
            "name": "Nicholas DiCola"
        },
        "releaseNotes": [
        {
          "version": "1.0.0",
          "title": "Restrict MDE FileHash",
          "notes": [
          "Initial version"
          ]
        }
        ]
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Restrict-MDEFileHash",
            "type": "String"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('PlaybookName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security",
                "hidden-SentinelTemplateName": "Restrict-MDEFileHash",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Entities_-_Get_FileHashes": {
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/filehash"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        },
                        "For_each": {
                            "actions": {
                                "Add_comment_to_incident_(V3)": {
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "message": "<p>@{items('For_each')?['Value']} was added to MDE Indicators with action: AlertandBlock via playbook.</p>"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Incidents/Comment"
                                    },
                                    "runAfter": {
                                        "Switch": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection"
                                },
                                "Switch": {
                                    "cases": {
                                        "Case": {
                                            "actions": {
                                                "HTTP": {
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://api.securitycenter.windows.com/",
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "body": {
                                                            "action": "AlertAndBlock",
                                                            "application": "Microsoft Sentinel",
                                                            "description": "@{triggerBody()?['object']?['properties']?['incidentNumber']}-@{triggerBody()?['object']?['properties']?['title']}",
                                                            "expirationTime": "@{addDays(triggerBody()?['object']?['properties']?['createdTimeUtc'], 90)}",
                                                            "indicatorType": "FileSha1",
                                                            "indicatorValue": "@{items('For_each')?['Value']}",
                                                            "severity": "@{triggerBody()?['object']?['properties']?['severity']}",
                                                            "title": "@{guid()}"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://api.securitycenter.windows.com/api/indicators"
                                                    },
                                                    "runAfter": {},
                                                    "type": "Http"
                                                }
                                            },
                                            "case": "SHA1"
                                        },
                                        "Case_2": {
                                            "actions": {
                                                "HTTP_2": {
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://api.securitycenter.windows.com/",
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "body": {
                                                            "action": "AlertAndBlock",
                                                            "application": "Microsoft Sentinel",
                                                            "description": "@{triggerBody()?['object']?['properties']?['incidentNumber']}-@{triggerBody()?['object']?['properties']?['title']}",
                                                            "expirationTime": "@{addDays(triggerBody()?['object']?['properties']?['createdTimeUtc'], 90)}",
                                                            "indicatorType": "FileSha256",
                                                            "indicatorValue": "@{items('For_each')?['Value']}",
                                                            "severity": "@{triggerBody()?['object']?['properties']?['severity']}",
                                                            "title": "@{guid()}"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://api.securitycenter.windows.com/api/indicators"
                                                    },
                                                    "runAfter": {},
                                                    "type": "Http"
                                                }
                                            },
                                            "case": "SHA256"
                                        }
                                    },
                                    "default": {
                                        "actions": {}
                                    },
                                    "expression": "@items('For_each')?['Algorithm']",
                                    "runAfter": {},
                                    "type": "Switch"
                                }
                            },
                            "foreach": "@body('Entities_-_Get_FileHashes')?['Filehashes']",
                            "runAfter": {
                                "Entities_-_Get_FileHashes": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            },
                            "type": "ApiConnectionWebhook"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}