Playbooks/AzureFirewall/AzureFirewall-AddIPtoTIAllowList/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "comments": "This playbook uses the Azure Firewall connector to add IP Address to the Threat Intel Allow list based on the Azure Sentinel Incident",
    "author": "Dharma Reddy, Azure Firewall"
  },
  "parameters": {
    "Playbook Name": {
      "defaultValue": "AzureFirewall-AddIPtoTIAllowList",
      "type": "String",
      "metadata": {
        "description": "Name of the Logic App/Playbook"
      }
    },
    "Teams GroupId": {
      "defaultValue": "TeamgroupId",
      "type": "String",
      "metadata": {
        "description": "GroupId of the Team channel"
      }
    },
    "Teams ChannelId": {
      "defaultValue": "TeamChannelId",
      "type": "String",
      "metadata": {
        "description": "Team ChannelId"
      }
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('Playbook Name'))]",
    "TeamsConnectionName": "[concat('teamsconnector-', parameters('Playbook Name'))]",
    "AzureFirewallConnectionName": "[concat('AzureFirewallConnector-', parameters('Playbook Name'))]",
    "VirusTotalConnectionName": "[concat('VirusTotal-', parameters('Playbook Name'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureFirewallConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/AzureFirewallConnector')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('TeamsConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('VirusTotalConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/virustotal')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('Playbook Name')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureFirewallConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('VirusTotalConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_Azure_Sentinel_incident_creation_rule_was_triggered_(Private_Preview_only)": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Each_malicious_IP_Address_Entity_present_in_the_Incident": {
              "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
              "actions": {
                "Condition_-_Add_IP_Address_to_threat_intel_Allow_list_or_Ignore": {
                  "actions": {
                    "Add_comment_to_incident_with_the_endpoint_information_and_action_taken": {
                      "runAfter": {
                        "Creates_or_updates_the_specified_Firewall_Policy": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "message": "<p><strong>Azure Firewall Playbook performed the following action:<br>\n<br>\nIP Address : &nbsp;</strong><strong>@{items('Each_malicious_IP_Address_Entity_present_in_the_Incident')?['Address']}</strong><strong><br>\n<br>\nGot Virus Total Report &nbsp;:<br>\n<br>\nCountry &nbsp;: &nbsp;</strong><strong>@{body('Ip_scan_report_V3')?['data']?['attributes']?['country']}</strong><strong><br>\nContinent : </strong><strong>@{body('Ip_scan_report_V3')?['data']?['attributes']?['continent']}</strong><strong><br>\nASN : </strong><strong>@{body('Ip_scan_report_V3')?['data']?['attributes']?['asn']}</strong><strong><br>\nAS_Owner L : </strong><strong>@{body('Ip_scan_report_V3')?['data']?['attributes']?['as_owner']}</strong><strong><br>\n<br>\nTotal Votes :<br>\n&nbsp;<br>\n&nbsp;Malicious : </strong><strong>@{body('Ip_scan_report_V3')?['data']?['attributes']?['total_votes']?['malicious']}</strong><strong><br>\n&nbsp;Positives Votes : </strong><strong>@{body('Ip_scan_report_V3')?['data']?['attributes']?['total_votes']?['harmless']}</strong><strong><br>\n&nbsp;Negative Votes : &nbsp;</strong><strong>@{body('Ip_scan_report_V3')?['data']?['attributes']?['total_votes']?['malicious']}</strong><strong><br>\n&nbsp;Suspicious Votes: </strong><strong>@{body('Ip_scan_report_V3')?['data']?['attributes']?['last_analysis_stats']?['suspicious']}</strong><strong><br>\n&nbsp;Number of reports saying that is Undetected : </strong><strong>@{body('Ip_scan_report_V3')?['data']?['attributes']?['last_analysis_stats']?['undetected']}</strong><strong><br>\nNetwork : </strong><strong>@{body('Ip_scan_report_V3')?['data']?['attributes']?['network']}</strong><strong><br>\n<br>\nAction Taken in Azure Firewall<br>\n<br>\nAdded IP Address to the Firewall Policy Name : </strong><strong></strong><strong><br>\n<br>\n</strong></p>"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/Incidents/Comment"
                      },
                      "description": "Provide end point information and action taken in the incident information message"
                    },
                    "Append_-_IP_Address_to_Threat_intel_allow_list": {
                      "runAfter": {
                        "Assign_Threat_intel_allow_list_values": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "IP Array",
                        "value": "@items('Each_malicious_IP_Address_Entity_present_in_the_Incident')?['Address']"
                      },
                      "description": "Append IP Address to the Threat intel allow list"
                    },
                    "Assign_Threat_intel_allow_list_values": {
                      "runAfter": {
                        "Gets_the_specified_Firewall_Policy": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "IP Array",
                        "value": "@body('Gets_the_specified_Firewall_Policy')?['properties']?['threatIntelWhitelist']?['ipAddresses']"
                      },
                      "description": "Variable to store the list of existing IP Addresses"
                    },
                    "Creates_or_updates_the_specified_Firewall_Policy": {
                      "runAfter": {
                        "Append_-_IP_Address_to_Threat_intel_allow_list": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "location": "@body('Gets_the_specified_Firewall_Policy')?['location']",
                          "properties": {
                            "threatIntelWhitelist": {
                              "ipAddresses": "@variables('IP Array')"
                            }
                          },
                          "tags": {
                            "Configuration": "Sentinel"
                          }
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['AzureFirewallConnector']['connectionId']"
                          }
                        },
                        "method": "put",
                        "path": "/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/providers/Microsoft.Network/firewallPolicies/@{encodeURIComponent(body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')?['data']?['FirewallPolicySelectedVal'])}",
                        "queries": {
                          "api-version": "2020-07-01"
                        }
                      },
                      "description": "Post the list of IP Addresses along with IP Address present from the Incident"
                    },
                    "Gets_the_specified_Firewall_Policy": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['AzureFirewallConnector']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/providers/Microsoft.Network/firewallPolicies/@{encodeURIComponent(body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')?['data']?['FirewallPolicySelectedVal'])}",
                        "queries": {
                          "api-version": "2020-07-01"
                        }
                      },
                      "description": "Get firewall policy information based on  the SOC selection"
                    },
                    "Update_incident": {
                      "runAfter": {
                        "Add_comment_to_incident_with_the_endpoint_information_and_action_taken": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "classification": {
                            "ClassificationAndReason": "@{body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')?['data']?['incidentStatus']}"
                          },
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "severity": "@{body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')?['data']?['incidentSeverity']}",
                          "status": "Closed"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "put",
                        "path": "/Incidents"
                      }
                    }
                  },
                  "runAfter": {
                    "Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Add_comment_to_incident_(V3)": {
                        "runAfter": {},
                        "type": "ApiConnection",
                        "inputs": {
                          "body": {
                            "incidentArmId": "@triggerBody()?['object']?['id']",
                            "message": "<p><strong>Azure Firewall Playbook performed the following action:</strong><br>\n<br>\n<strong>IP Address : </strong>&nbsp;@{items('Each_malicious_IP_Address_Entity_present_in_the_Incident')?['Address']}<br>\n<strong><br>\nVirus Total Report &nbsp;:</strong><br>\n<br>\n<strong>Country &nbsp;: </strong>&nbsp;@{body('Ip_scan_report_V3')?['data']?['attributes']?['country']}<br>\n<strong>Continent :</strong> @{body('Ip_scan_report_V3')?['data']?['attributes']?['continent']}<br>\n<strong>ASN : </strong>@{body('Ip_scan_report_V3')?['data']?['attributes']?['asn']}<br>\n<strong>AS_Owner :</strong> @{body('Ip_scan_report_V3')?['data']?['attributes']?['as_owner']}<br>\n<strong><br>\nTotal Votes :</strong><br>\n&nbsp;<br>\n<strong>&nbsp;Malicious :</strong> @{body('Ip_scan_report_V3')?['data']?['attributes']?['total_votes']?['malicious']}<br>\n<strong>&nbsp;Positives Votes : </strong><strong>@{body('Ip_scan_report_V3')?['data']?['attributes']?['total_votes']?['harmless']}</strong><strong><br>\n&nbsp;Negative Votes : </strong>&nbsp;@{body('Ip_scan_report_V3')?['data']?['attributes']?['total_votes']?['malicious']}<br>\n<strong>&nbsp;Suspicious Votes : </strong>@{body('Ip_scan_report_V3')?['data']?['attributes']?['last_analysis_stats']?['suspicious']}<br>\n<strong>&nbsp;Number of reports saying that is Undetected :</strong> @{body('Ip_scan_report_V3')?['data']?['attributes']?['last_analysis_stats']?['undetected']}<br>\n<strong>Network :</strong> @{body('Ip_scan_report_V3')?['data']?['attributes']?['network']}<br>\n<br>\n<strong>Action Taken in Azure Firewall</strong><br>\n<br>\n<strong>Ignored to add IP Address to the Firewall Policy</strong></p>"
                          },
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                            }
                          },
                          "method": "post",
                          "path": "/Incidents/Comment"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')?['submitActionId']",
                          "OK"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Ip_scan_report_V3": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['virustotal']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/api/v3/ip_addresses/@{encodeURIComponent(items('Each_malicious_IP_Address_Entity_present_in_the_Incident')?['Address'])}"
                  }
                },
                "Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response": {
                  "runAfter": {
                    "Ip_scan_report_V3": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnectionWebhook",
                  "inputs": {
                    "body": {
                      "body": {
                        "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n         {\n            \"type\": \"TextBlock\",\n            \"size\": \"large\",\n            \"weight\": \"bolder\",\n            \"text\": \"Suspicious IP - Azure Sentinel\",\n            \"wrap\": true\n        },\n               {\n            \"type\": \"TextBlock\",\n            \"text\": \"@{triggerBody()?['object']?['properties']?['severity']} incident @{triggerBody()?['object']?['properties']?['title']} \",\n            \"wrap\": true,\n            \"weight\": \"Bolder\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Incident description\",\n            \"wrap\": true,\n            \"weight\": \"Bolder\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \" @{triggerBody()?['object']?['properties']?['description']}\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"[Click here to view the Incident](@{triggerBody()?['object']?['properties']?['incidentUrl']})\",\n            \"wrap\": true\n        },\n\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"IP Address : @{items('Each_malicious_IP_Address_Entity_present_in_the_Incident')?['Address']}\",\n                \"wrap\": true,\n            \"weight\": \"Bolder\"\n\n        },\n        {\n            \"type\": \"TextBlock\",\n            \n            \"weight\": \"bolder\",\n            \"text\": \"Virus Total Report\",\n            \"wrap\": true\n        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Country :  @{body('Ip_scan_report_V3')?['data']?['attributes']?['country']}\",\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Continent :  @{body('Ip_scan_report_V3')?['data']?['attributes']?['continent']}\",\n                            \"wrap\": true\n                        },\n                       {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"ASN :  @{body('Ip_scan_report_V3')?['data']?['attributes']?['asn']}\",\n                            \"wrap\": true\n                        },\n                     {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"As_Owner : @{body('Ip_scan_report_V3')?['data']?['attributes']?['as_owner']}\",\n                            \"wrap\": true\n                        },\n {\n            \"type\": \"TextBlock\",\n            \n            \"weight\": \"bolder\",\n            \"text\": \"Total Votes :  \",\n            \"wrap\": true\n        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Malicious : @{body('Ip_scan_report_V3')?['data']?['attributes']?['last_analysis_stats']?['malicious']}\",\n                            \"wrap\": true\n                        },\n                       {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Positive Votes : @{body('Ip_scan_report_V3')?['data']?['attributes']?['total_votes']?['harmless']} \",\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Suspicious : @{body('Ip_scan_report_V3')?['data']?['attributes']?['last_analysis_stats']?['suspicious']}\",\n                            \"wrap\": true\n                        },\n                         {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Number of reports saying that is Undetected : @{body('Ip_scan_report_V3')?['data']?['attributes']?['last_analysis_stats']?['undetected']}\",\n                            \"wrap\": true\n                        },\n    {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Network :  @{body('Ip_scan_report_V3')?['data']?['attributes']?['network']}\",\n                            \"wrap\": true\n                        },\n       \n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n               {\n                    \"type\": \"Column\",\n                    \"items\": [\n                       \n                        {\n                            \"type\": \"TextBlock\",\n                            \"size\": \"Medium\",\n                            \"weight\": \"Bolder\",\n                            \"text\": \"Incident configuration:\",\n                            \"wrap\": true\n                        }\n                    ],\n                    \"width\": \"auto\"\n                }\n            ]\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"style\": \"Person\",\n                            \"url\": \"https://connectoricons-prod.azureedge.net/releases/v1.0.1391/1.0.1391.2130/azuresentinel/icon.png\",\n                            \"size\": \"Small\"\n                        }\n                    ],\n                    \"width\": \"auto\"\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Close Azure Sentinal incident?\"\n        },\n        {\n            \"choices\": [\n                {\n                    \"isSelected\": true,\n                    \"title\": \"Close incident - False Positive\",\n                    \"value\": \"FalsePositive\"\n                },\n                {\n                    \"title\": \"Close incident - True Positive\",\n                    \"value\": \"TruePositive\"\n                },\n                {\n                    \"title\": \"Close incident - Benign Positive\",\n                    \"value\": \"BenignPositive\"\n                },\n                {\n                    \"title\": \"Undetermined\",\n                    \"value\": \"Undetermined\"\n                }\n            ],\n            \"id\": \"incidentStatus\",\n            \"style\": \"compact\",\n            \"type\": \"Input.ChoiceSet\",\n            \"value\": \"BenignPositive\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Change Azure Sentinel Incident Severity?\"\n        },\n        {\n            \"choices\": [\n                {\n                    \"isSelected\": true,\n                    \"title\": \"High\",\n                    \"value\": \"High\"\n                },\n                {\n                    \"title\": \"Medium\",\n                    \"value\": \"Medium\"\n                },\n                {\n                    \"title\": \"Low\",\n                    \"value\": \"Low\"\n                },\n                {\n                    \"title\": \"Don't change\",\n                    \"value\": \"same\"\n                }\n            ],\n            \"id\": \"incidentSeverity\",\n            \"style\": \"compact\",\n            \"type\": \"Input.ChoiceSet\",\n            \"value\": \"@{triggerBody()?['object']?['properties']?['severity']}\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Azure Firewall Actions\",\n            \n            \"weight\": \"Bolder\"\n        },\n         {\n            \"type\": \"Image\",\n            \"style\": \"Person\",\n            \"url\": \"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATYAAACjCAMAAAA3vsLfAAAA6lBMVEX///8VZr/mIyP/c4GCEBCAHTODDgl6Dg7hIiL/dYOJERHsJCT/d4UAX713AADpLjHkGRblHRz7Z3TuQkg8WKUAYL19AAAAW7vk0tIAaMPzra3lCQn1WGLrHxWUS4TrNzv3X2qjbKP0+PwAV7r/w8nb5/Uca8HG1+3Q3vBKhsyct982ecbp8PiowuR5oda80OotcsSrxOWGAADeKDJWis2Hqtpol9Nzn9Zkk9EkcMNGgcozecfh7PeWsdtVS4txMll3Kkx8Iz5qOWp/GyyBFyMxX7PyTlYsTqHAusqwfKry5uaIICCjXl6zeXlTdqKmAAAGVUlEQVR4nO2dW1vjNhBAEbul0KKyoQiXdluo09jEMbGT5kZIltJ7d9v//3eqrFkgdhwriuWZcXQeeTDR+Ub3kbS3Z6kHod8bjtoxf8Jrj4PId6F/F2JavcktE5wLtsTHv3S6UQv692HEH8csLWxZHusE1twS1914nbJPSHPzEPq3YsHtTWUoKcK98TX0D8ZAGNwpO0tqKxv40D8aGjeIN5P2URyf7HbERRtG2rO47u62cbOJoyVtAWc30D8fiEAodJ75OJNdDLiwrR9qCcKLoAtROT7bKtQSmkPoYlTMvLm9NLaoqNAFqZRxOdZkz9DZnQbObesNO1YhvF2Zp7rT8qxJdsSb2y6hM9g5b6Vb2w1vg1JraMJt7Rd/uwasMdGGLpZhAhPW5DikC10wo0RmrMn5Qp0n9qFnyJqcL9S4WxiU3ok+M4UunDEMNWwJzhy6eIYITVqT3UJNq6nJKioR9aymUVmrHnk0a7lqaTbWFnRqOFkw2h8kODUcvF0Yt8ZYXLtwm5sPNhluAXQxS8atQJpkWrNw6227u6cGr1l2yLQSa0yMoAtaKq1qgk0ygy5qSbhhKxpWFGyyltaiUwilMc9xquhFE8QAushbEwYD5pifGyzjEa+l0SiT8l0FDuWJqRvcVh5nCYT7UnfIqmvN0pCdYN2o532bgOZqpR9XNkZbCcmJgjuClSa1EdxT8G9hOoIXEBy5DUEbtUdiaAsb4k4wWKOWRxN2UFgjNk9oeeDN2iOUDha1zKV3bIggNALBY43xHpnGDZE1yd1kGFHIuw9jLO1aghAOG8yxz7Jcw9kdWgjutAPUMdeFnlDlwcUQr7gbrNYkHO153Rm0mvVwpHP7KcKGbQnuIRzJVZLcsSX4zp22oJUowTvIJqoT7FU0QTBUFdWnYU0ietCuXlBZlsL2IMpzMHYYyAQcTY4qoWBjeOqpTynYGJqlOIxT+LWgOOccIp6MrkZgSO69IVZHGY7zunfQEjTg4IlcM9OHqIzgQVdTgnVUIqCrKbl+NAH63Cm5fjQB+PaLa6LaGAfdtq/gpKMZYFO5RjSbNgbculEctSWAdqZUmzaJgLPWIjnYTQA88xFRjja4m0B7VDvSBRxMG9nxxwIHbOhGYVs5F7jtmCHZYdsCsAkW6WhjDEob6baNNaHStyq6osIQYCM3n7Q2sK1myrMEwHOALmltAizjLYYu+jaIMZS2MeWBG9xNBKRHIHBLbpSXQACPhpPuEwBzBGklty3D4VLdKDducCtHygPeiypu89zwPzUBM0EUf+K7+4fPKuHh/p2qNg/OmuL9Fb/0+wcV0e8//KFkDXSHeaYwBLn4tf+6Qvr3SvUUNtle5RGh3w6q1Hbwu1K4NUHTQBSOJZxVKU3SP1MJN8D95QXFNwucJcH2eTFfFaPwlfOziwUF1oDvxitOqEy0fbF/WETj6FURxyeFXzk8/Fly8sN6b9A3MbqF+TOP2r7cL+LN8VERxyeFX5E0Go3vC7QB11GF1m0DbQrRpqJNUqANbo3yiaKJKUZtCB53KjpQilAbiovxCh7lQ6gNNnf3EXf9ngI+bSiCrahXQKgNQ7DtFVRTdNowHFZLWHeBCjpteK6uXPcQJDZtDpKD3wuu86spMm0cbFt5Fb3c9XFc2gSyh9dyveHShu6e9jxvqLTBH13OEKz2hkkbnvtTXrD6oAIibUifqvPZivFbnrZGmu8y2o6O0+Roy35rlTa0rwy37rIBl6Ot8edpmvTq7tHVZZoca5lvXf2Y1Yayhia4o4y3PG1vM4u5mWB721Crktlvvcpqw3K/0Wp66QvZc7UVbh1soC3zrbQ2HiOZv+cxG3B82vgI1yh3Fb2Y49ImPNQV9BPu/MUzV+DaBB/jD7WEsPv01BW0NmeKvFVbwr3xktfoQLUJZ4rjorsNiCZNR1zAaROOM6IUac9EI/4XjDbuOAMSHUEOf59DaPtnSK5yLvMNhLbTn6CLvS1WmxZWmxZWmxZWmxZWmxa52jJLt1ltb9KrtjnarjKfqqu2/cuv02RWd0+v0uQsime+dfktdLG3JU9bZgMguwWjnrub2Uuor7Y0Ze5cWW1Wm9WmjtWmhdWmhdWmhdWmhdWmhdWmhdWmhdWmhdWmhdWmhdWmxfsPB1abBv+eW20avH99brVp4P73oWba/ge1KiK0SUpzWQAAAABJRU5ErkJggg==\",\n            \"size\": \"Small\"\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.ShowCard\",\n            \"title\": \"Add IP address to threat intel allow list\",\n            \"card\": {\n                \"type\": \"AdaptiveCard\",\n                \"body\": [\n  {\n            \"type\": \"TextBlock\",\n            \"text\": \"Select firewall policy name\"\n        },\n        {     \n      \"type\": \"Input.ChoiceSet\",\n      \"id\": \"FirewallPolicySelectedVal\",\n      \"label\": \"Please select Firewall name and Rules name\",\n      \"style\": \"compact\",\n      \"isRequired\": true,\n      \"errorMessage\": \"This is a required input\",\n      \"placeholder\": \"Please choose\",\n      \"choices\": @{body('Select_Firewall_Policies_Choice_List_to_show_in_the_Adaptive_Card')}\n    }\n\n                            ],\n                \"actions\": [\n                    {\n                        \"type\": \"Action.Submit\",\n                        \"title\": \"OK\"\n                    }    \n                ],\n                \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n                \"version\":\"1.2\"\n            }\n\n        },\n        {\n            \"type\":\"Action.Submit\",\n            \"title\":\"Ignore\"\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}\n",
                        "recipient": {
                          "channelId": "[parameters('Teams ChannelId')]"
                        },
                        "shouldUpdateCard": true
                      },
                      "notificationUrl": "@{listCallbackUrl()}"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['teams']['connectionId']"
                      }
                    },
                    "path": "/flowbot/actions/flowcontinuation/recipienttypes/channel/$subscriptions",
                    "queries": {
                      "groupId": "[parameters('Teams GroupId')]"
                    }
                  }
                }
              },
              "runAfter": {
                "Select_Firewall_Policies_Choice_List_to_show_in_the_Adaptive_Card": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "description": "Post an Adaptive Card to each IP Address and add it to threat intel allow list based on Action"
            },
            "Entities_-_Get_IPs": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/ip"
              }
            },
            "Gets_all_the_Firewall_Policies_in_a_subscription": {
              "runAfter": {
                "List_-_Threat_intel_IP_Address_allow_list_from_the_Resource_Group": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['AzureFirewallConnector']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/providers/Microsoft.Network/firewallPolicies",
                "queries": {
                  "api-version": "2020-07-01"
                }
              }
            },
            "List_-_Threat_intel_IP_Address_allow_list_from_the_Resource_Group": {
              "runAfter": {
                "Entities_-_Get_IPs": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "IP Array",
                    "type": "array"
                  }
                ]
              },
              "description": "Variable to store the List of existing Threat Intel allowed IP Addresses"
            },
            "Select_Firewall_Policies_Choice_List_to_show_in_the_Adaptive_Card": {
              "runAfter": {
                "Gets_all_the_Firewall_Policies_in_a_subscription": [
                  "Succeeded"
                ]
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Gets_all_the_Firewall_Policies_in_a_subscription')?['value']",
                "select": {
                  "title": "@item()?['name']",
                  "value": "@item()?['name']"
                }
              },
              "description": "Prepare Firewall Policies Choice list to show in the Adaptive Card"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "AzureFirewallConnector": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureFirewallConnectionName'))]",
                "connectionName": "[variables('AzureFirewallConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/AzureFirewallConnector')]"
              },
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
              },
              "teams": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
                "connectionName": "[variables('TeamsConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
              },
              "virustotal": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('VirusTotalConnectionName'))]",
                "connectionName": "[variables('VirusTotalConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/virustotal')]"
              }
            }
          }
        }
      }
    }
  ]
}