Solutions/Commvault Security IQ/Package/mainTemplate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "author": "svc.cv-securityiq@commvault.com",
    "comments": "Solution template for Commvault Security IQ"
  },
  "parameters": {
    "location": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Not used, but needed to pass arm-ttk test `Location-Should-Not-Be-Hardcoded`.  We instead use the `workspace-location` which is derived from the LA workspace"
      }
    },
    "workspace-location": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "[concat('Region to deploy solution resources -- separate from location selection',parameters('location'))]"
      }
    },
    "workspace": {
      "defaultValue": "",
      "type": "string",
      "metadata": {
        "description": "Workspace name for Log Analytics where Microsoft Sentinel is setup"
      }
    },
    "resourceGroupName": {
      "type": "string",
      "defaultValue": "[resourceGroup().name]",
      "metadata": {
        "description": "resource group name where Microsoft Sentinel is setup"
      }
    },
    "subscription": {
      "type": "string",
      "defaultValue": "[last(split(subscription().id, '/'))]",
      "metadata": {
        "description": "subscription id where Microsoft Sentinel is setup"
      }
    }
  },
  "variables": {
    "_solutionName": "Commvault Security IQ",
    "_solutionVersion": "3.0.5",
    "solutionId": "commvault.microsoft-sentinel-solution-commvaultsecurityiq",
    "_solutionId": "[variables('solutionId')]",
    "analyticRuleObject1": {
      "analyticRuleVersion1": "1.0.5",
      "_analyticRulecontentId1": "317e757e-c320-448e-8837-fc61a70fe609",
      "analyticRuleId1": "[resourceId('Microsoft.SecurityInsights/AlertRuleTemplates', '317e757e-c320-448e-8837-fc61a70fe609')]",
      "analyticRuleTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-ar-',uniquestring('317e757e-c320-448e-8837-fc61a70fe609')))]",
      "_analyticRulecontentProductId1": "[concat(take(variables('_solutionId'),50),'-','ar','-', uniqueString(concat(variables('_solutionId'),'-','AnalyticsRule','-','317e757e-c320-448e-8837-fc61a70fe609','-', '1.0.5')))]"
    },
    "Commvault_Disable_Data_Aging_Logic_App": "Commvault_Disable_Data_Aging_Logic_App",
    "_Commvault_Disable_Data_Aging_Logic_App": "[variables('Commvault_Disable_Data_Aging_Logic_App')]",
    "playbookVersion1": "1.2",
    "playbookContentId1": "Commvault_Disable_Data_Aging_Logic_App",
    "_playbookContentId1": "[variables('playbookContentId1')]",
    "playbookId1": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId1'))]",
    "playbookTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId1'))))]",
    "workspaceResourceId": "[resourceId('microsoft.OperationalInsights/Workspaces', parameters('workspace'))]",
    "_playbookcontentProductId1": "[concat(take(variables('_solutionId'),50),'-','pl','-', uniqueString(concat(variables('_solutionId'),'-','Playbook','-',variables('_playbookContentId1'),'-', variables('playbookVersion1'))))]",
    "blanks": "[replace('b', 'b', '')]",
    "Commvault_Disable_SAML_Provider_Logic_App": "Commvault_Disable_SAML_Provider_Logic_App",
    "_Commvault_Disable_SAML_Provider_Logic_App": "[variables('Commvault_Disable_SAML_Provider_Logic_App')]",
    "playbookVersion2": "1.2",
    "playbookContentId2": "Commvault_Disable_SAML_Provider_Logic_App",
    "_playbookContentId2": "[variables('playbookContentId2')]",
    "playbookId2": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId2'))]",
    "playbookTemplateSpecName2": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId2'))))]",
    "_playbookcontentProductId2": "[concat(take(variables('_solutionId'),50),'-','pl','-', uniqueString(concat(variables('_solutionId'),'-','Playbook','-',variables('_playbookContentId2'),'-', variables('playbookVersion2'))))]",
    "Commvault_Disable_User_Logic_App": "Commvault_Disable_User_Logic_App",
    "_Commvault_Disable_User_Logic_App": "[variables('Commvault_Disable_User_Logic_App')]",
    "playbookVersion3": "1.2",
    "playbookContentId3": "Commvault_Disable_User_Logic_App",
    "_playbookContentId3": "[variables('playbookContentId3')]",
    "playbookId3": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId3'))]",
    "playbookTemplateSpecName3": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId3'))))]",
    "_playbookcontentProductId3": "[concat(take(variables('_solutionId'),50),'-','pl','-', uniqueString(concat(variables('_solutionId'),'-','Playbook','-',variables('_playbookContentId3'),'-', variables('playbookVersion3'))))]",
    "dataConnectorCCPVersion": "3.0.5",
    "_dataConnectorContentIdConnectorDefinition1": "CommvaultSecurityIQConnector",
    "dataConnectorTemplateNameConnectorDefinition1": "[concat(parameters('workspace'),'-dc-',uniquestring(variables('_dataConnectorContentIdConnectorDefinition1')))]",
    "_dataConnectorContentIdConnections1": "CommvaultSecurityIQConnectorConnections",
    "dataConnectorTemplateNameConnections1": "[concat(parameters('workspace'),'-dc-',uniquestring(variables('_dataConnectorContentIdConnections1')))]",
    "dataCollectionEndpointId1": "[concat('/subscriptions/',parameters('subscription'),'/resourceGroups/',parameters('resourceGroupName'),'/providers/Microsoft.Insights/dataCollectionEndpoints/',parameters('workspace'))]",
    "_solutioncontentProductId": "[concat(take(variables('_solutionId'),50),'-','sl','-', uniqueString(concat(variables('_solutionId'),'-','Solution','-',variables('_solutionId'),'-', variables('_solutionVersion'))))]"
  },
  "resources": [
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('analyticRuleObject1').analyticRuleTemplateSpecName1]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "CommvaultSecurityIQ_Alert_AnalyticalRules Analytics Rule with template version 3.0.5",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('analyticRuleObject1').analyticRuleVersion1]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.SecurityInsights/AlertRuleTemplates",
              "name": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
              "apiVersion": "2023-02-01-preview",
              "kind": "Scheduled",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "description": "This query identifies Alerts from Commvault Cloud.",
                "displayName": "Commvault Cloud Alert",
                "enabled": false,
                "query": "CommvaultAlertsCCF_CL\n| where TimeGenerated > ago(5m)\n| where isnotnull(AnomalyType) and AnomalyType > 0\n| take 1000\n",
                "queryFrequency": "PT5M",
                "queryPeriod": "PT5M",
                "severity": "Medium",
                "suppressionDuration": "PT1H",
                "suppressionEnabled": false,
                "triggerOperator": "GreaterThan",
                "triggerThreshold": 0,
                "status": "Available",
                "requiredDataConnectors": [
                  {
                    "datatypes": [
                      "CommvaultAlertsCCF_CL"
                    ],
                    "connectorId": "CommvaultSecurityIQConnector"
                  }
                ],
                "tactics": [
                  "DefenseEvasion",
                  "Impact"
                ],
                "techniques": [
                  "T1578",
                  "T1531"
                ],
                "eventGroupingSettings": {
                  "aggregationKind": "AlertPerResult"
                },
                "customDetails": {
                  "AnomalyType": "AnomalyType",
                  "Client": "ClientName"
                },
                "alertDetailsOverride": {
                  "alertDescriptionFormat": "Anomaly detected for Commvault client {{ClientName}} (ID: {{ClientId}}) at {{Location}}. AnomalyType flag: {{AnomalyType}}. File activity — Created: {{CreateCount}}, Deleted: {{DeleteCount}}, Modified: {{ModCount}}, Renamed: {{RenameCount}}, Infected: {{InfectedFilesCount}}.",
                  "alertDynamicProperties": [],
                  "alertDisplayNameFormat": "Commvault Cloud Anomaly detected for client: {{ClientName}}"
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('AnalyticsRule-', last(split(variables('analyticRuleObject1').analyticRuleId1,'/'))))]",
              "properties": {
                "description": "Commvault Security IQ Analytics Rule 1",
                "parentId": "[variables('analyticRuleObject1').analyticRuleId1]",
                "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
                "kind": "AnalyticsRule",
                "version": "[variables('analyticRuleObject1').analyticRuleVersion1]",
                "source": {
                  "kind": "Solution",
                  "name": "Commvault Security IQ",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "svc.cv-securityiq@commvault.com"
                },
                "support": {
                  "tier": "Partner",
                  "name": "Commvault",
                  "email": "support@commvault.com",
                  "link": "https://www.commvault.com/support"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
        "contentKind": "AnalyticsRule",
        "displayName": "Commvault Cloud Alert",
        "contentProductId": "[variables('analyticRuleObject1')._analyticRulecontentProductId1]",
        "id": "[variables('analyticRuleObject1')._analyticRulecontentProductId1]",
        "version": "[variables('analyticRuleObject1').analyticRuleVersion1]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('playbookTemplateSpecName1')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "CommvaultDataAgingPlaybook Playbook with template version 3.0.5",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion1')]",
          "parameters": {
            "PlaybookName": {
              "defaultValue": "CommvaultDataAgingPlaybook",
              "type": "string"
            },
            "Automation-Account": {
              "defaultValue": "Commvault-Automation-Account",
              "type": "string"
            },
            "keyvaultName": {
              "type": "string"
            }
          },
          "variables": {
            "subscriptionId": "[[subscription().subscriptionId]",
            "tenantId": "[[subscription().tenantId]",
            "AzureautomationConnectionName": "[[concat('Azureautomation-', parameters('PlaybookName'))]",
            "MicrosoftSentinelConnectionName": "[[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
            "KeyvaultConnectionName": "[[concat('Keyvault-', parameters('PlaybookName'))]",
            "connection-2": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azureautomation')]",
            "_connection-2": "[[variables('connection-2')]",
            "connection-3": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azuresentinel')]",
            "_connection-3": "[[variables('connection-3')]",
            "connection-4": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Keyvault')]",
            "_connection-4": "[[variables('connection-4')]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "apiVersion": "2017-07-01",
              "dependsOn": [
                "[[resourceId('Microsoft.Web/connections', variables('AzureautomationConnectionName'))]",
                "[[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "[[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]"
              ],
              "identity": {
                "type": "SystemAssigned"
              },
              "location": "[[variables('workspace-location-inline')]",
              "name": "[[parameters('PlaybookName')]",
              "properties": {
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "actions": {
                    "Access_Token": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('access-token')}/value"
                      }
                    },
                    "Disable_Data_Aging": {
                      "actions": {
                        "For_each": {
                          "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                          "actions": {
                            "Parse_JSON": {
                              "type": "ParseJson",
                              "inputs": {
                                "content": "@items('For_each')?['properties']?['additionalData']?['Custom Details']",
                                "schema": {
                                  "type": "object",
                                  "properties": {
                                    "Client": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "User": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "For_each_1": {
                              "foreach": "@body('Parse_JSON')?['Client']",
                              "actions": {
                                "Disable_Data_Aging_Job_Output": {
                                  "runAfter": {
                                    "Create_Disable_Data_Aging": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                      }
                                    },
                                    "method": "get",
                                    "path": "/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent('Commvault-Automation-Account')}/jobs/@{encodeURIComponent(body('Create_Disable_Data_Aging')?['properties']?['jobId'])}/output",
                                    "queries": {
                                      "x-ms-api-version": "2015-10-31"
                                    }
                                  }
                                },
                                "Create_Disable_Data_Aging": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                      }
                                    },
                                    "method": "put",
                                    "body": {
                                      "properties": {
                                        "parameters": {
                                          "ClientName": "@items('For_each_1')",
                                          "EnvironmentEndpointURL": "@body('Environment_Endpoint_URL')?['value']",
                                          "apiAccessToken": "@body('Access_Token')?['value']"
                                        }
                                      }
                                    },
                                    "path": "/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent('Commvault-Automation-Account')}/jobs",
                                    "queries": {
                                      "x-ms-api-version": "2015-10-31",
                                      "runbookName": "Commvault_Disable_Data_Aging",
                                      "wait": true
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Parse_JSON": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Foreach"
                            }
                          },
                          "type": "Foreach"
                        }
                      },
                      "runAfter": {
                        "Environment_Endpoint_URL": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "contains": [
                                "@triggerBody()?['object']?['properties']?['owner']",
                                "Data"
                              ]
                            }
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "Environment_Endpoint_URL": {
                      "runAfter": {
                        "Access_Token": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('environment-endpoint-url')}/value"
                      }
                    }
                  },
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "Microsoft_Sentinel_incident": {
                      "inputs": {
                        "body": {
                          "callback_url": "@{listCallbackUrl()}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "path": "/incident-creation"
                      },
                      "type": "ApiConnectionWebhook"
                    }
                  }
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "azureautomation": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('AzureautomationConnectionName'))]",
                        "connectionName": "[[variables('AzureautomationConnectionName')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        },
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azureautomation')]"
                      },
                      "azuresentinel": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                        "connectionName": "[[variables('MicrosoftSentinelConnectionName')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        },
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azuresentinel')]"
                      },
                      "keyvault": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]",
                        "connectionName": "[[variables('KeyvaultConnectionName')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        },
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Keyvault')]"
                      }
                    }
                  }
                },
                "state": "Enabled"
              },
              "tags": {
                "hidden-SentinelTemplateName": "Disable Data Aging Playbook",
                "hidden-SentinelTemplateVersion": "1.2",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "type": "Microsoft.Logic/workflows"
            },
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('AzureautomationConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "kind": "V1",
              "properties": {
                "displayName": "[[variables('AzureautomationConnectionName')]",
                "parameterValueType": "Alternative",
                "api": {
                  "id": "[[variables('_connection-2')]"
                }
              }
            },
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('MicrosoftSentinelConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "kind": "V1",
              "properties": {
                "displayName": "[[variables('MicrosoftSentinelConnectionName')]",
                "parameterValueType": "Alternative",
                "api": {
                  "id": "[[variables('_connection-3')]"
                }
              }
            },
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('KeyvaultConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "kind": "V1",
              "properties": {
                "displayName": "[[variables('KeyvaultConnectionName')]",
                "parameterValueType": "Alternative",
                "alternativeParameterValues": {
                  "token:TenantId": "[[variables('tenantId')]",
                  "token:grantType": "code",
                  "vaultName": "[[parameters('keyvaultName')]"
                },
                "api": {
                  "id": "[[variables('_connection-4')]"
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId1'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId1')]",
                "contentId": "[variables('_playbookContentId1')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion1')]",
                "source": {
                  "kind": "Solution",
                  "name": "Commvault Security IQ",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "svc.cv-securityiq@commvault.com"
                },
                "support": {
                  "tier": "Partner",
                  "name": "Commvault",
                  "email": "support@commvault.com",
                  "link": "https://www.commvault.com/support"
                }
              }
            }
          ],
          "metadata": {
            "title": "Commvault Disable Data Aging Logic App Playbook",
            "description": "This Logic App executes when called upon by an Automation Rule. Accessing the KeyVault to retrieve various credentials, it executes a specific runbook depending on the use case.",
            "prerequisites": [
              "1. Administrative access to your Commvault/Metallic environment.",
              "2. Administrative access to your Azure Resource Group and Subscription.",
              "3. A Microsoft Sentinel instance in the aforementioned Azure Resource Group.",
              "4. A Keyvault and an Automation Account configured as mentioned in the documentation here :- (https://github.com/Cv-securityIQ/Azure-Integration/blob/master/Solutions/Commvault%20Security%20IQ/README.md)"
            ],
            "postDeployment": [
              "1. Steps to follow the instructions are mentioned here :- (https://github.com/Cv-securityIQ/Azure-Integration/blob/master/Solutions/Commvault%20Security%20IQ/README.md)",
              "2. Give the required permissions to the logic app to get the secrets from the keyvault.",
              "3. Setup the Managed Identity"
            ],
            "lastUpdateTime": "2023-08-24T00:00:00Z",
            "tags": [
              "Commvault",
              "Metallic",
              "Threat Intelligence",
              "Ransomware",
              "Security - Automation (SOAR)"
            ],
            "releaseNotes": {
              "version": "1.2",
              "title": "[variables('blanks')]",
              "notes": [
                "Initial version"
              ]
            }
          }
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_playbookContentId1')]",
        "contentKind": "Playbook",
        "displayName": "CommvaultDataAgingPlaybook",
        "contentProductId": "[variables('_playbookcontentProductId1')]",
        "id": "[variables('_playbookcontentProductId1')]",
        "version": "[variables('playbookVersion1')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('playbookTemplateSpecName2')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "CommvaultSAMLPlaybook Playbook with template version 3.0.5",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion2')]",
          "parameters": {
            "PlaybookName": {
              "defaultValue": "CommvaultSAMLPlaybook",
              "type": "string"
            },
            "Automation-Account": {
              "defaultValue": "Commvault-Automation-Account",
              "type": "string"
            },
            "keyvaultName": {
              "type": "string"
            }
          },
          "variables": {
            "subscriptionId": "[[subscription().subscriptionId]",
            "tenantId": "[[subscription().tenantId]",
            "AzureautomationConnectionName": "[[concat('Azureautomation-', parameters('PlaybookName'))]",
            "MicrosoftSentinelConnectionName": "[[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
            "KeyvaultConnectionName": "[[concat('Keyvault-', parameters('PlaybookName'))]",
            "connection-2": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azureautomation')]",
            "_connection-2": "[[variables('connection-2')]",
            "connection-3": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azuresentinel')]",
            "_connection-3": "[[variables('connection-3')]",
            "connection-4": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Keyvault')]",
            "_connection-4": "[[variables('connection-4')]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "Microsoft_Sentinel_incident": {
                      "type": "ApiConnectionWebhook",
                      "inputs": {
                        "body": {
                          "callback_url": "@{listCallbackUrl()}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "path": "/incident-creation"
                      }
                    }
                  },
                  "actions": {
                    "Access_Token": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('access-token')}/value"
                      }
                    },
                    "Disable_IDP": {
                      "actions": {
                        "Disable_IDP_Job": {
                          "type": "ApiConnection",
                          "inputs": {
                            "body": {
                              "properties": {
                                "parameters": {
                                  "EnvironmentEndpointURL": "@body('Environment_Endpoint_URL')?['value']",
                                  "apiAccessToken": "@body('Access_Token')?['value']"
                                }
                              }
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azureautomation']['connectionId']"
                              }
                            },
                            "method": "put",
                            "path": "/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent('Commvault-Automation-Account')}/jobs",
                            "queries": {
                              "runbookName": "Commvault_Disable_IDP",
                              "wait": true,
                              "x-ms-api-version": "2015-10-31"
                            }
                          }
                        },
                        "Disable_IDP_Job_Output": {
                          "runAfter": {
                            "Disable_IDP_Job": [
                              "Succeeded"
                            ]
                          },
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azureautomation']['connectionId']"
                              }
                            },
                            "method": "get",
                            "path": "/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent('Commvault-Automation-Account')}/jobs/@{encodeURIComponent(body('Disable_IDP_Job')?['properties']?['jobId'])}/output",
                            "queries": {
                              "x-ms-api-version": "2015-10-31"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Environment_Endpoint_URL": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "contains": [
                                "@triggerBody()?['object']?['properties']?['description']",
                                "IDP"
                              ]
                            }
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "Environment_Endpoint_URL": {
                      "runAfter": {
                        "Access_Token": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('environment-endpoint-url')}/value"
                      }
                    }
                  }
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "azureautomation": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('AzureautomationConnectionName'))]",
                        "connectionName": "[[variables('AzureautomationConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azureautomation')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      },
                      "azuresentinel": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                        "connectionName": "[[variables('MicrosoftSentinelConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azuresentinel')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      },
                      "keyvault": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]",
                        "connectionName": "[[variables('KeyvaultConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Keyvault')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "name": "[[parameters('PlaybookName')]",
              "type": "Microsoft.Logic/workflows",
              "location": "[[variables('workspace-location-inline')]",
              "tags": {
                "hidden-SentinelTemplateName": "Disable SAML Providers Playbook",
                "hidden-SentinelTemplateVersion": "1.2",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "identity": {
                "type": "SystemAssigned"
              },
              "apiVersion": "2017-07-01",
              "dependsOn": [
                "[[resourceId('Microsoft.Web/connections', variables('AzureautomationConnectionName'))]",
                "[[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "[[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]"
              ]
            },
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('AzureautomationConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "kind": "V1",
              "properties": {
                "displayName": "[[variables('AzureautomationConnectionName')]",
                "parameterValueType": "Alternative",
                "api": {
                  "id": "[[variables('_connection-2')]"
                }
              }
            },
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('MicrosoftSentinelConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "kind": "V1",
              "properties": {
                "displayName": "[[variables('MicrosoftSentinelConnectionName')]",
                "parameterValueType": "Alternative",
                "api": {
                  "id": "[[variables('_connection-3')]"
                }
              }
            },
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('KeyvaultConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "kind": "V1",
              "properties": {
                "displayName": "[[variables('KeyvaultConnectionName')]",
                "parameterValueType": "Alternative",
                "alternativeParameterValues": {
                  "token:TenantId": "[[variables('tenantId')]",
                  "token:grantType": "code",
                  "vaultName": "[[parameters('keyvaultName')]"
                },
                "api": {
                  "id": "[[variables('_connection-4')]"
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId2'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId2')]",
                "contentId": "[variables('_playbookContentId2')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion2')]",
                "source": {
                  "kind": "Solution",
                  "name": "Commvault Security IQ",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "svc.cv-securityiq@commvault.com"
                },
                "support": {
                  "tier": "Partner",
                  "name": "Commvault",
                  "email": "support@commvault.com",
                  "link": "https://www.commvault.com/support"
                }
              }
            }
          ],
          "metadata": {
            "title": "Commvault Disable SAML Provider Logic App Playbook",
            "description": "This Logic App executes when called upon by an Automation Rule. Accessing the KeyVault to retrieve various credentials, it executes a specific runbook depending on the use case.",
            "prerequisites": [
              "1. Administrative access to your Commvault/Metallic environment.",
              "2. Administrative access to your Azure Resource Group and Subscription.",
              "3. A Microsoft Sentinel instance in the aforementioned Azure Resource Group.",
              "4. A Keyvault and an Automation Account configured as mentioned in the documentation here :- (https://github.com/Cv-securityIQ/Azure-Integration/blob/master/Solutions/Commvault%20Security%20IQ/README.md)"
            ],
            "postDeployment": [
              "1. Steps to follow the instructions are mentioned here :- (https://github.com/Cv-securityIQ/Azure-Integration/blob/master/Solutions/Commvault%20Security%20IQ/README.md)",
              "2. Give the required permissions to the logic app to get the secrets from the keyvault.",
              "3. Setup the Managed Identity"
            ],
            "lastUpdateTime": "2023-08-24T00:00:00Z",
            "tags": [
              "Commvault",
              "Metallic",
              "Threat Intelligence",
              "Ransomware",
              "Security - Automation (SOAR)"
            ],
            "releaseNotes": {
              "version": "1.2",
              "title": "[variables('blanks')]",
              "notes": [
                "Initial version"
              ]
            }
          }
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_playbookContentId2')]",
        "contentKind": "Playbook",
        "displayName": "CommvaultSAMLPlaybook",
        "contentProductId": "[variables('_playbookcontentProductId2')]",
        "id": "[variables('_playbookcontentProductId2')]",
        "version": "[variables('playbookVersion2')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('playbookTemplateSpecName3')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "CommvaultUserPlaybook Playbook with template version 3.0.5",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion3')]",
          "parameters": {
            "PlaybookName": {
              "defaultValue": "CommvaultUserPlaybook",
              "type": "string"
            },
            "Automation-Account": {
              "defaultValue": "Commvault-Automation-Account",
              "type": "string"
            },
            "keyvaultName": {
              "type": "string"
            }
          },
          "variables": {
            "subscriptionId": "[[subscription().subscriptionId]",
            "tenantId": "[[subscription().tenantId]",
            "AzureautomationConnectionName": "[[concat('Azureautomation-', parameters('PlaybookName'))]",
            "MicrosoftSentinelConnectionName": "[[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
            "KeyvaultConnectionName": "[[concat('Keyvault-', parameters('PlaybookName'))]",
            "connection-2": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azureautomation')]",
            "_connection-2": "[[variables('connection-2')]",
            "connection-3": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azuresentinel')]",
            "_connection-3": "[[variables('connection-3')]",
            "connection-4": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Keyvault')]",
            "_connection-4": "[[variables('connection-4')]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "Microsoft_Sentinel_incident": {
                      "type": "ApiConnectionWebhook",
                      "inputs": {
                        "body": {
                          "callback_url": "@{listCallbackUrl()}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "path": "/incident-creation"
                      }
                    }
                  },
                  "actions": {
                    "Access_Token": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('access-token')}/value"
                      }
                    },
                    "Disable_User": {
                      "actions": {
                        "For_each": {
                          "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                          "actions": {
                            "Parse_JSON": {
                              "type": "ParseJson",
                              "inputs": {
                                "content": "@items('For_each')?['properties']?['additionalData']?['Custom Details']",
                                "schema": {
                                  "type": "object",
                                  "properties": {
                                    "User": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "For_each_user": {
                              "foreach": "@body('Parse_JSON')?['User']",
                              "actions": {
                                "Disable_User_Job": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                      }
                                    },
                                    "method": "put",
                                    "body": {
                                      "properties": {
                                        "parameters": {
                                          "EnvironmentEndpointURL": "@body('Environment_Endpoint_URL')?['value']",
                                          "UserIdentity": "@items('For_each_user')",
                                          "apiAccessToken": "@body('Access_Token')?['value']"
                                        }
                                      }
                                    },
                                    "path": "/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent('Commvault-Automation-Account')}/jobs",
                                    "queries": {
                                      "x-ms-api-version": "2015-10-31",
                                      "runbookName": "Commvault_Disable_User",
                                      "wait": true
                                    }
                                  }
                                },
                                "Disable_User_Job_Output": {
                                  "runAfter": {
                                    "Disable_User_Job": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                      }
                                    },
                                    "method": "get",
                                    "path": "/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent('Commvault-Automation-Account')}/jobs/@{encodeURIComponent(body('Disable_User_Job')?['properties']?['jobId'])}/output",
                                    "queries": {
                                      "x-ms-api-version": "2015-10-31"
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Parse_JSON": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Foreach"
                            }
                          },
                          "type": "Foreach"
                        }
                      },
                      "runAfter": {
                        "Environment_Endpoint_URL": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "startsWith": [
                                "@triggerBody()?['object']?['properties']?['description']",
                                "User"
                              ]
                            }
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "Environment_Endpoint_URL": {
                      "runAfter": {
                        "Access_Token": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('environment-endpoint-url')}/value"
                      }
                    }
                  }
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "azureautomation": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('AzureautomationConnectionName'))]",
                        "connectionName": "[[variables('AzureautomationConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azureautomation')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      },
                      "azuresentinel": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                        "connectionName": "[[variables('MicrosoftSentinelConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Azuresentinel')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      },
                      "keyvault": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]",
                        "connectionName": "[[variables('KeyvaultConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/Keyvault')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "name": "[[parameters('PlaybookName')]",
              "type": "Microsoft.Logic/workflows",
              "location": "[[variables('workspace-location-inline')]",
              "tags": {
                "hidden-SentinelTemplateName": "Disable User Playbook",
                "hidden-SentinelTemplateVersion": "1.2",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "identity": {
                "type": "SystemAssigned"
              },
              "apiVersion": "2017-07-01",
              "dependsOn": [
                "[[resourceId('Microsoft.Web/connections', variables('AzureautomationConnectionName'))]",
                "[[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "[[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]"
              ]
            },
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('AzureautomationConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "kind": "V1",
              "properties": {
                "displayName": "[[variables('AzureautomationConnectionName')]",
                "parameterValueType": "Alternative",
                "api": {
                  "id": "[[variables('_connection-2')]"
                }
              }
            },
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('MicrosoftSentinelConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "kind": "V1",
              "properties": {
                "displayName": "[[variables('MicrosoftSentinelConnectionName')]",
                "parameterValueType": "Alternative",
                "api": {
                  "id": "[[variables('_connection-3')]"
                }
              }
            },
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('KeyvaultConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "kind": "V1",
              "properties": {
                "displayName": "[[variables('KeyvaultConnectionName')]",
                "parameterValueType": "Alternative",
                "alternativeParameterValues": {
                  "token:TenantId": "[[variables('tenantId')]",
                  "token:grantType": "code",
                  "vaultName": "[[parameters('keyvaultName')]"
                },
                "api": {
                  "id": "[[variables('_connection-4')]"
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId3'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId3')]",
                "contentId": "[variables('_playbookContentId3')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion3')]",
                "source": {
                  "kind": "Solution",
                  "name": "Commvault Security IQ",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "svc.cv-securityiq@commvault.com"
                },
                "support": {
                  "tier": "Partner",
                  "name": "Commvault",
                  "email": "support@commvault.com",
                  "link": "https://www.commvault.com/support"
                }
              }
            }
          ],
          "metadata": {
            "title": "Commvault Disable User Logic App Playbook",
            "description": "This Logic App executes when called upon by an Automation Rule. Accessing the KeyVault to retrieve various credentials, it executes a specific runbook depending on the use case.",
            "prerequisites": [
              "1. Administrative access to your Commvault/Metallic environment.",
              "2. Administrative access to your Azure Resource Group and Subscription.",
              "3. A Microsoft Sentinel instance in the aforementioned Azure Resource Group.",
              "4. A Keyvault and an Automation Account configured as mentioned in the documentation here :- (https://github.com/Cv-securityIQ/Azure-Integration/blob/master/Solutions/Commvault%20Security%20IQ/README.md)"
            ],
            "postDeployment": [
              "1. Steps to follow the instructions are mentioned here :- (https://github.com/Cv-securityIQ/Azure-Integration/blob/master/Solutions/Commvault%20Security%20IQ/README.md)",
              "2. Give the required permissions to the logic app to get the secrets from the keyvault.",
              "3. Setup the Managed Identity"
            ],
            "lastUpdateTime": "2023-08-24T00:00:00Z",
            "tags": [
              "Commvault",
              "Metallic",
              "Threat Intelligence",
              "Ransomware",
              "Security - Automation (SOAR)"
            ],
            "releaseNotes": {
              "version": "1.2",
              "title": "[variables('blanks')]",
              "notes": [
                "Initial version"
              ]
            }
          }
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_playbookContentId3')]",
        "contentKind": "Playbook",
        "displayName": "CommvaultUserPlaybook",
        "contentProductId": "[variables('_playbookcontentProductId3')]",
        "id": "[variables('_playbookcontentProductId3')]",
        "version": "[variables('playbookVersion3')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('dataConnectorTemplateNameConnectorDefinition1'), variables('dataConnectorCCPVersion'))]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "contentId": "[variables('_dataConnectorContentIdConnectorDefinition1')]",
        "displayName": "Commvault Security IQ (via Codeless Connector Framework)",
        "contentKind": "DataConnector",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('dataConnectorCCPVersion')]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',variables('_dataConnectorContentIdConnectorDefinition1'))]",
              "apiVersion": "2022-09-01-preview",
              "type": "Microsoft.OperationalInsights/workspaces/providers/dataConnectorDefinitions",
              "location": "[parameters('workspace-location')]",
              "kind": "Customizable",
              "properties": {
                "connectorUiConfig": {
                  "id": "CommvaultSecurityIQConnector",
                  "title": "Commvault Security IQ (via Codeless Connector Framework)",
                  "publisher": "Commvault",
                  "descriptionMarkdown": "The Commvault Security IQ data connector ingests threat indicator anomaly events from the Commvault `/Client/Anomaly` API into Microsoft Sentinel. Each record in `CommvaultAlertsCCF_CL` corresponds to one entry in the `anomalyClients` array and captures fields such as `AnomalyType` (a bitfield — 64=Ransomware, 8192=VSA Attack), file operation counts (`CreateCount`, `DeleteCount`, `ModCount`, `RenameCount`, `InfectedFilesCount`), data sizes (`ApplicationSizeMB`, `BackupSizeMB`), and client details (`ClientName`, `ClientId`). The connector requires a Commvault Base URL and a valid QSDK Access Token.",
                  "graphQueriesTableName": "CommvaultAlertsCCF_CL",
                  "graphQueries": [
                    {
                      "metricName": "Total anomaly events received",
                      "legend": "Commvault Security IQ Events",
                      "baseQuery": "CommvaultAlertsCCF_CL"
                    }
                  ],
                  "sampleQueries": [
                    {
                      "description": "Last 10 anomaly events",
                      "query": "CommvaultAlertsCCF_CL\n| where TimeGenerated > ago(24h)\n| project TimeGenerated, AnomalyType, ClientName, ClientId, CreateCount, DeleteCount, ModCount, RenameCount, InfectedFilesCount, Location\n| sort by TimeGenerated desc\n| limit 10"
                    },
                    {
                      "description": "High-severity anomalies (Ransomware: bit 64, VSA: bit 8192)",
                      "query": "CommvaultAlertsCCF_CL\n| where TimeGenerated > ago(7d)\n| where binary_and(AnomalyType, 64) == 64 or binary_and(AnomalyType, 8192) == 8192\n| project TimeGenerated, ClientName, AnomalyType, InfectedFilesCount, Location\n| sort by TimeGenerated desc"
                    },
                    {
                      "description": "Clients with the most anomaly events in the last 7 days",
                      "query": "CommvaultAlertsCCF_CL\n| where TimeGenerated > ago(7d)\n| summarize EventCount = count() by ClientName\n| sort by EventCount desc\n| limit 20"
                    }
                  ],
                  "dataTypes": [
                    {
                      "name": "CommvaultAlertsCCF_CL",
                      "lastDataReceivedQuery": "CommvaultAlertsCCF_CL\n| where TimeGenerated > ago(12h)\n| summarize Time = max(TimeGenerated)\n| where isnotempty(Time)"
                    }
                  ],
                  "connectivityCriteria": [
                    {
                      "type": "HasDataConnectors"
                    }
                  ],
                  "availability": {
                    "isPreview": true,
                    "status": 1
                  },
                  "permissions": {
                    "resourceProvider": [
                      {
                        "provider": "Microsoft.OperationalInsights/workspaces",
                        "permissionsDisplayText": "Read and Write permissions are required.",
                        "providerDisplayName": "Workspace",
                        "scope": "Workspace",
                        "requiredPermissions": {
                          "write": true,
                          "read": true,
                          "delete": true,
                          "action": false
                        }
                      }
                    ],
                    "customs": [
                      {
                        "name": "Commvault API Credentials",
                        "description": "A Commvault environment Base URL and a valid QSDK Access Token are required to authorize API requests."
                      }
                    ]
                  },
                  "instructionSteps": [
                    {
                      "title": "1. Connector Management",
                      "description": "Manage your Commvault Security IQ connector instances. Each instance connects to one Commvault environment.",
                      "instructions": [
                        {
                          "type": "Markdown",
                          "parameters": {
                            "content": "## Commvault Security IQ Connector Instances\n\nThis connector polls the Commvault `/Client/Anomaly` API every 30 minutes and ingests threat anomaly events into the `CommvaultAlertsCCF_CL` table."
                          }
                        },
                        {
                          "type": "DataConnectorsGrid",
                          "parameters": {
                            "mapping": [
                              {
                                "columnName": "Environment Endpoint",
                                "columnValue": "properties.request.apiEndpoint"
                              },
                              {
                                "columnName": "Status",
                                "columnValue": "properties.connectionState"
                              }
                            ],
                            "menuItems": [
                              "DeleteConnector"
                            ]
                          }
                        },
                        {
                          "type": "ContextPane",
                          "parameters": {
                            "label": "Add Connector",
                            "title": "Add Commvault Security IQ Connector",
                            "subtitle": "Connect to a Commvault environment",
                            "contextPaneType": "DataConnectorsContextPane",
                            "instructionSteps": [
                              {
                                "instructions": [
                                  {
                                    "type": "Markdown",
                                    "parameters": {
                                      "content": "## API Configuration\n\nProvide your Commvault environment endpoint URL and QSDK Access Token."
                                    }
                                  },
                                  {
                                    "type": "Textbox",
                                    "parameters": {
                                      "label": "Commvault Environment Endpoint URL",
                                      "placeholder": "https://your-environment.commvault.com",
                                      "type": "text",
                                      "name": "endpointUrl",
                                      "validations": {
                                        "required": true
                                      }
                                    }
                                  },
                                  {
                                    "type": "InfoMessage",
                                    "parameters": {
                                      "text": "Enter the base URL of your Commvault Command Center (e.g., `https://example.commvault.com`). Do **not** include `/Client/Anomaly` — the connector appends this automatically.",
                                      "visible": true,
                                      "inline": false
                                    }
                                  },
                                  {
                                    "type": "Textbox",
                                    "parameters": {
                                      "label": "QSDK Access Token",
                                      "placeholder": "Enter your Commvault QSDK Access Token",
                                      "type": "password",
                                      "name": "qsdkToken",
                                      "validations": {
                                        "required": true
                                      }
                                    }
                                  },
                                  {
                                    "type": "InfoMessage",
                                    "parameters": {
                                      "text": "The QSDK Token is sent as a `Bearer` token in the `Authorization` header. Generate this token from the Commvault Command Center under **Security > API Tokens**.",
                                      "visible": true,
                                      "inline": false
                                    }
                                  },
                                  {
                                    "type": "InfoMessage",
                                    "parameters": {
                                      "text": "**Data Collection Schedule**: The connector polls for new anomaly events every 30 minutes.",
                                      "visible": true,
                                      "inline": true
                                    }
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            },
            {
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('DataConnector-', variables('_dataConnectorContentIdConnectorDefinition1')))]",
              "apiVersion": "2022-01-01-preview",
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "properties": {
                "parentId": "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/dataConnectorDefinitions', variables('_dataConnectorContentIdConnectorDefinition1'))]",
                "contentId": "[variables('_dataConnectorContentIdConnectorDefinition1')]",
                "kind": "DataConnector",
                "version": "[variables('dataConnectorCCPVersion')]",
                "source": {
                  "sourceId": "[variables('_solutionId')]",
                  "name": "[variables('_solutionName')]",
                  "kind": "Solution"
                },
                "author": {
                  "name": "svc.cv-securityiq@commvault.com"
                },
                "support": {
                  "tier": "Partner",
                  "name": "Commvault",
                  "email": "support@commvault.com",
                  "link": "https://www.commvault.com/support"
                },
                "dependencies": {
                  "criteria": [
                    {
                      "version": "[variables('dataConnectorCCPVersion')]",
                      "contentId": "[variables('_dataConnectorContentIdConnections1')]",
                      "kind": "ResourcesDataConnector"
                    }
                  ]
                }
              }
            },
            {
              "name": "CommvaultSecurityIQDCR",
              "apiVersion": "2022-06-01",
              "type": "Microsoft.Insights/dataCollectionRules",
              "location": "[parameters('workspace-location')]",
              "kind": "[variables('blanks')]",
              "properties": {
                "dataCollectionEndpointId": "[variables('dataCollectionEndpointId1')]",
                "streamDeclarations": {
                  "Custom-CommvaultAlertsCCF_CL": {
                    "columns": [
                      {
                        "name": "refTime",
                        "type": "long",
                        "description": "Epoch timestamp (seconds) of the anomaly event from Commvault."
                      },
                      {
                        "name": "anomalyType",
                        "type": "int",
                        "description": "Bitfield integer identifying the anomaly type(s). Bit 64=Ransomware, Bit 8192=VSA Attack."
                      },
                      {
                        "name": "createCount",
                        "type": "int"
                      },
                      {
                        "name": "deleteCount",
                        "type": "int"
                      },
                      {
                        "name": "modCount",
                        "type": "int"
                      },
                      {
                        "name": "renameCount",
                        "type": "int"
                      },
                      {
                        "name": "infectedFilesCount",
                        "type": "int"
                      },
                      {
                        "name": "applicationSizeMB",
                        "type": "real"
                      },
                      {
                        "name": "backupSizeMB",
                        "type": "real"
                      },
                      {
                        "name": "location",
                        "type": "string"
                      },
                      {
                        "name": "client",
                        "type": "dynamic",
                        "description": "Nested object containing clientName and clientId."
                      }
                    ]
                  }
                },
                "destinations": {
                  "logAnalytics": [
                    {
                      "workspaceResourceId": "[variables('workspaceResourceId')]",
                      "name": "clv2ws1"
                    }
                  ]
                },
                "dataFlows": [
                  {
                    "streams": [
                      "Custom-CommvaultAlertsCCF_CL"
                    ],
                    "destinations": [
                      "clv2ws1"
                    ],
                    "outputStream": "Custom-CommvaultAlertsCCF_CL",
                    "transformKql": "source | extend TimeGenerated = iff(isnull(refTime), now(), unixtime_seconds_todatetime(tolong(refTime))) , RefTime = tolong(refTime) , AnomalyType = toint(anomalyType) , CreateCount = toint(createCount) , DeleteCount = toint(deleteCount) , ModCount = toint(modCount) , RenameCount = toint(renameCount) , InfectedFilesCount = toint(infectedFilesCount) , ApplicationSizeMB = todouble(applicationSizeMB) , BackupSizeMB = todouble(backupSizeMB) , Location = tostring(location) , ClientName = tostring(parse_json(client).clientName) , ClientId = toint(parse_json(client).clientId) | project TimeGenerated , RefTime , AnomalyType , CreateCount , DeleteCount , ModCount , RenameCount , InfectedFilesCount , ApplicationSizeMB , BackupSizeMB , Location , ClientName , ClientId"
                  }
                ]
              }
            },
            {
              "name": "CommvaultAlertsCCF_CL",
              "apiVersion": "2022-10-01",
              "type": "Microsoft.OperationalInsights/workspaces/tables",
              "location": "[parameters('workspace-location')]",
              "kind": null,
              "properties": {
                "schema": {
                  "name": "CommvaultAlertsCCF_CL",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime",
                      "description": "Timestamp derived from the anomaly refTime field."
                    },
                    {
                      "name": "RefTime",
                      "type": "long",
                      "description": "Raw epoch timestamp (seconds) from the Commvault anomaly event."
                    },
                    {
                      "name": "AnomalyType",
                      "type": "int",
                      "description": "Bitfield integer representing the type(s) of anomaly detected. Common bits: 64=Ransomware, 8192=VSA Attack."
                    },
                    {
                      "name": "CreateCount",
                      "type": "int",
                      "description": "Number of files created during the anomaly window."
                    },
                    {
                      "name": "DeleteCount",
                      "type": "int",
                      "description": "Number of files deleted during the anomaly window."
                    },
                    {
                      "name": "ModCount",
                      "type": "int",
                      "description": "Number of files modified during the anomaly window."
                    },
                    {
                      "name": "RenameCount",
                      "type": "int",
                      "description": "Number of files renamed during the anomaly window."
                    },
                    {
                      "name": "InfectedFilesCount",
                      "type": "int",
                      "description": "Number of files identified as infected."
                    },
                    {
                      "name": "ApplicationSizeMB",
                      "type": "real",
                      "description": "Application data size in megabytes at time of anomaly."
                    },
                    {
                      "name": "BackupSizeMB",
                      "type": "real",
                      "description": "Backup data size in megabytes at time of anomaly."
                    },
                    {
                      "name": "Location",
                      "type": "string",
                      "description": "Location or region associated with the anomaly."
                    },
                    {
                      "name": "ClientName",
                      "type": "string",
                      "description": "Name of the Commvault client (endpoint) where the anomaly was detected."
                    },
                    {
                      "name": "ClientId",
                      "type": "int",
                      "description": "Numeric identifier of the Commvault client."
                    }
                  ]
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "contentProductId": "[concat(take(variables('_solutionId'), 50),'-','dc','-', uniqueString(concat(variables('_solutionId'),'-','DataConnector','-',variables('_dataConnectorContentIdConnectorDefinition1'),'-', variables('dataConnectorCCPVersion'))))]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "version": "[variables('dataConnectorCCPVersion')]"
      }
    },
    {
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',variables('_dataConnectorContentIdConnectorDefinition1'))]",
      "apiVersion": "2022-09-01-preview",
      "type": "Microsoft.OperationalInsights/workspaces/providers/dataConnectorDefinitions",
      "location": "[parameters('workspace-location')]",
      "kind": "Customizable",
      "properties": {
        "connectorUiConfig": {
          "id": "CommvaultSecurityIQConnector",
          "title": "Commvault Security IQ (via Codeless Connector Framework)",
          "publisher": "Commvault",
          "descriptionMarkdown": "The Commvault Security IQ data connector ingests threat indicator anomaly events from the Commvault `/Client/Anomaly` API into Microsoft Sentinel. Each record in `CommvaultAlertsCCF_CL` corresponds to one entry in the `anomalyClients` array and captures fields such as `AnomalyType` (a bitfield — 64=Ransomware, 8192=VSA Attack), file operation counts (`CreateCount`, `DeleteCount`, `ModCount`, `RenameCount`, `InfectedFilesCount`), data sizes (`ApplicationSizeMB`, `BackupSizeMB`), and client details (`ClientName`, `ClientId`). The connector requires a Commvault Base URL and a valid QSDK Access Token.",
          "graphQueriesTableName": "CommvaultAlertsCCF_CL",
          "graphQueries": [
            {
              "metricName": "Total anomaly events received",
              "legend": "Commvault Security IQ Events",
              "baseQuery": "CommvaultAlertsCCF_CL"
            }
          ],
          "sampleQueries": [
            {
              "description": "Last 10 anomaly events",
              "query": "CommvaultAlertsCCF_CL\n| where TimeGenerated > ago(24h)\n| project TimeGenerated, AnomalyType, ClientName, ClientId, CreateCount, DeleteCount, ModCount, RenameCount, InfectedFilesCount, Location\n| sort by TimeGenerated desc\n| limit 10"
            },
            {
              "description": "High-severity anomalies (Ransomware: bit 64, VSA: bit 8192)",
              "query": "CommvaultAlertsCCF_CL\n| where TimeGenerated > ago(7d)\n| where binary_and(AnomalyType, 64) == 64 or binary_and(AnomalyType, 8192) == 8192\n| project TimeGenerated, ClientName, AnomalyType, InfectedFilesCount, Location\n| sort by TimeGenerated desc"
            },
            {
              "description": "Clients with the most anomaly events in the last 7 days",
              "query": "CommvaultAlertsCCF_CL\n| where TimeGenerated > ago(7d)\n| summarize EventCount = count() by ClientName\n| sort by EventCount desc\n| limit 20"
            }
          ],
          "dataTypes": [
            {
              "name": "CommvaultAlertsCCF_CL",
              "lastDataReceivedQuery": "CommvaultAlertsCCF_CL\n| where TimeGenerated > ago(12h)\n| summarize Time = max(TimeGenerated)\n| where isnotempty(Time)"
            }
          ],
          "connectivityCriteria": [
            {
              "type": "HasDataConnectors"
            }
          ],
          "availability": {
            "isPreview": true,
            "status": 1
          },
          "permissions": {
            "resourceProvider": [
              {
                "provider": "Microsoft.OperationalInsights/workspaces",
                "permissionsDisplayText": "Read and Write permissions are required.",
                "providerDisplayName": "Workspace",
                "scope": "Workspace",
                "requiredPermissions": {
                  "write": true,
                  "read": true,
                  "delete": true,
                  "action": false
                }
              }
            ],
            "customs": [
              {
                "name": "Commvault API Credentials",
                "description": "A Commvault environment Base URL and a valid QSDK Access Token are required to authorize API requests."
              }
            ]
          },
          "instructionSteps": [
            {
              "title": "1. Connector Management",
              "description": "Manage your Commvault Security IQ connector instances. Each instance connects to one Commvault environment.",
              "instructions": [
                {
                  "type": "Markdown",
                  "parameters": {
                    "content": "## Commvault Security IQ Connector Instances\n\nThis connector polls the Commvault `/Client/Anomaly` API every 30 minutes and ingests threat anomaly events into the `CommvaultAlertsCCF_CL` table."
                  }
                },
                {
                  "type": "DataConnectorsGrid",
                  "parameters": {
                    "mapping": [
                      {
                        "columnName": "Environment Endpoint",
                        "columnValue": "properties.request.apiEndpoint"
                      },
                      {
                        "columnName": "Status",
                        "columnValue": "properties.connectionState"
                      }
                    ],
                    "menuItems": [
                      "DeleteConnector"
                    ]
                  }
                },
                {
                  "type": "ContextPane",
                  "parameters": {
                    "label": "Add Connector",
                    "title": "Add Commvault Security IQ Connector",
                    "subtitle": "Connect to a Commvault environment",
                    "contextPaneType": "DataConnectorsContextPane",
                    "instructionSteps": [
                      {
                        "instructions": [
                          {
                            "type": "Markdown",
                            "parameters": {
                              "content": "## API Configuration\n\nProvide your Commvault environment endpoint URL and QSDK Access Token."
                            }
                          },
                          {
                            "type": "Textbox",
                            "parameters": {
                              "label": "Commvault Environment Endpoint URL",
                              "placeholder": "https://your-environment.commvault.com",
                              "type": "text",
                              "name": "endpointUrl",
                              "validations": {
                                "required": true
                              }
                            }
                          },
                          {
                            "type": "InfoMessage",
                            "parameters": {
                              "text": "Enter the base URL of your Commvault Command Center (e.g., `https://example.commvault.com`). Do **not** include `/Client/Anomaly` — the connector appends this automatically.",
                              "visible": true,
                              "inline": false
                            }
                          },
                          {
                            "type": "Textbox",
                            "parameters": {
                              "label": "QSDK Access Token",
                              "placeholder": "Enter your Commvault QSDK Access Token",
                              "type": "password",
                              "name": "qsdkToken",
                              "validations": {
                                "required": true
                              }
                            }
                          },
                          {
                            "type": "InfoMessage",
                            "parameters": {
                              "text": "The QSDK Token is sent as a `Bearer` token in the `Authorization` header. Generate this token from the Commvault Command Center under **Security > API Tokens**.",
                              "visible": true,
                              "inline": false
                            }
                          },
                          {
                            "type": "InfoMessage",
                            "parameters": {
                              "text": "**Data Collection Schedule**: The connector polls for new anomaly events every 30 minutes.",
                              "visible": true,
                              "inline": true
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              ]
            }
          ]
        }
      }
    },
    {
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('DataConnector-', variables('_dataConnectorContentIdConnectorDefinition1')))]",
      "apiVersion": "2022-01-01-preview",
      "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
      "properties": {
        "parentId": "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/dataConnectorDefinitions', variables('_dataConnectorContentIdConnectorDefinition1'))]",
        "contentId": "[variables('_dataConnectorContentIdConnectorDefinition1')]",
        "kind": "DataConnector",
        "version": "[variables('dataConnectorCCPVersion')]",
        "source": {
          "sourceId": "[variables('_solutionId')]",
          "name": "[variables('_solutionName')]",
          "kind": "Solution"
        },
        "author": {
          "name": "svc.cv-securityiq@commvault.com"
        },
        "support": {
          "tier": "Partner",
          "name": "Commvault",
          "email": "support@commvault.com",
          "link": "https://www.commvault.com/support"
        },
        "dependencies": {
          "criteria": [
            {
              "version": "[variables('dataConnectorCCPVersion')]",
              "contentId": "[variables('_dataConnectorContentIdConnections1')]",
              "kind": "ResourcesDataConnector"
            }
          ]
        }
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('dataConnectorTemplateNameConnections1'), variables('dataConnectorCCPVersion'))]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "contentId": "[variables('_dataConnectorContentIdConnections1')]",
        "displayName": "Commvault Security IQ (via Codeless Connector Framework)",
        "contentKind": "ResourcesDataConnector",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('dataConnectorCCPVersion')]",
          "parameters": {
            "guidValue": {
              "defaultValue": "[[newGuid()]",
              "type": "securestring"
            },
            "innerWorkspace": {
              "defaultValue": "[parameters('workspace')]",
              "type": "securestring"
            },
            "connectorDefinitionName": {
              "defaultValue": "Commvault Security IQ (via Codeless Connector Framework)",
              "type": "securestring",
              "minLength": 1
            },
            "workspace": {
              "defaultValue": "[parameters('workspace')]",
              "type": "securestring"
            },
            "dcrConfig": {
              "defaultValue": {
                "dataCollectionEndpoint": "data collection Endpoint",
                "dataCollectionRuleImmutableId": "data collection rule immutableId"
              },
              "type": "object"
            },
            "endpointUrl": {
              "defaultValue": "endpointUrl",
              "type": "securestring",
              "minLength": 1
            },
            "qsdkToken": {
              "defaultValue": "qsdkToken",
              "type": "securestring",
              "minLength": 1
            }
          },
          "variables": {
            "_dataConnectorContentIdConnections1": "[variables('_dataConnectorContentIdConnections1')]"
          },
          "resources": [
            {
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('DataConnector-', variables('_dataConnectorContentIdConnections1')))]",
              "apiVersion": "2022-01-01-preview",
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "properties": {
                "parentId": "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/dataConnectors', variables('_dataConnectorContentIdConnections1'))]",
                "contentId": "[variables('_dataConnectorContentIdConnections1')]",
                "kind": "ResourcesDataConnector",
                "version": "[variables('dataConnectorCCPVersion')]",
                "source": {
                  "sourceId": "[variables('_solutionId')]",
                  "name": "[variables('_solutionName')]",
                  "kind": "Solution"
                },
                "author": {
                  "name": "svc.cv-securityiq@commvault.com"
                },
                "support": {
                  "tier": "Partner",
                  "name": "Commvault",
                  "email": "support@commvault.com",
                  "link": "https://www.commvault.com/support"
                }
              }
            },
            {
              "name": "[[concat(parameters('innerWorkspace'),'/Microsoft.SecurityInsights/', 'CommvaultSecurityIQPoller', parameters('guidValue'))]",
              "apiVersion": "2023-02-01-preview",
              "type": "Microsoft.OperationalInsights/workspaces/providers/dataConnectors",
              "location": "[parameters('workspace-location')]",
              "kind": "RestApiPoller",
              "properties": {
                "connectorDefinitionName": "CommvaultSecurityIQConnector",
                "dataType": "CommvaultAlertsCCF_CL",
                "auth": {
                  "type": "APIKey",
                  "ApiKey": "[[parameters('qsdkToken')]",
                  "ApiKeyName": "Authorization",
                  "ApiKeyIdentifier": "Bearer"
                },
                "request": {
                  "apiEndpoint": "[[concat(parameters('endpointUrl'), '/Client/Anomaly')]",
                  "httpMethod": "GET",
                  "rateLimitQPS": 10,
                  "queryWindowInMin": 30,
                  "retryCount": 3,
                  "timeoutInSeconds": 120,
                  "queryTimeFormat": "UnixTimestampInSeconds",
                  "queryParameters": {
                    "fromTime": "{_QueryWindowStartTime}",
                    "toTime": "{_QueryWindowEndTime}"
                  },
                  "headers": {
                    "Accept": "application/json",
                    "User-Agent": "MS-Sentinel-CCF-CommvaultSecurityIQ"
                  }
                },
                "response": {
                  "eventsJsonPaths": [
                    "$.anomalyClients[*]"
                  ],
                  "format": "json"
                },
                "dcrConfig": {
                  "streamName": "Custom-CommvaultAlertsCCF_CL",
                  "dataCollectionEndpoint": "[[parameters('dcrConfig').dataCollectionEndpoint]",
                  "dataCollectionRuleImmutableId": "[[parameters('dcrConfig').dataCollectionRuleImmutableId]"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "contentProductId": "[concat(take(variables('_solutionId'), 50),'-','rdc','-', uniqueString(concat(variables('_solutionId'),'-','ResourcesDataConnector','-',variables('_dataConnectorContentIdConnections1'),'-', variables('dataConnectorCCPVersion'))))]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "version": "[variables('dataConnectorCCPVersion')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentPackages",
      "apiVersion": "2023-04-01-preview",
      "location": "[parameters('workspace-location')]",
      "properties": {
        "version": "3.0.5",
        "kind": "Solution",
        "contentSchemaVersion": "3.0.0",
        "displayName": "Commvault Security IQ",
        "publisherDisplayName": "Commvault",
        "descriptionHtml": "<p><strong>Note:</strong> Please refer to the following before installing the solution:</p>\n<p>• Review the solution <a href=\"https://github.com/Azure/Azure-Sentinel/tree/master/Solutions/Commvault%20Security%20IQ/ReleaseNotes.md\">Release Notes</a></p>\n<p>• There may be <a href=\"https://aka.ms/sentinelsolutionsknownissues\">known issues</a> pertaining to this Solution, please refer to them before installing.</p>\n<p>This Microsoft Sentinel integration enables Commvault users to ingest alerts and other data into their Microsoft Sentinel instance. With Analytic Rules, Microsoft Sentinel can automatically create Microsoft Sentinel incidents.</p>\n<p><strong>Data Connectors:</strong> 1, <strong>Analytic Rules:</strong> 1, <strong>Playbooks:</strong> 3</p>\n<p><a href=\"https://aka.ms/azuresentinel\">Learn more about Microsoft Sentinel</a> | <a href=\"https://aka.ms/azuresentinelsolutionsdoc\">Learn more about Solutions</a></p>\n",
        "contentKind": "Solution",
        "contentProductId": "[variables('_solutioncontentProductId')]",
        "id": "[variables('_solutioncontentProductId')]",
        "icon": "<img src=\"https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Logos/Commvault-Logo.svg\" width=\"75px\"height=\"75px\">",
        "contentId": "[variables('_solutionId')]",
        "parentId": "[variables('_solutionId')]",
        "source": {
          "kind": "Solution",
          "name": "Commvault Security IQ",
          "sourceId": "[variables('_solutionId')]"
        },
        "author": {
          "name": "svc.cv-securityiq@commvault.com"
        },
        "support": {
          "name": "Commvault",
          "email": "support@commvault.com",
          "tier": "Partner",
          "link": "https://www.commvault.com/support"
        },
        "dependencies": {
          "operator": "AND",
          "criteria": [
            {
              "kind": "AnalyticsRule",
              "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
              "version": "[variables('analyticRuleObject1').analyticRuleVersion1]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_Commvault_Disable_Data_Aging_Logic_App')]",
              "version": "[variables('playbookVersion1')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_Commvault_Disable_SAML_Provider_Logic_App')]",
              "version": "[variables('playbookVersion2')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_Commvault_Disable_User_Logic_App')]",
              "version": "[variables('playbookVersion3')]"
            },
            {
              "kind": "DataConnector",
              "contentId": "[variables('_dataConnectorContentIdConnections1')]",
              "version": "[variables('dataConnectorCCPVersion')]"
            }
          ]
        },
        "firstPublishDate": "2023-08-17",
        "providers": [
          "Commvault"
        ],
        "categories": {
          "domains": [
            "Security - Automation (SOAR)"
          ]
        }
      },
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('_solutionId'))]"
    }
  ],
  "outputs": {}
}
