Solutions/Vectra XDR/Playbooks/VectraSetDetectionStatus/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "Vectra Set Detection Status",
        "description": "This playbook updates the status of all detections listed in an incident's custom details based on the current incident status. When the incident is Active, detections are set to 'acknowledged'. When the incident is Closed, detections are closed with a reason derived from the incident close classification (True Positive → remediated; Benign Positive / False Positive / Undetermined → benign).",
        "prerequisites": [
            "1. The Vectra XDR data connector should be configured to create alerts and generate an incident based on entity data in Microsoft Sentinel.",
            "2. Obtain KeyVault name and TenantId where client credentials are stored:",
            "a. Create a Key Vault with a unique name.",
            "b. Go to Keyvaults → <your keyvault> → Overview and copy DirectoryID which will be used as TenantId.",
            "NOTE: Make sure the Permission model in the Access Configuration of Keyvault is set to 'Vault access policy'.",
            "3. Deploy VectraGenerateAccessToken playbook before deploying this playbook.",
            "4. The analytical rule must include Custom Details with at minimum 'detection_id' field mapped from Vectra alert data."
        ],
        "postDeployment": [
            "**a. Authorize connections**",
            "Once deployment is complete, authorize each connection.",
            "1. Go to your Logic App → API connections → Select the Keyvault connection resource.",
            "2. Go to General → Edit API connection.",
            "3. Click Authorize → Sign in → Save.",
            "**b. Add Access policy in Key Vault**",
            "1. Go to Logic App → Identity → System assigned and copy Object (principal) ID.",
            "2. Go to Key Vault → Access policies → Create.",
            "3. Select all Keys & Secrets permissions → Next.",
            "4. Search by the copied Object ID in the Principal section → Next → Review + create.",
            "5. Repeat steps 2–4 for the user account used to authorize the connection.",
            "**c. Assign Role to update incident**",
            "1. Go to Log Analytics Workspace → <your workspace> → Access Control → Add role assignment.",
            "2. Assignment type: Job function roles.",
            "3. Role: Microsoft Sentinel Contributor.",
            "4. Members: select managed identity and add your Logic App as member → Review + assign.",
            "**d. Configurations in Microsoft Sentinel**",
            "1. The analytical rule must be configured to trigger an incident based on Vectra data. The incident must include Entity mapping and Custom Details with 'detection_id' field.",
            "2. To manually run the playbook on a particular incident:",
            "a. Go to Microsoft Sentinel → Incidents.",
            "b. Select an incident.",
            "c. In the right pane, click Actions → Run Playbook.",
            "d. Click Run beside this playbook."
        ],
        "entities": ["Account", "Host"],
        "tags": ["Vectra", "Detection", "Status", "Acknowledged", "Closed"],
        "support": {
            "tier": "community",
            "armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author": {
            "name": "Vectra"
        },
        "lastUpdateTime": "2026-05-06T00:00:00.000Z"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "VectraSetDetectionStatus",
            "minLength": 1,
            "type": "string",
            "metadata": {
                "description": "Please do not keep 'PlaybookName' parameter empty, else you will receive validation failure"
            }
        },
        "KeyVaultName": {
            "type": "string",
            "minLength": 1,
            "metadata": {
                "description": "Name of the Key Vault storing the Vectra access token secret"
            }
        },
        "TenantId": {
            "type": "string",
            "minLength": 1,
            "metadata": {
                "description": "Azure AD Directory (Tenant) ID used for Key Vault authentication"
            }
        },
        "BaseURL": {
            "type": "string",
            "minLength": 1,
            "metadata": {
                "description": "Vectra portal base URL (e.g. https://host.portal.vectra.ai)"
            }
        },
        "GenerateAccessCredPlaybookName": {
            "type": "string",
            "minLength": 1,
            "metadata": {
                "description": "Name of the deployed VectraGenerateAccessToken playbook (e.g. VectraGenerateAccessToken)"
            }
        }
    },
    "variables": {
        "MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', trim(parameters('PlaybookName')))]",
        "KeyvaultConnectionName": "[concat('Keyvault-', trim(parameters('PlaybookName')))]"
    },
    "resources": [
        {
            "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Initialize_Base_URL": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "base_url",
                                        "type": "string",
                                        "value": "[trim(parameters('BaseURL'))]"
                                    }
                                ]
                            }
                        },
                        "Initialize_API_Version": {
                            "runAfter": {
                                "Initialize_Base_URL": ["Succeeded"]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "api_version",
                                        "type": "string",
                                        "value": "v3.5"
                                    }
                                ]
                            }
                        },
                        "Initialize_Detection_IDs": {
                            "runAfter": {
                                "Initialize_API_Version": ["Succeeded"]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "detection_ids",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_Detection_Close_Reason": {
                            "runAfter": {
                                "Initialize_Detection_IDs": ["Succeeded"]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "detection_close_reason",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Status_Update_Error_False": {
                            "runAfter": {
                                "Initialize_Detection_Close_Reason": ["Succeeded"]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "status_update_error",
                                        "type": "boolean",
                                        "value": "@false"
                                    }
                                ]
                            }
                        },
                        "Initialize_Access_Token_Generate_Error_False": {
                            "runAfter": {
                                "Initialize_Status_Update_Error_False": ["Succeeded"]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "access_token_generate_error",
                                        "type": "boolean",
                                        "value": "@false"
                                    }
                                ]
                            }
                        },
                        "Initialize_Retry_Count": {
                            "runAfter": {
                                "Initialize_Access_Token_Generate_Error_False": ["Succeeded"]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "retry_count",
                                        "type": "integer",
                                        "value": 2
                                    }
                                ]
                            }
                        },
                        "Condition_To_Terminate_Execution_If_No_Alerts_Found": {
                            "runAfter": {
                                "Initialize_Retry_Count": ["Succeeded"]
                            },
                            "type": "If",
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@length(triggerBody()?['object']?['properties']?['Alerts'])",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "actions": {
                                "Terminate_Due_To_No_Alerts_Found": {
                                    "runAfter": {},
                                    "type": "Terminate",
                                    "inputs": {
                                        "runError": {
                                            "code": "400",
                                            "message": "No Alerts Found associated with this Incident."
                                        },
                                        "runStatus": "Failed"
                                    }
                                }
                            },
                            "else": {
                                "actions": {}
                            }
                        },
                        "Parse_JSON_For_Custom_Entities_Mapping_Data": {
                            "runAfter": {
                                "Condition_To_Terminate_Execution_If_No_Alerts_Found": ["Succeeded"]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()?['object']?['properties']?['Alerts'][0]?['properties']?['additionalData']?['Custom Details']",
                                "schema": {
                                    "properties": {
                                        "detection_id": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "detection_id"
                                    ],
                                    "type": "object"
                                }
                            }
                        },
                        "Terminate_Due_To_Playbook_Triggered_From_Wrong_Incident": {
                            "runAfter": {
                                "Parse_JSON_For_Custom_Entities_Mapping_Data": ["Failed"]
                            },
                            "type": "Terminate",
                            "inputs": {
                                "runError": {
                                    "code": "400",
                                    "message": "Playbook Triggered from Wrong Incident. Custom Details with 'detection_id' field is required."
                                },
                                "runStatus": "Failed"
                            }
                        },
                        "Condition_To_Terminate_If_No_Detection_IDs_Found": {
                            "runAfter": {
                                "Parse_JSON_For_Custom_Entities_Mapping_Data": ["Succeeded"]
                            },
                            "type": "If",
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@length(body('Parse_JSON_For_Custom_Entities_Mapping_Data')?['detection_id'])",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "actions": {
                                "Terminate_Due_To_No_Detection_IDs_Found": {
                                    "runAfter": {},
                                    "type": "Terminate",
                                    "inputs": {
                                        "runError": {
                                            "code": "400",
                                            "message": "No Detection IDs found in incident Custom Details. Ensure the 'detection_id' field is mapped in the analytical rule."
                                        },
                                        "runStatus": "Failed"
                                    }
                                }
                            },
                            "else": {
                                "actions": {}
                            }
                        },
                        "Build_Detection_IDs_Array": {
                            "runAfter": {
                                "Condition_To_Terminate_If_No_Detection_IDs_Found": ["Succeeded"]
                            },
                            "type": "Foreach",
                            "foreach": "@body('Parse_JSON_For_Custom_Entities_Mapping_Data')?['detection_id']",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            },
                            "actions": {
                                "Append_Detection_ID_To_Array": {
                                    "runAfter": {},
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "detection_ids",
                                        "value": "@int(split(items('Build_Detection_IDs_Array'), '.')[0])"
                                    }
                                }
                            }
                        },
                        "Condition_To_Check_Incident_Status": {
                            "runAfter": {
                                "Build_Detection_IDs_Array": ["Succeeded"]
                            },
                            "type": "If",
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()?['object']?['properties']?['status']",
                                            "Closed"
                                        ]
                                    }
                                ]
                            },
                            "actions": {
                                "Condition_To_Map_Close_Reason": {
                                    "runAfter": {},
                                    "type": "If",
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@triggerBody()?['object']?['properties']?['classification']",
                                                    "TruePositive"
                                                ]
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "Set_Close_Reason_Remediated": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "detection_close_reason",
                                                "value": "remediated"
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {
                                            "Set_Close_Reason_Benign": {
                                                "runAfter": {},
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "detection_close_reason",
                                                    "value": "benign"
                                                }
                                            }
                                        }
                                    }
                                },
                                "Set_Retry_Count_For_Close_Detections": {
                                    "runAfter": {
                                        "Condition_To_Map_Close_Reason": ["Succeeded"]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "retry_count",
                                        "value": 2
                                    }
                                },
                                "Until_Retry_Count_Is_Zero_For_Close_Detections": {
                                    "runAfter": {
                                        "Set_Retry_Count_For_Close_Detections": ["Succeeded"]
                                    },
                                    "type": "Until",
                                    "expression": "@equals(variables('retry_count'), 0)",
                                    "limit": {
                                        "timeout": "PT1H"
                                    },
                                    "actions": {
                                        "Get_Access_Token_For_Close_Detections": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/secrets/@{encodeURIComponent('Vectra-Access-Token')}/value"
                                            },
                                            "runtimeConfiguration": {
                                                "secureData": {
                                                    "properties": [
                                                        "inputs",
                                                        "outputs"
                                                    ]
                                                }
                                            }
                                        },
                                        "HTTP_Request_To_Close_Detections": {
                                            "runAfter": {
                                                "Get_Access_Token_For_Close_Detections": ["Succeeded", "Failed"]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "method": "PATCH",
                                                "uri": "@{variables('base_url')}/api/@{variables('api_version')}/detections/close",
                                                "headers": {
                                                    "Authorization": "Bearer @{body('Get_Access_Token_For_Close_Detections')?['value']}",
                                                    "Content-Type": "application/json"
                                                },
                                                "body": {
                                                    "detectionIdList": "@variables('detection_ids')",
                                                    "reason": "@variables('detection_close_reason')"
                                                }
                                            }
                                        },
                                        "Condition_To_Verify_Close_Detections_Succeeded": {
                                            "runAfter": {
                                                "HTTP_Request_To_Close_Detections": ["Succeeded", "Failed", "TimedOut"]
                                            },
                                            "type": "If",
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@outputs('HTTP_Request_To_Close_Detections')['statusCode']",
                                                            200
                                                        ]
                                                    }
                                                ]
                                            },
                                            "actions": {
                                                "Set_Retry_Count_Zero_For_Close_Success": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "retry_count",
                                                        "value": 0
                                                    }
                                                }
                                            },
                                            "else": {
                                                "actions": {
                                                    "Condition_To_Refresh_Token_For_Close_Detections": {
                                                        "runAfter": {},
                                                        "type": "If",
                                                        "expression": {
                                                            "and": [
                                                                {
                                                                    "equals": [
                                                                        "@outputs('HTTP_Request_To_Close_Detections')['statusCode']",
                                                                        401
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "actions": {
                                                            "GenerateAccessTokenVectra_For_Close_Detections": {
                                                                "runAfter": {},
                                                                "type": "Workflow",
                                                                "inputs": {
                                                                    "host": {
                                                                        "triggerName": "manual",
                                                                        "workflow": {
                                                                            "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', trim(parameters('GenerateAccessCredPlaybookName')))]"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "Condition_To_Verify_Token_Refreshed_For_Close_Detections": {
                                                                "runAfter": {
                                                                    "GenerateAccessTokenVectra_For_Close_Detections": ["Succeeded", "Failed", "TimedOut"]
                                                                },
                                                                "type": "If",
                                                                "expression": {
                                                                    "and": [
                                                                        {
                                                                            "equals": [
                                                                                "@body('GenerateAccessTokenVectra_For_Close_Detections')?['status']",
                                                                                "success"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                "actions": {
                                                                    "Decrement_Retry_Count_For_Close_Detections": {
                                                                        "runAfter": {},
                                                                        "type": "DecrementVariable",
                                                                        "inputs": {
                                                                            "name": "retry_count",
                                                                            "value": 1
                                                                        }
                                                                    }
                                                                },
                                                                "else": {
                                                                    "actions": {
                                                                        "Set_Access_Token_Error_True_For_Close": {
                                                                            "runAfter": {},
                                                                            "type": "SetVariable",
                                                                            "inputs": {
                                                                                "name": "access_token_generate_error",
                                                                                "value": "@true"
                                                                            }
                                                                        },
                                                                        "Decrement_Retry_Count_For_Token_Error_Close": {
                                                                            "runAfter": {
                                                                                "Set_Access_Token_Error_True_For_Close": ["Succeeded"]
                                                                            },
                                                                            "type": "DecrementVariable",
                                                                            "inputs": {
                                                                                "name": "retry_count",
                                                                                "value": 1
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "else": {
                                                            "actions": {
                                                                "Set_Status_Update_Error_True_For_Close": {
                                                                    "runAfter": {},
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "status_update_error",
                                                                        "value": "@true"
                                                                    }
                                                                },
                                                                "Set_Retry_Count_Zero_For_Close_Error": {
                                                                    "runAfter": {
                                                                        "Set_Status_Update_Error_True_For_Close": ["Succeeded"]
                                                                    },
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "retry_count",
                                                                        "value": 0
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "else": {
                                "actions": {
                                    "Set_Retry_Count_For_Acknowledge_Detections": {
                                        "runAfter": {},
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "retry_count",
                                            "value": 2
                                        }
                                    },
                                    "Until_Retry_Count_Is_Zero_For_Acknowledge_Detections": {
                                        "runAfter": {
                                            "Set_Retry_Count_For_Acknowledge_Detections": ["Succeeded"]
                                        },
                                        "type": "Until",
                                        "expression": "@equals(variables('retry_count'), 0)",
                                        "limit": {
                                            "timeout": "PT1H"
                                        },
                                        "actions": {
                                            "Get_Access_Token_For_Acknowledge_Detections": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                                                        }
                                                    },
                                                    "method": "get",
                                                    "path": "/secrets/@{encodeURIComponent('Vectra-Access-Token')}/value"
                                                },
                                                "runtimeConfiguration": {
                                                    "secureData": {
                                                        "properties": [
                                                            "inputs",
                                                            "outputs"
                                                        ]
                                                    }
                                                }
                                            },
                                            "HTTP_Request_To_Acknowledge_Detections": {
                                                "runAfter": {
                                                    "Get_Access_Token_For_Acknowledge_Detections": ["Succeeded", "Failed"]
                                                },
                                                "type": "Http",
                                                "inputs": {
                                                    "method": "PATCH",
                                                    "uri": "@{variables('base_url')}/api/@{variables('api_version')}/detections/",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('Get_Access_Token_For_Acknowledge_Detections')?['value']}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "body": {
                                                        "detectionIdList": "@variables('detection_ids')",
                                                        "investigation_status": "acknowledged"
                                                    }
                                                }
                                            },
                                            "Condition_To_Verify_Acknowledge_Detections_Succeeded": {
                                                "runAfter": {
                                                    "HTTP_Request_To_Acknowledge_Detections": ["Succeeded", "Failed", "TimedOut"]
                                                },
                                                "type": "If",
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "equals": [
                                                                "@outputs('HTTP_Request_To_Acknowledge_Detections')['statusCode']",
                                                                200
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "actions": {
                                                    "Set_Retry_Count_Zero_For_Acknowledge_Success": {
                                                        "runAfter": {},
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "retry_count",
                                                            "value": 0
                                                        }
                                                    }
                                                },
                                                "else": {
                                                    "actions": {
                                                        "Condition_To_Refresh_Token_For_Acknowledge_Detections": {
                                                            "runAfter": {},
                                                            "type": "If",
                                                            "expression": {
                                                                "and": [
                                                                    {
                                                                        "equals": [
                                                                            "@outputs('HTTP_Request_To_Acknowledge_Detections')['statusCode']",
                                                                            401
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            "actions": {
                                                                "GenerateAccessTokenVectra_For_Acknowledge_Detections": {
                                                                    "runAfter": {},
                                                                    "type": "Workflow",
                                                                    "inputs": {
                                                                        "host": {
                                                                            "triggerName": "manual",
                                                                            "workflow": {
                                                                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', trim(parameters('GenerateAccessCredPlaybookName')))]"
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "Condition_To_Verify_Token_Refreshed_For_Acknowledge": {
                                                                    "runAfter": {
                                                                        "GenerateAccessTokenVectra_For_Acknowledge_Detections": ["Succeeded", "Failed", "TimedOut"]
                                                                    },
                                                                    "type": "If",
                                                                    "expression": {
                                                                        "and": [
                                                                            {
                                                                                "equals": [
                                                                                    "@body('GenerateAccessTokenVectra_For_Acknowledge_Detections')?['status']",
                                                                                    "success"
                                                                                ]
                                                                            }
                                                                        ]
                                                                    },
                                                                    "actions": {
                                                                        "Decrement_Retry_Count_For_Acknowledge_Detections": {
                                                                            "runAfter": {},
                                                                            "type": "DecrementVariable",
                                                                            "inputs": {
                                                                                "name": "retry_count",
                                                                                "value": 1
                                                                            }
                                                                        }
                                                                    },
                                                                    "else": {
                                                                        "actions": {
                                                                            "Set_Access_Token_Error_True_For_Acknowledge": {
                                                                                "runAfter": {},
                                                                                "type": "SetVariable",
                                                                                "inputs": {
                                                                                    "name": "access_token_generate_error",
                                                                                    "value": "@true"
                                                                                }
                                                                            },
                                                                            "Decrement_Retry_Count_For_Token_Error_Acknowledge": {
                                                                                "runAfter": {
                                                                                    "Set_Access_Token_Error_True_For_Acknowledge": ["Succeeded"]
                                                                                },
                                                                                "type": "DecrementVariable",
                                                                                "inputs": {
                                                                                    "name": "retry_count",
                                                                                    "value": 1
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "else": {
                                                                "actions": {
                                                                    "Set_Status_Update_Error_True_For_Acknowledge": {
                                                                        "runAfter": {},
                                                                        "type": "SetVariable",
                                                                        "inputs": {
                                                                            "name": "status_update_error",
                                                                            "value": "@true"
                                                                        }
                                                                    },
                                                                    "Set_Retry_Count_Zero_For_Acknowledge_Error": {
                                                                        "runAfter": {
                                                                            "Set_Status_Update_Error_True_For_Acknowledge": ["Succeeded"]
                                                                        },
                                                                        "type": "SetVariable",
                                                                        "inputs": {
                                                                            "name": "retry_count",
                                                                            "value": 0
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Condition_To_Terminate_If_Access_Token_Generate_Error": {
                            "runAfter": {
                                "Condition_To_Check_Incident_Status": ["Succeeded"]
                            },
                            "type": "If",
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@variables('access_token_generate_error')",
                                            "@true"
                                        ]
                                    }
                                ]
                            },
                            "actions": {
                                "Terminate_Due_To_Access_Token_Generate_Error": {
                                    "runAfter": {},
                                    "type": "Terminate",
                                    "inputs": {
                                        "runError": {
                                            "code": "400",
                                            "message": "Error occurred while generating access token for updating detection status."
                                        },
                                        "runStatus": "Failed"
                                    }
                                }
                            },
                            "else": {
                                "actions": {}
                            }
                        },
                        "Condition_To_Terminate_If_Status_Update_Error": {
                            "runAfter": {
                                "Condition_To_Terminate_If_Access_Token_Generate_Error": ["Succeeded"]
                            },
                            "type": "If",
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@variables('status_update_error')",
                                            "@true"
                                        ]
                                    }
                                ]
                            },
                            "actions": {
                                "Terminate_Due_To_Status_Update_Error": {
                                    "runAfter": {},
                                    "type": "Terminate",
                                    "inputs": {
                                        "runError": {
                                            "code": "400",
                                            "message": "Error occurred while updating detection status in Vectra."
                                        },
                                        "runStatus": "Failed"
                                    }
                                }
                            },
                            "else": {
                                "actions": {}
                            }
                        },
                        "Add_Comment_To_Incident": {
                            "runAfter": {
                                "Condition_To_Terminate_If_Status_Update_Error": ["Succeeded"]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "message": "<p><strong>Vectra Set Detection Status — Completed</strong><br>\nIncident Status: <strong>@{triggerBody()?['object']?['properties']?['status']}</strong><br>\n@{if(equals(triggerBody()?['object']?['properties']?['status'], 'Closed'), concat('Incident Classification: ', triggerBody()?['object']?['properties']?['classification'], '<br>Detection Close Reason: ', variables('detection_close_reason')), 'Detection Status set to: acknowledged')}<br>\nDetection IDs updated: <strong>@{variables('detection_ids')}</strong></p>"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "keyvault": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]",
                                "connectionName": "[variables('KeyvaultConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Keyvault')]"
                            }
                        }
                    }
                }
            },
            "name": "[parameters('PlaybookName')]",
            "type": "Microsoft.Logic/workflows",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "tags": {
                "hidden-SentinelTemplateName": "VectraSetDetectionStatus",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "apiVersion": "2017-07-01",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('MicrosoftSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('KeyvaultConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('KeyvaultConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Keyvault')]"
                },
                "parameterValues": {
                    "token:TenantId": "[trim(parameters('TenantId'))]",
                    "token:grantType": "code",
                    "vaultName": "[trim(parameters('KeyVaultName'))]"
                }
            }
        }
    ]
}
