Playbooks/RecordedFuture_IP_SCF/RecordedFuture_IP_SCF_IndicatorProcessor.json
{
	"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"metadata": {
		"comment": "This playbook leverages the Recorded Future API and automatically imports the Command and Control IP Security Control Feed, as Threat Intelligence Indicators, for prevention purposes in Defender ATP",
		"author": "Adrian Porcescu, Recorded Future"
	},
	"parameters": {
		"PlaybookName": {
			"defaultValue": "RecordedFuture_IP_SCF_IndicatorProcessor",
			"type": "String"
		},
		"PlaybookNameBatching": {
			"defaultValue": "RecordedFuture_IP_SCF_ImportToDefenderATP",
			"type": "String"
		}
	},
	"variables": {
		"RecordedFutureConnectionName": "[concat('recordedfuture-', parameters('PlaybookName'))]"
	},
	"resources": [
		{
			"type": "Microsoft.Logic/workflows",
			"apiVersion": "2016-06-01",
			"name": "[parameters('PlaybookName')]",
			"location": "[resourceGroup().location]",
			"dependsOn": [
				"[resourceId('Microsoft.Web/connections', variables('RecordedFutureConnectionName'))]"
			],
			"properties": {
				"definition": {
					"$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
					"contentVersion": "1.0.0.0",
					"parameters": {
						"$connections": {
							"defaultValue": {},
							"type": "Object"
						}
					},
					"triggers": {
						"Recurrence": {
							"recurrence": {
								"frequency": "Day",
								"interval": "1"
							},
							"type": "Recurrence"
						}
					},
					"actions": {
						"For_each": {
							"foreach": "@body('Parse_JSON')?['results']",
							"actions": {
									"RecordedFuture_IP_SCF_ImportToDefenderATP": {
										"runAfter": {},
										"type": "SendToBatch",
										"inputs": {
											"batchName": "RFIpSCFImport",
											"content": {
												"action": "block",
												"azureTenantId": "[subscription().tenantId]",
												"description": "Recorded Future - IP - C&C Security Control Feed",
												"expirationDateTime": "@{addDays(utcNow(),1)}",
												"ingestedDateTime": "@{utcNow()}",
												"isActive": true,
												"networkDestinationIPv4": "@{items('For_each')?['ip']}",
												"targetProduct": "Microsoft Defender ATP",
												"threatType": "C2",
												"tlpLevel": "Amber"
											},
											"host": {
												"triggerName": "Batch_messages",
												"workflow": {
													"id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('PlaybookNameBatching'))]"
												}
											}
										}
									}
								},
							"runAfter": {
								"Parse_JSON": [
									"Succeeded"
								]
							},
							"type": "Foreach"
						},
						"Parse_JSON": {
							"runAfter": {
									"Recorded_Future_RiskLists_and_SCF_Download": [
										"Succeeded"
									]
								},
							"type": "ParseJson",
							"inputs": {
								"content": "@body('Recorded_Future_RiskLists_and_SCF_Download')",
								"schema": {
									"properties": {
										"count": {
											"type": "integer"
										},
										"results": {
											"items": {
												"properties": {
													"ip": {
														"type": "string"
													},
													"last_seen": {
														"type": "string"
													},
													"malware": {
														"items": {
															"type": "string"
														},
														"type": "array"
													},
													"ports": {
														"items": {
															"properties": {
																"port": {
																	"type": "integer"
																},
																"protocol": {
																	"type": "string"
																}
															},
															"required": [
																"port",
																"protocol"
															],
															"type": "object"
														},
														"type": "array"
													}
												},
												"required": [
													"ip",
													"ports",
													"malware",
													"last_seen"
												],
												"type": "object"
											},
											"type": "array"
										},
										"timestamp": {
											"type": "string"
										}
									},
									"type": "object"
								}
							}
						},
						"Recorded_Future_RiskLists_and_SCF_Download": {
							"runAfter": {},
							"type": "ApiConnection",
							"inputs": {
								"host": {
									"connection": {
										"name": "@parameters('$connections')['recordedfuture']['connectionId']"
									}
								},
								"method": "get",
								"path": "/fusion/files/",
								"queries": {
									"path": "/public/prevent/c2_communicating_ips.json"
								}
							}
						}
					},
					"outputs": {}
				},
				"parameters": {
					"$connections": {
						"value": {
							"recordedfuture": {
								"id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/recordedfuture')]",
								"connectionId": "[resourceId('Microsoft.Web/connections', variables('RecordedFutureConnectionName'))]",
								"connectionName": "[variables('RecordedFutureConnectionName')]"
							}
						}
					}
				}
			}
		},
		{
			"type": "Microsoft.Web/connections",
			"apiVersion": "2016-06-01",
			"name": "[variables('RecordedFutureConnectionName')]",
			"location": "[resourceGroup().location]",
			"properties": {
				"api": {
					"id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/recordedfuture')]"
				}
			}
		}
	],
	"outputs": {}
}
