Solutions/Recorded Future/Playbooks/Deprecated/RecordedFuture-Ukraine-IndicatorProcessor/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "RecordedFuture-Ukraine-IndicatorProcessor",
        "description": "**[Deprecated]**\nDeprecated due to changes in the Threat Intelligence Platform. Use the new IndicatorImport playbooks that is provided in this Solution.\n\nThis playbook leverages the Recorded Future API and automatically imports the Ukraine RiskLists, as Threat Intelligence Indicators, for detection purposes in Microsoft Sentinel.\n\nThis playbook depends on RecordedFuture-ImportToSentinel that need to be installed **manually** before installing current playbook.",
        "prerequisites": [
            "First install the RecordedFuture-ImportToSentinel playbook.",
            "To use the Recorded Future for Azure connector, you will need a valid API token from Recorded Future as described in the [documentation](https://learn.microsoft.com/en-us/connectors/recordedfuturev2/#how-to-get-credentials)"
        ],
        "postDeployment": [
            "After deployment you have to open the playbook to configure all connections and press save."
        ],
        "lastUpdateTime": "2023-09-13T00:00:00.000Z",
        "entities": [],
        "tags": ["Deprecated","Threat Intelligence"],
        "support": {
            "tier": "Partner",
            "armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author": {
            "name": "Recorded Future"
        },
        "releaseNotes": [
            {
                "version": "1.1",
                "title": "Deprecated",
                 "notes": [ 
                    "Deprecated in favor for the new IndicatorImport playbooks. More information can be found in the readme on Github https://github.com/Azure/Azure-Sentinel/blob/master/Solutions/Recorded%20Future/Playbooks/readme.md",
                    "Once a new IndicatorImport playbook is installed downloading the same risk list. Deactivate or delete this playbook."
                 ]
           },
            {
                "version": "1.0",
                "title": "RecordedFuture-Ukraine-IndicatorProcessor",
                "notes": [ "Initial version" ]
            }
        ]
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "RecordedFuture-Ukraine-IndicatorProcessor",
            "type": "string"
        },
        "PlaybookNameBatching": {
            "defaultValue": "RecordedFuture-ImportToSentinel",
            "type": "string"
        }
    },
    "variables": {
        "RecordedfutureConnectionName": "recordedfuture-connectorv2"
    },
    "resources": [
        {
            "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Recorded_Future_RiskLists_and_SCF_Download')",
                            "actions": {
                                "Parse_JSON": {
                                    "runAfter": {
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each')",
                                        "schema": {
                                            "properties": {
                                                "EvidenceDetails": {
                                                    "properties": {
                                                        "EvidenceDetails": {
                                                            "items": {
                                                                "properties": {
                                                                    "Criticality": {
                                                                        "type": "integer"
                                                                    },
                                                                    "CriticalityLabel": {
                                                                        "type": "string"
                                                                    },
                                                                    "EvidenceString": {
                                                                        "type": "string"
                                                                    },
                                                                    "Rule": {
                                                                        "type": "string"
                                                                    },
                                                                    "Timestamp": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "Rule",
                                                                    "EvidenceString",
                                                                    "CriticalityLabel",
                                                                    "Timestamp",
                                                                    "Criticality"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Name": {
                                                    "type": "string"
                                                },
                                                "Risk": {
                                                    "type": "integer"
                                                },
                                                "riskString": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "RecordedFuture_Ukraine_Detection_ImportToSentinel": {
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SendToBatch",
                                    "inputs": {
                                        "batchName": "RFImportToSentinel",
                                        "content": {
                                            "action": "alert",
                                            "additionalInformation": "@{body('Parse_JSON')?['EvidenceDetails']}",
                                            "azureTenantId": "[subscription().tenantId]",
                                            "confidence": "@int(body('Parse_JSON')?['Risk'])",
                                            "description": "Recorded Future - Ukraine IP Detection",
                                            "expirationDateTime": "@{addDays(utcNow(),1)}",
                                            "ingestedDateTime": "@{utcNow()}",
                                            "isActive": true,
                                            "networkIPv4": "@{body('Parse_JSON')?['Name']}",
                                            "targetProduct": "Azure Sentinel",
                                            "threatType": "WatchList",
                                            "tlpLevel": "Amber"
                                        },
                                        "host": {
                                            "triggerName": "Batch_messages",
                                            "workflow": {
                                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('PlaybookNameBatching'))]"
                                            }
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Recorded_Future_RiskLists_and_SCF_Download": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_2": {
                            "foreach": "@body('Recorded_Future_RiskLists_and_SCF_Download_2')",
                            "actions": {
                                "Parse_JSON_2": {
                                    "runAfter": {
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each_2')",
                                        "schema": {
                                            "properties": {
                                                "EvidenceDetails": {
                                                    "properties": {
                                                        "EvidenceDetails": {
                                                            "items": {
                                                                "properties": {
                                                                    "Criticality": {
                                                                        "type": "integer"
                                                                    },
                                                                    "CriticalityLabel": {
                                                                        "type": "string"
                                                                    },
                                                                    "EvidenceString": {
                                                                        "type": "string"
                                                                    },
                                                                    "Rule": {
                                                                        "type": "string"
                                                                    },
                                                                    "Timestamp": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "Rule",
                                                                    "EvidenceString",
                                                                    "CriticalityLabel",
                                                                    "Timestamp",
                                                                    "Criticality"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Name": {
                                                    "type": "string"
                                                },
                                                "Risk": {
                                                    "type": "integer"
                                                },
                                                "riskString": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "RecordedFuture_Ukraine_Detection_ImportToSentinel_2": {
                                    "runAfter": {
                                        "Parse_JSON_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SendToBatch",
                                    "inputs": {
                                        "batchName": "RFImportToSentinel",
                                        "content": {
                                            "action": "alert",
                                            "additionalInformation": "@{body('Parse_JSON_2')?['EvidenceDetails']}",
                                            "azureTenantId": "[subscription().tenantId]",
                                            "confidence": "@int(body('Parse_JSON_2')?['Risk'])",
                                            "description": "Recorded Future - Ukraine Domain Detection",
                                            "domainName": "@{body('Parse_JSON_2')?['Name']}",
                                            "expirationDateTime": "@{addHours(utcNow(),2)}",
                                            "ingestedDateTime": "@{utcNow()}",
                                            "isActive": true,
                                            "targetProduct": "Microsoft Sentinel",
                                            "threatType": "WatchList",
                                            "tlpLevel": "Amber"
                                        },
                                        "host": {
                                            "triggerName": "Batch_messages",
                                            "workflow": {
                                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('PlaybookNameBatching'))]"
                                            }
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Recorded_Future_RiskLists_and_SCF_Download_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_3": {
                            "foreach": "@body('Recorded_Future_RiskLists_and_SCF_Download_3')",
                            "actions": {
                                "Parse_JSON_3": {
                                    "runAfter": {
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each_3')",
                                        "schema": {
                                            "properties": {
                                                "EvidenceDetails": {
                                                    "properties": {
                                                        "EvidenceDetails": {
                                                            "items": {
                                                                "properties": {
                                                                    "Criticality": {
                                                                        "type": "integer"
                                                                    },
                                                                    "CriticalityLabel": {
                                                                        "type": "string"
                                                                    },
                                                                    "EvidenceString": {
                                                                        "type": "string"
                                                                    },
                                                                    "Rule": {
                                                                        "type": "string"
                                                                    },
                                                                    "Timestamp": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "Rule",
                                                                    "EvidenceString",
                                                                    "CriticalityLabel",
                                                                    "Timestamp",
                                                                    "Criticality"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Name": {
                                                    "type": "string"
                                                },
                                                "Risk": {
                                                    "type": "integer"
                                                },
                                                "riskString": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "RecordedFuture_Ukraine_Detection_ImportToSentinel_3": {
                                    "runAfter": {
                                        "Parse_JSON_3": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SendToBatch",
                                    "inputs": {
                                        "batchName": "RFImportToSentinel",
                                        "content": {
                                            "action": "alert",
                                            "additionalInformation": "@{body('Parse_JSON_3')?['EvidenceDetails']}",
                                            "azureTenantId": "[subscription().tenantId]",
                                            "confidence": "@int(body('Parse_JSON_3')?['Risk'])",
                                            "description": "Recorded Future - Ukraine Url Detection",
                                            "expirationDateTime": "@{addHours(utcNow(),2)}",
                                            "ingestedDateTime": "@{utcNow()}",
                                            "isActive": true,
                                            "targetProduct": "Microsoft Sentinel",
                                            "threatType": "MaliciousUrl",
                                            "tlpLevel": "Amber",
                                            "url": "@{body('Parse_JSON_3')?['Name']}"
                                        },
                                        "host": {
                                            "triggerName": "Batch_messages",
                                            "workflow": {
                                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('PlaybookNameBatching'))]"
                                            }
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Recorded_Future_RiskLists_and_SCF_Download_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_4": {
                            "foreach": "@body('Recorded_Future_RiskLists_and_SCF_Download_4')",
                            "actions": {
                                "Parse_JSON_4": {
                                    "runAfter": {
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each_4')",
                                        "schema": {
                                            "properties": {
                                                "body": {
                                                    "items": {
                                                        "properties": {
                                                            "Algorithm": {
                                                                "type": "string"
                                                            },
                                                            "EvidenceDetails": {
                                                                "properties": {
                                                                    "EvidenceDetails": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "Criticality": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "CriticalityLabel": {
                                                                                    "type": "string"
                                                                                },
                                                                                "EvidenceString": {
                                                                                    "type": "string"
                                                                                },
                                                                                "MitigationString": {
                                                                                    "type": "string"
                                                                                },
                                                                                "Rule": {
                                                                                    "type": "string"
                                                                                },
                                                                                "Timestamp": {
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "Rule",
                                                                                "EvidenceString",
                                                                                "CriticalityLabel",
                                                                                "Timestamp",
                                                                                "MitigationString",
                                                                                "Criticality"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Name": {
                                                                "type": "string"
                                                            },
                                                            "Risk": {
                                                                "type": "integer"
                                                            },
                                                            "RiskString": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Name",
                                                            "Algorithm",
                                                            "Risk",
                                                            "RiskString",
                                                            "EvidenceDetails"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "headers": {
                                                    "properties": {
                                                        "CF-Cache-Status": {
                                                            "type": "string"
                                                        },
                                                        "CF-RAY": {
                                                            "type": "string"
                                                        },
                                                        "Cache-Control": {
                                                            "type": "string"
                                                        },
                                                        "Content-Length": {
                                                            "type": "string"
                                                        },
                                                        "Content-Type": {
                                                            "type": "string"
                                                        },
                                                        "Date": {
                                                            "type": "string"
                                                        },
                                                        "Expect-CT": {
                                                            "type": "string"
                                                        },
                                                        "Timing-Allow-Origin": {
                                                            "type": "string"
                                                        },
                                                        "Transfer-Encoding": {
                                                            "type": "string"
                                                        },
                                                        "pragma": {
                                                            "type": "string"
                                                        },
                                                        "referrer-policy": {
                                                            "type": "string"
                                                        },
                                                        "strict-transport-security": {
                                                            "type": "string"
                                                        },
                                                        "x-content-type-options": {
                                                            "type": "string"
                                                        },
                                                        "x-frame-options": {
                                                            "type": "string"
                                                        },
                                                        "x-ms-apihub-cached-response": {
                                                            "type": "string"
                                                        },
                                                        "x-ms-apihub-obo": {
                                                            "type": "string"
                                                        },
                                                        "x-rf-proxy-basepath": {
                                                            "type": "string"
                                                        },
                                                        "x-rf-proxy-serviceid": {
                                                            "type": "string"
                                                        },
                                                        "x-xss-protection": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "statusCode": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "RecordedFuture_Ukraine_Detection_ImportToSentinel_4": {
                                    "runAfter": {
                                        "Parse_JSON_4": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SendToBatch",
                                    "inputs": {
                                        "batchName": "RFImportToSentinel",
                                        "content": {
                                            "action": "alert",
                                            "additionalInformation": "@{body('Parse_JSON_4')?['EvidenceDetails']}",
                                            "azureTenantId": "[subscription().tenantId]",
                                            "confidence": "@int(body('Parse_JSON_4')?['Risk'])",
                                            "description": "Recorded Future - Ukraine File Hash Detection",
                                            "expirationDateTime": "@{addHours(utcNow(),2)}",
                                            "filehashtype": "@{replace(replace(body('Parse_JSON_4')?['Algorithm'],'SHA-256', 'sha256'),'SHA-1', 'sha1')}",
                                            "filehashvalue": "@{body('Parse_JSON_4')?['Name']}",
                                            "ingestedDateTime": "@{utcNow()}",
                                            "isActive": true,
                                            "targetProduct": "Microsoft Sentinel",
                                            "threatType": "Malware",
                                            "tlpLevel": "Amber"
                                        },
                                        "host": {
                                            "triggerName": "Batch_messages",
                                            "workflow": {
                                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('PlaybookNameBatching'))]"
                                            }
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Recorded_Future_RiskLists_and_SCF_Download_4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Recorded_Future_RiskLists_and_SCF_Download": {
                            "runAfter": {
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['recordedfuture']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/fusion/files",
                                "queries": {
                                    "path": "/public/ukraine/ukraine_russia_ip.csv"
                                }
                            }
                        },
                        "Recorded_Future_RiskLists_and_SCF_Download_2": {
                            "runAfter": {
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['recordedfuture']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/fusion/files",
                                "queries": {
                                    "path": "/public/ukraine/ukraine_russia_domain.csv"
                                }
                            }
                        },
                        "Recorded_Future_RiskLists_and_SCF_Download_3": {
                            "runAfter": {
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['recordedfuture']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/fusion/files",
                                "queries": {
                                    "path": "/public/ukraine/ukraine_russia_url.csv"
                                }
                            }
                        },
                        "Recorded_Future_RiskLists_and_SCF_Download_4": {
                            "runAfter": {
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['recordedfuture']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/fusion/files",
                                "queries": {
                                    "path": "/public/ukraine/ukraine_russia_hash.csv"
                                }
                            }
                        }
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "recordedfuture": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('RecordedfutureConnectionName'))]",
                                "connectionName": "[variables('RecordedfutureConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Recordedfuturev2')]"
                            }
                        }
                    }
                }
            },
            "name": "[parameters('PlaybookName')]",
            "type": "Microsoft.Logic/workflows",
            "location": "[resourceGroup().location]",
            "tags": {
                "hidden-SentinelTemplateName": "RecordedFuture-Ukraine-IndicatorProcessor",
                "hidden-SentinelTemplateVersion": "1.1"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "apiVersion": "2019-05-01",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('RecordedfutureConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('RecordedfutureConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('RecordedfutureConnectionName')]",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Recordedfuturev2')]"
                }
            }
        }
    ]
}
