Solutions/RiskIQ/Playbooks/Enrich-SentinelIncident-RiskIQ-Host-SSL-Certificate/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "comments": "This playbook uses the RiskIQ Intelligence connector to automatically enrich incidents generated by Sentinel with associated SSL certificates.",
        "author": "Brandon Dixon, RiskIQ"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Recent-Host-SSL-Certificate",
            "type": "string"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "RiskIQConnectionName": "[concat('riskiqintelligence-', parameters('PlaybookName'))]"
    },
    "resources": [{
        "type": "Microsoft.Web/connections",
        "apiVersion": "2016-06-01",
        "name": "[variables('RiskIQConnectionName')]",
        "location": "[resourceGroup().location]",
        "properties": {
            "customParameterValues": {},
            "api": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/riskiqintelligence')]"
            }
        }
    }, {
        "type": "Microsoft.Web/connections",
        "apiVersion": "2016-06-01",
        "name": "[variables('AzureSentinelConnectionName')]",
        "location": "[resourceGroup().location]",
        "properties": {
            "customParameterValues": {},
            "api": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
            }
        }
    }, {
        "type": "Microsoft.Logic/workflows",
        "apiVersion": "2019-05-01",
        "name": "[parameters('PlaybookName')]",
        "location": "[resourceGroup().location]",
        "tags": {
            "LogicAppsCategory": "security"
        },
        "dependsOn": [
            "[resourceId('Microsoft.Web/connections', variables('RiskIQConnectionName'))]",
            "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
        ],
        "properties": {
            "state": "Enabled",
            "definition": {
                "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                "actions": {
                    "Alert_-_Get_hosts": {
                        "inputs": {
                            "body": "@triggerBody()?['Entities']",
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/entities/host"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    },
                    "Certificate_Holder": {
                        "inputs": {
                            "variables": [
                                {
                                    "name": "certs",
                                    "type": "array"
                                }
                            ]
                        },
                        "runAfter": {
                            "Alert_-_Get_hosts": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable"
                    },
                    "Condition_2": {
                        "actions": {
                            "Set_variable": {
                                "inputs": {
                                    "name": "comment",
                                    "value": "@{concat(substring(body('Create_CSV_table'), 0, 750), '...')}"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "greater": [
                                        "@length(body('Create_CSV_table'))",
                                        750
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "Initialize_variable": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "Create_CSV_table": {
                        "inputs": {
                            "format": "CSV",
                            "from": "@variables('certs')"
                        },
                        "runAfter": {
                            "For_each_host": [
                                "Succeeded"
                            ]
                        },
                        "type": "Table"
                    },
                    "For_each_2": {
                        "actions": {
                            "Add_comment_to_incident_(V2)": {
                                "inputs": {
                                    "body": {
                                        "Value": "Associated SSL certificates for @{items('For_each_2')?['DnsDomain']}\n@{variables('comment')}\nExplore more at https://community.riskiq.com/search/@{items('For_each_2')?['DnsDomain']}"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                        }
                                    },
                                    "method": "put",
                                    "path": "/Comment/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            }
                        },
                        "foreach": "@body('Alert_-_Get_hosts')?['Hosts']",
                        "runAfter": {
                            "Condition_2": [
                                "Succeeded"
                            ]
                        },
                        "type": "Foreach"
                    },
                    "For_each_host": {
                        "actions": {
                            "For_each": {
                                "actions": {
                                    "Condition": {
                                        "actions": {
                                            "Append_to_array_variable": {
                                                "inputs": {
                                                    "name": "certs",
                                                    "value": {
                                                        " ": "@items('For_each')['sha1']"
                                                    }
                                                },
                                                "runAfter": {},
                                                "type": "AppendToArrayVariable"
                                            },
                                            "Append_to_array_variable_2": {
                                                "inputs": {
                                                    "name": "duplicates",
                                                    "value": "@item()['sha1']"
                                                },
                                                "runAfter": {
                                                    "Append_to_array_variable": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToArrayVariable"
                                            }
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "not": {
                                                        "contains": [
                                                            "@variables('duplicates')",
                                                            "@item()['sha1']"
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        "runAfter": {},
                                        "type": "If"
                                    }
                                },
                                "foreach": "@body('Get_SSL_certificates_by_host_name')?['content']",
                                "runAfter": {
                                    "Get_SSL_certificates_by_host_name": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Foreach"
                            },
                            "Get_SSL_certificates_by_host_name": {
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['riskiqintelligence']['connectionId']"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/v1/ssl/cert/host",
                                    "queries": {
                                        "host": "@items('For_each_host')?['DnsDomain']"
                                    }
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            }
                        },
                        "foreach": "@body('Alert_-_Get_hosts')?['Hosts']",
                        "runAfter": {
                            "Initialize_variable_3": [
                                "Succeeded"
                            ]
                        },
                        "type": "Foreach"
                    },
                    "Initialize_variable": {
                        "inputs": {
                            "variables": [
                                {
                                    "name": "comment",
                                    "type": "string",
                                    "value": "@body('Create_CSV_table')"
                                }
                            ]
                        },
                        "runAfter": {
                            "Create_CSV_table": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable"
                    },
                    "Initialize_variable_3": {
                        "inputs": {
                            "variables": [
                                {
                                    "name": "duplicates",
                                    "type": "array"
                                }
                            ]
                        },
                        "runAfter": {
                            "Certificate_Holder": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable"
                    }
                },
                "contentVersion": "1.0.0.0",
                "outputs": {},
                "parameters": {
                    "$connections": {
                        "defaultValue": {},
                        "type": "Object"
                    }
                },
                "triggers": {
                    "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                        "inputs": {
                            "body": {
                                "callback_url": "@{listCallbackUrl()}"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                            },
                            "path": "/subscribe"
                        },
                        "type": "ApiConnectionWebhook"
                    }
                }
            },
            "parameters": {
                "$connections": {
                    "value": {
                        "azuresentinel": {
                            "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                            "connectionName": "[variables('AzureSentinelConnectionName')]",
                            "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                        },
                        "riskiqintelligence": {
                            "connectionId": "[resourceId('Microsoft.Web/connections', variables('RiskIQConnectionName'))]",
                            "connectionName": "[variables('RiskIQConnectionName')]",
                            "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/riskiqintelligence')]"
                        }
                    }
                }
            }
        }
    }]
}
