Solutions/Cisco ISE/Playbooks/CiscoISE-TakeEndpointActionFromTeams/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "CiscoISE-TakeEndpointActionFromTeams",
        "description": "When a new sentinel incident is created, this playbook gets triggered and performs the following actions:\n1. Sends an adaptive card to the Teams channel where the analyst can choose an action to be taken.\n2. Assigns a policy (policy name is provided during the deployment stage) to an endpoint (*MACAddress* of the endpoint is provided in the alert custom entities) depending on the action chosen in the adaptive card.\n3. Changes incident status and severity depending on the action chosen in the adaptive card.\n4. Adds comment to the incident with information about the actions taken.",
        "prerequisites": [
            "1. Prior to the deployment of this playbook, Cisco ISE Connector needs to be deployed under the same subscription.",
            "2. Obtain Cisco ISE ERS API credentials. Refer to Cisco ISE Custom Connector documentation.",
            "3. Obtain Teams group id and channel id."
        ],
        "postDeployment": [
            "**a. Authorize connections**",
            "Once deployment is complete, authorize each connection.",
            "1. Click the Microsoft Sentinel connection resource",
            "2. Click edit API connection",
            "3. Click Authorize",
            "4. Sign in",
            "5. Click Save",
            "6. Repeat steps for other connections",
            "**b. Configurations in Sentinel**",
            "1. In Microsoft sentinel, analytical rules should be configured to trigger an incident. An incident should have the *MACAddress* custom entity that contains MAC address of an endpoint in Cisco ISE. It can be obtained from the corresponding field in Cisco ISE logs. Check the [documentation](https://docs.microsoft.com/azure/sentinel/surface-custom-details-in-alerts) to learn more about adding custom entities to incidents.",
            "2. Configure the automation rules to trigger the playbook."
        ],
        "lastUpdateTime": "2022-08-04T00:00:00.000Z",
        "entities": [ ],
        "tags": [],
        "support": {
            "tier": "community"
        },
        "author": {
            "name": "Vitalii Uslystyi"
        }
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "CiscoISE-TakeEndpointActionFromTeams",
            "type": "String"
        },
        "TeamsGroupId": {
            "defaultValue": "TeamsGroupIds",
            "type": "String",
            "metadata": {
                "description": "Id of the Teams Group where the adaptive card will be posted."
            }
        },
        "TeamsChannelId": {
            "defaultValue": "TeamsChannelId",
            "type": "String",
            "metadata": {
                "description": "Id of the Teams Channel where the adaptive card will be posted."
            }
        },
        "PolicyName": {
            "defaultValue": "PolicyName",
            "type": "String",
            "metadata": {
                "description": "Policy name to be assigned to an identity."
            }
        },
        "customApis_ciscoise_name": {
            "defaultValue": "CiscoISE",
            "type": "String"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "TeamsConnectionName": "[concat('teams-', parameters('PlaybookName'))]",
        "CiscoISEConnectionName": "[concat('ciscoise-connection-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('TeamsConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('TeamsConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('CiscoISEConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('CiscoISEConnectionName')]",
                "parameterValues": {
                    "authType": "basic"
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/', parameters('customApis_ciscoise_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('CiscoISEConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "For_each": {
                            "actions": {
                                "Add_comment_to_incident_(V3)": {
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "message": "<p>@{outputs('Get_Cisco_Logo')} <strong>CiscoISE-TakeEndpointActionFromTeams</strong><br>\nActions taken:<br>\n@{variables('ActionResult')}<br>\n@{variables('NewSeverity')}<br>\n@{variables('NewStatus')}</p>"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Incidents/Comment"
                                    },
                                    "runAfter": {
                                        "Get_Cisco_Logo": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection"
                                },
                                "Get_Cisco_Logo": {
                                    "inputs": "<img src=\"https://github.com/Azure/Azure-Sentinel/blob/master/Solutions/Cisco%20ISE/Playbooks/cisco-logo.png\"  width=\"32\" height=\"32\">",
                                    "runAfter": {
                                        "Update_incident_status": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose"
                                },
                                "Get_MACAddress": {
                                    "inputs": "@body('Parse_JSON')['MACAddress'][0]",
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose"
                                },
                                "Get_Teams_card_body": {
                                    "inputs": {
                                        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                                        "actions": [
                                            {
                                                "id": "btnSubmit",
                                                "title": "Submit",
                                                "type": "Action.Submit"
                                            },
                                            {
                                                "id": "btnIgnore",
                                                "title": "Ignore",
                                                "type": "Action.Submit"
                                            }
                                        ],
                                        "body": [
                                            {
                                                "size": "large",
                                                "text": "Suspicious Endpoint - Azure Sentinel",
                                                "type": "TextBlock",
                                                "weight": "bolder",
                                                "wrap": true
                                            },
                                            {
                                                "text": " Incident No : @{triggerBody()?['object']?['properties']?['incidentNumber']}  ",
                                                "type": "TextBlock",
                                                "weight": "Bolder",
                                                "wrap": true
                                            },
                                            {
                                                "text": "@{triggerBody()?['object']?['properties']?['description']}",
                                                "type": "TextBlock",
                                                "wrap": true
                                            },
                                            {
                                                "text": "For more details check the incident:",
                                                "type": "TextBlock",
                                                "weight": "Bolder",
                                                "wrap": true
                                            },
                                            {
                                                "text": "[Click here to view the Incident](@{triggerBody()?['object']?['properties']?['incidentUrl']})",
                                                "type": "TextBlock",
                                                "wrap": true
                                            },
                                            {
                                                "id": "PollQuestionAction",
                                                "text": "Select the action to be taken with respect to the endpoint @{outputs('Get_MACAddress')} in Cisco ISE",
                                                "type": "TextBlock",
                                                "wrap": true
                                            },
                                            {
                                                "choices": [
                                                    {
                                                        "title": "Assign policy @{variables('PolicyName')} to MAC address @{outputs('Get_MACAddress')}",
                                                        "value": "assign_policy"
                                                    },
                                                    {
                                                        "title": "Ignore",
                                                        "value": "ignore"
                                                    }
                                                ],
                                                "id": "action_choices",
                                                "placeholder": "Select from these choices",
                                                "style": "compact",
                                                "type": "Input.ChoiceSet"
                                            },
                                            {
                                                "id": "PollQuestionSeverity",
                                                "text": "Select incident severity",
                                                "type": "TextBlock"
                                            },
                                            {
                                                "choices": [
                                                    {
                                                        "title": "High",
                                                        "value": "high"
                                                    },
                                                    {
                                                        "title": "Medium",
                                                        "value": "medium"
                                                    },
                                                    {
                                                        "title": "Low",
                                                        "value": "low"
                                                    },
                                                    {
                                                        "title": "Informational",
                                                        "value": "informational"
                                                    }
                                                ],
                                                "id": "severity_choices",
                                                "placeholder": "Select from these choices",
                                                "style": "compact",
                                                "type": "Input.ChoiceSet"
                                            },
                                            {
                                                "id": "PollQuestionStatus",
                                                "text": "Select incident status",
                                                "type": "TextBlock"
                                            },
                                            {
                                                "choices": [
                                                    {
                                                        "title": "New",
                                                        "value": "new"
                                                    },
                                                    {
                                                        "title": "Active",
                                                        "value": "active"
                                                    },
                                                    {
                                                        "title": "Closed: True Positive - suspicious activity",
                                                        "value": "close_tp"
                                                    },
                                                    {
                                                        "title": "Closed: Benign Positive - suspicious but expected",
                                                        "value": "close_bp"
                                                    },
                                                    {
                                                        "title": "Closed: False Positive - incorrect alert logic",
                                                        "value": "close_fp_incorrect_logic"
                                                    },
                                                    {
                                                        "title": "Closed: False Positive - inaccurate data",
                                                        "value": "close_fp_inaccurate_data"
                                                    },
                                                    {
                                                        "title": "Closed: Undetermined",
                                                        "value": "close_undetermined"
                                                    }
                                                ],
                                                "id": "status_choices",
                                                "placeholder": "Select from these choices",
                                                "style": "compact",
                                                "type": "Input.ChoiceSet"
                                            }
                                        ],
                                        "type": "AdaptiveCard",
                                        "version": "1.0"
                                    },
                                    "runAfter": {
                                        "Get_MACAddress": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose"
                                },
                                "Make_Cisco_ISE_API_action": {
                                    "actions": {
                                        "Switch": {
                                            "cases": {
                                                "Case": {
                                                    "actions": {
                                                        "Assign_an_ANC_policy_to_an_endpoint": {
                                                            "inputs": {
                                                                "body": {
                                                                    "OperationAdditionalData": {
                                                                        "additionalData": [
                                                                            {
                                                                                "name": "macAddress",
                                                                                "value": "@{outputs('Get_MACAddress')}"
                                                                            },
                                                                            {
                                                                                "name": "policyName",
                                                                                "value": "@variables('PolicyName')"
                                                                            }
                                                                        ]
                                                                    }
                                                                },
                                                                "headers": {
                                                                    "Accept": "application/json",
                                                                    "Content-Type": "application/json"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['ciscoise']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/ers/config/ancendpoint/apply"
                                                            },
                                                            "limit": {
                                                                "timeout": "20S"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        },
                                                        "Set_variable_11": {
                                                            "inputs": {
                                                                "name": "ActionResult",
                                                                "value": "Policy \"@{variables('PolicyName')}\" was not assigned to ANC endpoint \"@{outputs('Get_MACAddress')}\" due to errors while calling Cisco ISE API."
                                                            },
                                                            "runAfter": {
                                                                "Assign_an_ANC_policy_to_an_endpoint": [
                                                                    "Failed",
                                                                    "Skipped",
                                                                    "TimedOut"
                                                                ]
                                                            },
                                                            "type": "SetVariable"
                                                        },
                                                        "Set_variable_12": {
                                                            "inputs": {
                                                                "name": "ActionResult",
                                                                "value": "Policy \"@{variables('PolicyName')}\" was assigned to ANC endpoint \"@{outputs('Get_MACAddress')}\"."
                                                            },
                                                            "runAfter": {
                                                                "Set_variable_11": [
                                                                    "Skipped"
                                                                ]
                                                            },
                                                            "type": "SetVariable"
                                                        }
                                                    },
                                                    "case": "assign_policy"
                                                }
                                            },
                                            "default": {
                                                "actions": {}
                                            },
                                            "expression": "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')['data']['action_choices']",
                                            "runAfter": {},
                                            "type": "Switch"
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')",
                                                    "data"
                                                ]
                                            },
                                            {
                                                "contains": [
                                                    "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response').data",
                                                    "action_choices"
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {
                                        "Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Parse_JSON": {
                                    "inputs": {
                                        "content": "@items('For_each')?['properties']?['additionalData']?['Custom Details']",
                                        "schema": {
                                            "properties": {
                                                "MACAddress": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "ParseJson"
                                },
                                "Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response": {
                                    "inputs": {
                                        "body": {
                                            "body": {
                                                "messageBody": "@{outputs('Get_Teams_card_body')}",
                                                "recipient": {
                                                    "channelId": "@variables('TeamsChannelId')"
                                                },
                                                "shouldUpdateCard": true
                                            },
                                            "notificationUrl": "@{listCallbackUrl()}"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['teams']['connectionId']"
                                            }
                                        },
                                        "path": "/flowbot/actions/flowcontinuation/recipienttypes/channel/$subscriptions",
                                        "queries": {
                                            "groupId": "@variables('TeamsGroupId')"
                                        }
                                    },
                                    "runAfter": {
                                        "Get_Teams_card_body": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnectionWebhook"
                                },
                                "Update_incident_severity": {
                                    "actions": {
                                        "Switch_2": {
                                            "cases": {
                                                "Case": {
                                                    "actions": {
                                                        "Set_variable": {
                                                            "inputs": {
                                                                "name": "NewSeverity",
                                                                "value": "Incident severity was changed to \"High\""
                                                            },
                                                            "runAfter": {
                                                                "Update_incident": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable"
                                                        },
                                                        "Update_incident": {
                                                            "inputs": {
                                                                "body": {
                                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                    "severity": "High"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Incidents"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "case": "high"
                                                },
                                                "Case_2": {
                                                    "actions": {
                                                        "Set_variable_2": {
                                                            "inputs": {
                                                                "name": "NewSeverity",
                                                                "value": "Incident severity was changed to \"Medium\""
                                                            },
                                                            "runAfter": {
                                                                "Update_incident_2": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable"
                                                        },
                                                        "Update_incident_2": {
                                                            "inputs": {
                                                                "body": {
                                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                    "severity": "Medium"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Incidents"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "case": "medium"
                                                },
                                                "Case_3": {
                                                    "actions": {
                                                        "Set_variable_3": {
                                                            "inputs": {
                                                                "name": "NewSeverity",
                                                                "value": "Incident severity was changed to \"Low\""
                                                            },
                                                            "runAfter": {
                                                                "Update_incident_3": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable"
                                                        },
                                                        "Update_incident_3": {
                                                            "inputs": {
                                                                "body": {
                                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                    "severity": "Low"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Incidents"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "case": "low"
                                                },
                                                "Case_4": {
                                                    "actions": {
                                                        "Update_incident_4": {
                                                            "inputs": {
                                                                "body": {
                                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                    "severity": "Informational"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Incidents"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "case": "informational"
                                                }
                                            },
                                            "default": {
                                                "actions": {}
                                            },
                                            "expression": "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')['data']['severity_choices']",
                                            "runAfter": {},
                                            "type": "Switch"
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')",
                                                    "data"
                                                ]
                                            },
                                            {
                                                "contains": [
                                                    "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response').data",
                                                    "severity_choices"
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {
                                        "Make_Cisco_ISE_API_action": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Update_incident_status": {
                                    "actions": {
                                        "Switch_3": {
                                            "cases": {
                                                "Case": {
                                                    "actions": {
                                                        "Set_variable_4": {
                                                            "inputs": {
                                                                "name": "NewStatus",
                                                                "value": "Incident status was changed to \"New\""
                                                            },
                                                            "runAfter": {
                                                                "Update_incident_5": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable"
                                                        },
                                                        "Update_incident_5": {
                                                            "inputs": {
                                                                "body": {
                                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                    "status": "New"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Incidents"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "case": "new"
                                                },
                                                "Case_2": {
                                                    "actions": {
                                                        "Set_variable_5": {
                                                            "inputs": {
                                                                "name": "NewStatus",
                                                                "value": "Incident status was changed to \"Active\""
                                                            },
                                                            "runAfter": {
                                                                "Update_incident_6": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable"
                                                        },
                                                        "Update_incident_6": {
                                                            "inputs": {
                                                                "body": {
                                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                    "status": "Active"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Incidents"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "case": "active"
                                                },
                                                "Case_3": {
                                                    "actions": {
                                                        "Set_variable_6": {
                                                            "inputs": {
                                                                "name": "NewStatus",
                                                                "value": "Incident status was changed to \"Closed: True Positive - suspicious activity\""
                                                            },
                                                            "runAfter": {
                                                                "Update_incident_7": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable"
                                                        },
                                                        "Update_incident_7": {
                                                            "inputs": {
                                                                "body": {
                                                                    "classification": {
                                                                        "ClassificationAndReason": "TruePositive - SuspiciousActivity"
                                                                    },
                                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                    "status": "Closed"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Incidents"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "case": "close_tp"
                                                },
                                                "Case_4": {
                                                    "actions": {
                                                        "Set_variable_7": {
                                                            "inputs": {
                                                                "name": "NewStatus",
                                                                "value": "Incident status was changed to \"Closed: Benign Positive - suspicious but expected\""
                                                            },
                                                            "runAfter": {
                                                                "Update_incident_8": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable"
                                                        },
                                                        "Update_incident_8": {
                                                            "inputs": {
                                                                "body": {
                                                                    "classification": {
                                                                        "ClassificationAndReason": "BenignPositive - SuspiciousButExpected"
                                                                    },
                                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                    "status": "Closed"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Incidents"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "case": "close_bp"
                                                },
                                                "Case_5": {
                                                    "actions": {
                                                        "Set_variable_8": {
                                                            "inputs": {
                                                                "name": "NewStatus",
                                                                "value": "Incident status was changed to \"Closed: False Positive - incorrect alert logic\""
                                                            },
                                                            "runAfter": {
                                                                "Update_incident_9": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable"
                                                        },
                                                        "Update_incident_9": {
                                                            "inputs": {
                                                                "body": {
                                                                    "classification": {
                                                                        "ClassificationAndReason": "FalsePositive - IncorrectAlertLogic"
                                                                    },
                                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                    "status": "Closed"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Incidents"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "case": "close_fp_incorrect_logic"
                                                },
                                                "Case_6": {
                                                    "actions": {
                                                        "Set_variable_9": {
                                                            "inputs": {
                                                                "name": "NewStatus",
                                                                "value": "Incident status was changed to \"Closed: False Positive - inaccurate data\""
                                                            },
                                                            "runAfter": {
                                                                "Update_incident_10": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable"
                                                        },
                                                        "Update_incident_10": {
                                                            "inputs": {
                                                                "body": {
                                                                    "classification": {
                                                                        "ClassificationAndReason": "FalsePositive - InaccurateData"
                                                                    },
                                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                    "status": "Closed"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Incidents"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "case": "close_fp_inaccurate_data"
                                                },
                                                "Case_7": {
                                                    "actions": {
                                                        "Set_variable_10": {
                                                            "inputs": {
                                                                "name": "NewStatus",
                                                                "value": "Incident status was changed to \"Closed: Undetermined\""
                                                            },
                                                            "runAfter": {
                                                                "Update_incident_11": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable"
                                                        },
                                                        "Update_incident_11": {
                                                            "inputs": {
                                                                "body": {
                                                                    "classification": {
                                                                        "ClassificationAndReason": "Undetermined"
                                                                    },
                                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                                    "status": "Closed"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "put",
                                                                "path": "/Incidents"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "case": "close_undetermined"
                                                }
                                            },
                                            "default": {
                                                "actions": {}
                                            },
                                            "expression": "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')['data']['status_choices']",
                                            "runAfter": {},
                                            "type": "Switch"
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')",
                                                    "data"
                                                ]
                                            },
                                            {
                                                "contains": [
                                                    "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response').data",
                                                    "status_choices"
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {
                                        "Update_incident_severity": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                            "runAfter": {
                                "Initialize_variable_ActionResult": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_variable_ActionResult": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ActionResult",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_NewStatus": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_NewSeverity": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "NewSeverity",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_PolicyName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_NewStatus": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "NewStatus",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_NewSeverity": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_PolicyName": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "PolicyName",
                                        "type": "string",
                                        "value": "[parameters('PolicyName')]"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_TeamsChannelId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_TeamsChannelId": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "TeamsChannelId",
                                        "type": "string",
                                        "value": "[parameters('TeamsChannelId')]"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_TeamsGroupId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_TeamsGroupId": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "TeamsGroupId",
                                        "type": "string",
                                        "value": "[parameters('TeamsGroupId')]"
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_Azure_Sentinel_incident_creation_rule_was_triggered": {
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            },
                            "type": "ApiConnectionWebhook"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "id": "[concat('/subscriptions/',subscription().subscriptionId, '/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azuresentinel')]"
                            },
                            "teams": {
                                "connectionName": "[variables('TeamsConnectionName')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
                                "id": "[concat('/subscriptions/',subscription().subscriptionId, '/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/teams')]"
                            },
                            "ciscoise": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('CiscoISEConnectionName'))]",
                                "connectionName": "[variables('CiscoISEConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/', parameters('customApis_ciscoise_name'))]"
                            }
                        }
                    }
                }
            }
        }
    ]
}