Solutions/Joshua-Cyberiskvision/Package/mainTemplate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "author": "Microsoft - support@microsoft.com",
    "comments": "Solution template for Joshua-Cyberiskvision"
  },
  "parameters": {
    "location": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Not used, but needed to pass arm-ttk test `Location-Should-Not-Be-Hardcoded`.  We instead use the `workspace-location` which is derived from the LA workspace"
      }
    },
    "workspace-location": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "[concat('Region to deploy solution resources -- separate from location selection',parameters('location'))]"
      }
    },
    "workspace": {
      "defaultValue": "",
      "type": "string",
      "metadata": {
        "description": "Workspace name for Log Analytics where Microsoft Sentinel is setup"
      }
    }
  },
  "variables": {
    "solutionId": "almavivaspa1636563933762.joshua-cyberiskvision",
    "_solutionId": "[variables('solutionId')]",
    "email": "support@microsoft.com",
    "_email": "[variables('email')]",
    "Joshua-Import-To-Sentinel": "Joshua-Import-To-Sentinel",
    "_Joshua-Import-To-Sentinel": "[variables('Joshua-Import-To-Sentinel')]",
    "playbookVersion1": "1.0",
    "playbookContentId1": "Joshua-Import-To-Sentinel",
    "_playbookContentId1": "[variables('playbookContentId1')]",
    "playbookId1": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId1'))]",
    "playbookTemplateSpecName1": "[concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId1')))]",
    "workspaceResourceId": "[resourceId('microsoft.OperationalInsights/Workspaces', parameters('workspace'))]",
    "Joshua-Indicators-Processor-DOMAIN": "Joshua-Indicators-Processor-DOMAIN",
    "_Joshua-Indicators-Processor-DOMAIN": "[variables('Joshua-Indicators-Processor-DOMAIN')]",
    "playbookVersion2": "1.0",
    "playbookContentId2": "Joshua-Indicators-Processor-DOMAIN",
    "_playbookContentId2": "[variables('playbookContentId2')]",
    "playbookId2": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId2'))]",
    "playbookTemplateSpecName2": "[concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId2')))]",
    "Joshua-Indicators-Processor-EMAIL": "Joshua-Indicators-Processor-EMAIL",
    "_Joshua-Indicators-Processor-EMAIL": "[variables('Joshua-Indicators-Processor-EMAIL')]",
    "playbookVersion3": "1.0",
    "playbookContentId3": "Joshua-Indicators-Processor-EMAIL",
    "_playbookContentId3": "[variables('playbookContentId3')]",
    "playbookId3": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId3'))]",
    "playbookTemplateSpecName3": "[concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId3')))]",
    "Joshua-Indicators-Processor-FILE": "Joshua-Indicators-Processor-FILE",
    "_Joshua-Indicators-Processor-FILE": "[variables('Joshua-Indicators-Processor-FILE')]",
    "playbookVersion4": "1.0",
    "playbookContentId4": "Joshua-Indicators-Processor-FILE",
    "_playbookContentId4": "[variables('playbookContentId4')]",
    "playbookId4": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId4'))]",
    "playbookTemplateSpecName4": "[concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId4')))]",
    "Joshua-Indicators-Processor-IP": "Joshua-Indicators-Processor-IP",
    "_Joshua-Indicators-Processor-IP": "[variables('Joshua-Indicators-Processor-IP')]",
    "playbookVersion5": "1.0",
    "playbookContentId5": "Joshua-Indicators-Processor-IP",
    "_playbookContentId5": "[variables('playbookContentId5')]",
    "playbookId5": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId5'))]",
    "playbookTemplateSpecName5": "[concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId5')))]",
    "Joshua-Indicators-Processor-URL": "Joshua-Indicators-Processor-URL",
    "_Joshua-Indicators-Processor-URL": "[variables('Joshua-Indicators-Processor-URL')]",
    "playbookVersion6": "1.0",
    "playbookContentId6": "Joshua-Indicators-Processor-URL",
    "_playbookContentId6": "[variables('playbookContentId6')]",
    "playbookId6": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId6'))]",
    "playbookTemplateSpecName6": "[concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId6')))]",
    "Joshua-Intel-Enrichment-FILE": "Joshua-Intel-Enrichment-FILE",
    "_Joshua-Intel-Enrichment-FILE": "[variables('Joshua-Intel-Enrichment-FILE')]",
    "playbookVersion7": "1.0",
    "playbookContentId7": "Joshua-Intel-Enrichment-FILE",
    "_playbookContentId7": "[variables('playbookContentId7')]",
    "playbookId7": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId7'))]",
    "playbookTemplateSpecName7": "[concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId7')))]",
    "Joshua-Intel-Enrichment-IP": "Joshua-Intel-Enrichment-IP",
    "_Joshua-Intel-Enrichment-IP": "[variables('Joshua-Intel-Enrichment-IP')]",
    "playbookVersion8": "1.0",
    "playbookContentId8": "Joshua-Intel-Enrichment-IP",
    "_playbookContentId8": "[variables('playbookContentId8')]",
    "playbookId8": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId8'))]",
    "playbookTemplateSpecName8": "[concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId8')))]",
    "Joshua-Intel-Enrichment-URL": "Joshua-Intel-Enrichment-URL",
    "_Joshua-Intel-Enrichment-URL": "[variables('Joshua-Intel-Enrichment-URL')]",
    "playbookVersion9": "1.0",
    "playbookContentId9": "Joshua-Intel-Enrichment-URL",
    "_playbookContentId9": "[variables('playbookContentId9')]",
    "playbookId9": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId9'))]",
    "playbookTemplateSpecName9": "[concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId9')))]"
  },
  "resources": [
    {
      "type": "Microsoft.Resources/templateSpecs",
      "apiVersion": "2021-05-01",
      "name": "[variables('playbookTemplateSpecName1')]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "properties": {
        "description": "Joshua-Import-To-Sentinel playbook",
        "displayName": "Joshua-Import-To-Sentinel playbook"
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2021-05-01",
      "name": "[concat(variables('playbookTemplateSpecName1'),'/',variables('playbookVersion1'))]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/templateSpecs', variables('playbookTemplateSpecName1'))]"
      ],
      "properties": {
        "description": "Joshua-Import-To-Sentinel Playbook with template version 2.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion1')]",
          "parameters": {
            "PlaybookName": {
              "defaultValue": "Joshua-Import-To-Sentinel",
              "type": "string"
            },
            "UserName": {
              "defaultValue": "<username>@<domain>",
              "type": "string"
            }
          },
          "variables": {
            "GraphSecurityConnectionName": "[[concat('microsoftgraphsecurity-', parameters('PlaybookName'))]",
            "connection-1": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/microsoftgraphsecurity')]",
            "_connection-1": "[[variables('connection-1')]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[[variables('GraphSecurityConnectionName')]",
              "location": "[[variables('workspace-location-inline')]",
              "properties": {
                "displayName": "[[parameters('UserName')]",
                "api": {
                  "id": "[[variables('_connection-1')]"
                }
              }
            },
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "tags": {
                "LogicAppsCategory": "security",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "dependsOn": [
                "[[resourceId('Microsoft.Web/connections', variables('GraphSecurityConnectionName'))]"
              ],
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "Batch_messages": {
                      "type": "Batch",
                      "inputs": {
                        "configurations": {
                          "tiIndicators": {
                            "releaseCriteria": {
                              "messageCount": 100,
                              "recurrence": {
                                "frequency": "Hour",
                                "interval": 1
                              }
                            }
                          }
                        },
                        "mode": "Inline"
                      }
                    }
                  },
                  "actions": {
                    "Select": {
                      "type": "Select",
                      "inputs": {
                        "from": "@triggerBody()['items']",
                        "select": "@item()['content']"
                      }
                    },
                    "Submit_multiple_tiIndicators": {
                      "runAfter": {
                        "Select": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "value": "@body('Select')"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['microsoftgraphsecurity']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/beta/security/tiIndicators/submitTiIndicators",
                        "retryPolicy": {
                          "count": 90,
                          "interval": "PT60S",
                          "type": "fixed"
                        }
                      }
                    }
                  }
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "microsoftgraphsecurity": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', variables('GraphSecurityConnectionName'))]",
                        "connectionName": "[[variables('GraphSecurityConnectionName')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/microsoftgraphsecurity')]"
                      }
                    }
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId1'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId1')]",
                "contentId": "[variables('_playbookContentId1')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion1')]",
                "source": {
                  "kind": "Solution",
                  "name": "Joshua-Cyberiskvision",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Microsoft",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Joshua Cyberiskvision",
                  "email": "info@cyberiskvision.com",
                  "tier": "Partner",
                  "link": "https://www.cyberiskvision.com/"
                }
              }
            }
          ],
          "metadata": {
            "title": "Joshua Import To Sentinel",
            "description": "Joshua Cyberiskvision provides two main use cases: Get Indicators and Alert Enrichment.",
            "prerequisites": [
              "None"
            ],
            "lastUpdateTime": "2022-08-01T00:00:00Z",
            "mainSteps": [
              "- Begins with a Batch Messages trigger to receive indicators sent by Joshua-Indicators-Processors",
              "- Submits each batch of indicators to Microsoft Sentinel using the Microsoft Graph Security Logic App connector"
            ],
            "postDeployment": [
              "None"
            ],
            "releaseNotes": [
              {
                "version": "1.0.0",
                "title": "Joshua Import To Sentinel",
                "notes": [
                  "Initial version"
                ]
              }
            ]
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs",
      "apiVersion": "2021-05-01",
      "name": "[variables('playbookTemplateSpecName2')]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "properties": {
        "description": "Joshua-Indicators-Processor-DOMAIN playbook",
        "displayName": "Joshua-Indicators-Processor-DOMAIN playbook"
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2021-05-01",
      "name": "[concat(variables('playbookTemplateSpecName2'),'/',variables('playbookVersion2'))]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/templateSpecs', variables('playbookTemplateSpecName2'))]"
      ],
      "properties": {
        "description": "Joshua-Indicators-Processor-DOMAIN Playbook with template version 2.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion2')]",
          "parameters": {
            "PlaybookName": {
              "type": "string",
              "defaultValue": "Joshua-Indicators-Processor-DOMAIN",
              "metadata": {
                "description": "Name of the Logic App."
              }
            },
            "Import2SentinelPlaybookName": {
              "defaultValue": "Joshua-Import-To-Sentinel",
              "type": "string",
              "metadata": {
                "description": "Name of Joshua-Import-To-Sentinel Playbook"
              }
            },
            "LogicAppsCategory_Tag": {
              "type": "string",
              "defaultValue": "security"
            },
            "Joshua_API_URI": {
              "type": "string",
              "defaultValue": "https://api.cyberiskvision.com/external/azure-sentinel/ioc-feed",
              "metadata": {
                "description": "Joshua API Uniform Resource Identifiers URI"
              }
            },
            "RecurrenceFrequency": {
              "type": "string",
              "defaultValue": "Hour"
            },
            "RecurrenceInterval": {
              "type": "int",
              "defaultValue": 24
            },
            "RecurrenceStartTime": {
              "type": "string",
              "defaultValue": "2021-12-16T06:00:00Z"
            }
          },
          "variables": {
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "tags": {
                "LogicAppsCategory": "[[parameters('LogicAppsCategory_Tag')]",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "properties": {
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "triggers": {
                    "Recurrence": {
                      "recurrence": {
                        "frequency": "[[parameters('RecurrenceFrequency')]",
                        "interval": "[[parameters('RecurrenceInterval')]",
                        "startTime": "[[parameters('RecurrenceStartTime')]"
                      },
                      "evaluatedRecurrence": {
                        "frequency": "Hour",
                        "interval": 24,
                        "startTime": "2021-10-22T06:00:00Z"
                      },
                      "type": "Recurrence"
                    }
                  },
                  "actions": {
                    "Condition": {
                      "actions": {
                        "Until_2": {
                          "actions": {
                            "For_each_2": {
                              "foreach": "@body('Select_2')",
                              "actions": {
                                "Joshua-Import-To-Sentinel_2": {
                                  "type": "SendToBatch",
                                  "inputs": {
                                    "batchName": "tiIndicators",
                                    "content": "@items('For_each_2')",
                                    "host": {
                                      "triggerName": "Batch_messages",
                                      "workflow": {
                                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('Import2SentinelPlaybookName'))]"
                                      }
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Select_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Foreach"
                            },
                            "HTTP_-_Joshua_API_2": {
                              "type": "Http",
                              "inputs": {
                                "method": "GET",
                                "queries": {
                                  "apiKey": "@variables('apiKey')",
                                  "nextPageToken": "@variables('VARnextPageToken')",
                                  "size": "7000",
                                  "type": "domain"
                                },
                                "uri": "[[parameters('Joshua_API_URI')]"
                              }
                            },
                            "Parse_JSON_array_of_Joshua_indicators_2": {
                              "runAfter": {
                                "HTTP_-_Joshua_API_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "ParseJson",
                              "inputs": {
                                "content": "@body('HTTP_-_Joshua_API_2')",
                                "schema": {
                                  "properties": {
                                    "nextPageToken": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "results": {
                                      "items": {
                                        "properties": {
                                          "description": {
                                            "type": "string"
                                          },
                                          "domainName": {
                                            "type": "string"
                                          },
                                          "emailSenderAddress": {
                                            "type": "string"
                                          },
                                          "fileHashType": {
                                            "type": "string"
                                          },
                                          "fileHashValue": {
                                            "type": "string"
                                          },
                                          "networkIPv4": {
                                            "type": "string"
                                          },
                                          "threatType": {
                                            "type": "string"
                                          },
                                          "timestamp": {
                                            "type": "integer"
                                          },
                                          "tlpLevel": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "description",
                                          "threatType",
                                          "tlpLevel",
                                          "timestamp"
                                        ],
                                        "type": "object"
                                      },
                                      "type": "array"
                                    }
                                  },
                                  "type": "object"
                                }
                              }
                            },
                            "Select_2": {
                              "runAfter": {
                                "Set_variable_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Select",
                              "inputs": {
                                "from": "@body('Parse_JSON_array_of_Joshua_indicators_2')?['results']",
                                "select": {
                                  "action": "alert",
                                  "confidence": "100",
                                  "description": "@item()?['description']",
                                  "domainName": "@item()?['domainName']",
                                  "expirationDateTime": "@addDays(utcNow(),7)",
                                  "targetProduct": "Azure Sentinel",
                                  "threatType": "@item()?['threatType']",
                                  "timestamp": "@item()?['timestamp']",
                                  "tlpLevel": "@item()?['tlpLevel']",
                                  "vendorInformation": "AlmavivA"
                                }
                              }
                            },
                            "Set_variable_2": {
                              "runAfter": {
                                "Parse_JSON_array_of_Joshua_indicators_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "VARnextPageToken",
                                "value": "@{body('Parse_JSON_array_of_Joshua_indicators_2')?['nextPageToken']}"
                              }
                            }
                          },
                          "expression": "@equals(variables('VARnextPageToken'), '')",
                          "limit": {
                            "count": 60,
                            "timeout": "PT2H"
                          },
                          "type": "Until"
                        }
                      },
                      "runAfter": {
                        "For_each": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@variables('VARnextPageToken')",
                                ""
                              ]
                            }
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "For_each": {
                      "foreach": "@body('Select')",
                      "actions": {
                        "Joshua-Import-To-Sentinel": {
                          "type": "SendToBatch",
                          "inputs": {
                            "batchName": "tiIndicators",
                            "content": "@items('For_each')",
                            "host": {
                              "triggerName": "Batch_messages",
                              "workflow": {
                                "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('Import2SentinelPlaybookName'))]"
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Select": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "HTTP_-_Joshua_API": {
                      "runAfter": {
                        "Initialize_variable_Paging": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "queries": {
                          "apiKey": "@variables('apiKey')",
                          "lastMinutes": "1400",
                          "size": "7000",
                          "type": "domain"
                        },
                        "uri": "[[parameters('Joshua_API_URI')]"
                      }
                    },
                    "Initialize_variable_Paging": {
                      "runAfter": {
                        "Joshua_apiKey": [
                          "Succeeded"
                        ]
                      },
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "VARnextPageToken",
                            "type": "string"
                          }
                        ]
                      }
                    },
                    "Joshua_apiKey": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "apiKey",
                            "type": "string",
                            "value": "Get-API-key-value-from-Joshua-Cyberiskvision-representantive"
                          }
                        ]
                      }
                    },
                    "Parse_JSON_array_of_Joshua_indicators": {
                      "runAfter": {
                        "HTTP_-_Joshua_API": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('HTTP_-_Joshua_API')",
                        "schema": {
                          "properties": {
                            "nextPageToken": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "results": {
                              "items": {
                                "properties": {
                                  "description": {
                                    "type": "string"
                                  },
                                  "domainName": {
                                    "type": "string"
                                  },
                                  "emailSenderAddress": {
                                    "type": "string"
                                  },
                                  "fileHashType": {
                                    "type": "string"
                                  },
                                  "fileHashValue": {
                                    "type": "string"
                                  },
                                  "networkIPv4": {
                                    "type": "string"
                                  },
                                  "threatType": {
                                    "type": "string"
                                  },
                                  "timestamp": {
                                    "type": "integer"
                                  },
                                  "tlpLevel": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "description",
                                  "threatType",
                                  "tlpLevel",
                                  "timestamp"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Select": {
                      "runAfter": {
                        "Set_variable": [
                          "Succeeded"
                        ]
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@body('Parse_JSON_array_of_Joshua_indicators')?['results']",
                        "select": {
                          "action": "alert",
                          "confidence": "100",
                          "description": "@item()?['description']",
                          "domainName": "@item()?['domainName']",
                          "expirationDateTime": "@addDays(utcNow(),7)",
                          "targetProduct": "Azure Sentinel",
                          "threatType": "@item()?['threatType']",
                          "timestamp": "@item()?['timestamp']",
                          "tlpLevel": "@item()?['tlpLevel']",
                          "vendorInformation": "AlmavivA"
                        }
                      }
                    },
                    "Set_variable": {
                      "runAfter": {
                        "Parse_JSON_array_of_Joshua_indicators": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "VARnextPageToken",
                        "value": "@{body('Parse_JSON_array_of_Joshua_indicators')?['nextPageToken']}"
                      }
                    }
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId2'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId2')]",
                "contentId": "[variables('_playbookContentId2')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion2')]",
                "source": {
                  "kind": "Solution",
                  "name": "Joshua-Cyberiskvision",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Microsoft",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Joshua Cyberiskvision",
                  "email": "info@cyberiskvision.com",
                  "tier": "Partner",
                  "link": "https://www.cyberiskvision.com/"
                }
              }
            }
          ],
          "metadata": {
            "title": "Joshua Indicators Processor DOMAIN",
            "description": "Joshua Cyberiskvision provides two main use cases: Get Indicators and Alert Enrichment.",
            "prerequisites": [
              "None"
            ],
            "lastUpdateTime": "2022-08-01T00:00:00Z",
            "mainSteps": [
              "- Triggered on a defined schedule",
              "- Reads the indicators from Joshua Cyberiskvision",
              "- Transforms the indicators to the appropriate tiIndicator JSON format",
              "- Uses the Batch action to send the indicators to the 'Joshua-Import-To-Sentinel'"
            ],
            "entities": [
              "host"
            ],
            "postDeployment": [
              "None"
            ],
            "releaseNotes": [
              {
                "version": "1.0.0",
                "title": "Joshua Indicators Processor DOMAIN",
                "notes": [
                  "Initial version"
                ]
              }
            ]
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs",
      "apiVersion": "2021-05-01",
      "name": "[variables('playbookTemplateSpecName3')]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "properties": {
        "description": "Joshua-Indicators-Processor-EMAIL playbook",
        "displayName": "Joshua-Indicators-Processor-EMAIL playbook"
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2021-05-01",
      "name": "[concat(variables('playbookTemplateSpecName3'),'/',variables('playbookVersion3'))]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/templateSpecs', variables('playbookTemplateSpecName3'))]"
      ],
      "properties": {
        "description": "Joshua-Indicators-Processor-EMAIL Playbook with template version 2.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion3')]",
          "parameters": {
            "PlaybookName": {
              "type": "string",
              "defaultValue": "Joshua-Indicators-Processor-EMAIL",
              "metadata": {
                "description": "Name of the Logic App."
              }
            },
            "Import2SentinelPlaybookName": {
              "defaultValue": "Joshua-Import-To-Sentinel",
              "type": "string",
              "metadata": {
                "description": "Name of Joshua-Import-To-Sentinel Playbook"
              }
            },
            "LogicAppsCategory_Tag": {
              "type": "string",
              "defaultValue": "security"
            },
            "Joshua_API_URI": {
              "type": "string",
              "defaultValue": "https://api.cyberiskvision.com/external/azure-sentinel/ioc-feed",
              "metadata": {
                "description": "Joshua API Uniform Resource Identifiers URI"
              }
            },
            "RecurrenceFrequency": {
              "type": "string",
              "defaultValue": "Hour"
            },
            "RecurrenceInterval": {
              "type": "int",
              "defaultValue": 24
            },
            "RecurrenceStartTime": {
              "type": "string",
              "defaultValue": "2021-12-16T06:00:00Z"
            }
          },
          "variables": {
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "tags": {
                "LogicAppsCategory": "[[parameters('LogicAppsCategory_Tag')]",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "properties": {
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "triggers": {
                    "Recurrence": {
                      "recurrence": {
                        "frequency": "[[parameters('RecurrenceFrequency')]",
                        "interval": "[[parameters('RecurrenceInterval')]",
                        "startTime": "[[parameters('RecurrenceStartTime')]"
                      },
                      "evaluatedRecurrence": {
                        "frequency": "Hour",
                        "interval": 24,
                        "startTime": "2021-10-22T06:00:00Z"
                      },
                      "type": "Recurrence"
                    }
                  },
                  "actions": {
                    "Condition": {
                      "actions": {
                        "Until_2": {
                          "actions": {
                            "For_each_2": {
                              "foreach": "@body('Select_2')",
                              "actions": {
                                "Joshua-Import-To-Sentinel_2": {
                                  "type": "SendToBatch",
                                  "inputs": {
                                    "batchName": "tiIndicators",
                                    "content": "@items('For_each_2')",
                                    "host": {
                                      "triggerName": "Batch_messages",
                                      "workflow": {
                                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('Import2SentinelPlaybookName'))]"
                                      }
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Select_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Foreach"
                            },
                            "HTTP_-_Joshua_API_2": {
                              "type": "Http",
                              "inputs": {
                                "method": "GET",
                                "queries": {
                                  "apiKey": "@variables('apiKey')",
                                  "nextPageToken": "@variables('VARnextPageToken')",
                                  "size": "7000",
                                  "type": "email"
                                },
                                "uri": "[[parameters('Joshua_API_URI')]"
                              }
                            },
                            "Parse_JSON_array_of_Joshua_indicators_2": {
                              "runAfter": {
                                "HTTP_-_Joshua_API_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "ParseJson",
                              "inputs": {
                                "content": "@body('HTTP_-_Joshua_API_2')",
                                "schema": {
                                  "properties": {
                                    "nextPageToken": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "results": {
                                      "items": {
                                        "properties": {
                                          "description": {
                                            "type": "string"
                                          },
                                          "domainName": {
                                            "type": "string"
                                          },
                                          "emailSenderAddress": {
                                            "type": "string"
                                          },
                                          "fileHashType": {
                                            "type": "string"
                                          },
                                          "fileHashValue": {
                                            "type": "string"
                                          },
                                          "networkIPv4": {
                                            "type": "string"
                                          },
                                          "threatType": {
                                            "type": "string"
                                          },
                                          "timestamp": {
                                            "type": "integer"
                                          },
                                          "tlpLevel": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "description",
                                          "threatType",
                                          "tlpLevel",
                                          "timestamp"
                                        ],
                                        "type": "object"
                                      },
                                      "type": "array"
                                    }
                                  },
                                  "type": "object"
                                }
                              }
                            },
                            "Select_2": {
                              "runAfter": {
                                "Set_variable_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Select",
                              "inputs": {
                                "from": "@body('Parse_JSON_array_of_Joshua_indicators_2')?['results']",
                                "select": {
                                  "action": "alert",
                                  "confidence": "100",
                                  "description": "@item()?['description']",
                                  "emailSenderAddress": "@item()?['emailSenderAddress']",
                                  "expirationDateTime": "@addDays(utcNow(),7)",
                                  "targetProduct": "Azure Sentinel",
                                  "threatType": "@item()?['threatType']",
                                  "timestamp": "@item()?['timestamp']",
                                  "tlpLevel": "@item()?['tlpLevel']",
                                  "vendorInformation": "AlmavivA"
                                }
                              }
                            },
                            "Set_variable_2": {
                              "runAfter": {
                                "Parse_JSON_array_of_Joshua_indicators_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "VARnextPageToken",
                                "value": "@{body('Parse_JSON_array_of_Joshua_indicators_2')?['nextPageToken']}"
                              }
                            }
                          },
                          "expression": "@equals(variables('VARnextPageToken'), '')",
                          "limit": {
                            "count": 60,
                            "timeout": "PT2H"
                          },
                          "type": "Until"
                        }
                      },
                      "runAfter": {
                        "For_each": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@variables('VARnextPageToken')",
                                ""
                              ]
                            }
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "For_each": {
                      "foreach": "@body('Select')",
                      "actions": {
                        "Joshua-Import-To-Sentinel": {
                          "type": "SendToBatch",
                          "inputs": {
                            "batchName": "tiIndicators",
                            "content": "@items('For_each')",
                            "host": {
                              "triggerName": "Batch_messages",
                              "workflow": {
                                "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('Import2SentinelPlaybookName'))]"
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Select": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "HTTP_-_Joshua_API": {
                      "runAfter": {
                        "Initialize_variable_Paging": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "queries": {
                          "apiKey": "@variables('apiKey')",
                          "lastMinutes": "1400",
                          "size": "7000",
                          "type": "email"
                        },
                        "uri": "[[parameters('Joshua_API_URI')]"
                      }
                    },
                    "Initialize_variable_Paging": {
                      "runAfter": {
                        "Joshua_apiKey": [
                          "Succeeded"
                        ]
                      },
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "VARnextPageToken",
                            "type": "string"
                          }
                        ]
                      }
                    },
                    "Joshua_apiKey": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "apiKey",
                            "type": "string",
                            "value": "Get-API-key-value-from-Joshua-Cyberiskvision-representantive"
                          }
                        ]
                      }
                    },
                    "Parse_JSON_array_of_Joshua_indicators": {
                      "runAfter": {
                        "HTTP_-_Joshua_API": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('HTTP_-_Joshua_API')",
                        "schema": {
                          "properties": {
                            "nextPageToken": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "results": {
                              "items": {
                                "properties": {
                                  "description": {
                                    "type": "string"
                                  },
                                  "domainName": {
                                    "type": "string"
                                  },
                                  "emailSenderAddress": {
                                    "type": "string"
                                  },
                                  "fileHashType": {
                                    "type": "string"
                                  },
                                  "fileHashValue": {
                                    "type": "string"
                                  },
                                  "networkIPv4": {
                                    "type": "string"
                                  },
                                  "threatType": {
                                    "type": "string"
                                  },
                                  "timestamp": {
                                    "type": "integer"
                                  },
                                  "tlpLevel": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "description",
                                  "threatType",
                                  "tlpLevel",
                                  "timestamp"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Select": {
                      "runAfter": {
                        "Set_variable": [
                          "Succeeded"
                        ]
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@body('Parse_JSON_array_of_Joshua_indicators')?['results']",
                        "select": {
                          "action": "alert",
                          "confidence": "100",
                          "description": "@item()?['description']",
                          "emailSenderAddress": "@item()?['emailSenderAddress']",
                          "expirationDateTime": "@addDays(utcNow(),7)",
                          "targetProduct": "Azure Sentinel",
                          "threatType": "@item()?['threatType']",
                          "timestamp": "@item()?['timestamp']",
                          "tlpLevel": "@item()?['tlpLevel']",
                          "vendorInformation": "AlmavivA"
                        }
                      }
                    },
                    "Set_variable": {
                      "runAfter": {
                        "Parse_JSON_array_of_Joshua_indicators": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "VARnextPageToken",
                        "value": "@{body('Parse_JSON_array_of_Joshua_indicators')?['nextPageToken']}"
                      }
                    }
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId3'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId3')]",
                "contentId": "[variables('_playbookContentId3')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion3')]",
                "source": {
                  "kind": "Solution",
                  "name": "Joshua-Cyberiskvision",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Microsoft",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Joshua Cyberiskvision",
                  "email": "info@cyberiskvision.com",
                  "tier": "Partner",
                  "link": "https://www.cyberiskvision.com/"
                }
              }
            }
          ],
          "metadata": {
            "title": "Joshua Indicators Processor EMAIL",
            "description": "Joshua Cyberiskvision provides two main use cases: Get Indicators and Alert Enrichment.",
            "prerequisites": [
              "None"
            ],
            "lastUpdateTime": "2022-08-01T00:00:00Z",
            "mainSteps": [
              "- Triggered on a defined schedule",
              "- Reads the indicators from Joshua Cyberiskvision",
              "- Transforms the indicators to the appropriate tiIndicator JSON format",
              "- Uses the Batch action to send the indicators to the 'Joshua-Import-To-Sentinel'"
            ],
            "postDeployment": [
              "None"
            ],
            "releaseNotes": [
              {
                "version": "1.0.0",
                "title": "Joshua Indicators Processor EMAIL",
                "notes": [
                  "Initial version"
                ]
              }
            ]
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs",
      "apiVersion": "2021-05-01",
      "name": "[variables('playbookTemplateSpecName4')]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "properties": {
        "description": "Joshua-Indicators-Processor-FILE playbook",
        "displayName": "Joshua-Indicators-Processor-FILE playbook"
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2021-05-01",
      "name": "[concat(variables('playbookTemplateSpecName4'),'/',variables('playbookVersion4'))]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/templateSpecs', variables('playbookTemplateSpecName4'))]"
      ],
      "properties": {
        "description": "Joshua-Indicators-Processor-FILE Playbook with template version 2.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion4')]",
          "parameters": {
            "PlaybookName": {
              "type": "string",
              "defaultValue": "Joshua-Indicators-Processor-FILE",
              "metadata": {
                "description": "Name of the Logic App."
              }
            },
            "Import2SentinelPlaybookName": {
              "defaultValue": "Joshua-Import-To-Sentinel",
              "type": "string",
              "metadata": {
                "description": "Name of Joshua-Import-To-Sentinel Playbook"
              }
            },
            "LogicAppsCategory_Tag": {
              "type": "string",
              "defaultValue": "security"
            },
            "Joshua_API_URI": {
              "type": "string",
              "defaultValue": "https://api.cyberiskvision.com/external/azure-sentinel/ioc-feed",
              "metadata": {
                "description": "Joshua API Uniform Resource Identifiers URI"
              }
            },
            "RecurrenceFrequency": {
              "type": "string",
              "defaultValue": "Hour"
            },
            "RecurrenceInterval": {
              "type": "int",
              "defaultValue": 24
            },
            "RecurrenceStartTime": {
              "type": "string",
              "defaultValue": "2021-12-16T06:00:00Z"
            }
          },
          "variables": {
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "tags": {
                "LogicAppsCategory": "[[parameters('LogicAppsCategory_Tag')]",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "properties": {
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "triggers": {
                    "Recurrence": {
                      "recurrence": {
                        "frequency": "[[parameters('RecurrenceFrequency')]",
                        "interval": "[[parameters('RecurrenceInterval')]",
                        "startTime": "[[parameters('RecurrenceStartTime')]"
                      },
                      "evaluatedRecurrence": {
                        "frequency": "Hour",
                        "interval": 24,
                        "startTime": "2021-10-22T06:00:00Z"
                      },
                      "type": "Recurrence"
                    }
                  },
                  "actions": {
                    "Condition": {
                      "actions": {
                        "Until_2": {
                          "actions": {
                            "For_each_2": {
                              "foreach": "@body('Select_2')",
                              "actions": {
                                "Joshua-Import-To-Sentinel_2": {
                                  "type": "SendToBatch",
                                  "inputs": {
                                    "batchName": "tiIndicators",
                                    "content": "@items('For_each_2')",
                                    "host": {
                                      "triggerName": "Batch_messages",
                                      "workflow": {
                                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('Import2SentinelPlaybookName'))]"
                                      }
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Select_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Foreach"
                            },
                            "HTTP_-_Joshua_API_2": {
                              "type": "Http",
                              "inputs": {
                                "method": "GET",
                                "queries": {
                                  "apiKey": "@variables('apiKey')",
                                  "nextPageToken": "@variables('VARnextPageToken')",
                                  "size": "7000",
                                  "type": "hash"
                                },
                                "uri": "[[parameters('Joshua_API_URI')]"
                              }
                            },
                            "Parse_JSON_array_of_Joshua_indicators_2": {
                              "runAfter": {
                                "HTTP_-_Joshua_API_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "ParseJson",
                              "inputs": {
                                "content": "@body('HTTP_-_Joshua_API_2')",
                                "schema": {
                                  "properties": {
                                    "nextPageToken": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "results": {
                                      "items": {
                                        "properties": {
                                          "description": {
                                            "type": "string"
                                          },
                                          "domainName": {
                                            "type": "string"
                                          },
                                          "emailSenderAddress": {
                                            "type": "string"
                                          },
                                          "fileHashType": {
                                            "type": "string"
                                          },
                                          "fileHashValue": {
                                            "type": "string"
                                          },
                                          "networkIPv4": {
                                            "type": "string"
                                          },
                                          "threatType": {
                                            "type": "string"
                                          },
                                          "timestamp": {
                                            "type": "integer"
                                          },
                                          "tlpLevel": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "description",
                                          "threatType",
                                          "tlpLevel",
                                          "timestamp"
                                        ],
                                        "type": "object"
                                      },
                                      "type": "array"
                                    }
                                  },
                                  "type": "object"
                                }
                              }
                            },
                            "Select_2": {
                              "runAfter": {
                                "Set_variable_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Select",
                              "inputs": {
                                "from": "@body('Parse_JSON_array_of_Joshua_indicators_2')?['results']",
                                "select": {
                                  "action": "alert",
                                  "confidence": "100",
                                  "description": "@item()?['description']",
                                  "expirationDateTime": "@{addDays(utcNow(),7)}",
                                  "fileHashType": "@item()?['fileHashType']",
                                  "fileHashValue": "@item()?['fileHashValue']",
                                  "targetProduct": "Azure Sentinel",
                                  "threatType": "@item()?['threatType']",
                                  "timestamp": "@item()?['timestamp']",
                                  "tlpLevel": "@item()?['tlpLevel']",
                                  "vendorInformation": "AlmavivA"
                                }
                              }
                            },
                            "Set_variable_2": {
                              "runAfter": {
                                "Parse_JSON_array_of_Joshua_indicators_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "VARnextPageToken",
                                "value": "@{body('Parse_JSON_array_of_Joshua_indicators_2')?['nextPageToken']}"
                              }
                            }
                          },
                          "expression": "@equals(variables('VARnextPageToken'), '')",
                          "limit": {
                            "count": 60,
                            "timeout": "PT2H"
                          },
                          "type": "Until"
                        }
                      },
                      "runAfter": {
                        "For_each": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@variables('VARnextPageToken')",
                                ""
                              ]
                            }
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "For_each": {
                      "foreach": "@body('Select')",
                      "actions": {
                        "Joshua-Import-To-Sentinel": {
                          "type": "SendToBatch",
                          "inputs": {
                            "batchName": "tiIndicators",
                            "content": "@items('For_each')",
                            "host": {
                              "triggerName": "Batch_messages",
                              "workflow": {
                                "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('Import2SentinelPlaybookName'))]"
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Select": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "HTTP_-_Joshua_API": {
                      "runAfter": {
                        "Initialize_variable_Paging": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "queries": {
                          "apiKey": "@variables('apiKey')",
                          "lastMinutes": "1400",
                          "size": "7000",
                          "type": "hash"
                        },
                        "uri": "[[parameters('Joshua_API_URI')]"
                      }
                    },
                    "Initialize_variable_Paging": {
                      "runAfter": {
                        "Joshua_apiKey": [
                          "Succeeded"
                        ]
                      },
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "VARnextPageToken",
                            "type": "string"
                          }
                        ]
                      }
                    },
                    "Joshua_apiKey": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "apiKey",
                            "type": "string",
                            "value": "Get-API-key-value-from-Joshua-Cyberiskvision-representantive"
                          }
                        ]
                      }
                    },
                    "Parse_JSON_array_of_Joshua_indicators": {
                      "runAfter": {
                        "HTTP_-_Joshua_API": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('HTTP_-_Joshua_API')",
                        "schema": {
                          "properties": {
                            "nextPageToken": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "results": {
                              "items": {
                                "properties": {
                                  "description": {
                                    "type": "string"
                                  },
                                  "domainName": {
                                    "type": "string"
                                  },
                                  "emailSenderAddress": {
                                    "type": "string"
                                  },
                                  "fileHashType": {
                                    "type": "string"
                                  },
                                  "fileHashValue": {
                                    "type": "string"
                                  },
                                  "networkIPv4": {
                                    "type": "string"
                                  },
                                  "threatType": {
                                    "type": "string"
                                  },
                                  "timestamp": {
                                    "type": "integer"
                                  },
                                  "tlpLevel": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "description",
                                  "threatType",
                                  "tlpLevel",
                                  "timestamp"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Select": {
                      "runAfter": {
                        "Set_variable": [
                          "Succeeded"
                        ]
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@body('Parse_JSON_array_of_Joshua_indicators')?['results']",
                        "select": {
                          "action": "alert",
                          "confidence": "100",
                          "description": "@item()?['description']",
                          "expirationDateTime": "@{addDays(utcNow(),7)}",
                          "fileHashType": "@item()?['fileHashType']",
                          "fileHashValue": "@item()?['fileHashValue']",
                          "targetProduct": "Azure Sentinel",
                          "threatType": "@item()?['threatType']",
                          "timestamp": "@item()?['timestamp']",
                          "tlpLevel": "@item()?['tlpLevel']",
                          "vendorInformation": "AlmavivA"
                        }
                      }
                    },
                    "Set_variable": {
                      "runAfter": {
                        "Parse_JSON_array_of_Joshua_indicators": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "VARnextPageToken",
                        "value": "@{body('Parse_JSON_array_of_Joshua_indicators')?['nextPageToken']}"
                      }
                    }
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId4'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId4')]",
                "contentId": "[variables('_playbookContentId4')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion4')]",
                "source": {
                  "kind": "Solution",
                  "name": "Joshua-Cyberiskvision",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Microsoft",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Joshua Cyberiskvision",
                  "email": "info@cyberiskvision.com",
                  "tier": "Partner",
                  "link": "https://www.cyberiskvision.com/"
                }
              }
            }
          ],
          "metadata": {
            "title": "Joshua Indicators Processor FILE",
            "description": "Joshua Cyberiskvision provides two main use cases: Get Indicators and Alert Enrichment.",
            "prerequisites": [
              "None"
            ],
            "lastUpdateTime": "2022-08-01T00:00:00Z",
            "mainSteps": [
              "- Triggered on a defined schedule",
              "- Reads the indicators from Joshua Cyberiskvision",
              "- Transforms the indicators to the appropriate tiIndicator JSON format",
              "- Uses the Batch action to send the indicators to the 'Joshua-Import-To-Sentinel'"
            ],
            "entities": [
              "File"
            ],
            "postDeployment": [
              "None"
            ],
            "releaseNotes": [
              {
                "version": "1.0.0",
                "title": "Joshua Indicators Processor FILE",
                "notes": [
                  "Initial version"
                ]
              }
            ]
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs",
      "apiVersion": "2021-05-01",
      "name": "[variables('playbookTemplateSpecName5')]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "properties": {
        "description": "Joshua-Indicators-Processor-IP playbook",
        "displayName": "Joshua-Indicators-Processor-IP playbook"
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2021-05-01",
      "name": "[concat(variables('playbookTemplateSpecName5'),'/',variables('playbookVersion5'))]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/templateSpecs', variables('playbookTemplateSpecName5'))]"
      ],
      "properties": {
        "description": "Joshua-Indicators-Processor-IP Playbook with template version 2.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion5')]",
          "parameters": {
            "PlaybookName": {
              "type": "string",
              "defaultValue": "Joshua-Indicators-Processor-IP",
              "metadata": {
                "description": "Name of the Logic App."
              }
            },
            "Import2SentinelPlaybookName": {
              "defaultValue": "Joshua-Import-To-Sentinel",
              "type": "string",
              "metadata": {
                "description": "Name of Joshua-Import-To-Sentinel Playbook"
              }
            },
            "LogicAppsCategory_Tag": {
              "type": "string",
              "defaultValue": "security"
            },
            "Joshua_API_URI": {
              "type": "string",
              "defaultValue": "https://api.cyberiskvision.com/external/azure-sentinel/ioc-feed",
              "metadata": {
                "description": "Joshua API Uniform Resource Identifiers URI"
              }
            },
            "RecurrenceFrequency": {
              "type": "string",
              "defaultValue": "Hour"
            },
            "RecurrenceInterval": {
              "type": "int",
              "defaultValue": 24
            },
            "RecurrenceStartTime": {
              "type": "string",
              "defaultValue": "2021-12-16T06:00:00Z"
            }
          },
          "variables": {
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "tags": {
                "LogicAppsCategory": "[[parameters('LogicAppsCategory_Tag')]",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "properties": {
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "triggers": {
                    "Recurrence": {
                      "recurrence": {
                        "frequency": "[[parameters('RecurrenceFrequency')]",
                        "interval": "[[parameters('RecurrenceInterval')]",
                        "startTime": "[[parameters('RecurrenceStartTime')]"
                      },
                      "evaluatedRecurrence": {
                        "frequency": "Hour",
                        "interval": 24,
                        "startTime": "2021-10-22T06:00:00Z"
                      },
                      "type": "Recurrence"
                    }
                  },
                  "actions": {
                    "Condition": {
                      "actions": {
                        "Until_2": {
                          "actions": {
                            "For_each_2": {
                              "foreach": "@body('Select_2')",
                              "actions": {
                                "Joshua-Import-To-Sentinel_2": {
                                  "type": "SendToBatch",
                                  "inputs": {
                                    "batchName": "tiIndicators",
                                    "content": "@items('For_each_2')",
                                    "host": {
                                      "triggerName": "Batch_messages",
                                      "workflow": {
                                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('Import2SentinelPlaybookName'))]"
                                      }
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Select_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Foreach"
                            },
                            "HTTP_-_Joshua_API_2": {
                              "type": "Http",
                              "inputs": {
                                "method": "GET",
                                "queries": {
                                  "apiKey": "@variables('apiKey')",
                                  "nextPageToken": "@variables('VARnextPageToken')",
                                  "size": "7000",
                                  "type": "ipv4"
                                },
                                "uri": "[[parameters('Joshua_API_URI')]"
                              }
                            },
                            "Parse_JSON_array_of_Joshua_indicators_2": {
                              "runAfter": {
                                "HTTP_-_Joshua_API_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "ParseJson",
                              "inputs": {
                                "content": "@body('HTTP_-_Joshua_API_2')",
                                "schema": {
                                  "properties": {
                                    "nextPageToken": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "results": {
                                      "items": {
                                        "properties": {
                                          "description": {
                                            "type": "string"
                                          },
                                          "domainName": {
                                            "type": "string"
                                          },
                                          "emailSenderAddress": {
                                            "type": "string"
                                          },
                                          "fileHashType": {
                                            "type": "string"
                                          },
                                          "fileHashValue": {
                                            "type": "string"
                                          },
                                          "networkIPv4": {
                                            "type": "string"
                                          },
                                          "threatType": {
                                            "type": "string"
                                          },
                                          "timestamp": {
                                            "type": "integer"
                                          },
                                          "tlpLevel": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "description",
                                          "threatType",
                                          "tlpLevel",
                                          "timestamp"
                                        ],
                                        "type": "object"
                                      },
                                      "type": "array"
                                    }
                                  },
                                  "type": "object"
                                }
                              }
                            },
                            "Select_2": {
                              "runAfter": {
                                "Set_variable_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Select",
                              "inputs": {
                                "from": "@body('Parse_JSON_array_of_Joshua_indicators_2')?['results']",
                                "select": {
                                  "action": "alert",
                                  "confidence": "100",
                                  "description": "@item()?['description']",
                                  "expirationDateTime": "@addDays(utcNow(),7)",
                                  "networkIPv4": "@item()?['networkIPv4']",
                                  "targetProduct": "Azure Sentinel",
                                  "threatType": "@item()?['threatType']",
                                  "timestamp": "@item()?['timestamp']",
                                  "tlpLevel": "@item()?['tlpLevel']",
                                  "vendorInformation": "AlmavivA"
                                }
                              }
                            },
                            "Set_variable_2": {
                              "runAfter": {
                                "Parse_JSON_array_of_Joshua_indicators_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "VARnextPageToken",
                                "value": "@{body('Parse_JSON_array_of_Joshua_indicators_2')?['nextPageToken']}"
                              }
                            }
                          },
                          "expression": "@equals(variables('VARnextPageToken'), '')",
                          "limit": {
                            "count": 60,
                            "timeout": "PT2H"
                          },
                          "type": "Until"
                        }
                      },
                      "runAfter": {
                        "For_each": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@variables('VARnextPageToken')",
                                ""
                              ]
                            }
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "For_each": {
                      "foreach": "@body('Select')",
                      "actions": {
                        "Joshua-Import-To-Sentinel": {
                          "type": "SendToBatch",
                          "inputs": {
                            "batchName": "tiIndicators",
                            "content": "@items('For_each')",
                            "host": {
                              "triggerName": "Batch_messages",
                              "workflow": {
                                "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('Import2SentinelPlaybookName'))]"
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Select": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "HTTP_-_Joshua_API": {
                      "runAfter": {
                        "Initialize_variable_Paging": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "queries": {
                          "apiKey": "@variables('apiKey')",
                          "lastMinutes": "1400",
                          "size": "7000",
                          "type": "ipv4"
                        },
                        "uri": "[[parameters('Joshua_API_URI')]"
                      }
                    },
                    "Initialize_variable_Paging": {
                      "runAfter": {
                        "Joshua_apiKey": [
                          "Succeeded"
                        ]
                      },
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "VARnextPageToken",
                            "type": "string"
                          }
                        ]
                      }
                    },
                    "Joshua_apiKey": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "apiKey",
                            "type": "string",
                            "value": "Get-API-key-value-from-Joshua-Cyberiskvision-representantive"
                          }
                        ]
                      }
                    },
                    "Parse_JSON_array_of_Joshua_indicators": {
                      "runAfter": {
                        "HTTP_-_Joshua_API": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('HTTP_-_Joshua_API')",
                        "schema": {
                          "properties": {
                            "nextPageToken": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "results": {
                              "items": {
                                "properties": {
                                  "description": {
                                    "type": "string"
                                  },
                                  "domainName": {
                                    "type": "string"
                                  },
                                  "emailSenderAddress": {
                                    "type": "string"
                                  },
                                  "fileHashType": {
                                    "type": "string"
                                  },
                                  "fileHashValue": {
                                    "type": "string"
                                  },
                                  "networkIPv4": {
                                    "type": "string"
                                  },
                                  "threatType": {
                                    "type": "string"
                                  },
                                  "timestamp": {
                                    "type": "integer"
                                  },
                                  "tlpLevel": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "description",
                                  "threatType",
                                  "tlpLevel",
                                  "timestamp"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Select": {
                      "runAfter": {
                        "Set_variable": [
                          "Succeeded"
                        ]
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@body('Parse_JSON_array_of_Joshua_indicators')?['results']",
                        "select": {
                          "action": "alert",
                          "confidence": "100",
                          "description": "@item()?['description']",
                          "expirationDateTime": "@addDays(utcNow(),7)",
                          "networkIPv4": "@item()?['networkIPv4']",
                          "targetProduct": "Azure Sentinel",
                          "threatType": "@item()?['threatType']",
                          "timestamp": "@item()?['timestamp']",
                          "tlpLevel": "@item()?['tlpLevel']",
                          "vendorInformation": "AlmavivA"
                        }
                      }
                    },
                    "Set_variable": {
                      "runAfter": {
                        "Parse_JSON_array_of_Joshua_indicators": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "VARnextPageToken",
                        "value": "@{body('Parse_JSON_array_of_Joshua_indicators')?['nextPageToken']}"
                      }
                    }
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId5'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId5')]",
                "contentId": "[variables('_playbookContentId5')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion5')]",
                "source": {
                  "kind": "Solution",
                  "name": "Joshua-Cyberiskvision",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Microsoft",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Joshua Cyberiskvision",
                  "email": "info@cyberiskvision.com",
                  "tier": "Partner",
                  "link": "https://www.cyberiskvision.com/"
                }
              }
            }
          ],
          "metadata": {
            "title": "Joshua Indicators Processor IP",
            "description": "Joshua Cyberiskvision provides two main use cases: Get Indicators and Alert Enrichment.",
            "prerequisites": [
              "None"
            ],
            "lastUpdateTime": "2022-08-01T00:00:00Z",
            "mainSteps": [
              "- Triggered on a defined schedule",
              "- Reads the indicators from Joshua Cyberiskvision",
              "- Transforms the indicators to the appropriate tiIndicator JSON format",
              "- Uses the Batch action to send the indicators to the 'Joshua-Import-To-Sentinel'"
            ],
            "entities": [
              "IP"
            ],
            "postDeployment": [
              "None"
            ],
            "releaseNotes": [
              {
                "version": "1.0.0",
                "title": "Joshua Indicators Processor IP",
                "notes": [
                  "Initial version"
                ]
              }
            ]
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs",
      "apiVersion": "2021-05-01",
      "name": "[variables('playbookTemplateSpecName6')]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "properties": {
        "description": "Joshua-Indicators-Processor-URL playbook",
        "displayName": "Joshua-Indicators-Processor-URL playbook"
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2021-05-01",
      "name": "[concat(variables('playbookTemplateSpecName6'),'/',variables('playbookVersion6'))]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/templateSpecs', variables('playbookTemplateSpecName6'))]"
      ],
      "properties": {
        "description": "Joshua-Indicators-Processor-URL Playbook with template version 2.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion6')]",
          "parameters": {
            "PlaybookName": {
              "type": "string",
              "defaultValue": "Joshua-Indicators-Processor-URL",
              "metadata": {
                "description": "Name of the Logic App."
              }
            },
            "Import2SentinelPlaybookName": {
              "defaultValue": "Joshua-Import-To-Sentinel",
              "type": "string",
              "metadata": {
                "description": "Name of Joshua-Import-To-Sentinel Playbook"
              }
            },
            "LogicAppsCategory_Tag": {
              "type": "string",
              "defaultValue": "security"
            },
            "Joshua_API_URI": {
              "type": "string",
              "defaultValue": "https://api.cyberiskvision.com/external/azure-sentinel/ioc-feed",
              "metadata": {
                "description": "Joshua API Uniform Resource Identifiers URI"
              }
            },
            "RecurrenceFrequency": {
              "type": "string",
              "defaultValue": "Hour"
            },
            "RecurrenceInterval": {
              "type": "int",
              "defaultValue": 24
            },
            "RecurrenceStartTime": {
              "type": "string",
              "defaultValue": "2021-12-16T06:00:00Z"
            }
          },
          "variables": {
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "tags": {
                "LogicAppsCategory": "[[parameters('LogicAppsCategory_Tag')]",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "properties": {
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "triggers": {
                    "Recurrence": {
                      "recurrence": {
                        "frequency": "[[parameters('RecurrenceFrequency')]",
                        "interval": "[[parameters('RecurrenceInterval')]",
                        "startTime": "[[parameters('RecurrenceStartTime')]"
                      },
                      "evaluatedRecurrence": {
                        "frequency": "Hour",
                        "interval": 24,
                        "startTime": "2021-10-22T06:00:00Z"
                      },
                      "type": "Recurrence"
                    }
                  },
                  "actions": {
                    "Condition": {
                      "actions": {
                        "Until_2": {
                          "actions": {
                            "For_each_2": {
                              "foreach": "@body('Select_2')",
                              "actions": {
                                "Joshua-Import-To-Sentinel_2": {
                                  "type": "SendToBatch",
                                  "inputs": {
                                    "batchName": "tiIndicators",
                                    "content": "@items('For_each_2')",
                                    "host": {
                                      "triggerName": "Batch_messages",
                                      "workflow": {
                                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('Import2SentinelPlaybookName'))]"
                                      }
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Select_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Foreach"
                            },
                            "HTTP_-_Joshua_API_2": {
                              "type": "Http",
                              "inputs": {
                                "method": "GET",
                                "queries": {
                                  "apiKey": "@variables('apiKey')",
                                  "nextPageToken": "@variables('VARnextPageToken')",
                                  "size": "7000",
                                  "type": "url"
                                },
                                "uri": "[[parameters('Joshua_API_URI')]"
                              }
                            },
                            "Parse_JSON_array_of_Joshua_indicators_2": {
                              "runAfter": {
                                "HTTP_-_Joshua_API_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "ParseJson",
                              "inputs": {
                                "content": "@body('HTTP_-_Joshua_API_2')",
                                "schema": {
                                  "properties": {
                                    "nextPageToken": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "results": {
                                      "items": {
                                        "properties": {
                                          "description": {
                                            "type": "string"
                                          },
                                          "domainName": {
                                            "type": "string"
                                          },
                                          "emailSenderAddress": {
                                            "type": "string"
                                          },
                                          "fileHashType": {
                                            "type": "string"
                                          },
                                          "fileHashValue": {
                                            "type": "string"
                                          },
                                          "networkIPv4": {
                                            "type": "string"
                                          },
                                          "threatType": {
                                            "type": "string"
                                          },
                                          "timestamp": {
                                            "type": "integer"
                                          },
                                          "tlpLevel": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "description",
                                          "threatType",
                                          "tlpLevel",
                                          "timestamp"
                                        ],
                                        "type": "object"
                                      },
                                      "type": "array"
                                    }
                                  },
                                  "type": "object"
                                }
                              }
                            },
                            "Select_2": {
                              "runAfter": {
                                "Set_variable_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Select",
                              "inputs": {
                                "from": "@body('Parse_JSON_array_of_Joshua_indicators_2')?['results']",
                                "select": {
                                  "action": "alert",
                                  "confidence": "100",
                                  "description": "@item()?['description']",
                                  "expirationDateTime": "@addDays(utcNow(),7)",
                                  "targetProduct": "Azure Sentinel",
                                  "threatType": "@item()?['threatType']",
                                  "timestamp": "@item()?['timestamp']",
                                  "tlpLevel": "@item()?['tlpLevel']",
                                  "url": "@item()?['url']",
                                  "vendorInformation": "AlmavivA"
                                }
                              }
                            },
                            "Set_variable_2": {
                              "runAfter": {
                                "Parse_JSON_array_of_Joshua_indicators_2": [
                                  "Succeeded"
                                ]
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "VARnextPageToken",
                                "value": "@{body('Parse_JSON_array_of_Joshua_indicators_2')?['nextPageToken']}"
                              }
                            }
                          },
                          "expression": "@equals(variables('VARnextPageToken'), '')",
                          "limit": {
                            "count": 60,
                            "timeout": "PT2H"
                          },
                          "type": "Until"
                        }
                      },
                      "runAfter": {
                        "For_each": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@variables('VARnextPageToken')",
                                ""
                              ]
                            }
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "For_each": {
                      "foreach": "@body('Select')",
                      "actions": {
                        "Joshua-Import-To-Sentinel": {
                          "type": "SendToBatch",
                          "inputs": {
                            "batchName": "tiIndicators",
                            "content": "@items('For_each')",
                            "host": {
                              "triggerName": "Batch_messages",
                              "workflow": {
                                "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('Import2SentinelPlaybookName'))]"
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Select": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "HTTP_-_Joshua_API": {
                      "runAfter": {
                        "Initialize_variable_Paging": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "queries": {
                          "apiKey": "@variables('apiKey')",
                          "lastMinutes": "1400",
                          "size": "7000",
                          "type": "url"
                        },
                        "uri": "[[parameters('Joshua_API_URI')]"
                      }
                    },
                    "Initialize_variable_Paging": {
                      "runAfter": {
                        "Joshua_apiKey": [
                          "Succeeded"
                        ]
                      },
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "VARnextPageToken",
                            "type": "string"
                          }
                        ]
                      }
                    },
                    "Joshua_apiKey": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "apiKey",
                            "type": "string",
                            "value": "Get-API-key-value-from-Joshua-Cyberiskvision-representantive"
                          }
                        ]
                      }
                    },
                    "Parse_JSON_array_of_Joshua_indicators": {
                      "runAfter": {
                        "HTTP_-_Joshua_API": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('HTTP_-_Joshua_API')",
                        "schema": {
                          "properties": {
                            "nextPageToken": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "results": {
                              "items": {
                                "properties": {
                                  "description": {
                                    "type": "string"
                                  },
                                  "domainName": {
                                    "type": "string"
                                  },
                                  "emailSenderAddress": {
                                    "type": "string"
                                  },
                                  "fileHashType": {
                                    "type": "string"
                                  },
                                  "fileHashValue": {
                                    "type": "string"
                                  },
                                  "networkIPv4": {
                                    "type": "string"
                                  },
                                  "threatType": {
                                    "type": "string"
                                  },
                                  "timestamp": {
                                    "type": "integer"
                                  },
                                  "tlpLevel": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "description",
                                  "threatType",
                                  "tlpLevel",
                                  "timestamp"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Select": {
                      "runAfter": {
                        "Set_variable": [
                          "Succeeded"
                        ]
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@body('Parse_JSON_array_of_Joshua_indicators')?['results']",
                        "select": {
                          "action": "alert",
                          "confidence": "100",
                          "description": "@item()?['description']",
                          "expirationDateTime": "@addDays(utcNow(),7)",
                          "targetProduct": "Azure Sentinel",
                          "threatType": "@item()?['threatType']",
                          "timestamp": "@item()?['timestamp']",
                          "tlpLevel": "@item()?['tlpLevel']",
                          "url": "@item()?['url']",
                          "vendorInformation": "AlmavivA"
                        }
                      }
                    },
                    "Set_variable": {
                      "runAfter": {
                        "Parse_JSON_array_of_Joshua_indicators": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "VARnextPageToken",
                        "value": "@{body('Parse_JSON_array_of_Joshua_indicators')?['nextPageToken']}"
                      }
                    }
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId6'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId6')]",
                "contentId": "[variables('_playbookContentId6')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion6')]",
                "source": {
                  "kind": "Solution",
                  "name": "Joshua-Cyberiskvision",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Microsoft",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Joshua Cyberiskvision",
                  "email": "info@cyberiskvision.com",
                  "tier": "Partner",
                  "link": "https://www.cyberiskvision.com/"
                }
              }
            }
          ],
          "metadata": {
            "title": "Joshua Indicators Processor URL",
            "description": "Joshua Cyberiskvision provides two main use cases: Get Indicators and Alert Enrichment.",
            "prerequisites": [
              "None"
            ],
            "lastUpdateTime": "2022-08-01T00:00:00Z",
            "mainSteps": [
              "- Triggered on a defined schedule",
              "- Reads the indicators from Joshua Cyberiskvision",
              "- Transforms the indicators to the appropriate tiIndicator JSON format",
              "- Uses the Batch action to send the indicators to the 'Joshua-Import-To-Sentinel'"
            ],
            "entities": [
              "URL"
            ],
            "postDeployment": [
              "None"
            ],
            "releaseNotes": [
              {
                "version": "1.0.0",
                "title": "Joshua Indicators Processor URL",
                "notes": [
                  "Initial version"
                ]
              }
            ]
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs",
      "apiVersion": "2021-05-01",
      "name": "[variables('playbookTemplateSpecName7')]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "properties": {
        "description": "Joshua-Intel-Enrichment-FILE playbook",
        "displayName": "Joshua-Intel-Enrichment-FILE playbook"
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2021-05-01",
      "name": "[concat(variables('playbookTemplateSpecName7'),'/',variables('playbookVersion7'))]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/templateSpecs', variables('playbookTemplateSpecName7'))]"
      ],
      "properties": {
        "description": "Joshua-Intel-Enrichment-FILE Playbook with template version 2.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion7')]",
          "parameters": {
            "PlaybookName": {
              "type": "string",
              "defaultValue": "Joshua-Intel-Enrichment-FILE",
              "metadata": {
                "description": "Name of the Logic App."
              }
            },
            "LogicAppsCategory_Tag": {
              "type": "string",
              "defaultValue": "security"
            },
            "azuresentinel_name": {
              "type": "string",
              "defaultValue": "azuresentinel"
            },
            "UserName": {
              "defaultValue": "<username>@<domain>",
              "type": "string"
            },
            "Joshua_Alert_Enrichment-URI": {
              "type": "string",
              "defaultValue": "https://api.cyberiskvision.com/external/azure-sentinel/ioc-search"
            }
          },
          "variables": {
            "connection-1": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/azuresentinel')]",
            "_connection-1": "[[variables('connection-1')]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2018-07-01-preview",
              "name": "[[parameters('azuresentinel_name')]",
              "location": "[[variables('workspace-location-inline')]",
              "properties": {
                "displayName": "[[parameters('UserName')]",
                "api": {
                  "id": "[[variables('_connection-1')]"
                }
              }
            },
            {
              "tags": {
                "LogicAppsCategory": "[[parameters('LogicAppsCategory_Tag')]",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "dependsOn": [
                "[[resourceId('Microsoft.Web/connections',parameters('azuresentinel_name'))]"
              ],
              "properties": {
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                      "type": "ApiConnectionWebhook",
                      "inputs": {
                        "body": {
                          "callback_url": "@{listCallbackUrl()}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "path": "/subscribe"
                      }
                    }
                  },
                  "actions": {
                    "Alert_-_Get_incident": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                      }
                    },
                    "Entities_-_Get_FileHashes": {
                      "runAfter": {
                        "Initialize_variable": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": "@triggerBody()?['Entities']",
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/entities/url"
                      }
                    },
                    "For_each": {
                      "foreach": "@body('Entities_-_Get_FileHashes')?['Filehashes']",
                      "actions": {
                        "Add_comment_to_incident_(V3)": {
                          "runAfter": {
                            "Parse_JSON": [
                              "Succeeded"
                            ]
                          },
                          "type": "ApiConnection",
                          "inputs": {
                            "body": {
                              "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                              "message": "<p><span style=\"font-size: 16px\"><u><strong>Joshua Cyberiskvision report:</strong></u></span><span style=\"font-size: 16px\"><strong><br>\nFILE Info: </strong></span><span style=\"font-size: 16px\"><strong>@{body('Parse_JSON')?['fileHashType']}</strong></span><span style=\"font-size: 16px\"><strong><br>\nFILE Description: </strong></span><span style=\"font-size: 16px\"><strong>@{body('Parse_JSON')?['description']}</strong></span><span style=\"font-size: 16px\"><strong></strong></span></p>"
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/Incidents/Comment"
                          }
                        },
                        "Joshua_Alert_Enrichment": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "queries": {
                              "apiKey": "@variables('api_key')",
                              "value": "@items('For_each')?['Value']"
                            },
                            "uri": "[[parameters('Joshua_Alert_Enrichment-URI')]"
                          }
                        },
                        "Parse_JSON": {
                          "runAfter": {
                            "Joshua_Alert_Enrichment": [
                              "Succeeded"
                            ]
                          },
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@body('Joshua_Alert_Enrichment')",
                            "schema": {
                              "properties": {
                                "description": {
                                  "type": "string"
                                },
                                "domainName": {
                                  "type": "string"
                                },
                                "emailSenderAddress": {
                                  "type": "string"
                                },
                                "fileHashType": {
                                  "type": "string"
                                },
                                "fileHashValue": {
                                  "type": "string"
                                },
                                "found": {
                                  "type": "boolean"
                                },
                                "networkIPv4": {
                                  "type": "string"
                                },
                                "threatType": {
                                  "type": "string"
                                },
                                "timestamp": {
                                  "type": "integer"
                                },
                                "tlpLevel": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Entities_-_Get_FileHashes": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "Initialize_variable": {
                      "runAfter": {
                        "Joshua_API_Key": [
                          "Succeeded"
                        ]
                      },
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "classification_bit",
                            "type": "array"
                          }
                        ]
                      }
                    },
                    "Joshua_API_Key": {
                      "runAfter": {
                        "Alert_-_Get_incident": [
                          "Succeeded"
                        ]
                      },
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "api_key",
                            "type": "string",
                            "value": "Get-API-key-value-from-Joshua-Cyberiskvision-representantive"
                          }
                        ]
                      }
                    }
                  }
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "azuresentinel": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', parameters('azuresentinel_name'))]",
                        "connectionName": "[[parameters('azuresentinel_name')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/azuresentinel')]"
                      }
                    }
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId7'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId7')]",
                "contentId": "[variables('_playbookContentId7')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion7')]",
                "source": {
                  "kind": "Solution",
                  "name": "Joshua-Cyberiskvision",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Microsoft",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Joshua Cyberiskvision",
                  "email": "info@cyberiskvision.com",
                  "tier": "Partner",
                  "link": "https://www.cyberiskvision.com/"
                }
              }
            }
          ],
          "metadata": {
            "title": "Joshua Intel Enrichment File",
            "description": "These playbooks use the Joshua Cyberiskvision threat intelligence to automatically enrich incidents generated by Microsoft Sentinel. From the analyst perspective, it is important that the alert contains essential information and therefore the ability to include custom details in the alert will improve the efficiency of investigation. Through this integration, the analyst can enrich incidents with further information. Enriched data will be added in Microsoft Sentinel incident comments.",
            "prerequisites": [
              "None"
            ],
            "lastUpdateTime": "2022-08-01T00:00:00Z",
            "entities": [
              "File"
            ],
            "postDeployment": [
              "None"
            ],
            "releaseNotes": [
              {
                "version": "1.0.0",
                "title": "Joshua Intel Enrichment File",
                "notes": [
                  "Initial version"
                ]
              }
            ]
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs",
      "apiVersion": "2021-05-01",
      "name": "[variables('playbookTemplateSpecName8')]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "properties": {
        "description": "Joshua-Intel-Enrichment-IP playbook",
        "displayName": "Joshua-Intel-Enrichment-IP playbook"
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2021-05-01",
      "name": "[concat(variables('playbookTemplateSpecName8'),'/',variables('playbookVersion8'))]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/templateSpecs', variables('playbookTemplateSpecName8'))]"
      ],
      "properties": {
        "description": "Joshua-Intel-Enrichment-IP Playbook with template version 2.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion8')]",
          "parameters": {
            "PlaybookName": {
              "type": "string",
              "defaultValue": "Joshua-Intel-Enrichment-IP",
              "metadata": {
                "description": "Name of the Logic App."
              }
            },
            "LogicAppsCategory_Tag": {
              "type": "string",
              "defaultValue": "security"
            },
            "azuresentinel_name": {
              "type": "string",
              "defaultValue": "azuresentinel"
            },
            "UserName": {
              "defaultValue": "<username>@<domain>",
              "type": "string"
            },
            "Joshua_Alert_Enrichment-URI": {
              "type": "string",
              "defaultValue": "https://api.cyberiskvision.com/external/azure-sentinel/ioc-search"
            }
          },
          "variables": {
            "connection-1": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/azuresentinel')]",
            "_connection-1": "[[variables('connection-1')]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2018-07-01-preview",
              "name": "[[parameters('azuresentinel_name')]",
              "location": "[[variables('workspace-location-inline')]",
              "properties": {
                "displayName": "[[parameters('UserName')]",
                "api": {
                  "id": "[[variables('_connection-1')]"
                }
              }
            },
            {
              "tags": {
                "LogicAppsCategory": "[[parameters('LogicAppsCategory_Tag')]",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "dependsOn": [
                "[[resourceId('Microsoft.Web/connections',parameters('azuresentinel_name'))]"
              ],
              "properties": {
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                      "type": "ApiConnectionWebhook",
                      "inputs": {
                        "body": {
                          "callback_url": "@{listCallbackUrl()}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "path": "/subscribe"
                      }
                    }
                  },
                  "actions": {
                    "Alert_-_Get_incident": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                      }
                    },
                    "Entities_-_Get_IPs": {
                      "runAfter": {
                        "Initialize_variable": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": "@triggerBody()?['Entities']",
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/entities/ip"
                      }
                    },
                    "For_each": {
                      "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                      "actions": {
                        "Add_comment_to_incident_(V3)": {
                          "runAfter": {
                            "Parse_JSON": [
                              "Succeeded"
                            ]
                          },
                          "type": "ApiConnection",
                          "inputs": {
                            "body": {
                              "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                              "message": "<p><span style=\"font-size: 16px\"><u><strong>Joshua Cyberiskvision report:</strong></u></span><span style=\"font-size: 16px\"><br>\n</span><span style=\"font-size: 16px\"><strong>IP info:</strong></span><span style=\"font-size: 16px\"> </span><span style=\"font-size: 16px\">@{body('Parse_JSON')?['networkIPv4']}</span><span style=\"font-size: 16px\"><br>\n</span><span style=\"font-size: 16px\"><strong>IP Description:</strong></span><span style=\"font-size: 16px\"> </span><span style=\"font-size: 16px\">@{body('Parse_JSON')?['description']}</span><span style=\"font-size: 16px\"></span></p>"
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/Incidents/Comment"
                          }
                        },
                        "Joshua_Alert_Enrichment": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "queries": {
                              "apiKey": "@variables('api_key')",
                              "value": "@items('For_each')?['Address']"
                            },
                            "uri": "[[parameters('Joshua_Alert_Enrichment-URI')]"
                          }
                        },
                        "Parse_JSON": {
                          "runAfter": {
                            "Joshua_Alert_Enrichment": [
                              "Succeeded"
                            ]
                          },
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@body('Joshua_Alert_Enrichment')",
                            "schema": {
                              "properties": {
                                "description": {
                                  "type": "string"
                                },
                                "domainName": {
                                  "type": "string"
                                },
                                "emailSenderAddress": {
                                  "type": "string"
                                },
                                "fileHashType": {
                                  "type": "string"
                                },
                                "fileHashValue": {
                                  "type": "string"
                                },
                                "found": {
                                  "type": "boolean"
                                },
                                "networkIPv4": {
                                  "type": "string"
                                },
                                "threatType": {
                                  "type": "string"
                                },
                                "timestamp": {
                                  "type": "integer"
                                },
                                "tlpLevel": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Entities_-_Get_IPs": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "Initialize_variable": {
                      "runAfter": {
                        "Joshua_API_Key": [
                          "Succeeded"
                        ]
                      },
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "classification_bit",
                            "type": "array"
                          }
                        ]
                      }
                    },
                    "Joshua_API_Key": {
                      "runAfter": {
                        "Alert_-_Get_incident": [
                          "Succeeded"
                        ]
                      },
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "api_key",
                            "type": "string",
                            "value": "Get-API-key-value-from-Joshua-Cyberiskvision-representantive"
                          }
                        ]
                      }
                    }
                  }
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "azuresentinel": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', parameters('azuresentinel_name'))]",
                        "connectionName": "[[parameters('azuresentinel_name')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/azuresentinel')]"
                      }
                    }
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId8'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId8')]",
                "contentId": "[variables('_playbookContentId8')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion8')]",
                "source": {
                  "kind": "Solution",
                  "name": "Joshua-Cyberiskvision",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Microsoft",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Joshua Cyberiskvision",
                  "email": "info@cyberiskvision.com",
                  "tier": "Partner",
                  "link": "https://www.cyberiskvision.com/"
                }
              }
            }
          ],
          "metadata": {
            "title": "Joshua Intel Enrichment IP",
            "description": "These playbooks use the Joshua Cyberiskvision threat intelligence to automatically enrich incidents generated by Microsoft Sentinel. From the analyst perspective, it is important that the alert contains essential information and therefore the ability to include custom details in the alert will improve the efficiency of investigation. Through this integration, the analyst can enrich incidents with further information. Enriched data will be added in Microsoft Sentinel incident comments.",
            "prerequisites": [
              "None"
            ],
            "lastUpdateTime": "2022-08-01T00:00:00Z",
            "entities": [
              "IP"
            ],
            "postDeployment": [
              "None"
            ],
            "releaseNotes": [
              {
                "version": "1.0.0",
                "title": "Joshua Intel Enrichment IP",
                "notes": [
                  "Initial version"
                ]
              }
            ]
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs",
      "apiVersion": "2021-05-01",
      "name": "[variables('playbookTemplateSpecName9')]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "properties": {
        "description": "Joshua-Intel-Enrichment-URL playbook",
        "displayName": "Joshua-Intel-Enrichment-URL playbook"
      }
    },
    {
      "type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2021-05-01",
      "name": "[concat(variables('playbookTemplateSpecName9'),'/',variables('playbookVersion9'))]",
      "location": "[parameters('workspace-location')]",
      "tags": {
        "hidden-sentinelWorkspaceId": "[variables('workspaceResourceId')]",
        "hidden-sentinelContentType": "Playbook"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/templateSpecs', variables('playbookTemplateSpecName9'))]"
      ],
      "properties": {
        "description": "Joshua-Intel-Enrichment-URL Playbook with template version 2.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion9')]",
          "parameters": {
            "PlaybookName": {
              "type": "string",
              "defaultValue": "Joshua-Intel-Enrichment-URL",
              "metadata": {
                "description": "Name of the Logic App."
              }
            },
            "LogicAppsCategory_Tag": {
              "type": "string",
              "defaultValue": "security"
            },
            "azuresentinel_name": {
              "type": "string",
              "defaultValue": "azuresentinel"
            },
            "UserName": {
              "defaultValue": "<username>@<domain>",
              "type": "string"
            },
            "Joshua_Alert_Enrichment-URI": {
              "type": "string",
              "defaultValue": "https://api.cyberiskvision.com/external/azure-sentinel/ioc-search"
            }
          },
          "variables": {
            "connection-1": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/azuresentinel')]",
            "_connection-1": "[[variables('connection-1')]",
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2018-07-01-preview",
              "name": "[[parameters('azuresentinel_name')]",
              "location": "[[variables('workspace-location-inline')]",
              "properties": {
                "displayName": "[[parameters('UserName')]",
                "api": {
                  "id": "[[variables('_connection-1')]"
                }
              }
            },
            {
              "tags": {
                "LogicAppsCategory": "[[parameters('LogicAppsCategory_Tag')]",
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              },
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[[parameters('PlaybookName')]",
              "location": "[[variables('workspace-location-inline')]",
              "dependsOn": [
                "[[resourceId('Microsoft.Web/connections',parameters('azuresentinel_name'))]"
              ],
              "properties": {
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                      "type": "ApiConnectionWebhook",
                      "inputs": {
                        "body": {
                          "callback_url": "@{listCallbackUrl()}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "path": "/subscribe"
                      }
                    }
                  },
                  "actions": {
                    "Alert_-_Get_incident": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                      }
                    },
                    "Entities_-_Get_URLs": {
                      "runAfter": {
                        "Initialize_variable": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": "@triggerBody()?['Entities']",
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/entities/url"
                      }
                    },
                    "For_each": {
                      "foreach": "@body('Entities_-_Get_URLs')?['URLs']",
                      "actions": {
                        "Add_comment_to_incident_(V3)": {
                          "runAfter": {
                            "Parse_JSON": [
                              "Succeeded"
                            ]
                          },
                          "type": "ApiConnection",
                          "inputs": {
                            "body": {
                              "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                              "message": "<p><span style=\"font-size: 16px\"><strong>Joshua Cyberiskvision report:</strong></span><br>\n<span style=\"font-size: 16px\"><strong>URL Info:</strong></span> @{body('Parse_JSON')?['url']}<br>\n<span style=\"font-size: 16px\"><strong>URL Description: </strong></span>@{body('Parse_JSON')?['description']}</p>"
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/Incidents/Comment"
                          }
                        },
                        "Joshua_Alert_Enrichment": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "queries": {
                              "apiKey": "@variables('api_key')",
                              "value": "@items('For_each')?['Url']"
                            },
                            "uri": "[[parameters('Joshua_Alert_Enrichment-URI')]"
                          }
                        },
                        "Parse_JSON": {
                          "runAfter": {
                            "Joshua_Alert_Enrichment": [
                              "Succeeded"
                            ]
                          },
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@body('Joshua_Alert_Enrichment')",
                            "schema": {
                              "properties": {
                                "description": {
                                  "type": "string"
                                },
                                "domainName": {
                                  "type": "string"
                                },
                                "emailSenderAddress": {
                                  "type": "string"
                                },
                                "fileHashType": {
                                  "type": "string"
                                },
                                "fileHashValue": {
                                  "type": "string"
                                },
                                "found": {
                                  "type": "boolean"
                                },
                                "networkIPv4": {
                                  "type": "string"
                                },
                                "threatType": {
                                  "type": "string"
                                },
                                "timestamp": {
                                  "type": "integer"
                                },
                                "tlpLevel": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Entities_-_Get_URLs": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "Initialize_variable": {
                      "runAfter": {
                        "Joshua_API_Key": [
                          "Succeeded"
                        ]
                      },
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "classification_bit",
                            "type": "array"
                          }
                        ]
                      }
                    },
                    "Joshua_API_Key": {
                      "runAfter": {
                        "Alert_-_Get_incident": [
                          "Succeeded"
                        ]
                      },
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "api_key",
                            "type": "string",
                            "value": "Get-API-key-value-from-Joshua-Cyberiskvision-representantive"
                          }
                        ]
                      }
                    }
                  }
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "azuresentinel": {
                        "connectionId": "[[resourceId('Microsoft.Web/connections', parameters('azuresentinel_name'))]",
                        "connectionName": "[[parameters('azuresentinel_name')]",
                        "id": "[[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('workspace-location-inline'), '/managedApis/azuresentinel')]"
                      }
                    }
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId9'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId9')]",
                "contentId": "[variables('_playbookContentId9')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion9')]",
                "source": {
                  "kind": "Solution",
                  "name": "Joshua-Cyberiskvision",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Microsoft",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Joshua Cyberiskvision",
                  "email": "info@cyberiskvision.com",
                  "tier": "Partner",
                  "link": "https://www.cyberiskvision.com/"
                }
              }
            }
          ],
          "metadata": {
            "title": "Joshua Intel Enrichment URL",
            "description": "These playbooks use the Joshua Cyberiskvision threat intelligence to automatically enrich incidents generated by Microsoft Sentinel. From the analyst perspective, it is important that the alert contains essential information and therefore the ability to include custom details in the alert will improve the efficiency of investigation. Through this integration, the analyst can enrich incidents with further information. Enriched data will be added in Microsoft Sentinel incident comments.",
            "prerequisites": [
              "None"
            ],
            "lastUpdateTime": "2022-08-01T00:00:00Z",
            "entities": [
              "URL"
            ],
            "postDeployment": [
              "None"
            ],
            "releaseNotes": [
              {
                "version": "1.0.0",
                "title": "Joshua Intel Enrichment URL",
                "notes": [
                  "Initial version"
                ]
              }
            ]
          }
        }
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
      "apiVersion": "2022-01-01-preview",
      "location": "[parameters('workspace-location')]",
      "properties": {
        "version": "2.0.0",
        "kind": "Solution",
        "contentSchemaVersion": "2.0.0",
        "contentId": "[variables('_solutionId')]",
        "parentId": "[variables('_solutionId')]",
        "source": {
          "kind": "Solution",
          "name": "Joshua-Cyberiskvision",
          "sourceId": "[variables('_solutionId')]"
        },
        "author": {
          "name": "Microsoft",
          "email": "[variables('_email')]"
        },
        "support": {
          "name": "Joshua Cyberiskvision",
          "email": "info@cyberiskvision.com",
          "tier": "Partner",
          "link": "https://www.cyberiskvision.com/"
        },
        "dependencies": {
          "operator": "AND",
          "criteria": [
            {
              "kind": "Playbook",
              "contentId": "[variables('_Joshua-Import-To-Sentinel')]",
              "version": "[variables('playbookVersion1')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_Joshua-Indicators-Processor-DOMAIN')]",
              "version": "[variables('playbookVersion2')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_Joshua-Indicators-Processor-EMAIL')]",
              "version": "[variables('playbookVersion3')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_Joshua-Indicators-Processor-FILE')]",
              "version": "[variables('playbookVersion4')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_Joshua-Indicators-Processor-IP')]",
              "version": "[variables('playbookVersion5')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_Joshua-Indicators-Processor-URL')]",
              "version": "[variables('playbookVersion6')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_Joshua-Intel-Enrichment-FILE')]",
              "version": "[variables('playbookVersion7')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_Joshua-Intel-Enrichment-IP')]",
              "version": "[variables('playbookVersion8')]"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_Joshua-Intel-Enrichment-URL')]",
              "version": "[variables('playbookVersion9')]"
            }
          ]
        },
        "firstPublishDate": "2022-01-10",
        "lastPublishDate": "2022-01-10",
        "providers": [
          "Cyberiskvision"
        ],
        "categories": {
          "domains": [
            "Security - Threat Intelligence"
          ]
        }
      },
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('_solutionId'))]"
    }
  ],
  "outputs": {}
}
