Solutions/StratoSecure/Playbooks/StratoSecure-EscalateOwner/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "StratoSecure - Escalate to Owner via Email",
    "description": "When a Microsoft Sentinel incident from a StratoSecure finding remains unacknowledged, this playbook sends an escalation email via Azure Communication Services and writes an audit record to StratoSecure_PlaybookRuns_CL. Human approval is always required before the action executes.",
    "author": "Soluciones Etech Corp",
    "support": {
      "name": "Soluciones Etech Corp",
      "email": "support@stratocode.io",
      "tier": "Developer",
      "link": "https://stratocode.io/support"
    },
    "lastUpdateTime": "2026-06-01T00:00:00Z",
    "entities": ["Account", "Host"],
    "tags": ["StratoSecure", "Escalation", "Email", "AzureCommunicationServices", "ASPM"],
    "categories": {
      "domains": ["Security"],
      "verticals": ["Banking", "Financial Services"]
    }
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "StratoSecure-EscalateOwner",
      "metadata": {
        "description": "Name of the Logic App playbook resource."
      }
    },
    "WorkspaceName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Microsoft Sentinel Log Analytics workspace."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region for the Logic App. Defaults to the resource group location."
      }
    },
    "AcsEndpointHostname": {
      "type": "string",
      "metadata": {
        "description": "Azure Communication Services resource hostname (e.g. your-acs-resource.communication.azure.com). Do not include https:// prefix."
      }
    },
    "AcsManagedIdentityEnabled": {
      "type": "string",
      "defaultValue": "true",
      "allowedValues": ["true", "false"],
      "metadata": {
        "description": "Set to true to authenticate with ACS via Logic App managed identity. Set to false to use ACS access key."
      }
    },
    "AcsAccessKey": {
      "type": "securestring",
      "defaultValue": "",
      "metadata": {
        "description": "Azure Communication Services access key. Required only when AcsManagedIdentityEnabled is false. Store in Key Vault."
      }
    },
    "SenderEmail": {
      "type": "string",
      "defaultValue": "alerts@stratocode.io",
      "metadata": {
        "description": "Verified sender email address in the ACS Email Communication Service."
      }
    },
    "EscalationEmail": {
      "type": "string",
      "metadata": {
        "description": "Recipient email address for escalation notifications (e.g. soc-lead@your-org.com)."
      }
    },
    "LogAnalyticsWorkspaceId": {
      "type": "string",
      "metadata": {
        "description": "Log Analytics workspace ID for audit log ingestion."
      }
    },
    "LogAnalyticsWorkspaceKey": {
      "type": "securestring",
      "metadata": {
        "description": "Log Analytics workspace primary or secondary key for HTTP Data Collector API."
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "WorkspaceName": {
              "type": "string",
              "defaultValue": "[parameters('WorkspaceName')]"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_alert": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/subscribe"
              }
            }
          },
          "actions": {
            "Condition_RequireHumanApproval": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@true",
                      "@true"
                    ]
                  }
                ]
              },
              "actions": {
                "Action_SendEscalationEmail": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "[concat('https://', parameters('AcsEndpointHostname'), '/emails:send?api-version=2023-03-31')]",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://communication.azure.com"
                    },
                    "body": {
                      "senderAddress": "[parameters('SenderEmail')]",
                      "recipients": {
                        "to": [
                          {
                            "address": "[parameters('EscalationEmail')]",
                            "displayName": "SOC Escalation Contact"
                          }
                        ]
                      },
                      "content": {
                        "subject": "[ESCALATION] StratoSecure Alert: @{triggerBody()?['object']?['properties']?['title']}",
                        "plainText": "A StratoSecure security finding requires immediate attention.\n\nIncident: @{triggerBody()?['object']?['properties']?['title']}\nSeverity: @{triggerBody()?['object']?['properties']?['severity']}\nDescription: @{triggerBody()?['object']?['properties']?['description']}\n\nPlease review and take action in Microsoft Sentinel.",
                        "html": "<html><body><h2>StratoSecure Security Escalation</h2><p>A security finding requires immediate attention.</p><table><tr><th>Field</th><th>Value</th></tr><tr><td>Incident</td><td>@{triggerBody()?['object']?['properties']?['title']}</td></tr><tr><td>Severity</td><td>@{triggerBody()?['object']?['properties']?['severity']}</td></tr><tr><td>Description</td><td>@{triggerBody()?['object']?['properties']?['description']}</td></tr></table><p><a href='@{triggerBody()?['object']?['properties']?['incidentUrl']}'>View in Microsoft Sentinel</a></p></body></html>"
                      }
                    }
                  },
                  "runAfter": {}
                },
                "Action_AuditLog": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "[concat('https://', parameters('LogAnalyticsWorkspaceId'), '.ods.opinsights.azure.com/api/logs?api-version=2016-04-01')]",
                    "headers": {
                      "Log-Type": "StratoSecure_PlaybookRuns_CL",
                      "Content-Type": "application/json",
                      "Authorization": "[concat('SharedKey ', parameters('LogAnalyticsWorkspaceId'), ':', parameters('LogAnalyticsWorkspaceKey'))]"
                    },
                    "body": [
                      {
                        "PlaybookName": "[parameters('PlaybookName')]",
                        "IncidentId": "@{triggerBody()?['object']?['name']}",
                        "IncidentTitle": "@{triggerBody()?['object']?['properties']?['title']}",
                        "Action": "EscalateOwner",
                        "Status": "@{outputs('Action_SendEscalationEmail')['statusCode']}",
                        "EscalationEmailSentTo": "[parameters('EscalationEmail')]",
                        "WorkspaceName": "[parameters('WorkspaceName')]",
                        "TimeGenerated": "@{utcNow()}"
                      }
                    ]
                  },
                  "runAfter": {
                    "Action_SendEscalationEmail": ["Succeeded", "Failed"]
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {}
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuresentinel')]",
                "connectionName": "azuresentinel",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "PlaybookResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "PlaybookPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2017-07-01', 'Full').identity.principalId]"
    }
  }
}
