Solutions/ANYRUN/Playbooks/Sandbox-URL/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "LogicAppName": {
            "type": "string",
            "defaultValue": "ANYRUN-Sandbox-URL"
        },
        "AzureTenantId": {
            "type": "string",
            "metadata": {
                "description": "Tenant ID for authentication in connections."
            }
        },
        "AzureClientId": {
            "type": "string",
            "metadata": {
                "description": "Client ID for authentication."
            }
        },
        "azureClientSecret": {
            "type": "securestring",
            "metadata": {
                "description": "Client Secret for authentication."
            }
        },
        "keyVaultName": {
            "type": "string",
            "metadata": {
                "description": "Key Vault name."
            }
        },
        "keyVaultUri": {
            "type": "string",
            "metadata": {
                "description": "Key Vault URI."
            }
        }
    },
    "variables": {
        "sentinelConnectionName": "azuresentinel--anyrun-app",
        "keyVaultConnectionName": "keyvault--anyrun-app",
        "sentinelApiId": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
        "keyVaultApiId": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('sentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('sentinelConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[variables('sentinelApiId')]"
                },
                "parameterValues": {
                    "token:tenantId": "[parameters('AzureTenantId')]",
                    "token:clientId": "[parameters('AzureClientId')]",
                    "token:clientSecret": "[parameters('azureClientSecret')]",
                    "token:grantType": "client_credentials"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('keyVaultConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('keyVaultConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[variables('keyVaultApiId')]"
                },
                "parameterValues": {
                    "vaultName": "[parameters('keyVaultName')]",
                    "token:tenantId": "[parameters('AzureTenantId')]",
                    "token:clientId": "[parameters('AzureClientId')]",
                    "token:clientSecret": "[parameters('azureClientSecret')]",
                    "token:grantType": "client_credentials",
                    "token:resourceUri": "[parameters('keyVaultUri')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('LogicAppName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "Resource": "Microsoft Sentinel",
                "PlaybookTrigger": "Incident",
                "Custom": "ANYRUN",
                "PlaybookType": "Enrichment"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "Azure Tenant ID": {
                            "defaultValue": "[parameters('AzureTenantId')]",
                            "type": "String"
                        },
                        "Azure Client ID": {
                            "defaultValue": "[parameters('AzureClientId')]",
                            "type": "String"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "All_Entities": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Entities",
                                        "type": "array",
                                        "value": "@triggerBody()?['object']?['properties']?['relatedEntities']"
                                    }
                                ]
                            }
                        },
                        "Get_secret_-_ANYRUN": {
                            "runAfter": {
                                "Entities_-_Get_URLs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('ANYRUN-APIKey')}/value"
                            }
                        },
                        "Initialize_Main_workflow_variables": {
                            "runAfter": {
                                "Get_secret_-_ANYRUN": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Task ID",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Entities_-_Get_URLs": {
                            "runAfter": {
                                "All_Entities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/url"
                            }
                        },
                        "For_each_-_URLs": {
                            "foreach": "@body('Entities_-_Get_URLs')?['URLs']",
                            "actions": {
                                "HTTP-RunNewURLAnalysis": {
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://api.any.run/v1/analysis",
                                        "method": "POST",
                                        "headers": {
                                            "Authorization": "API-Key @{body('Get_secret_-_ANYRUN')?['value']}",
                                            "x-anyrun-connector": "@concat('MS_Sentinel:', variables('Connector Version'))"
                                        },
                                        "body": {
                                            "obj_type": "url",
                                            "obj_url": "@{item()?['Url']}",
                                            "opt_timeout": "120",
                                            "obj_ext_browser": "Microsoft Edge",
                                            "env_os": "windows",
                                            "env_bitness": "64",
                                            "env_version": "10",
                                            "opt_automated_interactivity": "true",
                                            "auto_confirm_uac": "true"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Parse_JSON_-_Get_URL_Detonation_UUID": {
                                    "runAfter": {
                                        "HTTP-RunNewURLAnalysis": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('HTTP-RunNewURLAnalysis')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "boolean"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "taskid": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "Set_-_URL_UUID": {
                                    "runAfter": {
                                        "Parse_JSON_-_Get_URL_Detonation_UUID": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "Task ID",
                                        "value": "@body('Parse_JSON_-_Get_URL_Detonation_UUID')?['data']?['taskid']"
                                    }
                                },
                                "Add_comment_to_incident_-_Analysis_Started_URL": {
                                    "runAfter": {
                                        "Set_-_URL_UUID": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "message": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">ANY.RUN Sandbox Analysis Started:</strong></b><br>Analysis of the URL (@{item()?['Url']}) has been initiated in ANY.RUN Sandbox.</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Link to analysis report:</strong></b> https://app.any.run/tasks/@{variables('Task ID')}</p>"
                                        },
                                        "path": "/Incidents/Comment"
                                    }
                                },
                                "Delay_-_URL_Detonation_Result": {
                                    "runAfter": {
                                        "Add_comment_to_incident_-_Analysis_Started_URL": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Wait",
                                    "inputs": {
                                        "interval": {
                                            "count": 130,
                                            "unit": "Second"
                                        }
                                    }
                                },
                                "Condition_-_Is_URL_Malicious": {
                                    "actions": {
                                        "HTTP-Full-JSON-Report_URL": {
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "https://api.any.run/v1/analysis/@{variables('Task ID')}",
                                                "method": "GET",
                                                "headers": {
                                                    "Authorization": "API-Key @{body('Get_secret_-_ANYRUN')?['value']}",
                                                    "x-anyrun-connector": "@concat('MS_Sentinel:', variables('Connector Version'))"
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "Parse_JSON_-_ANYRUN_Report_URL": {
                                            "runAfter": {
                                                "HTTP-Full-JSON-Report_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('HTTP-Full-JSON-Report_URL')",
                                                "schema": {
                                                    "type": "object",
                                                    "properties": {
                                                        "error": {
                                                            "type": "boolean"
                                                        },
                                                        "data": {
                                                            "type": "object",
                                                            "properties": {
                                                                "analysis": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "uuid": {
                                                                            "type": "string"
                                                                        },
                                                                        "permanentUrl": {
                                                                            "type": "string"
                                                                        },
                                                                        "reports": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "IOC": {
                                                                                    "type": "string"
                                                                                },
                                                                                "MISP": {
                                                                                    "type": "string"
                                                                                },
                                                                                "HTML": {
                                                                                    "type": "string"
                                                                                },
                                                                                "STIX": {
                                                                                    "type": "string"
                                                                                },
                                                                                "graph": {
                                                                                    "type": "string"
                                                                                }
                                                                            }
                                                                        },
                                                                        "sandbox": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "name": {
                                                                                    "type": "string"
                                                                                },
                                                                                "plan": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "name": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        },
                                                                        "duration": {
                                                                            "type": "integer"
                                                                        },
                                                                        "creation": {
                                                                            "type": "integer"
                                                                        },
                                                                        "creationText": {
                                                                            "type": "string"
                                                                        },
                                                                        "stopExec": {
                                                                            "type": "integer"
                                                                        },
                                                                        "stopExecText": {
                                                                            "type": "string"
                                                                        },
                                                                        "tags": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "users": {
                                                                                        "type": "boolean"
                                                                                    },
                                                                                    "tag": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "users",
                                                                                    "tag"
                                                                                ]
                                                                            }
                                                                        },
                                                                        "options": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "timeout": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "additionalTime": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "fakeNet": {
                                                                                    "type": "boolean"
                                                                                },
                                                                                "heavyEvasion": {
                                                                                    "type": "boolean"
                                                                                },
                                                                                "mitm": {
                                                                                    "type": "boolean"
                                                                                },
                                                                                "tor": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "used": {
                                                                                            "type": "boolean"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "presentation": {
                                                                                    "type": "boolean"
                                                                                },
                                                                                "video": {
                                                                                    "type": "boolean"
                                                                                },
                                                                                "hideSource": {
                                                                                    "type": "boolean"
                                                                                },
                                                                                "network": {
                                                                                    "type": "boolean"
                                                                                },
                                                                                "privacy": {
                                                                                    "type": "string"
                                                                                },
                                                                                "privateSample": {
                                                                                    "type": "boolean"
                                                                                },
                                                                                "automatization": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "uac": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "interactivity": {
                                                                                            "type": "boolean"
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        },
                                                                        "scores": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "verdict": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "score": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "threatLevel": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "threatLevelText": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "specs": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "autoStart": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "debugOutput": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "executableDropped": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "multiprocessing": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "serviceLauncher": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "stealing": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "privEscalation": {
                                                                                            "type": "boolean"
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        },
                                                                        "content": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "mainObject": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "type": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "permanentUrl": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "filename": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "basename": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "info": {
                                                                                            "type": "object",
                                                                                            "properties": {
                                                                                                "ext": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "file": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "mime": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "trid": {
                                                                                                    "type": "array",
                                                                                                    "items": {
                                                                                                        "type": "object",
                                                                                                        "properties": {
                                                                                                            "procent": {
                                                                                                                "type": "number"
                                                                                                            },
                                                                                                            "extension": {
                                                                                                                "type": "string"
                                                                                                            },
                                                                                                            "filetype": {
                                                                                                                "type": "string"
                                                                                                            }
                                                                                                        },
                                                                                                        "required": [
                                                                                                            "procent",
                                                                                                            "extension",
                                                                                                            "filetype"
                                                                                                        ]
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        },
                                                                                        "hashes": {
                                                                                            "type": "object",
                                                                                            "properties": {
                                                                                                "md5": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "sha1": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "sha256": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "ssdeep": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "video": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "present": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "permanentUrl": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "pcap": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "present": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "permanentUrl": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "sslkeys": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "present": {
                                                                                            "type": "boolean"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "screenshots": {
                                                                                    "type": "array",
                                                                                    "items": {
                                                                                        "type": "object",
                                                                                        "properties": {
                                                                                            "uuid": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "time": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "permanentUrl": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "thumbnailUrl": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "uuid",
                                                                                            "time",
                                                                                            "permanentUrl",
                                                                                            "thumbnailUrl"
                                                                                        ]
                                                                                    }
                                                                                },
                                                                                "dumps": {
                                                                                    "type": "array",
                                                                                    "items": {
                                                                                        "type": "object",
                                                                                        "properties": {
                                                                                            "address": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "size": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "pid": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "processName": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "timestamp": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "permanentUrl": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "fileNumber": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "taskUUID": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "address",
                                                                                            "size",
                                                                                            "pid",
                                                                                            "processName",
                                                                                            "timestamp",
                                                                                            "permanentUrl",
                                                                                            "fileNumber",
                                                                                            "taskUUID"
                                                                                        ]
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "environments": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "os": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "title": {
                                                                                    "type": "string"
                                                                                },
                                                                                "build": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "product": {
                                                                                    "type": "string"
                                                                                },
                                                                                "variant": {
                                                                                    "type": "string"
                                                                                },
                                                                                "productType": {
                                                                                    "type": "string"
                                                                                },
                                                                                "major": {
                                                                                    "type": "string"
                                                                                },
                                                                                "servicePack": {},
                                                                                "softSet": {
                                                                                    "type": "string"
                                                                                },
                                                                                "bitness": {
                                                                                    "type": "integer"
                                                                                }
                                                                            }
                                                                        },
                                                                        "internetExplorer": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "version": {
                                                                                    "type": "string"
                                                                                },
                                                                                "kbnum": {
                                                                                    "type": "string"
                                                                                }
                                                                            }
                                                                        },
                                                                        "software": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "title": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "version": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "title",
                                                                                    "version"
                                                                                ]
                                                                            }
                                                                        },
                                                                        "hotfixes": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "title": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "title"
                                                                                ]
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "counters": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "processes": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "total": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "monitored": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "suspicious": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "malicious": {
                                                                                    "type": "integer"
                                                                                }
                                                                            }
                                                                        },
                                                                        "network": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "http": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "connections": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "dns": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "threats": {
                                                                                    "type": "integer"
                                                                                }
                                                                            }
                                                                        },
                                                                        "files": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "unknown": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "text": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "suspicious": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "malicious": {
                                                                                    "type": "integer"
                                                                                }
                                                                            }
                                                                        },
                                                                        "registry": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "total": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "read": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "write": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "delete": {
                                                                                    "type": "integer"
                                                                                }
                                                                            }
                                                                        },
                                                                        "synchronization": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "total": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "operation": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "open": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "create": {
                                                                                            "type": "integer"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "type": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "mutex": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "event": {
                                                                                            "type": "integer"
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "malconf": {
                                                                    "type": "array"
                                                                },
                                                                "mitre": {
                                                                    "type": "array"
                                                                },
                                                                "status": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "Select_Tags_URL": {
                                            "runAfter": {
                                                "Parse_JSON_-_ANYRUN_Report_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Select",
                                            "inputs": {
                                                "from": "@body('Parse_JSON_-_ANYRUN_Report_URL')?['data']?['analysis']?['tags']",
                                                "select": "@item()['tag']"
                                            }
                                        },
                                        "Compose_-_All_Tags_URL": {
                                            "runAfter": {
                                                "Select_Tags_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@union(body('Select_Tags_URL'), createArray('ANY.RUN'))"
                                        },
                                        "For_each_-_Add_Tags_URL": {
                                            "foreach": "@outputs('Compose_-_All_Tags_URL')",
                                            "actions": {
                                                "Update_incident_-_Add_Tags_URL": {
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                            }
                                                        },
                                                        "method": "put",
                                                        "body": {
                                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                                            "tagsToAdd": {
                                                                "TagsToAdd": [
                                                                    {
                                                                        "Tag": "@{items('For_each_-_Add_Tags_URL')}"
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        "path": "/Incidents"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Compose_-_All_Tags_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "HTTP-GetIOC_URL": {
                                            "runAfter": {
                                                "For_each_-_Add_Tags_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "https://api.any.run/report/@{variables('Task ID')}/ioc/json",
                                                "method": "GET",
                                                "headers": {
                                                    "Authorization": "API-Key @{body('Get_secret_-_ANYRUN')?['value']}",
                                                    "x-anyrun-connector": "@concat('MS_Sentinel:', variables('Connector Version'))"
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "Parse_JSON_-_IOC_URL": {
                                            "runAfter": {
                                                "HTTP-GetIOC_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('HTTP-GetIOC_URL')",
                                                "schema": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "ioc": {
                                                                "type": "string"
                                                            },
                                                            "reputation": {
                                                                "type": "integer"
                                                            },
                                                            "discoveringEntryId": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "Transform_IOC_Reputation_URL": {
                                            "runAfter": {
                                                "Parse_JSON_-_IOC_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Select",
                                            "inputs": {
                                                "from": "@body('Parse_JSON_-_IOC_URL')",
                                                "select": {
                                                    "ioc": "@item()['ioc']",
                                                    "type": "@item()['type']",
                                                    "severity": "@if(equals(item()['reputation'], 0), 'Low', if(equals(item()['reputation'], 1), 'Suspicious', if(equals(item()['reputation'], 2), 'Malicious', 'Low')))"
                                                }
                                            }
                                        },
                                        "Filter_Unknown_IOCs_URL": {
                                            "runAfter": {
                                                "Transform_IOC_Reputation_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Query",
                                            "inputs": {
                                                "from": "@body('Transform_IOC_Reputation_URL')",
                                                "where": "@equals(item()['severity'], 'Low')"
                                            }
                                        },
                                        "Filter_Suspicious_IOCs_URL": {
                                            "runAfter": {
                                                "Transform_IOC_Reputation_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Query",
                                            "inputs": {
                                                "from": "@body('Transform_IOC_Reputation_URL')",
                                                "where": "@equals(item()['severity'], 'Suspicious')"
                                            }
                                        },
                                        "Filter_Malicious_IOCs_URL": {
                                            "runAfter": {
                                                "Transform_IOC_Reputation_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Query",
                                            "inputs": {
                                                "from": "@body('Transform_IOC_Reputation_URL')",
                                                "where": "@equals(item()['severity'], 'Malicious')"
                                            }
                                        },
                                        "Condition_-_Suspicious_IOCs_is_null_URL": {
                                            "actions": {
                                                "Filter_Suspicious_IOCs_-_ip_URL": {
                                                    "type": "Query",
                                                    "inputs": {
                                                        "from": "@body('Filter_Suspicious_IOCs_URL')",
                                                        "where": "@equals(item()['type'], 'ip')"
                                                    }
                                                },
                                                "Filter_Suspicious_IOCs_-_domain_URL": {
                                                    "type": "Query",
                                                    "inputs": {
                                                        "from": "@body('Filter_Suspicious_IOCs_URL')",
                                                        "where": "@equals(item()['type'], 'domain')"
                                                    }
                                                },
                                                "Filter_Suspicious_IOCs_-_URL_URL": {
                                                    "type": "Query",
                                                    "inputs": {
                                                        "from": "@body('Filter_Suspicious_IOCs_URL')",
                                                        "where": "@equals(item()['type'], 'url')"
                                                    }
                                                },
                                                "Filter_Suspicious_IOCs_-_hash_URL": {
                                                    "type": "Query",
                                                    "inputs": {
                                                        "from": "@body('Filter_Suspicious_IOCs_URL')",
                                                        "where": "@equals(item()['type'], 'sha256')"
                                                    }
                                                },
                                                "Select_Suspicious_IOCs_-_hash_URL": {
                                                    "runAfter": {
                                                        "Filter_Suspicious_IOCs_-_hash_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Filter_Suspicious_IOCs_-_hash_URL')",
                                                        "select": "@item()?['ioc']"
                                                    }
                                                },
                                                "Transform_Suspicious_IOCs_to_STIX_-_hash_URL": {
                                                    "runAfter": {
                                                        "Select_Suspicious_IOCs_-_hash_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Select_Suspicious_IOCs_-_hash_URL')",
                                                        "select": {
                                                            "type": "indicator",
                                                            "spec_version": 2.1,
                                                            "id": "@concat('indicator--', guid())",
                                                            "created": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "modified": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "pattern": "@concat('[file:hashes.''SHA-256'' = ''', item(), ''']')",
                                                            "pattern_type": "stix",
                                                            "valid_from": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "valid_until": "@addDays(utcNow(), 365, 'yyyy-MM-ddTHH:mm:ssZ')",
                                                            "description": "https://app.any.run/tasks/@{variables('Task ID')}",
                                                            "confidence": 50
                                                        }
                                                    }
                                                },
                                                "Compose_-_STIX_objects_of_Suspicious_IOCs_to_TI_URL": {
                                                    "runAfter": {
                                                        "Transform_Suspicious_IOCs_to_STIX_-_hash_URL": [
                                                            "Succeeded"
                                                        ],
                                                        "Transform_Suspicious_IOCs_to_STIX_-_ip_URL": [
                                                            "Succeeded"
                                                        ],
                                                        "Transform_Suspicious_IOCs_to_STIX_-_domain_URL": [
                                                            "Succeeded"
                                                        ],
                                                        "Transform_Suspicious_IOCs_to_STIX_-_URL_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Compose",
                                                    "inputs": "@union(if(greater(length(body('Transform_Suspicious_IOCs_to_STIX_-_hash_URL')), 0), body('Transform_Suspicious_IOCs_to_STIX_-_hash_URL'), json('[]')), if(greater(length(body('Transform_Suspicious_IOCs_to_STIX_-_ip_URL')), 0), body('Transform_Suspicious_IOCs_to_STIX_-_ip_URL'), json('[]')), if(greater(length(body('Transform_Suspicious_IOCs_to_STIX_-_domain_URL')), 0), body('Transform_Suspicious_IOCs_to_STIX_-_domain_URL'), json('[]')), if(greater(length(body('Transform_Suspicious_IOCs_to_STIX_-_URL_URL')), 0), body('Transform_Suspicious_IOCs_to_STIX_-_URL_URL'), json('[]')))"
                                                },
                                                "Select_Suspicious_IOCs_-_ip_URL": {
                                                    "runAfter": {
                                                        "Filter_Suspicious_IOCs_-_ip_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Filter_Suspicious_IOCs_-_ip_URL')",
                                                        "select": "@item()?['ioc']"
                                                    }
                                                },
                                                "Transform_Suspicious_IOCs_to_STIX_-_ip_URL": {
                                                    "runAfter": {
                                                        "Select_Suspicious_IOCs_-_ip_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Select_Suspicious_IOCs_-_ip_URL')",
                                                        "select": {
                                                            "type": "indicator",
                                                            "spec_version": 2.1,
                                                            "id": "@concat('indicator--', guid())",
                                                            "created": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "modified": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "pattern": "@concat('[ipv4-addr:value = ''', item(), ''']')",
                                                            "pattern_type": "stix",
                                                            "valid_from": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "valid_until": "@addDays(utcNow(), 365, 'yyyy-MM-ddTHH:mm:ssZ')",
                                                            "description": "https://app.any.run/tasks/@{variables('Task ID')}",
                                                            "confidence": 100
                                                        }
                                                    }
                                                },
                                                "Select_Suspicious_IOCs_-_domain_URL": {
                                                    "runAfter": {
                                                        "Filter_Suspicious_IOCs_-_domain_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Filter_Suspicious_IOCs_-_domain_URL')",
                                                        "select": "@item()?['ioc']"
                                                    }
                                                },
                                                "Transform_Suspicious_IOCs_to_STIX_-_domain_URL": {
                                                    "runAfter": {
                                                        "Select_Suspicious_IOCs_-_domain_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Select_Suspicious_IOCs_-_domain_URL')",
                                                        "select": {
                                                            "type": "indicator",
                                                            "spec_version": 2.1,
                                                            "id": "@concat('indicator--', guid())",
                                                            "created": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "modified": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "pattern": "@concat('[domain-name:value = ''', item(), ''']')",
                                                            "pattern_type": "stix",
                                                            "valid_from": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "valid_until": "@addDays(utcNow(), 365, 'yyyy-MM-ddTHH:mm:ssZ')",
                                                            "description": "https://app.any.run/tasks/@{variables('Task ID')}",
                                                            "confidence": 100
                                                        }
                                                    }
                                                },
                                                "Select_Suspicious_IOCs_-_URL_URL": {
                                                    "runAfter": {
                                                        "Filter_Suspicious_IOCs_-_URL_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Filter_Suspicious_IOCs_-_URL_URL')",
                                                        "select": "@item()?['ioc']"
                                                    }
                                                },
                                                "Transform_Suspicious_IOCs_to_STIX_-_URL_URL": {
                                                    "runAfter": {
                                                        "Select_Suspicious_IOCs_-_URL_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Select_Suspicious_IOCs_-_URL_URL')",
                                                        "select": {
                                                            "type": "indicator",
                                                            "spec_version": 2.1,
                                                            "id": "@concat('indicator--', guid())",
                                                            "created": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "modified": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "pattern": "@concat('[url:value = ''', item(), ''']')",
                                                            "pattern_type": "stix",
                                                            "valid_from": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "valid_until": "@addDays(utcNow(), 365, 'yyyy-MM-ddTHH:mm:ssZ')",
                                                            "description": "https://app.any.run/tasks/@{variables('Task ID')}",
                                                            "confidence": 50
                                                        }
                                                    }
                                                },
                                                "Select_-_Chunk_Suspicious_IOCs_array_URL": {
                                                    "runAfter": {
                                                        "Compose_-_STIX_objects_of_Suspicious_IOCs_to_TI_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@range(0, add(div(length(outputs('Compose_-_STIX_objects_of_Suspicious_IOCs_to_TI_URL')), 99), if(equals(mod(length(outputs('Compose_-_STIX_objects_of_Suspicious_IOCs_to_TI_URL')), 99), 0), 0, 1)))",
                                                        "select": "@take(skip(outputs('Compose_-_STIX_objects_of_Suspicious_IOCs_to_TI_URL'), mul(item(), 99)), 99)"
                                                    }
                                                },
                                                "For_each_-_Upload_Suspicious_IOCs_URL": {
                                                    "foreach": "@outputs('Select_-_Chunk_Suspicious_IOCs_array_URL')['body']",
                                                    "actions": {
                                                        "Threat_Intelligence_-_Upload_Indicators_of_Compromise_(V2)_-_Suspicious_IOCs_URL": {
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "body": {
                                                                    "sourcesystem": "ANY.RUN-Sandbox",
                                                                    "indicators": "@item()"
                                                                },
                                                                "path": "/V2/ThreatIntelligence/@{encodeURIComponent(triggerBody()?['workspaceId'])}/UploadIndicators/"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Select_-_Chunk_Suspicious_IOCs_array_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                }
                                            },
                                            "runAfter": {
                                                "Filter_Suspicious_IOCs_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "else": {
                                                "actions": {}
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@body('Filter_Suspicious_IOCs_URL')",
                                                            ""
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Condition_-_Malicious_IOCs_is_null_URL": {
                                            "actions": {
                                                "Filter_Malicious_IOCs_-_ip_URL": {
                                                    "type": "Query",
                                                    "inputs": {
                                                        "from": "@body('Filter_Malicious_IOCs_URL')",
                                                        "where": "@equals(item()['type'], 'ip')"
                                                    }
                                                },
                                                "Filter_Malicious_IOCs_-_domain_URL": {
                                                    "type": "Query",
                                                    "inputs": {
                                                        "from": "@body('Filter_Malicious_IOCs_URL')",
                                                        "where": "@equals(item()['type'], 'domain')"
                                                    }
                                                },
                                                "Filter_Malicious_IOCs_-_URL_URL": {
                                                    "type": "Query",
                                                    "inputs": {
                                                        "from": "@body('Filter_Malicious_IOCs_URL')",
                                                        "where": "@equals(item()['type'], 'url')"
                                                    }
                                                },
                                                "Filter_Malicious_IOCs_-_hash_URL": {
                                                    "type": "Query",
                                                    "inputs": {
                                                        "from": "@body('Filter_Malicious_IOCs_URL')",
                                                        "where": "@equals(item()['type'], 'sha256')"
                                                    }
                                                },
                                                "Select_Malicious_IOCs_-_hash_URL": {
                                                    "runAfter": {
                                                        "Filter_Malicious_IOCs_-_hash_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Filter_Malicious_IOCs_-_hash_URL')",
                                                        "select": "@item()?['ioc']"
                                                    }
                                                },
                                                "Transform_Malicious_IOCs_to_STIX_-_hash_URL": {
                                                    "runAfter": {
                                                        "Select_Malicious_IOCs_-_hash_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Select_Malicious_IOCs_-_hash_URL')",
                                                        "select": {
                                                            "type": "indicator",
                                                            "spec_version": 2.1,
                                                            "id": "@concat('indicator--', guid())",
                                                            "created": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "modified": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "pattern": "@concat('[file:hashes.''SHA-256'' = ''', item(), ''']')",
                                                            "pattern_type": "stix",
                                                            "valid_from": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "valid_until": "@addDays(utcNow(), 365, 'yyyy-MM-ddTHH:mm:ssZ')",
                                                            "description": "https://app.any.run/tasks/@{variables('Task ID')}",
                                                            "confidence": 100
                                                        }
                                                    }
                                                },
                                                "Compose_-_STIX_objects_of_Malicious_IOCs_to_TI_URL": {
                                                    "runAfter": {
                                                        "Transform_Malicious_IOCs_to_STIX_-_hash_URL": [
                                                            "Succeeded"
                                                        ],
                                                        "Transform_Malicious_IOCs_to_STIX_-_ip_URL": [
                                                            "Succeeded"
                                                        ],
                                                        "Transform_Malicious_IOCs_to_STIX_-_domain_URL": [
                                                            "Succeeded"
                                                        ],
                                                        "Transform_Malicious_IOCs_to_STIX_-_URL_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Compose",
                                                    "inputs": "@union(if(greater(length(body('Transform_Malicious_IOCs_to_STIX_-_hash_URL')), 0), body('Transform_Malicious_IOCs_to_STIX_-_hash_URL'), json('[]')), if(greater(length(body('Transform_Malicious_IOCs_to_STIX_-_ip_URL')), 0), body('Transform_Malicious_IOCs_to_STIX_-_ip_URL'), json('[]')), if(greater(length(body('Transform_Malicious_IOCs_to_STIX_-_domain_URL')), 0), body('Transform_Malicious_IOCs_to_STIX_-_domain_URL'), json('[]')), if(greater(length(body('Transform_Malicious_IOCs_to_STIX_-_URL_URL')), 0), body('Transform_Malicious_IOCs_to_STIX_-_URL_URL'), json('[]')))"
                                                },
                                                "Select_Malicious_IOCs_-_ip_URL": {
                                                    "runAfter": {
                                                        "Filter_Malicious_IOCs_-_ip_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Filter_Malicious_IOCs_-_ip_URL')",
                                                        "select": "@item()?['ioc']"
                                                    }
                                                },
                                                "Transform_Malicious_IOCs_to_STIX_-_ip_URL": {
                                                    "runAfter": {
                                                        "Select_Malicious_IOCs_-_ip_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Select_Malicious_IOCs_-_ip_URL')",
                                                        "select": {
                                                            "type": "indicator",
                                                            "spec_version": 2.1,
                                                            "id": "@concat('indicator--', guid())",
                                                            "created": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "modified": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "pattern": "@concat('[ipv4-addr:value = ''', item(), ''']')",
                                                            "pattern_type": "stix",
                                                            "valid_from": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "valid_until": "@addDays(utcNow(), 365, 'yyyy-MM-ddTHH:mm:ssZ')",
                                                            "description": "https://app.any.run/tasks/@{variables('Task ID')}",
                                                            "confidence": 100
                                                        }
                                                    }
                                                },
                                                "Select_Malicious_IOCs_-_domain_URL": {
                                                    "runAfter": {
                                                        "Filter_Malicious_IOCs_-_domain_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Filter_Malicious_IOCs_-_domain_URL')",
                                                        "select": "@item()?['ioc']"
                                                    }
                                                },
                                                "Transform_Malicious_IOCs_to_STIX_-_domain_URL": {
                                                    "runAfter": {
                                                        "Select_Malicious_IOCs_-_domain_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Select_Malicious_IOCs_-_domain_URL')",
                                                        "select": {
                                                            "type": "indicator",
                                                            "spec_version": 2.1,
                                                            "id": "@concat('indicator--', guid())",
                                                            "created": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "modified": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "pattern": "@concat('[domain-name:value = ''', item(), ''']')",
                                                            "pattern_type": "stix",
                                                            "valid_from": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "valid_until": "@addDays(utcNow(), 365, 'yyyy-MM-ddTHH:mm:ssZ')",
                                                            "description": "https://app.any.run/tasks/@{variables('Task ID')}",
                                                            "confidence": 100
                                                        }
                                                    }
                                                },
                                                "Select_Malicious_IOCs_-_URL_URL": {
                                                    "runAfter": {
                                                        "Filter_Malicious_IOCs_-_URL_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Filter_Malicious_IOCs_-_URL_URL')",
                                                        "select": "@item()?['ioc']"
                                                    }
                                                },
                                                "Transform_Malicious_IOCs_to_STIX_-_URL_URL": {
                                                    "runAfter": {
                                                        "Select_Malicious_IOCs_-_URL_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@body('Select_Malicious_IOCs_-_URL_URL')",
                                                        "select": {
                                                            "type": "indicator",
                                                            "spec_version": 2.1,
                                                            "id": "@concat('indicator--', guid())",
                                                            "created": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "modified": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "pattern": "@concat('[url:value = ''', item(), ''']')",
                                                            "pattern_type": "stix",
                                                            "valid_from": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')",
                                                            "valid_until": "@addDays(utcNow(), 365, 'yyyy-MM-ddTHH:mm:ssZ')",
                                                            "description": "https://app.any.run/tasks/@{variables('Task ID')}",
                                                            "confidence": 100
                                                        }
                                                    }
                                                },
                                                "Select_-_Chunk_Malicious_IOCs_array_URL": {
                                                    "runAfter": {
                                                        "Compose_-_STIX_objects_of_Malicious_IOCs_to_TI_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Select",
                                                    "inputs": {
                                                        "from": "@range(0, add(div(length(outputs('Compose_-_STIX_objects_of_Malicious_IOCs_to_TI_URL')), 99), if(equals(mod(length(outputs('Compose_-_STIX_objects_of_Malicious_IOCs_to_TI_URL')), 99), 0), 0, 1)))",
                                                        "select": "@take(skip(outputs('Compose_-_STIX_objects_of_Malicious_IOCs_to_TI_URL'), mul(item(), 99)), 99)"
                                                    }
                                                },
                                                "For_each_-_Upload_Malicious_IOCs_URL": {
                                                    "foreach": "@outputs('Select_-_Chunk_Malicious_IOCs_array_URL')['body']",
                                                    "actions": {
                                                        "Threat_Intelligence_-_Upload_Indicators_of_Compromise_(V2)_-_Malicious_IOCs_URL": {
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "body": {
                                                                    "sourcesystem": "ANY.RUN-Sandbox",
                                                                    "indicators": "@item()"
                                                                },
                                                                "path": "/V2/ThreatIntelligence/@{encodeURIComponent(triggerBody()?['workspaceId'])}/UploadIndicators/"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Select_-_Chunk_Malicious_IOCs_array_URL": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                }
                                            },
                                            "runAfter": {
                                                "Filter_Malicious_IOCs_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "else": {
                                                "actions": {}
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@body('Filter_Malicious_IOCs_URL')",
                                                                ""
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Compose_Sorted_IOCs_URL": {
                                            "runAfter": {
                                                "Condition_-_Suspicious_IOCs_is_null_URL": [
                                                    "Succeeded"
                                                ],
                                                "Condition_-_Malicious_IOCs_is_null_URL": [
                                                    "Succeeded"
                                                ],
                                                "Filter_Unknown_IOCs_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@union(body('Filter_Malicious_IOCs_URL'), body('Filter_Suspicious_IOCs_URL'), body('Filter_Unknown_IOCs_URL'))"
                                        },
                                        "Create_IOC_Table_Rows_URL": {
                                            "runAfter": {
                                                "Compose_Sorted_IOCs_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Select",
                                            "inputs": {
                                                "from": "@outputs('Compose_Sorted_IOCs_URL')",
                                                "select": "<tr><td>@{item()['ioc']}</td><td>@{item()['type']}</td><td>@{item()['severity']}</td></tr>"
                                            }
                                        },
                                        "Compose_IOC_Table_URL": {
                                            "runAfter": {
                                                "Create_IOC_Table_Rows_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "<table border='1'><tr><th>IOC</th><th>Type</th><th>Severity</th></tr>@{join(body('Create_IOC_Table_Rows_URL'), '')}</table>"
                                        },
                                        "Add_comment_to_incident_(V3)_-_ANY.RUN_Output_-_URL": {
                                            "runAfter": {
                                                "Compose_IOC_Table_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "message": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">ANY.RUN URL Detonation Results:</strong></b><br><span style=\"color: rgb(208, 2, 27);\">A malicious URL has been detected during ANY.RUN Sandbox analysis</span> (@{replace(replace(item()?['Url'], '.', '[.]'), 'https://', '')}).</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Verdict:</strong></b> @{body('Parse_JSON_-_Task_Monitor_URL')?['task']?['scores']?['verdict']?['text']}<br><b><strong class=\"editor-text-bold\">Threat score:</strong></b> @{body('Parse_JSON_-_ANYRUN_Report_URL')?['data']?['analysis']?['scores']?['verdict']?['score']}/100<br><b><strong class=\"editor-text-bold\">Link to analysis report</strong></b> - https://app.any.run/tasks/@{variables('Task ID')}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Detected IOCs:</strong></b><br>@{outputs('Compose_IOC_Table_URL')}</p>"
                                                },
                                                "path": "/Incidents/Comment"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Until_URL_Analysis_is_not_completed": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Add_comment_to_incident_(V3)_-_Clean_Scan_URL_ANY.RUN_Output": {
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "body": {
                                                        "incidentArmId": "@{triggerBody()?['object']?['id']}",
                                                        "message": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">ANY.RUN URL Detonation Results:</strong></b><br><span style=\"color: rgb(65, 117, 5);\">URL is clean and is no malicious activity was found during ANY.RUN Sandbox analysis</span> (@{replace(replace(replace(item()?['Url'], '.', '[.]'), 'https://', ''), 'http://', '')}).</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Link to analysis report</strong></b> - https://app.any.run/tasks/@{variables('Task ID')}</p>"
                                                    },
                                                    "path": "/Incidents/Comment"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "or": [
                                            {
                                                "greater": [
                                                    "@body('Parse_JSON_-_Task_Monitor_URL')?['task']?['scores']?['verdict']?['threat_level']",
                                                    0
                                                ]
                                            },
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@body('Parse_JSON_-_Task_Monitor_URL')?['task']?['scores']?['verdict']?['text']",
                                                        "No threats detected"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Until_URL_Analysis_is_not_completed": {
                                    "actions": {
                                        "HTTP-CheckURL-Result": {
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "https://api.any.run/v1/analysis/monitor/@{variables('Task ID')}",
                                                "method": "GET",
                                                "headers": {
                                                    "Authorization": "API-Key @{body('Get_secret_-_ANYRUN')?['value']}",
                                                    "x-anyrun-connector": "@concat('MS_Sentinel:', variables('Connector Version'))",
                                                    "Content-Type": "application/json"
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "Parse_JSON_-_Task_Monitor_URL": {
                                            "runAfter": {
                                                "HTTP-CheckURL-Result": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@trim(replace(body('HTTP-CheckURL-Result'), 'data:', ''))",
                                                "schema": {
                                                    "type": "object",
                                                    "properties": {
                                                        "task": {
                                                            "type": "object",
                                                            "properties": {
                                                                "scores": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "verdict": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "threat_level": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "text": {
                                                                                    "type": "string"
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "completed": {
                                                            "type": "boolean"
                                                        },
                                                        "error": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "Delay_-_Time_added_to_Task_URL": {
                                            "runAfter": {
                                                "Parse_JSON_-_Task_Monitor_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Wait",
                                            "inputs": {
                                                "interval": {
                                                    "count": 60,
                                                    "unit": "Second"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Delay_-_URL_Detonation_Result": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": "@equals(body('Parse_JSON_-_Task_Monitor_URL')?['completed'], true)",
                                    "limit": {
                                        "count": 9,
                                        "timeout": "PT10M"
                                    },
                                    "type": "Until"
                                }
                            },
                            "runAfter": {
                                "Initialize_Additional_Service_Parameters": [
                                    "Succeeded",
                                    "TimedOut",
                                    "Skipped",
                                    "Failed"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "Initialize_Additional_Service_Parameters": {
                            "runAfter": {
                                "Initialize_Main_workflow_variables": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Connector Version",
                                        "type": "string",
                                        "value": "1.0.0"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
                                "connectionName": "[variables('sentinelConnectionName')]",
                                "id": "[variables('sentinelApiId')]"
                            },
                            "keyvault": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('keyVaultConnectionName'))]",
                                "connectionName": "[variables('keyVaultConnectionName')]",
                                "id": "[variables('keyVaultApiId')]"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('keyVaultConnectionName'))]"
            ]
        }
    ]
}
