Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSender-EntityTrigger/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "O365 - Block Sender Entity Trigger",
    "description": "This Playbook Provides the automation on blocking the suspicious/malicious sender",
    "prerequisites": [
      "1. Prior to the deployment of this playbook, Defender for office 365 Custom Connector needs to be deployed under the same subscription.",
      "2. Refer to [Defender for office 365 Logic App Custom Connector](../../CustomConnector/O365_Defender_FunctionAppConnector/readme.md) documentation for deployment instructions."
    ],
    "postDeployment": [
      "1. Authorize each connection.",
      "2. Configure Playbook in Microsoft Sentinel Analytic Rule.",
      "3. Assign Microsoft Sentinel Responder Role to Playbook.",
      "6. Check readme.md for detailed instructions."
    ],
    "prerequisitesDeployTemplateFile": "../../CustomConnector/O365_Defender_FunctionAppConnector/azuredeploy.json",
    "lastUpdateTime": "2023-06-18T12:00:00.000Z",
    "entities": [],
    "tags": [ "Sender", "o365", "File" ,"Malicious" ,"Suspicious" ],
    "support": {
      "tier": "Microsoft"
    },
    "author": {
      "name": "Microsoft"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "o365-BlockSender-EntityTrigger",
      "type": "string"
    },
    "Applicationid": {
      "type": "string",
      "metadata": {
        "description": "Enter value for Applicationid"
      }
    },
    "OrganizationName": {
      "type": "string",
      "metadata": {
        "description": "Enter value for OrganizationName"
      }
    },
    "Keyvault name": {
      "type": "String",
      "metadata": {
        "description": "Enter the key vault name where certificate thumbprint is stored"
      }
    },
    "Certificate_key_name": {
      "type": "string",
      "metadata": {
        "description": "Your Key name for the thumbprint secret stored in keyvault under secrets"
      }
    },
    "FunctionsAppName": {
      "defaultValue": "o365def",
      "type": "string",
      "metadata": {
        "description": "Name of the FunctionsApp custom connector, if you want to change the default name, make sure to use the same in all o365 automation playbooks as well"
      }
    }
  },
  "variables": {
    "MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
    "FunctionsAppName": "[concat(parameters('FunctionsAppName'), uniqueString(resourceGroup().id))]",
    "o365FuntionsAppId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/sites/', variables('FunctionsAppName'))]",
    "KeyvaultConnectionName": "[concat('Keyvault-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "properties": {
        "provisioningState": "Succeeded",
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "Applicationid": {
              "type": "string",
              "defaultValue": "[parameters('Applicationid')]"
            },
            "Certificate_key_name": {
              "type": "string",
              "defaultValue": "[parameters('Certificate_key_name')]"
            },
            "OrganizationName": {
              "type": "string",
              "defaultValue": "[parameters('OrganizationName')]"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_entity": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/entity/@{encodeURIComponent('Account')}"
              }
            }
          },
          "actions": {
            "Compose_-_sender_to_block": {
              "runAfter": {
                "Get_secret": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@concat(triggerBody()?['Entity']?['properties']?['Name'],'@',triggerBody()?['Entity']?['properties']?['UPNSuffix'])"
            },
            "Condition": {
              "actions": {
                "Condition_2": {
                  "actions": {
                    "Add_comment_to_incident_(V3)": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "incidentArmId": "@triggerBody()?['IncidentArmID']",
                          "message": "<p>Entry mentioned below has been blocked:<br>\n@{outputs('Compose_-_sender_to_block')}</p>"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/Incidents/Comment"
                      }
                    }
                  },
                  "runAfter": {
                    "CreateAllowBlockList": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@triggerBody()?['IncidentArmID']",
                            "@null"
                          ]
                        }
                      }
                    ]
                  },
                  "type": "If"
                },
                "CreateAllowBlockList": {
                  "runAfter": {},
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "Entries": "@outputs('Compose_-_sender_to_block')",
                      "ListType": "Sender"
                    },
                    "function": {
                      "id": "[concat(variables('o365FuntionsAppId'), '/functions/CreateAllowBlockList')]"
                    }
                  }
                }
              },
              "runAfter": {
                "For_each_-_collecting_existing_sender": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "contains": [
                        "@variables('existingsender')",
                        "@outputs('Compose_-_sender_to_block')"
                      ]
                    }
                  }
                ]
              },
              "type": "If"
            },
            "ConnectExchangeOnline": {
              "runAfter": {
                "Compose_-_sender_to_block": [
                  "Succeeded"
                ]
              },
              "type": "Function",
              "inputs": {
                "body": {
                  "ApplicationId": "@parameters('Applicationid')",
                  "CertificateThumbPrint": "@body('Get_secret')?['value']",
                  "OrganizationName": "@parameters('OrganizationName')"
                },
                "function": {
                  "id": "[concat(variables('o365FuntionsAppId'), '/functions/ConnectExchangeOnline')]"
                }
              }
            },
            "DisconnectExchangeOnline": {
              "runAfter": {
                "Condition": [
                  "Succeeded"
                ]
              },
              "type": "Function",
              "inputs": {
                "body": {
                  "ApplicationId": "@parameters('Applicationid')",
                  "OrganizationName": "@parameters('OrganizationName')"
                },
                "function": {
                  "id": "[concat(variables('o365FuntionsAppId'), '/functions/DisconnectExchangeOnline')]"
                }
              }
            },
            "For_each_-_collecting_existing_sender": {
              "foreach": "@body('Parse_JSON_-_tenant_allow_block_list_result')",
              "actions": {
                "Append_to_array_variable": {
                  "runAfter": {},
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "existingsender",
                    "value": "@items('For_each_-_collecting_existing_sender')['Value']"
                  }
                }
              },
              "runAfter": {
                "Parse_JSON_-_tenant_allow_block_list_result": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Get_secret": {
              "runAfter": {
                "Initialize_variable": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent(parameters('Certificate_key_name'))}/value"
              }
            },
            "Initialize_variable": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "existingsender",
                    "type": "array"
                  }
                ]
              }
            },
            "Parse_JSON_-_tenant_allow_block_list_result": {
              "runAfter": {
                "TenantAllowBlockList": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('TenantAllowBlockList')",
                "schema": {
                  "items": {
                    "properties": {
                      "Action": {
                        "type": "string"
                      },
                      "EntryValueHash": {
                        "type": "string"
                      },
                      "Error": {},
                      "ExpirationDate": {},
                      "Identity": {
                        "type": "string"
                      },
                      "LastModifiedDateTime": {
                        "type": "string"
                      },
                      "ListSubType": {
                        "type": "string"
                      },
                      "ModifiedBy": {
                        "type": "string"
                      },
                      "Notes": {},
                      "ObjectState": {
                        "type": "string"
                      },
                      "SubmissionID": {
                        "type": "string"
                      },
                      "SysManaged": {
                        "type": "boolean"
                      },
                      "Value": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "Error",
                      "Identity",
                      "Value",
                      "Action",
                      "Notes",
                      "SubmissionID",
                      "ListSubType",
                      "SysManaged",
                      "LastModifiedDateTime",
                      "ExpirationDate",
                      "ObjectState",
                      "EntryValueHash",
                      "ModifiedBy"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "TenantAllowBlockList": {
              "runAfter": {
                "ConnectExchangeOnline": [
                  "Succeeded"
                ]
              },
              "type": "Function",
              "inputs": {
                "body": {
                  "ListType": "Sender"
                },
                "function": {
                  "id": "[concat(variables('o365FuntionsAppId'), '/functions/TenantAllowBlockList')]"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "keyvault": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]",
                "connectionName": "[variables('KeyvaultConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Keyvault')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "name": "[parameters('PlaybookName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",
      "tags": {
        "hidden-SentinelTemplateName": "o365-BlockSender-EntityTrigger",
        "hidden-SentinelTemplateVersion": "1.0"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "apiVersion": "2017-07-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('MicrosoftSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('MicrosoftSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/Connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('KeyvaultConnectionName')]",
      "kind": "V1",
      "location": "[resourceGroup().location]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'keyvault')]",
          "type": "Microsoft.Web/locations/managedApis"
        },
        "parameterValueType": "Alternative",
        "alternativeParameterValues": {
          "vaultName": "[parameters('keyvault name')]"
        },
        "displayName": "[variables('KeyvaultConnectionName')]",
        "nonSecretParameterValues": {
          "vaultName": "[parameters('keyvault name')]"
        }
      }
    }
  ]
}
