Solutions/Darktrace/Playbooks/Darktrace-CommentOnModelAlert/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "Darktrace - Comment On Model Alert",
    "description": "This playbook posts a comment to a Darktrace Model Alert when a comment is added to the corresponding Microsoft Sentinel incident.",
    "prerequisites": [
      "A Darktrace ActiveAI Platform instance with API access enabled.",
      "OAuth2 client credentials (Client ID and Client Secret) with permissions to post comments on model alerts.",
      "The Darktrace instance ID for your deployment."
    ],
    "postDeployment": [
      "1. Grant the Logic App managed identity the Microsoft Sentinel Responder role on the resource group.",
      "2. Attach this playbook to an Automation Rule that triggers on incident updates."
    ],
    "lastUpdateTime": "2025-06-25T00:00:00.000Z",
    "support": {
      "tier": "Partner",
      "name": "Darktrace",
      "email": "customers@darktrace.com",
      "link": "https://www.darktrace.com/contact/"
    },
    "author": {
      "name": "Darktrace"
    }
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "Darktrace-CommentOnModelAlert",
      "metadata": {
        "description": "Name of the Logic App resource."
      }
    },
    "DarktraceInstanceId": {
      "type": "string",
      "metadata": {
        "description": "Your Darktrace instance ID (used in API path: /products/{instanceId}/...)."
      }
    },
    "DarktraceClientId": {
      "type": "string",
      "metadata": {
        "description": "OAuth2 Client ID for Darktrace API authentication."
      }
    },
    "DarktraceClientSecret": {
      "type": "securestring",
      "metadata": {
        "description": "OAuth2 Client Secret for Darktrace API authentication."
      }
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "DarktraceTokenEndpoint": "https://auth.activeai.darktrace.com/oauth/token",
    "DarktraceApiBase": "[concat('https://api.darktrace.com/products/', parameters('DarktraceInstanceId'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object"
            },
            "DarktraceClientId": {
              "type": "String"
            },
            "DarktraceClientSecret": {
              "type": "SecureString"
            },
            "DarktraceInstanceId": {
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-update"
              }
            }
          },
          "actions": {
            "Get_latest_comment": {
              "type": "Compose",
              "inputs": "@last(triggerBody()?['incidentUpdates']?['comments'])",
              "runAfter": {}
            },
            "Check_comment_exists": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": ["@outputs('Get_latest_comment')", "@null"]
                    }
                  }
                ]
              },
              "runAfter": {
                "Get_latest_comment": ["Succeeded"]
              },
              "actions": {
                "For_each_alert": {
                  "type": "Foreach",
                  "foreach": "@triggerBody()?['object']?['properties']?['alerts']",
                  "actions": {
                    "Extract_PBID_from_alert": {
                      "type": "Compose",
                      "inputs": "@items('For_each_alert')?['properties']?['additionalData']?['Custom Details']",
                      "runAfter": {}
                    },
                    "Parse_custom_details": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@outputs('Extract_PBID_from_alert')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "ThreatIdentifier": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Extract_PBID_from_alert": ["Succeeded"]
                      }
                    },
                    "Get_OAuth_token": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "https://auth.activeai.darktrace.com/oauth/token",
                        "headers": {
                          "Content-Type": "application/x-www-form-urlencoded"
                        },
                        "body": "grant_type=client_credentials&client_id=@{encodeUriComponent(parameters('DarktraceClientId'))}&client_secret=@{encodeUriComponent(parameters('DarktraceClientSecret'))}&scope=.default"
                      },
                      "runAfter": {
                        "Parse_custom_details": ["Succeeded"]
                      }
                    },
                    "Post_comment_to_Darktrace": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@{concat('https://api.darktrace.com/products/', parameters('DarktraceInstanceId'), '/modelbreaches/', body('Parse_custom_details')?['ThreatIdentifier']?[0], '/comments')}",
                        "headers": {
                          "Authorization": "Bearer @{body('Get_OAuth_token')?['access_token']}",
                          "Content-Type": "application/json",
                          "Sabre-Username": "Microsoft Sentinel user (@{outputs('Get_latest_comment')?['properties']?['author']?['name']})"
                        },
                        "body": {
                          "message": "@{outputs('Get_latest_comment')?['properties']?['message']}"
                        }
                      },
                      "runAfter": {
                        "Get_OAuth_token": ["Succeeded"]
                      }
                    }
                  },
                  "runAfter": {}
                }
              },
              "else": {
                "actions": {}
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          },
          "DarktraceClientId": {
            "value": "[parameters('DarktraceClientId')]"
          },
          "DarktraceClientSecret": {
            "value": "[parameters('DarktraceClientSecret')]"
          },
          "DarktraceInstanceId": {
            "value": "[parameters('DarktraceInstanceId')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('PlaybookName')]"
    },
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    }
  }
}
