Solutions/NetApp Ransomware Resilience/Playbooks/NetApp-RansomwareResilience_Block_User_Playbook/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "NetApp Ransomware Resilience Block User Playbook",
    "description": "This playbook blocks a user by calling the NetApp Ransomware Resilience block-user API endpoint after obtaining an authentication token from the NetApp Auth playbook.",
    "prerequisites": [
      "1. NetApp Ransomware Resilience Auth Playbook must be deployed first and functioning correctly",
      "2. Valid NetApp Ransomware Resilience API credentials must be configured in the Auth Playbook",
      "3. Caller must provide user_id in the request body; user_ips and duration are optional based on the protection scenario (user_ips required for NFS, optional for CIFS)"
    ],
    "postDeployment": [
      "1. Test the playbook with a valid user_id payload, validating behavior with and without optional user_ips and duration",
      "2. Confirm that successful and failed API responses are returned with matching status codes"
    ],
    "lastUpdateTime": "2026-06-29T00:00:00.000Z",
    "entities": [
      "Account",
      "IP"
    ],
    "tags": [
      "NetApp",
      "RansomwareResilience",
      "Playbook",
      "User",
      "Block"
    ],
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "NetApp"
    }
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "NetApp-RansomwareResilience-Block-User",
      "metadata": {
        "description": "Name of the Logic App playbook to be created"
      }
    },
    "NetAppRansomwareResilienceAuthPlaybookName": {
      "type": "string",
      "defaultValue": "NetApp-RansomwareResilience-Auth",
      "metadata": {
        "description": "Name of the NetApp Ransomware Resilience authentication playbook"
      }
    }
  },
  "variables": {
    "NetAppApiBaseUrl": "https://api.bluexp.netapp.com",
    "AuthPlaybookTriggerResourceId": "[resourceId('Microsoft.Logic/workflows/triggers', trim(parameters('NetAppRansomwareResilienceAuthPlaybookName')), 'manual')]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "tags": {
        "LogicAppsCategory": "security",
        "hidden-SentinelTemplateName": "NetApp-RansomwareResilience-Block-User",
        "hidden-SentinelTemplateVersion": "1.0"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "authPlaybookName": {
              "defaultValue": "[parameters('NetAppRansomwareResilienceAuthPlaybookName')]",
              "type": "String"
            },
            "netAppApiBaseUrl": {
              "defaultValue": "[variables('NetAppApiBaseUrl')]",
              "type": "String"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string",
                      "description": "User ID to block"
                    },
                    "user_ips": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Client IPs to block (required for NFS; optional for CIFS)"
                    },
                    "duration": {
                      "type": ["string", "number"],
                      "enum": ["permanent", 1, 2, 4, 8, 12, 24],
                      "description": "Block duration - permanent or hours (1, 2, 4, 8, 12, 24)"
                    }
                  },
                  "required": [
                    "user_id"
                  ]
                }
              }
            }
          },
          "actions": {
            "Initialize_Variables": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "UserId",
                    "type": "string",
                    "value": "@triggerBody()?['user_id']"
                  },
                  {
                    "name": "UserIps",
                    "type": "array",
                    "value": "@if(equals(triggerBody()?['user_ips'], null), json('[]'), triggerBody()?['user_ips'])"
                  },
                  {
                    "name": "AccountId",
                    "type": "string"
                  },
                  {
                    "name": "Token",
                    "type": "string"
                  },
                  {
                    "name": "ErrorStatusCode",
                    "type": "integer",
                    "value": 0
                  },
                  {
                    "name": "ErrorMessage",
                    "type": "string"
                  },
                  {
                    "name": "ErrorDetails",
                    "type": "object"
                  },
                  {
                    "name": "ResponseStatusCode",
                    "type": "integer",
                    "value": 0
                  },
                  {
                    "name": "ResponseBody",
                    "type": "object"
                  }
                ]
              }
            },
            "Call_Auth_Playbook": {
              "runAfter": {
                "Initialize_Variables": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "[listCallbackUrl(variables('AuthPlaybookTriggerResourceId'), '2019-05-01').value]",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "caller_info": {
                    "playbook_name": "@workflow().name",
                    "correlation_id": "@workflow().run.name",
                    "request_id": "@guid()"
                  }
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 3,
                  "interval": "PT5S",
                  "minimumInterval": "PT5S",
                  "maximumInterval": "PT30S"
                },
                "timeout": "PT30S"
              }
            },
            "Check_Auth_Success": {
              "runAfter": {
                "Call_Auth_Playbook": [
                  "Succeeded",
                  "Failed",
                  "TimedOut"
                ]
              },
              "type": "If",
              "expression": {
                "equals": [
                  "@actions('Call_Auth_Playbook')['status']",
                  "Succeeded"
                ]
              },
              "actions": {
                "Parse_Auth_Response": {
                  "runAfter": {},
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Call_Auth_Playbook')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "access_token": {
                          "type": "string"
                        },
                        "account_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "access_token",
                        "account_id"
                      ]
                    }
                  }
                },
                "Handle_Parse_Auth_Error": {
                  "runAfter": {
                    "Parse_Auth_Response": [
                      "Failed"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ErrorStatusCode",
                    "value": 401
                  }
                },
                "Set_Parse_Auth_Error_Message": {
                  "runAfter": {
                    "Handle_Parse_Auth_Error": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ErrorMessage",
                    "value": "Authentication playbook returned invalid response"
                  }
                },
                "Set_Parse_Auth_Error_Details": {
                  "runAfter": {
                    "Set_Parse_Auth_Error_Message": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ErrorDetails",
                    "value": "@body('Call_Auth_Playbook')"
                  }
                },
                "Set_Token": {
                  "runAfter": {
                    "Parse_Auth_Response": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Token",
                    "value": "@body('Parse_Auth_Response')?['access_token']"
                  }
                },
                "Set_Account_ID": {
                  "runAfter": {
                    "Set_Token": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "AccountId",
                    "value": "@body('Parse_Auth_Response')?['account_id']"
                  }
                },
                "Submit_Block_User": {
                  "runAfter": {
                    "Set_Account_ID": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@{concat(parameters('netAppApiBaseUrl'), '/v1/services/rps/v1/account/', variables('AccountId'), '/users/block-user')}",
                    "headers": {
                      "Authorization": "Bearer @{variables('Token')}",
                      "Content-Type": "application/json",
                      "accept": "application/json"
                    },
                    "body": {
                      "user_id": "@variables('UserId')",
                      "duration": "@triggerBody()?['duration']",
                      "user_ips": "@if(greater(length(variables('UserIps')), 0), variables('UserIps'), null)"
                    },
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 3,
                      "interval": "PT5S",
                      "minimumInterval": "PT5S",
                      "maximumInterval": "PT30S"
                    },
                    "timeout": "PT45S"
                  }
                },
                "Check_Block_User_Success": {
                  "runAfter": {
                    "Submit_Block_User": [
                      "Succeeded",
                      "Failed",
                      "TimedOut"
                    ]
                  },
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@actions('Submit_Block_User')['status']",
                          "Succeeded"
                        ]
                      },
                      {
                        "greaterOrEquals": [
                          "@outputs('Submit_Block_User')['statusCode']",
                          200
                        ]
                      },
                      {
                        "less": [
                          "@outputs('Submit_Block_User')['statusCode']",
                          300
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Set_Response_Status": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ResponseStatusCode",
                        "value": "@outputs('Submit_Block_User')['statusCode']"
                      }
                    },
                    "Set_Response_Body": {
                      "runAfter": {
                        "Set_Response_Status": ["Succeeded"]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ResponseBody",
                        "value": "@body('Submit_Block_User')"
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Handle_Block_User_Error": {
                        "runAfter": {},
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ErrorStatusCode",
                          "value": "@if(equals(actions('Submit_Block_User')['status'], 'Succeeded'), outputs('Submit_Block_User')['statusCode'], 500)"
                        }
                      },
                      "Set_Block_User_Error_Message": {
                        "runAfter": {
                          "Handle_Block_User_Error": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ErrorMessage",
                          "value": "@if(equals(actions('Submit_Block_User')['status'], 'Failed'), 'Block user API request failed', if(equals(actions('Submit_Block_User')['status'], 'TimedOut'), 'Block user API request timed out', 'Block user API returned error response'))"
                        }
                      },
                      "Set_Block_User_Error_Details": {
                        "runAfter": {
                          "Set_Block_User_Error_Message": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ErrorDetails",
                          "value": "@body('Submit_Block_User')"
                        }
                      }
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Handle_Auth_Error": {
                    "runAfter": {},
                    "type": "SetVariable",
                    "inputs": {
                      "name": "ErrorStatusCode",
                      "value": 401
                    }
                  },
                  "Set_Auth_Error_Message": {
                    "runAfter": {
                      "Handle_Auth_Error": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "ErrorMessage",
                      "value": "@if(equals(actions('Call_Auth_Playbook')['status'], 'Failed'), 'Authentication playbook API request failed', 'Authentication playbook API request timed out')"
                    }
                  },
                  "Set_Auth_Error_Details": {
                    "runAfter": {
                      "Set_Auth_Error_Message": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "ErrorDetails",
                      "value": "@body('Call_Auth_Playbook')"
                    }
                  }
                }
              }
            },
            "Return_Response": {
              "runAfter": {
                "Check_Auth_Success": [
                  "Succeeded",
                  "Failed"
                ]
              },
              "type": "If",
              "expression": {
                "greater": [
                  "@variables('ResponseStatusCode')",
                  0
                ]
              },
              "actions": {
                "Return_Success": {
                  "runAfter": {},
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": "@variables('ResponseStatusCode')",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": "@variables('ResponseBody')"
                  }
                }
              },
              "else": {
                "actions": {
                  "Return_Error": {
                    "runAfter": {},
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": "@if(equals(variables('ErrorStatusCode'), 0), 500, variables('ErrorStatusCode'))",
                      "headers": {
                        "Content-Type": "application/json"
                      },
                      "body": {
                        "success": false,
                        "statusCode": "@if(equals(variables('ErrorStatusCode'), 0), 500, variables('ErrorStatusCode'))",
                        "message": "@if(empty(variables('ErrorMessage')), 'An unexpected error occurred', variables('ErrorMessage'))",
                        "details": "@variables('ErrorDetails')"
                      }
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {
    "PlaybookName": {
      "type": "string",
      "value": "[parameters('PlaybookName')]"
    },
    "PlaybookResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "PlaybookUrl": {
      "type": "string",
      "value": "[concat('https://portal.azure.com/#resource', resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')))]"
    },
    "TriggerUrl": {
      "type": "string",
      "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', parameters('PlaybookName'), 'manual'), '2019-05-01').value]"
    }
  }
}
