Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Intel-Enrichment-URL/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "Joshua Intel Enrichment URL", 
    "description": "These playbooks use the Joshua Cyberiskvision threat intelligence to automatically enrich incidents generated by Microsoft Sentinel. From the analyst perspective, it is important that the alert contains essential information and therefore the ability to include custom details in the alert will improve the efficiency of investigation. Through this integration, the analyst can enrich incidents with further information. Enriched data will be added in Microsoft Sentinel incident comments.",
    "prerequisites": ["None"],
    "lastUpdateTime": "2022-08-01T00:00:00.000Z",
    "entities": ["URL"], 
    "tags": [], 
    "postDeployment": ["None"],
    "support": {
        "tier": "community" 
    },
    "author": {
        "name": "cyberiskvision"
    },
    "releaseNotes": [
    {
      "version": "1.0.0",
      "title": "Joshua Intel Enrichment URL",
      "notes": [
        "Initial version"
      ]
    }
    ]
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "Joshua-Intel-Enrichment-URL",
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
	 "LogicAppsCategory_Tag": {
     "type": "string",
     "defaultValue": "security"
    },
    "azuresentinel_name": {
      "type": "string",
      "defaultValue": "azuresentinel"
    },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },
    "Joshua_Alert_Enrichment-URI": {
      "type": "string",
      "defaultValue": "https://api.cyberiskvision.com/external/azure-sentinel/ioc-search"
    }
  },
  "variables": {},
  "resources": [
	          {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2018-07-01-preview",
            "name": "[parameters('azuresentinel_name')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
    {
     "tags": {
     "LogicAppsCategory": "[parameters('LogicAppsCategory_Tag')]"
      },		
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections',parameters('azuresentinel_name'))]"
      ],
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/subscribe"
              }
            }
          },
          "actions": {
            "Alert_-_Get_incident": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
              }
            },
            "Entities_-_Get_URLs": {
              "runAfter": {
                "Initialize_variable": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": "@triggerBody()?['Entities']",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/url"
              }
            },
            "For_each": {
              "foreach": "@body('Entities_-_Get_URLs')?['URLs']",
              "actions": {
                "Add_comment_to_incident_(V3)": {
                  "runAfter": {
                    "Parse_JSON": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                      "message": "<p><span style=\"font-size: 16px\"><strong>Joshua Cyberiskvision report:</strong></span><br>\n<span style=\"font-size: 16px\"><strong>URL Info:</strong></span> @{body('Parse_JSON')?['url']}<br>\n<span style=\"font-size: 16px\"><strong>URL Description: </strong></span>@{body('Parse_JSON')?['description']}</p>"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment"
                  }
                },
                "Joshua_Alert_Enrichment": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "queries": {
                      "apiKey": "@variables('api_key')",
                      "value": "@items('For_each')?['Url']"
                    },
                    "uri": "[parameters('Joshua_Alert_Enrichment-URI')]"
                  }
                },
                "Parse_JSON": {
                  "runAfter": {
                    "Joshua_Alert_Enrichment": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Joshua_Alert_Enrichment')",
                    "schema": {
								"properties": {
                                    "description": {
                                        "type": "string"
                                    },
                                    "domainName": {
                                        "type": "string"
                                    },
                                    "emailSenderAddress": {
                                        "type": "string"
                                    },
                                    "fileHashType": {
                                        "type": "string"
                                    },
                                    "fileHashValue": {
                                        "type": "string"
                                    },
                                    "found": {
                                        "type": "boolean"
                                    },
                                    "networkIPv4": {
                                        "type": "string"
                                    },
                                    "threatType": {
                                        "type": "string"
                                    },
                                    "timestamp": {
                                        "type": "integer"
                                    },
                                    "tlpLevel": {
                                        "type": "string"
                                    },
                                    "url": {
                                        "type": "string"
                                    }
                                },
                      "type": "object"
                    }
                  }
                }
              },
              "runAfter": {
                "Entities_-_Get_URLs": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Initialize_variable": {
              "runAfter": {
                "Joshua_API_Key": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "classification_bit",
                    "type": "array"
                  }
                ]
              }
            },
            "Joshua_API_Key": {
              "runAfter": {
                "Alert_-_Get_incident": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "api_key",
                    "type": "string",
                    "value": "Get-API-key-value-from-Joshua-Cyberiskvision-representantive"
                  }
                ]
              }
            }
          },
          "outputs": {}
        },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuresentinel_name'))]",
                                "connectionName": "[parameters('azuresentinel_name')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            }
                        }
                    }
                }
    }
	}
  ]
}