Solutions/Farsight DNSDB/Playbooks/DNSDB_Historical_Address/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "comments": "This playbook uses the Farsight DNSDB connector to automatically enrich incidents generated by Sentinel. Learn more about the integration via the https://docs.microsoft.com/connectors/farsightdnsdb/ or visit https://www.farsightsecurity.com/about-farsight-security/contacts/ to request a trial key.",
        "author": "Henry Stern, Farsight Security, Inc."
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "DNSDB_Historical_Address",
            "type": "string"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        }
    },
    "variables": {
		"DNSDBApiKey": "[concat('farsightdnsdb-', parameters('PlaybookName'))]",
		"AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
	},
    "resources": [
		{
			"type": "Microsoft.Web/connections",
			"apiVersion": "2016-06-01",
			"name": "[variables('AzureSentinelConnectionName')]",
			"location": "[resourceGroup().location]",
			"kind": "V1",
			"properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
				"api": {
					"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
				}
			}
		},
		{
			"type": "Microsoft.Web/connections",
			"apiVersion": "2016-06-01",
			"name": "[variables('DNSDBApiKey')]",
			"location": "[resourceGroup().location]",
			"properties": {
				"displayName": "[parameters('UserName')]",
				"customParameterValues": {},
				"api": {
					"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/farsightdnsdb')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
			"dependsOn": [
				"[resourceId('Microsoft.Web/connections', variables('DNSDBApiKey'))]",
				"[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
			],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_Azure_Sentinel_incident_creation_rule_was_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Co_Located_Hosts_": {
                            "runAfter": {
                                "RRSET_Unique_IPS_Array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "co_located_hosts",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "DNS_Name_Variable": {
                            "runAfter": {
                                "Host_Name_Variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "dns_name",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Domain_Name_Varibale": {
                            "runAfter": {
                                "DNS_Name_Variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "domain_name",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "End_Date_epoch": {
                            "runAfter": {
                                "Get1970TimestampInTicks": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "end_date_epoch",
                                        "type": "integer",
                                        "value": "@div(sub(variables('end_date_ticks_time'),variables('ticks_1970_time')),10000000)"
                                    }
                                ]
                            }
                        },
                        "Entities_-_Get_Hosts": {
                            "runAfter": {
                                "Unique_Co_Located_Hosts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/host"
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Entities_-_Get_Hosts')?['Hosts']",
                            "actions": {
                                "Add_comment_to_incident_(V3)": {
                                    "runAfter": {
                                        "Join": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "message": "<p><span style=\"font-size: 24px\">DNSDB Historical Address for Domain: </span><span style=\"font-size: 24px\">@{variables('domain_name')}</span><span style=\"font-size: 24px\">(From Date: </span><span style=\"font-size: 24px\">@{variables('start_date')}</span><span style=\"font-size: 24px\">, To Date: </span><span style=\"font-size: 24px\">@{variables('end_date')}</span><span style=\"font-size: 24px\">)</span><br>\n<span style=\"font-size: 16px\"></span><span style=\"font-size: 16px\">@{body('Join')}</span><span style=\"font-size: 16px\"></span></p>"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Incidents/Comment"
                                    }
                                },
                                "For_each_RRType_AAAA_Records": {
                                    "foreach": "@body('RRSet_Lookup_with_RRType_AAAA_Records')",
                                    "actions": {
                                        "For_each_RDATA_AAAA_Records": {
                                            "foreach": "@items('For_each_RRType_AAAA_Records')?['rdata']",
                                            "actions": {
                                                "RRSET_AAAA_IPS": {
                                                    "runAfter": {},
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "IPS_Array",
                                                        "value": "@items('For_each_RDATA_AAAA_Records')"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "type": "Foreach"
                                        }
                                    },
                                    "runAfter": {
                                        "For_each_RRType_A_Records": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach",
                                    "runtimeConfiguration": {
                                        "concurrency": {
                                            "repetitions": 1
                                        }
                                    }
                                },
                                "For_each_RRType_A_Records": {
                                    "foreach": "@body('RRSet_Lookup_with_RRType_A_Records')",
                                    "actions": {
                                        "For_each_RDATA_A_Records": {
                                            "foreach": "@items('For_each_RRType_A_Records')?['rdata']",
                                            "actions": {
                                                "RRSET_A_IPS": {
                                                    "runAfter": {},
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "IPS_Array",
                                                        "value": "@items('For_each_RDATA_A_Records')"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "type": "Foreach"
                                        }
                                    },
                                    "runAfter": {
                                        "Set_IPs_Array_to_Empty": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach",
                                    "runtimeConfiguration": {
                                        "concurrency": {
                                            "repetitions": 1
                                        }
                                    }
                                },
                                "Get_Unique_IPS": {
                                    "runAfter": {
                                        "Set_Unique_IPS_Variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "ips_array_unique",
                                        "value": "@union(variables('ips_array'),variables('ips_array'))"
                                    }
                                },
                                "Join": {
                                    "runAfter": {
                                        "Get_Unique_IPS": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Join",
                                    "inputs": {
                                        "from": "@variables('ips_array_unique')",
                                        "joinWith": ",\n"
                                    }
                                },
                                "RRSet_Lookup_with_RRType_AAAA_Records": {
                                    "runAfter": {
                                        "RRSet_Lookup_with_RRType_A_Records": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['farsightdnsdb']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/lookup/rrset/name/@{encodeURIComponent(variables('domain_name'))}/@{encodeURIComponent('AAAA')}",
                                        "queries": {
                                            "limit": 10,
                                            "time_first_before": "@variables('end_date_epoch')",
                                            "time_last_after": "@variables('start_date_epoch')"
                                        }
                                    }
                                },
                                "RRSet_Lookup_with_RRType_A_Records": {
                                    "runAfter": {
                                        "Set_Domain_Name_Variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['farsightdnsdb']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/lookup/rrset/name/@{encodeURIComponent(variables('domain_name'))}/@{encodeURIComponent('A')}",
                                        "queries": {
                                            "limit": 10,
                                            "time_first_before": "@variables('end_date_epoch')",
                                            "time_last_after": "@variables('start_date_epoch')"
                                        }
                                    }
                                },
                                "Set_DNS_Name_Variable": {
                                    "runAfter": {
                                        "Set_Host_Name_Variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "dns_name",
                                        "value": "@items('For_each')?['DnsDomain']"
                                    }
                                },
                                "Set_Domain_Name_Variable": {
                                    "runAfter": {
                                        "Set_DNS_Name_Variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "domain_name",
                                        "value": "@{variables('host_name')}.@{variables('dns_name')}"
                                    }
                                },
                                "Set_Host_Name_Variable": {
                                    "runAfter": {},
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "host_name",
                                        "value": "@items('For_each')?['HostName']"
                                    }
                                },
                                "Set_IPs_Array_to_Empty": {
                                    "runAfter": {
                                        "RRSet_Lookup_with_RRType_AAAA_Records": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "ips_array",
                                        "value": []
                                    }
                                },
                                "Set_Unique_IPS_Variable": {
                                    "runAfter": {
                                        "For_each_RRType_AAAA_Records": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "ips_array_unique",
                                        "value": []
                                    }
                                }
                            },
                            "runAfter": {
                                "Entities_-_Get_Hosts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "Get1970TimestampInTicks": {
                            "runAfter": {
                                "Lookup_Start_Date_Ticks_Time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ticks_1970_time",
                                        "type": "integer",
                                        "value": "@ticks('1970-01-01T00:00:00Z')"
                                    }
                                ]
                            }
                        },
                        "Host_Name_Variable": {
                            "runAfter": {
                                "Start_Date_epoch": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "host_name",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Incident_Date": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "end_date",
                                        "type": "string",
                                        "value": "@triggerBody()?['object']?['properties']?['createdTimeUtc']"
                                    }
                                ]
                            }
                        },
                        "Incident_Date_Ticks_Time": {
                            "runAfter": {
                                "Lookup_Start_Date(-90_of_incident_date)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "end_date_ticks_time",
                                        "type": "integer",
                                        "value": "@ticks(variables('end_date'))"
                                    }
                                ]
                            }
                        },
                        "Lookup_Start_Date(-90_of_incident_date)": {
                            "runAfter": {
                                "Incident_Date": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "start_date",
                                        "type": "string",
                                        "value": "@{addDays(variables('end_date'),-90)}"
                                    }
                                ]
                            }
                        },
                        "Lookup_Start_Date_Ticks_Time": {
                            "runAfter": {
                                "Incident_Date_Ticks_Time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "start_date__ticks_time",
                                        "type": "integer",
                                        "value": "@ticks(variables('start_date'))"
                                    }
                                ]
                            }
                        },
                        "RRSET_IPS_Array": {
                            "runAfter": {
                                "Domain_Name_Varibale": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ips_array",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "RRSET_Unique_IPS_Array": {
                            "runAfter": {
                                "RRSET_IPS_Array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ips_array_unique",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Start_Date_epoch": {
                            "runAfter": {
                                "End_Date_epoch": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "start_date_epoch",
                                        "type": "integer",
                                        "value": "@div(sub(variables('start_date__ticks_time'),variables('ticks_1970_time')),10000000)"
                                    }
                                ]
                            }
                        },
                        "Unique_Co_Located_Hosts": {
                            "runAfter": {
                                "Co_Located_Hosts_": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "co_located_hosts_unique",
                                        "type": "array"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
								"connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "farsightdnsdb": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('DNSDBApiKey'))]",
                                "connectionName": "[variables('DNSDBApiKey')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/farsightdnsdb')]"
								
                            }
                        }
                    }
                }
            }
        }
    ]
}
