Solutions/Dynatrace/Playbooks/Enrich_DynatraceApplicationSecurityAttackIncident/Enrich_DynatraceApplicationSecurityAttackIncident.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "Enrich Dynatrace Application Security Attack Incident",
        "description": "This playbook will enriche Dynatrace Application Security Attack Incidents with additional information when new incident is opened.",
        "prerequisites": ["1. Dynatrace tenant (ex. xyz.dynatrace.com)",
             "2. Dynatrace Access Token."],
        "lastUpdateTime": "2022-10-19T00:00:00.000Z",
        "entities": [],
        "tags": [ "Attacks" ],
        "support": {
            "tier": "community"
        },
        "author": {
            "name": "Dynatrace"
        },
        "releaseNotes": [
            {
                "version": "1.0.0",
                "title": "Enrich Dynatrace Application Security Attack Incident",
                "notes": [
                    "Initial version"
                ]
            }
        ]
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "EnrichDynatraceApplicationSecurityAttackIncident",
            "type": "string",
            "metadata": {
                "description": "Incident trigger"
            }
        },
        "LogAnalyticsWorkspaceName": {
            "defaultValue": "<Enter Log Analytics Workspace name>",
            "type": "string",
            "metadata": {
                "description": "Log Analytics Workspace Name"
            }
        },
        "DynatraceEnvironmentUrl": {
            "defaultValue": "<Dynatrace environment url>",
            "type": "string",
            "metadata": {
                "description": "Dynatrace tenant (ex. xyz.dynatrace.com)"
            }
        },
        "DynatraceApiToken": {
            "defaultValue": "",
            "type": "securestring",
            "metadata": {
                "description": "Dynatrace Api Token"
            }
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "AzureMonitorLogsConnectionName": "[concat('azuremonitorlogs-', parameters('PlaybookName'))]",
        "AzureLogAnalyticsDataCollectorConnectionName": "[concat('azureloganalyticsdatacollector-', parameters('PlaybookName'))]",
        "automationRuleName": "[concat('automation-', parameters('PlaybookName'))]",
        "alertRules": [
            "[resourceId('Microsoft.OperationalInsights/workspaces/providers/alertRules', parameters('LogAnalyticsWorkspaceName'), 'Microsoft.SecurityInsights', '1b0b2065-8bac-5a00-83c4-1b58f69ac212')]"
        ]
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureMonitorLogsConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('AzureMonitorLogsConnectionName')]",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureLogAnalyticsDataCollectorConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('AzureLogAnalyticsDataCollectorConnectionName')]",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "hidden-SentinelTemplateName": "EnrichDynatraceApplicationSecurityAttack-Incident",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('AzureMonitorLogsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('AzureLogAnalyticsDataCollectorConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "ApiToken": {
                            "defaultValue": "",
                            "type": "SecureString"
                        },
                        "EnvironmentUrl": {
                            "defaultValue": "",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "For_each_management_zone": {
                            "foreach": "@body('Parse_Dynatrace_Attack_JSON')?['managementZones']",
                            "actions": {
                                "Append_management_zone_tag": {
                                    "runAfter": {},
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "tags",
                                        "value": "ManagementZone : @{items('For_each_management_zone')['name']}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_incident_tag_array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_Dynatrace_Attack_Details": {
                            "runAfter": {
                                "Parse_Incident_Alert_Custom_Body_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "headers": {
                                    "Authorization": "Api-Token @{parameters('ApiToken')}"
                                },
                                "method": "GET",
                                "queries": {
                                    "fields": "+attacker, +entrypoint,+vulnerability,+managementZones"
                                },
                                "uri": "@{parameters('EnvironmentUrl')}/api/v2/attacks/@{first(body('Parse_Incident_Alert_Custom_Body_JSON')?['attackId'])}"
                            }
                        },
                        "Initialize_incident_tag_array": {
                            "runAfter": {
                                "Parse_Dynatrace_Attack_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "tags",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Parse_Dynatrace_Attack_JSON": {
                            "runAfter": {
                                "Get_Dynatrace_Attack_Details": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get_Dynatrace_Attack_Details')",
                                "schema": {
                                    "properties": {
                                        "affectedEntities": {
                                            "properties": {
                                                "processGroup": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "processGroupInstance": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "attackId": {
                                            "type": "string"
                                        },
                                        "attackType": {
                                            "type": "string"
                                        },
                                        "attacker": {
                                            "properties": {
                                                "location": {
                                                    "properties": {
                                                        "city": {},
                                                        "country": {},
                                                        "countryCode": {}
                                                    },
                                                    "type": "object"
                                                },
                                                "sourceIp": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "displayId": {
                                            "type": "string"
                                        },
                                        "displayName": {
                                            "type": "string"
                                        },
                                        "entrypoint": {
                                            "properties": {
                                                "codeLocation": {},
                                                "entrypointFunction": {
                                                    "properties": {
                                                        "className": {
                                                            "type": "string"
                                                        },
                                                        "displayName": {
                                                            "type": "string"
                                                        },
                                                        "functionName": {
                                                            "type": "string"
                                                        },
                                                        "parameterTypes": {
                                                            "properties": {
                                                                "truncationInfo": {
                                                                    "properties": {
                                                                        "truncated": {
                                                                            "type": "boolean"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "values": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "returnType": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "payload": {
                                                    "properties": {
                                                        "truncationInfo": {
                                                            "properties": {
                                                                "truncated": {
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "values": {
                                                            "items": {
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "type",
                                                                    "value"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "managementZones": {
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "name"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "state": {
                                            "type": "string"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "vulnerability": {
                                            "properties": {
                                                "codeLocation": {
                                                    "properties": {
                                                        "className": {
                                                            "type": "string"
                                                        },
                                                        "displayName": {
                                                            "type": "string"
                                                        },
                                                        "functionName": {
                                                            "type": "string"
                                                        },
                                                        "lineNumber": {
                                                            "type": "integer"
                                                        },
                                                        "parameterTypes": {
                                                            "properties": {
                                                                "truncationInfo": {
                                                                    "properties": {
                                                                        "truncated": {
                                                                            "type": "boolean"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "values": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "returnType": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ]
                                                },
                                                "displayName": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "vulnerabilityId": {
                                                    "type": "string"
                                                },
                                                "vulnerableFunction": {
                                                    "properties": {
                                                        "className": {
                                                            "type": "string"
                                                        },
                                                        "displayName": {
                                                            "type": "string"
                                                        },
                                                        "functionName": {
                                                            "type": "string"
                                                        },
                                                        "parameterTypes": {
                                                            "properties": {
                                                                "truncationInfo": {
                                                                    "properties": {
                                                                        "truncated": {
                                                                            "type": "boolean"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "values": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "returnType": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "vulnerableFunctionInput": {
                                                    "properties": {
                                                        "inputSegments": {
                                                            "items": {
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "value",
                                                                    "type"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Parse_Incident_Alert_Custom_Body_JSON": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()?['object']?['properties']?['Alerts'][0]['properties']['additionalData']['Custom Details']",
                                "schema": {
                                    "properties": {
                                        "attackId": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "attackType": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "displayId": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "state": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Update_incident_with_tags": {
                            "runAfter": {
                                "For_each_management_zone": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "description": "<style type=\"text/css\">\n.tg  {border-collapse:collapse;border-spacing:0;}\n.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;\n  overflow:hidden;padding:10px 5px;word-break:normal;}\n.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}\n.tg .tg-baqh{text-align:center;vertical-align:top}\n.tg .tg-0lax{text-align:left;vertical-align:top}\n</style>\n<table class=\"tg\">\n<tbody>\n  <tr>\n    <td class=\"tg-1wig\">Process group instance</th>\n    <td class=\"tg-0lax\">@{body('Parse_Dynatrace_Attack_JSON')?['affectedEntities']?['processGroupInstance']?['name']}</th>\n  </tr>\n  <tr>\n    <td class=\"tg-1wig\">Vulnerability</td>\n    <td class=\"tg-0lax\">@{body('Parse_Dynatrace_Attack_JSON')?['attackType']}</td>\n  </tr>\n  <tr>\n    <td class=\"tg-1wig\">Source IP</td>\n    <td class=\"tg-0lax\">@{body('Parse_Dynatrace_Attack_JSON')?['attacker']?['sourceIp']}</td>\n  </tr>\n  <tr>\n    <td class=\"tg-baqh\" colspan=\"2\"><a href=\"@{parameters('EnvironmentUrl')}/ui/security/attacks/@{body('Parse_Dynatrace_Attack_JSON')?['attackId']}\" target=\"_blank\" rel=\"noopener noreferrer\">Go to Dynatrace</a></td>\n  </tr>\n</tbody>\n</table>",
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "tagsToAdd": {
                                        "TagsToAdd": "@variables('tags')"
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "path": "/Incidents"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureMonitorLogsConnectionName'))]",
                                "connectionName": "[variables('AzureMonitorLogsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                            },
                            "azureloganalyticsdatacollector": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureLogAnalyticsDataCollectorConnectionName'))]",
                                "connectionName": "[variables('AzureLogAnalyticsDataCollectorConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
                            }
                        }
                    },
                    "ApiToken": {
                        "value": "[parameters('DynatraceApiToken')]"
                    },
                    "EnvironmentUrl": {
                        "value": "[parameters('DynatraceEnvironmentUrl')]"
                    }
                }
            }
        },
        {
            "type": "Microsoft.SecurityInsights/automationRules",
            "apiVersion": "2021-10-01",
            "name": "[variables('automationRuleName')]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
            ],
            "properties": {
                "displayName": "Enrich Dynatrace Application Security Attack Incident",
                "order": 2,
                "triggeringLogic": {
                    "isEnabled": true,
                    "expirationTimeUtc": null,
                    "triggersOn": "Incidents",
                    "triggersWhen": "Created",
                    "conditions": [
                        {
                            "conditionType": "Property",
                            "conditionProperties": {
                                "propertyName": "IncidentRelatedAnalyticRuleIds",
                                "operator": "Contains",
                                "propertyValues": "[variables('alertRules')]"
                            }
                        }
                    ]
                },
                "actions": [
                    {
                        "order": 1,
                        "actionType": "RunPlaybook",
                        "actionConfiguration": {
                            "logicAppResourceId": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]",
                            "tenantId": "[tenant().tenantId]"
                        }
                    }
                ]
            },
            "scope": "[format('Microsoft.OperationalInsights/workspaces/{0}', parameters('LogAnalyticsWorkspaceName'))]"
        }
    ]
}