Solutions/Checkpoint Harmony Email and Collaboration/Package/mainTemplate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "author": "Checkpoint - support@checkpoint.com",
    "comments": "Solution template for CheckPoint Harmony Email and Collaboration"
  },
  "parameters": {
    "location": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Not used, but needed to pass arm-ttk test `Location-Should-Not-Be-Hardcoded`.  We instead use the `workspace-location` which is derived from the LA workspace"
      }
    },
    "workspace-location": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "[concat('Region to deploy solution resources -- separate from location selection',parameters('location'))]"
      }
    },
    "workspace": {
      "defaultValue": "",
      "type": "string",
      "metadata": {
        "description": "Workspace name for Log Analytics where Microsoft Sentinel is setup"
      }
    },
    "resourceGroupName": {
      "type": "string",
      "defaultValue": "[resourceGroup().name]",
      "metadata": {
        "description": "resource group name where Microsoft Sentinel is setup"
      }
    },
    "subscription": {
      "type": "string",
      "defaultValue": "[last(split(subscription().id, '/'))]",
      "metadata": {
        "description": "subscription id where Microsoft Sentinel is setup"
      }
    }
  },
  "variables": {
    "email": "support@checkpoint.com",
    "_email": "[variables('email')]",
    "_solutionName": "CheckPoint Harmony Email and Collaboration",
    "_solutionVersion": "3.0.0",
    "solutionId": "checkpoint.azure-sentinel-checkpoint-harmony-email-collaboration",
    "_solutionId": "[variables('solutionId')]",
    "_solutioncontentProductId": "[concat(take(variables('_solutionId'),50),'-','sl','-', uniqueString(concat(variables('_solutionId'),'-','Solution','-',variables('_solutionId'),'-', variables('_solutionVersion'))))]",
    "workspaceResourceId": "[resourceId('microsoft.OperationalInsights/Workspaces', parameters('workspace'))]",
    "dataConnectorCCPVersion": "3.0.0",
    "_dataConnectorContentIdConnectorDefinition1": "CheckpointHECConnectorDefinition",
    "dataConnectorTemplateNameConnectorDefinition1": "[concat(parameters('workspace'),'-dc-',uniquestring(variables('_dataConnectorContentIdConnectorDefinition1')))]",
    "_dataConnectorContentIdConnections1": "CheckpointHECConnectorDefinitionConnections",
    "dataConnectorTemplateNameConnections1": "[concat(parameters('workspace'),'-dc-',uniquestring(variables('_dataConnectorContentIdConnections1')))]",
    "dataCollectionEndpointId1": "[concat('/subscriptions/',parameters('subscription'),'/resourceGroups/',parameters('resourceGroupName'),'/providers/Microsoft.Insights/dataCollectionEndpoints/',parameters('workspace'))]",
    "blanks": "[replace('b', 'b', '')]",
    "huntingQueryObject1": {
      "huntingQueryVersion1": "1.0.0",
      "_huntingQuerycontentId1": "0794a162-8635-43fd-81ed-2cf260457542",
      "huntingQueryTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-hq-',uniquestring('0794a162-8635-43fd-81ed-2cf260457542')))]"
    },
    "huntingQueryObject2": {
      "huntingQueryVersion2": "1.0.0",
      "_huntingQuerycontentId2": "0794a162-8635-43fd-81ed-2cf260457543",
      "huntingQueryTemplateSpecName2": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-hq-',uniquestring('0794a162-8635-43fd-81ed-2cf260457543')))]"
    },
    "huntingQueryObject3": {
      "huntingQueryVersion3": "1.0.0",
      "_huntingQuerycontentId3": "0794a162-8635-43fd-81ed-2cf260457544",
      "huntingQueryTemplateSpecName3": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-hq-',uniquestring('0794a162-8635-43fd-81ed-2cf260457544')))]"
    },
    "huntingQueryObject4": {
      "huntingQueryVersion4": "1.0.0",
      "_huntingQuerycontentId4": "0794a162-8635-43fd-81ed-2cf260457545",
      "huntingQueryTemplateSpecName4": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-hq-',uniquestring('0794a162-8635-43fd-81ed-2cf260457545')))]"
    },
    "huntingQueryObject5": {
      "huntingQueryVersion5": "1.0.0",
      "_huntingQuerycontentId5": "0794a162-8635-43fd-81ed-2cf260457541",
      "huntingQueryTemplateSpecName5": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-hq-',uniquestring('0794a162-8635-43fd-81ed-2cf260457541')))]"
    },
    "analyticRuleObject1": {
      "analyticRuleVersion1": "1.0.0",
      "_analyticRulecontentId1": "a97e2333-b7de-4c14-9700-e652a1dbef26",
      "analyticRuleId1": "[resourceId('Microsoft.SecurityInsights/AlertRuleTemplates', 'a97e2333-b7de-4c14-9700-e652a1dbef26')]",
      "analyticRuleTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-ar-',uniquestring('a97e2333-b7de-4c14-9700-e652a1dbef26')))]",
      "_analyticRulecontentProductId1": "[concat(take(variables('_solutionId'),50),'-','ar','-', uniqueString(concat(variables('_solutionId'),'-','AnalyticsRule','-','a97e2333-b7de-4c14-9700-e652a1dbef26','-', '1.0.0')))]"
    },
    "Quarantine": "Quarantine",
    "_Quarantine": "[variables('Quarantine')]",
    "TemplateEmptyArray": "[json('[]')]",
    "playbookVersion1": "1.0",
    "playbookContentId1": "Quarantine",
    "_playbookContentId1": "[variables('playbookContentId1')]",
    "playbookId1": "[resourceId('Microsoft.Logic/workflows', variables('playbookContentId1'))]",
    "playbookTemplateSpecName1": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat(parameters('workspace'),'-pl-',uniquestring(variables('_playbookContentId1'))))]",
    "_playbookcontentProductId1": "[concat(take(variables('_solutionId'),50),'-','pl','-', uniqueString(concat(variables('_solutionId'),'-','Playbook','-',variables('_playbookContentId1'),'-', variables('playbookVersion1'))))]"
  },
  "resources": [
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentPackages",
      "apiVersion": "2023-04-01-preview",
      "location": "[parameters('workspace-location')]",
      "properties": {
        "version": "3.0.0",
        "kind": "Solution",
        "contentSchemaVersion": "3.0.0",
        "displayName": "CheckPoint Harmony Email and Collaboration",
        "publisherDisplayName": "Harmony Email and Collaboration",
        "descriptionHtml": "<p><strong>Note:</strong> Please refer to the following before installing the solution:</p>\n<p>• Review the solution <a href=\"https://github.com/Azure/Azure-Sentinel/tree/master/Solutions/CheckPoint%20Harmony%20Email%20and%20Collaboration/ReleaseNotes.md\">Release Notes</a></p>\n<p>• There may be <a href=\"https://aka.ms/sentinelsolutionsknownissues\">known issues</a> pertaining to this Solution, please refer to them before installing.</p>\n<p>The <a href=\"https://sc1.checkpoint.com/documents/CloudGuard_Dome9/Documentation/Overview/CloudGuard-CSPM-Introduction.htm?cshid=help_center_documentation\">CloudGuard</a> data connector enables the ingestion of security events from the CloudGuard API into Microsoft Sentinel™, using Microsoft Sentinel’s Codeless Connector Platform. The connector supports DCR-based <a href=\"https://docs.microsoft.com/azure/azure-monitor/logs/custom-logs-overview\">ingestion time transformations</a> which parses incoming security event data into custom columns. This pre-parsing process eliminates the need for query-time parsing, resulting in improved performance for data queries</p>\n<p><strong>Data Connectors:</strong> 1, <strong>Analytic Rules:</strong> 1, <strong>Hunting Queries:</strong> 5, <strong>Playbooks:</strong> 1</p>\n<p><a href=\"https://aka.ms/azuresentinel\">Learn more about Microsoft Sentinel</a> | <a href=\"https://aka.ms/azuresentinelsolutionsdoc\">Learn more about Solutions</a></p>\n",
        "contentKind": "Solution",
        "contentProductId": "[variables('_solutioncontentProductId')]",
        "id": "[variables('_solutioncontentProductId')]",
        "icon": "<img src=\"https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Logos/CloudGuardLogo.svg\" width=\"75px\" height=\"75px\">",
        "contentId": "[variables('_solutionId')]",
        "parentId": "[variables('_solutionId')]",
        "source": {
          "kind": "Solution",
          "name": "CheckPoint Harmony Email and Collaboration",
          "sourceId": "[variables('_solutionId')]"
        },
        "author": {
          "name": "Checkpoint",
          "email": "[variables('_email')]"
        },
        "support": {
          "name": "Harmony Email and Collaboration",
          "email": "EmailSecurity_Support@checkpoint.com",
          "tier": "Partner",
          "link": "https://supportcenter.checkpoint.com/product/495"
        },
        "firstPublishDate": "2025-04-29",
        "providers": [
          "Check Point Software"
        ],
        "categories": {
          "domains": [
            "Security - Threat Intelligence"
          ]
        }
      },
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('_solutionId'))]"
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('dataConnectorTemplateNameConnectorDefinition1'), variables('dataConnectorCCPVersion'))]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "contentId": "[variables('_dataConnectorContentIdConnectorDefinition1')]",
        "displayName": "CheckpointHEC_CL On Demand Email Security (via Codeless Connector Platform)",
        "contentKind": "DataConnector",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('dataConnectorCCPVersion')]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',variables('_dataConnectorContentIdConnectorDefinition1'))]",
              "apiVersion": "2022-09-01-preview",
              "type": "Microsoft.OperationalInsights/workspaces/providers/dataConnectorDefinitions",
              "location": "[parameters('workspace-location')]",
              "kind": "Customizable",
              "properties": {
                "connectorUiConfig": {
                  "id": "CheckpointHECConnectorDefinition",
                  "title": "CheckpointHEC_CL On Demand Email Security (via Codeless Connector Platform)",
                  "publisher": "Checkpoint",
                  "descriptionMarkdown": "CheckpointHEC_CL Email Security data connector provides the capability to get Check Point security event data",
                  "graphQueries": [
                    {
                      "metricName": "Total data received",
                      "legend": "CheckpointHEC_CL",
                      "baseQuery": "CheckpointHEC_CL"
                    }
                  ],
                  "sampleQueries": [
                    {
                      "description": "Last CheckpointHEC message Events",
                      "query": "CheckpointHEC_CL\n | where EventType == 'message'\n | sort by TimeGenerated desc"
                    }
                  ],
                  "dataTypes": [
                    {
                      "name": "CheckpointHEC_CL",
                      "lastDataReceivedQuery": "CheckpointHEC_CL\n            | summarize Time = max(TimeGenerated)\n            | where isnotempty(Time)"
                    }
                  ],
                  "connectivityCriteria": [
                    {
                      "type": "HasDataConnectors",
                      "value": null
                    }
                  ],
                  "availability": {
                    "status": 1,
                    "isPreview": false
                  },
                  "permissions": {
                    "resourceProvider": [
                      {
                        "provider": "Microsoft.OperationalInsights/workspaces",
                        "permissionsDisplayText": "read and write permissions on the workspace are required.",
                        "providerDisplayName": "Workspace",
                        "scope": "Workspace",
                        "requiredPermissions": {
                          "read": true,
                          "write": true,
                          "delete": true,
                          "action": false
                        }
                      }
                    ]
                  },
                  "instructionSteps": [
                    {
                      "instructions": [
                        {
                          "type": "Markdown",
                          "parameters": {
                            "content": "Create an Application in Azure AD and create an application secret and key. To be used latest"
                          }
                        },
                        {
                          "type": "Markdown",
                          "parameters": {
                            "content": "Assign the application created the role Monitoring Metrics Publisher on the DRC created"
                          }
                        },
                        {
                          "parameters": {
                            "label": "toggle",
                            "name": "toggle"
                          },
                          "type": "ConnectionToggleButton"
                        }
                      ]
                    }
                  ],
                  "isConnectivityCriteriasMatchSome": false
                }
              }
            },
            {
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('DataConnector-', variables('_dataConnectorContentIdConnectorDefinition1')))]",
              "apiVersion": "2022-01-01-preview",
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "properties": {
                "parentId": "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/dataConnectorDefinitions', variables('_dataConnectorContentIdConnectorDefinition1'))]",
                "contentId": "[variables('_dataConnectorContentIdConnectorDefinition1')]",
                "kind": "DataConnector",
                "version": "[variables('dataConnectorCCPVersion')]",
                "source": {
                  "sourceId": "[variables('_solutionId')]",
                  "name": "[variables('_solutionName')]",
                  "kind": "Solution"
                },
                "author": {
                  "name": "Checkpoint",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Harmony Email and Collaboration",
                  "tier": "Partner",
                  "email": "EmailSecurity_Support@checkpoint.com",
                  "link": "https://supportcenter.checkpoint.com/product/495"
                },
                "dependencies": {
                  "criteria": [
                    {
                      "version": "[variables('dataConnectorCCPVersion')]",
                      "contentId": "[variables('_dataConnectorContentIdConnections1')]",
                      "kind": "ResourcesDataConnector"
                    }
                  ]
                }
              }
            },
            {
              "name": "CheckpointHECDCR",
              "apiVersion": "2022-06-01",
              "type": "Microsoft.Insights/dataCollectionRules",
              "location": "[parameters('workspace-location')]",
              "kind": "[variables('blanks')]",
              "properties": {
                "dataCollectionEndpointId": "[variables('dataCollectionEndpointId1')]",
                "streamDeclarations": {
                  "Custom-CheckpointHEC": {
                    "columns": [
                      {
                        "name": "TimeGenerated",
                        "type": "datetime"
                      },
                      {
                        "name": "email_raw",
                        "type": "dynamic"
                      },
                      {
                        "name": "event_raw",
                        "type": "dynamic"
                      },
                      {
                        "name": "EmailEmailId",
                        "type": "string"
                      },
                      {
                        "name": "EmailType",
                        "type": "string"
                      },
                      {
                        "name": "EmailSubject",
                        "type": "string"
                      },
                      {
                        "name": "EmailTo",
                        "type": "dynamic"
                      },
                      {
                        "name": "EmailFromEmail",
                        "type": "string"
                      },
                      {
                        "name": "EmailFromName",
                        "type": "string"
                      },
                      {
                        "name": "EmailBbc",
                        "type": "dynamic"
                      },
                      {
                        "name": "EmailCc",
                        "type": "dynamic"
                      },
                      {
                        "name": "EmailReplyTo",
                        "type": "dynamic"
                      },
                      {
                        "name": "EmailBodyContentType",
                        "type": "string"
                      },
                      {
                        "name": "EmailMessageId",
                        "type": "string"
                      },
                      {
                        "name": "EmailDirection",
                        "type": "string"
                      },
                      {
                        "name": "EmailAttachmentCount",
                        "type": "int"
                      },
                      {
                        "name": "EmailAttachmentsPayloads",
                        "type": "dynamic"
                      },
                      {
                        "name": "EmailLinks",
                        "type": "dynamic"
                      },
                      {
                        "name": "EmailSenderClientIp",
                        "type": "string"
                      },
                      {
                        "name": "EmailSenderServerIp",
                        "type": "string"
                      },
                      {
                        "name": "EmailDkimResults",
                        "type": "string"
                      },
                      {
                        "name": "EmailDmarcResults",
                        "type": "string"
                      },
                      {
                        "name": "EmailSpfResults",
                        "type": "string"
                      },
                      {
                        "name": "EmailSaasSpamVerdict",
                        "type": "string"
                      },
                      {
                        "name": "EventEventId",
                        "type": "string"
                      },
                      {
                        "name": "EventCategory",
                        "type": "string"
                      },
                      {
                        "name": "EventConfidenceIndicator",
                        "type": "string"
                      },
                      {
                        "name": "EventConfidenceLevel",
                        "type": "int"
                      },
                      {
                        "name": "EventCurrentState",
                        "type": "string"
                      },
                      {
                        "name": "EventDescription",
                        "type": "string"
                      },
                      {
                        "name": "EventPolicyRuleId",
                        "type": "int"
                      },
                      {
                        "name": "EventAction",
                        "type": "string"
                      },
                      {
                        "name": "EventProvider",
                        "type": "string"
                      }
                    ]
                  }
                },
                "destinations": {
                  "logAnalytics": [
                    {
                      "workspaceResourceId": "[variables('workspaceResourceId')]",
                      "name": "clv2ws1"
                    }
                  ]
                },
                "dataFlows": [
                  {
                    "streams": [
                      "Custom-CheckpointHEC"
                    ],
                    "destinations": [
                      "clv2ws1"
                    ],
                    "transformKql": "source",
                    "outputStream": "Custom-CheckpointHEC_CL"
                  }
                ]
              }
            },
            {
              "name": "CheckpointHEC_CL",
              "apiVersion": "2022-10-01",
              "type": "Microsoft.OperationalInsights/workspaces/tables",
              "location": "[parameters('workspace-location')]",
              "kind": null,
              "properties": {
                "schema": {
                  "name": "CheckpointHEC_CL",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    },
                    {
                      "name": "email_raw",
                      "type": "dynamic"
                    },
                    {
                      "name": "event_raw",
                      "type": "dynamic"
                    },
                    {
                      "name": "EmailEmailId",
                      "type": "string"
                    },
                    {
                      "name": "EmailType",
                      "type": "string"
                    },
                    {
                      "name": "EmailSubject",
                      "type": "string"
                    },
                    {
                      "name": "EmailTo",
                      "type": "dynamic"
                    },
                    {
                      "name": "EmailFromEmail",
                      "type": "string"
                    },
                    {
                      "name": "EmailFromName",
                      "type": "string"
                    },
                    {
                      "name": "EmailBbc",
                      "type": "dynamic"
                    },
                    {
                      "name": "EmailCc",
                      "type": "dynamic"
                    },
                    {
                      "name": "EmailReplyTo",
                      "type": "dynamic"
                    },
                    {
                      "name": "EmailBodyContentType",
                      "type": "string"
                    },
                    {
                      "name": "EmailMessageId",
                      "type": "string"
                    },
                    {
                      "name": "EmailDirection",
                      "type": "string"
                    },
                    {
                      "name": "EmailAttachmentCount",
                      "type": "int"
                    },
                    {
                      "name": "EmailAttachmentsPayloads",
                      "type": "dynamic"
                    },
                    {
                      "name": "EmailLinks",
                      "type": "dynamic"
                    },
                    {
                      "name": "EmailSenderClientIp",
                      "type": "string"
                    },
                    {
                      "name": "EmailSenderServerIp",
                      "type": "string"
                    },
                    {
                      "name": "EmailDkimResults",
                      "type": "string"
                    },
                    {
                      "name": "EmailDmarcResults",
                      "type": "string"
                    },
                    {
                      "name": "EmailSpfResults",
                      "type": "string"
                    },
                    {
                      "name": "EmailSaasSpamVerdict",
                      "type": "string"
                    },
                    {
                      "name": "EventEventId",
                      "type": "string"
                    },
                    {
                      "name": "EventCategory",
                      "type": "string"
                    },
                    {
                      "name": "EventConfidenceIndicator",
                      "type": "string"
                    },
                    {
                      "name": "EventConfidenceLevel",
                      "type": "int"
                    },
                    {
                      "name": "EventCurrentState",
                      "type": "string"
                    },
                    {
                      "name": "EventDescription",
                      "type": "string"
                    },
                    {
                      "name": "EventPolicyRuleId",
                      "type": "int"
                    },
                    {
                      "name": "EventAction",
                      "type": "string"
                    },
                    {
                      "name": "EventProvider",
                      "type": "string"
                    }
                  ]
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "contentProductId": "[concat(take(variables('_solutionId'), 50),'-','dc','-', uniqueString(concat(variables('_solutionId'),'-','DataConnector','-',variables('_dataConnectorContentIdConnectorDefinition1'),'-', variables('dataConnectorCCPVersion'))))]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "version": "[variables('dataConnectorCCPVersion')]"
      }
    },
    {
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',variables('_dataConnectorContentIdConnectorDefinition1'))]",
      "apiVersion": "2022-09-01-preview",
      "type": "Microsoft.OperationalInsights/workspaces/providers/dataConnectorDefinitions",
      "location": "[parameters('workspace-location')]",
      "kind": "Customizable",
      "properties": {
        "connectorUiConfig": {
          "id": "CheckpointHECConnectorDefinition",
          "title": "CheckpointHEC_CL On Demand Email Security (via Codeless Connector Platform)",
          "publisher": "Checkpoint",
          "descriptionMarkdown": "CheckpointHEC_CL Email Security data connector provides the capability to get Check Point security event data",
          "graphQueries": [
            {
              "metricName": "Total data received",
              "legend": "CheckpointHEC_CL",
              "baseQuery": "CheckpointHEC_CL"
            }
          ],
          "sampleQueries": [
            {
              "description": "Last CheckpointHEC message Events",
              "query": "CheckpointHEC_CL\n | where EventType == 'message'\n | sort by TimeGenerated desc"
            }
          ],
          "dataTypes": [
            {
              "name": "CheckpointHEC_CL",
              "lastDataReceivedQuery": "CheckpointHEC_CL\n            | summarize Time = max(TimeGenerated)\n            | where isnotempty(Time)"
            }
          ],
          "connectivityCriteria": [
            {
              "type": "HasDataConnectors",
              "value": null
            }
          ],
          "availability": {
            "status": 1,
            "isPreview": false
          },
          "permissions": {
            "resourceProvider": [
              {
                "provider": "Microsoft.OperationalInsights/workspaces",
                "permissionsDisplayText": "read and write permissions on the workspace are required.",
                "providerDisplayName": "Workspace",
                "scope": "Workspace",
                "requiredPermissions": {
                  "read": true,
                  "write": true,
                  "delete": true,
                  "action": false
                }
              }
            ]
          },
          "instructionSteps": [
            {
              "instructions": [
                {
                  "type": "Markdown",
                  "parameters": {
                    "content": "Create an Application in Azure AD and create an application secret and key. To be used latest"
                  }
                },
                {
                  "type": "Markdown",
                  "parameters": {
                    "content": "Assign the application created the role Monitoring Metrics Publisher on the DRC created"
                  }
                },
                {
                  "parameters": {
                    "label": "toggle",
                    "name": "toggle"
                  },
                  "type": "ConnectionToggleButton"
                }
              ]
            }
          ],
          "isConnectivityCriteriasMatchSome": false
        }
      }
    },
    {
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('DataConnector-', variables('_dataConnectorContentIdConnectorDefinition1')))]",
      "apiVersion": "2022-01-01-preview",
      "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
      "properties": {
        "parentId": "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/dataConnectorDefinitions', variables('_dataConnectorContentIdConnectorDefinition1'))]",
        "contentId": "[variables('_dataConnectorContentIdConnectorDefinition1')]",
        "kind": "DataConnector",
        "version": "[variables('dataConnectorCCPVersion')]",
        "source": {
          "sourceId": "[variables('_solutionId')]",
          "name": "[variables('_solutionName')]",
          "kind": "Solution"
        },
        "author": {
          "name": "Checkpoint",
          "email": "[variables('_email')]"
        },
        "support": {
          "name": "Harmony Email and Collaboration",
          "tier": "Partner",
          "email": "EmailSecurity_Support@checkpoint.com",
          "link": "https://supportcenter.checkpoint.com/product/495"
        },
        "dependencies": {
          "criteria": [
            {
              "version": "[variables('dataConnectorCCPVersion')]",
              "contentId": "[variables('_dataConnectorContentIdConnections1')]",
              "kind": "ResourcesDataConnector"
            }
          ]
        }
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('dataConnectorTemplateNameConnections1'), variables('dataConnectorCCPVersion'))]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "contentId": "[variables('_dataConnectorContentIdConnections1')]",
        "displayName": "CheckpointHEC_CL On Demand Email Security (via Codeless Connector Platform)",
        "contentKind": "ResourcesDataConnector",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('dataConnectorCCPVersion')]",
          "parameters": {
            "guidValue": {
              "defaultValue": "[[newGuid()]",
              "type": "securestring"
            },
            "innerWorkspace": {
              "defaultValue": "[parameters('workspace')]",
              "type": "securestring"
            },
            "auth": {
              "type": "object",
              "defaultValue": {
                "appId": "[[parameters('auth').appId]]",
                "servicePrincipalId": "[[parameters('auth').servicePrincipalId]]"
              }
            },
            "connectorDefinitionName": {
              "defaultValue": "CheckpointHEC_CL On Demand Email Security (via Codeless Connector Platform)",
              "type": "securestring",
              "minLength": 1
            },
            "workspace": {
              "defaultValue": "[parameters('workspace')]",
              "type": "securestring"
            },
            "dcrConfig": {
              "defaultValue": {
                "dataCollectionEndpoint": "data collection Endpoint",
                "dataCollectionRuleImmutableId": "data collection rule immutableId"
              },
              "type": "object"
            }
          },
          "variables": {
            "_dataConnectorContentIdConnections1": "[variables('_dataConnectorContentIdConnections1')]"
          },
          "resources": [
            {
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('DataConnector-', variables('_dataConnectorContentIdConnections1')))]",
              "apiVersion": "2022-01-01-preview",
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "properties": {
                "parentId": "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/dataConnectors', variables('_dataConnectorContentIdConnections1'))]",
                "contentId": "[variables('_dataConnectorContentIdConnections1')]",
                "kind": "ResourcesDataConnector",
                "version": "[variables('dataConnectorCCPVersion')]",
                "source": {
                  "sourceId": "[variables('_solutionId')]",
                  "name": "[variables('_solutionName')]",
                  "kind": "Solution"
                },
                "author": {
                  "name": "Checkpoint",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Harmony Email and Collaboration",
                  "tier": "Partner",
                  "email": "EmailSecurity_Support@checkpoint.com",
                  "link": "https://supportcenter.checkpoint.com/product/495"
                }
              }
            },
            {
              "name": "[[concat(parameters('innerWorkspace'),'/Microsoft.SecurityInsights/', 'CheckpointHECConnection', parameters('guidValue'))]",
              "apiVersion": "2023-02-01-preview",
              "type": "Microsoft.OperationalInsights/workspaces/providers/dataConnectors",
              "location": "[parameters('workspace-location')]",
              "kind": "Push",
              "properties": {
                "connectorDefinitionName": "CheckpointHECConnectorDefinition",
                "auth": {
                  "type": "None",
                  "appId": "[[parameters('auth').appId]",
                  "servicePrincipalId": "[[parameters('auth').servicePrincipalId]"
                },
                "dataType": "CheckpointHEC_CL",
                "dcrConfig": {
                  "streamName": "Custom-CheckpointHEC",
                  "dataCollectionEndpoint": "[[parameters('dcrConfig').dataCollectionEndpoint]",
                  "dataCollectionRuleImmutableId": "[[parameters('dcrConfig').dataCollectionRuleImmutableId]"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "contentProductId": "[concat(take(variables('_solutionId'), 50),'-','rdc','-', uniqueString(concat(variables('_solutionId'),'-','ResourcesDataConnector','-',variables('_dataConnectorContentIdConnections1'),'-', variables('dataConnectorCCPVersion'))))]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "version": "[variables('dataConnectorCCPVersion')]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('huntingQueryObject1').huntingQueryTemplateSpecName1]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "CheckpointEventPerUser_HuntingQueries Hunting Query with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('huntingQueryObject1').huntingQueryVersion1]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.OperationalInsights/savedSearches",
              "apiVersion": "2025-07-01",
              "name": "CheckPoint_Harmony_Email_and_Collaboration_Hunting_Query_1",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "eTag": "*",
                "displayName": "Event breakdown per user",
                "category": "Hunting Queries",
                "query": "CheckpointHEC_CL\n| where TimeGenerated >= ago(1d)\n| mv-expand User = EmailTo\n| extend User = tostring(User)\n| summarize Count = count() by User, EventCategory\n| evaluate pivot(EventCategory, sum(Count))\n",
                "version": 2,
                "tags": [
                  {
                    "name": "description",
                    "value": "Get event breakdown per user"
                  },
                  {
                    "name": "tactics",
                    "value": "InitialAccess"
                  }
                ]
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('HuntingQuery-', last(split(resourceId('Microsoft.OperationalInsights/savedSearches', variables('huntingQueryObject1')._huntingQuerycontentId1),'/'))))]",
              "properties": {
                "description": "CheckPoint Harmony Email and Collaboration Hunting Query 1",
                "parentId": "[resourceId('Microsoft.OperationalInsights/savedSearches', variables('huntingQueryObject1')._huntingQuerycontentId1)]",
                "contentId": "[variables('huntingQueryObject1')._huntingQuerycontentId1]",
                "kind": "HuntingQuery",
                "version": "[variables('huntingQueryObject1').huntingQueryVersion1]",
                "source": {
                  "kind": "Solution",
                  "name": "CheckPoint Harmony Email and Collaboration",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Checkpoint",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Harmony Email and Collaboration",
                  "tier": "Partner",
                  "email": "EmailSecurity_Support@checkpoint.com",
                  "link": "https://supportcenter.checkpoint.com/product/495"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('huntingQueryObject1')._huntingQuerycontentId1]",
        "contentKind": "HuntingQuery",
        "displayName": "Event breakdown per user",
        "contentProductId": "[concat(take(variables('_solutionId'),50),'-','hq','-', uniqueString(concat(variables('_solutionId'),'-','HuntingQuery','-',variables('huntingQueryObject1')._huntingQuerycontentId1,'-', '1.0.0')))]",
        "id": "[concat(take(variables('_solutionId'),50),'-','hq','-', uniqueString(concat(variables('_solutionId'),'-','HuntingQuery','-',variables('huntingQueryObject1')._huntingQuerycontentId1,'-', '1.0.0')))]",
        "version": "1.0.0"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('huntingQueryObject2').huntingQueryTemplateSpecName2]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "CheckpointEventRecapLastDay_HuntingQueries Hunting Query with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('huntingQueryObject2').huntingQueryVersion2]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.OperationalInsights/savedSearches",
              "apiVersion": "2025-07-01",
              "name": "CheckPoint_Harmony_Email_and_Collaboration_Hunting_Query_2",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "eTag": "*",
                "displayName": "Event count last 24 hours",
                "category": "Hunting Queries",
                "query": "CheckpointHEC_CL \n| where TimeGenerated >= ago(1d)\n| summarize Count = count() by EventCategory\n",
                "version": 2,
                "tags": [
                  {
                    "name": "description",
                    "value": "Event type count break down"
                  },
                  {
                    "name": "tactics",
                    "value": "InitialAccess"
                  }
                ]
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('HuntingQuery-', last(split(resourceId('Microsoft.OperationalInsights/savedSearches', variables('huntingQueryObject2')._huntingQuerycontentId2),'/'))))]",
              "properties": {
                "description": "CheckPoint Harmony Email and Collaboration Hunting Query 2",
                "parentId": "[resourceId('Microsoft.OperationalInsights/savedSearches', variables('huntingQueryObject2')._huntingQuerycontentId2)]",
                "contentId": "[variables('huntingQueryObject2')._huntingQuerycontentId2]",
                "kind": "HuntingQuery",
                "version": "[variables('huntingQueryObject2').huntingQueryVersion2]",
                "source": {
                  "kind": "Solution",
                  "name": "CheckPoint Harmony Email and Collaboration",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Checkpoint",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Harmony Email and Collaboration",
                  "tier": "Partner",
                  "email": "EmailSecurity_Support@checkpoint.com",
                  "link": "https://supportcenter.checkpoint.com/product/495"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('huntingQueryObject2')._huntingQuerycontentId2]",
        "contentKind": "HuntingQuery",
        "displayName": "Event count last 24 hours",
        "contentProductId": "[concat(take(variables('_solutionId'),50),'-','hq','-', uniqueString(concat(variables('_solutionId'),'-','HuntingQuery','-',variables('huntingQueryObject2')._huntingQuerycontentId2,'-', '1.0.0')))]",
        "id": "[concat(take(variables('_solutionId'),50),'-','hq','-', uniqueString(concat(variables('_solutionId'),'-','HuntingQuery','-',variables('huntingQueryObject2')._huntingQuerycontentId2,'-', '1.0.0')))]",
        "version": "1.0.0"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('huntingQueryObject3').huntingQueryTemplateSpecName3]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "CheckpointHighConfidenceSpam_HuntingQueries Hunting Query with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('huntingQueryObject3').huntingQueryVersion3]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.OperationalInsights/savedSearches",
              "apiVersion": "2025-07-01",
              "name": "CheckPoint_Harmony_Email_and_Collaboration_Hunting_Query_3",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "eTag": "*",
                "displayName": "Spam emails",
                "category": "Hunting Queries",
                "query": "CheckpointHEC_CL\n| where EventCategory == 'spam' and TimeGenerated >= ago(1d)\n| summarize SpamDetections = count() by tostring(EmailFromEmail)\n| order by SpamDetections desc\n",
                "version": 2,
                "tags": [
                  {
                    "name": "description",
                    "value": "Search for emails detected as spam"
                  },
                  {
                    "name": "tactics",
                    "value": "InitialAccess"
                  }
                ]
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('HuntingQuery-', last(split(resourceId('Microsoft.OperationalInsights/savedSearches', variables('huntingQueryObject3')._huntingQuerycontentId3),'/'))))]",
              "properties": {
                "description": "CheckPoint Harmony Email and Collaboration Hunting Query 3",
                "parentId": "[resourceId('Microsoft.OperationalInsights/savedSearches', variables('huntingQueryObject3')._huntingQuerycontentId3)]",
                "contentId": "[variables('huntingQueryObject3')._huntingQuerycontentId3]",
                "kind": "HuntingQuery",
                "version": "[variables('huntingQueryObject3').huntingQueryVersion3]",
                "source": {
                  "kind": "Solution",
                  "name": "CheckPoint Harmony Email and Collaboration",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Checkpoint",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Harmony Email and Collaboration",
                  "tier": "Partner",
                  "email": "EmailSecurity_Support@checkpoint.com",
                  "link": "https://supportcenter.checkpoint.com/product/495"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('huntingQueryObject3')._huntingQuerycontentId3]",
        "contentKind": "HuntingQuery",
        "displayName": "Spam emails",
        "contentProductId": "[concat(take(variables('_solutionId'),50),'-','hq','-', uniqueString(concat(variables('_solutionId'),'-','HuntingQuery','-',variables('huntingQueryObject3')._huntingQuerycontentId3,'-', '1.0.0')))]",
        "id": "[concat(take(variables('_solutionId'),50),'-','hq','-', uniqueString(concat(variables('_solutionId'),'-','HuntingQuery','-',variables('huntingQueryObject3')._huntingQuerycontentId3,'-', '1.0.0')))]",
        "version": "1.0.0"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('huntingQueryObject4').huntingQueryTemplateSpecName4]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "CheckpointPhishing_HuntingQueries Hunting Query with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('huntingQueryObject4').huntingQueryVersion4]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.OperationalInsights/savedSearches",
              "apiVersion": "2025-07-01",
              "name": "CheckPoint_Harmony_Email_and_Collaboration_Hunting_Query_4",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "eTag": "*",
                "displayName": "Phishing emails per internal user",
                "category": "Hunting Queries",
                "query": "CheckpointHEC_CL\n| where EventCategory == 'phishing' and TimeGenerated >= ago(1d)\n| mv-expand email = EmailTo\n| summarize PhishingDetections = count() by tostring(email)\n| order by PhishingDetections desc\n",
                "version": 2,
                "tags": [
                  {
                    "name": "description",
                    "value": "Get phishing email count per user"
                  },
                  {
                    "name": "tactics",
                    "value": "InitialAccess"
                  }
                ]
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('HuntingQuery-', last(split(resourceId('Microsoft.OperationalInsights/savedSearches', variables('huntingQueryObject4')._huntingQuerycontentId4),'/'))))]",
              "properties": {
                "description": "CheckPoint Harmony Email and Collaboration Hunting Query 4",
                "parentId": "[resourceId('Microsoft.OperationalInsights/savedSearches', variables('huntingQueryObject4')._huntingQuerycontentId4)]",
                "contentId": "[variables('huntingQueryObject4')._huntingQuerycontentId4]",
                "kind": "HuntingQuery",
                "version": "[variables('huntingQueryObject4').huntingQueryVersion4]",
                "source": {
                  "kind": "Solution",
                  "name": "CheckPoint Harmony Email and Collaboration",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Checkpoint",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Harmony Email and Collaboration",
                  "tier": "Partner",
                  "email": "EmailSecurity_Support@checkpoint.com",
                  "link": "https://supportcenter.checkpoint.com/product/495"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('huntingQueryObject4')._huntingQuerycontentId4]",
        "contentKind": "HuntingQuery",
        "displayName": "Phishing emails per internal user",
        "contentProductId": "[concat(take(variables('_solutionId'),50),'-','hq','-', uniqueString(concat(variables('_solutionId'),'-','HuntingQuery','-',variables('huntingQueryObject4')._huntingQuerycontentId4,'-', '1.0.0')))]",
        "id": "[concat(take(variables('_solutionId'),50),'-','hq','-', uniqueString(concat(variables('_solutionId'),'-','HuntingQuery','-',variables('huntingQueryObject4')._huntingQuerycontentId4,'-', '1.0.0')))]",
        "version": "1.0.0"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('huntingQueryObject5').huntingQueryTemplateSpecName5]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "CheckpointDLPEvent_HuntingQueries Hunting Query with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('huntingQueryObject5').huntingQueryVersion5]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.OperationalInsights/savedSearches",
              "apiVersion": "2025-07-01",
              "name": "CheckPoint_Harmony_Email_and_Collaboration_Hunting_Query_5",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "eTag": "*",
                "displayName": "DLP Detections",
                "category": "Hunting Queries",
                "query": "CheckpointHEC_CL\n| where TimeGenerated >= ago(1d)\n| where EventCategory == \"dlp\"\n| extend sr = (email_raw).entity_security_result\n| mv-expand dlp = sr.dlp\n| extend payload = todynamic(dlp.payload)\n| mv-expand scan_detail = payload.scan_details\n| extend\n    verdict = tostring(dlp.verdict),\n    status_description = tostring(dlp.status_description),\n    hit_count = toint(payload.hit_count),\n    scan_detail = tostring(scan_detail),\n    rule = tostring(payload.matches_dlp_rules[0])\n| project TimeGenerated, EmailFromEmail, EmailSubject, EmailMessageId, verdict, status_description, hit_count, scan_detail, rules = payload.matches_dlp_rules\n| order by TimeGenerated desc\n",
                "version": 2,
                "tags": [
                  {
                    "name": "description",
                    "value": "Search for DLP detections"
                  },
                  {
                    "name": "tactics",
                    "value": "InitialAccess"
                  }
                ]
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('HuntingQuery-', last(split(resourceId('Microsoft.OperationalInsights/savedSearches', variables('huntingQueryObject5')._huntingQuerycontentId5),'/'))))]",
              "properties": {
                "description": "CheckPoint Harmony Email and Collaboration Hunting Query 5",
                "parentId": "[resourceId('Microsoft.OperationalInsights/savedSearches', variables('huntingQueryObject5')._huntingQuerycontentId5)]",
                "contentId": "[variables('huntingQueryObject5')._huntingQuerycontentId5]",
                "kind": "HuntingQuery",
                "version": "[variables('huntingQueryObject5').huntingQueryVersion5]",
                "source": {
                  "kind": "Solution",
                  "name": "CheckPoint Harmony Email and Collaboration",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Checkpoint",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Harmony Email and Collaboration",
                  "tier": "Partner",
                  "email": "EmailSecurity_Support@checkpoint.com",
                  "link": "https://supportcenter.checkpoint.com/product/495"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('huntingQueryObject5')._huntingQuerycontentId5]",
        "contentKind": "HuntingQuery",
        "displayName": "DLP Detections",
        "contentProductId": "[concat(take(variables('_solutionId'),50),'-','hq','-', uniqueString(concat(variables('_solutionId'),'-','HuntingQuery','-',variables('huntingQueryObject5')._huntingQuerycontentId5,'-', '1.0.0')))]",
        "id": "[concat(take(variables('_solutionId'),50),'-','hq','-', uniqueString(concat(variables('_solutionId'),'-','HuntingQuery','-',variables('huntingQueryObject5')._huntingQuerycontentId5,'-', '1.0.0')))]",
        "version": "1.0.0"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('analyticRuleObject1').analyticRuleTemplateSpecName1]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "CheckpointHECPhishingNotQuarantined_AnalyticalRules Analytics Rule with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('analyticRuleObject1').analyticRuleVersion1]",
          "parameters": {},
          "variables": {},
          "resources": [
            {
              "type": "Microsoft.SecurityInsights/AlertRuleTemplates",
              "name": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
              "apiVersion": "2023-02-01-preview",
              "kind": "Scheduled",
              "location": "[parameters('workspace-location')]",
              "properties": {
                "description": "Fetch phishing emails that are pending action",
                "displayName": "Checkpoint - Pending Phishing emails",
                "enabled": false,
                "query": "CheckpointHEC_CL | where EventCurrentState == \"new\" and EventCategory == \"phishing\"",
                "queryFrequency": "PT5M",
                "queryPeriod": "PT15M",
                "severity": "High",
                "suppressionDuration": "PT1H",
                "suppressionEnabled": false,
                "triggerOperator": "GreaterThan",
                "triggerThreshold": 0,
                "status": "Available",
                "requiredDataConnectors": [
                  {
                    "dataTypes": [
                      "CheckpointHEC_CL"
                    ],
                    "connectorId": "CheckpointHECConnection"
                  }
                ],
                "tactics": [
                  "Discovery"
                ],
                "techniques": [
                  "T1566"
                ],
                "entityMappings": [
                  {
                    "entityType": "MailMessage",
                    "fieldMappings": [
                      {
                        "identifier": "Sender",
                        "columnName": "EmailFromEmail"
                      },
                      {
                        "identifier": "NetworkMessageId",
                        "columnName": "EmailMessageId"
                      },
                      {
                        "identifier": "Subject",
                        "columnName": "EmailSubject"
                      }
                    ]
                  },
                  {
                    "entityType": "Mailbox",
                    "fieldMappings": [
                      {
                        "identifier": "MailboxPrimaryAddress",
                        "columnName": "EmailTo"
                      }
                    ]
                  }
                ],
                "eventGroupingSettings": {
                  "aggregationKind": "SingleAlert"
                },
                "customDetails": {
                  "EmailID": "EmailEmailId"
                },
                "incidentConfiguration": {
                  "createIncident": true,
                  "groupingConfiguration": {
                    "matchingMethod": "AllEntities",
                    "lookbackDuration": "1d",
                    "enabled": true,
                    "reopenClosedIncident": false
                  }
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('AnalyticsRule-', last(split(variables('analyticRuleObject1').analyticRuleId1,'/'))))]",
              "properties": {
                "description": "CheckPoint Harmony Email and Collaboration Analytics Rule 1",
                "parentId": "[variables('analyticRuleObject1').analyticRuleId1]",
                "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
                "kind": "AnalyticsRule",
                "version": "[variables('analyticRuleObject1').analyticRuleVersion1]",
                "source": {
                  "kind": "Solution",
                  "name": "CheckPoint Harmony Email and Collaboration",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Checkpoint",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Harmony Email and Collaboration",
                  "tier": "Partner",
                  "email": "EmailSecurity_Support@checkpoint.com",
                  "link": "https://supportcenter.checkpoint.com/product/495"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('analyticRuleObject1')._analyticRulecontentId1]",
        "contentKind": "AnalyticsRule",
        "displayName": "Checkpoint - Pending Phishing emails",
        "contentProductId": "[variables('analyticRuleObject1')._analyticRulecontentProductId1]",
        "id": "[variables('analyticRuleObject1')._analyticRulecontentProductId1]",
        "version": "[variables('analyticRuleObject1').analyticRuleVersion1]"
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/contentTemplates",
      "apiVersion": "2023-04-01-preview",
      "name": "[variables('playbookTemplateSpecName1')]",
      "location": "[parameters('workspace-location')]",
      "dependsOn": [
        "[extensionResourceId(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspace')), 'Microsoft.SecurityInsights/contentPackages', variables('_solutionId'))]"
      ],
      "properties": {
        "description": "Quarantine-Email Playbook with template version 3.0.0",
        "mainTemplate": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "[variables('playbookVersion1')]",
          "parameters": {
            "playbookName": {
              "type": "String",
              "defaultValue": "Quarantine-Email"
            },
            "location": {
              "type": "String",
              "metadata": {
                "description": "Location for the Logic App deployment"
              }
            },
            "functionAppResourceId": {
              "type": "String",
              "metadata": {
                "description": "Resource ID of the Azure Function App (Microsoft.Web/sites/...) that contains the Quarantine function."
              }
            },
            "sentinelConnectionResourceId": {
              "type": "String",
              "metadata": {
                "description": "Resource ID of the Microsoft Sentinel (azuresentinel) API connection in this resource group."
              }
            },
            "Host": {
              "type": "String"
            },
            "ClientID": {
              "type": "String"
            },
            "ClientSecret": {
              "type": "String",
              "metadata": {
                "description": "Prefer using Key Vault instead of passing secrets via parameters."
              }
            },
            "Brand": {
              "type": "String",
              "defaultValue": "checkpoint"
            }
          },
          "variables": {
            "workspace-location-inline": "[concat('[resourceGroup().locatio', 'n]')]",
            "workspace-name": "[parameters('workspace')]",
            "workspaceResourceId": "[[resourceId('microsoft.OperationalInsights/Workspaces', variables('workspace-name'))]"
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2017-07-01",
              "name": "[[parameters('playbookName')]",
              "location": "[[parameters('location')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "Host": {
                      "type": "String"
                    },
                    "ClientID": {
                      "type": "String"
                    },
                    "ClientSecret": {
                      "type": "String"
                    },
                    "Brand": {
                      "type": "String"
                    },
                    "$connections": {
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "Microsoft_Sentinel_incident": {
                      "type": "ApiConnectionWebhook",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "body": {
                          "callback_url": "@listCallbackUrl()"
                        },
                        "path": "/incident-creation"
                      }
                    }
                  },
                  "actions": {
                    "Initialize_processedEmailIds": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "processedEmailIds",
                            "type": "array",
                            "value": "[variables('TemplateEmptyArray')]"
                          }
                        ]
                      }
                    },
                    "For_each_alert": {
                      "type": "Foreach",
                      "foreach": "@coalesce(triggerBody()?['object']?['properties']?['Alerts'], createArray())",
                      "runAfter": {
                        "Initialize_processedEmailIds": [
                          "Succeeded"
                        ]
                      },
                      "actions": {
                        "Parse_Custom_Details": {
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@items('For_each_alert')?['properties']?['additionalData']?['Custom Details']",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "EmailID": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "For_each_emailId": {
                          "type": "Foreach",
                          "foreach": "@coalesce(outputs('Parse_Custom_Details')?['body']?['EmailID'], createArray())",
                          "runAfter": {
                            "Parse_Custom_Details": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 20
                            }
                          },
                          "actions": {
                            "Call_Quarantine_Function": {
                              "type": "Function",
                              "inputs": {
                                "body": {
                                  "brand": "@parameters('Brand')",
                                  "host": "@parameters('Host')",
                                  "clientId": "@parameters('ClientID')",
                                  "clientSecret": "@parameters('ClientSecret')",
                                  "action": "eventQuarantine",
                                  "entityIds": [
                                    "@items('For_each_emailId')"
                                  ]
                                },
                                "function": {
                                  "id": "[[concat(parameters('functionAppResourceId'), '/functions/Quarantine')]"
                                }
                              }
                            },
                            "Append_to_processedEmailIds": {
                              "type": "AppendToArrayVariable",
                              "runAfter": {
                                "Call_Quarantine_Function": [
                                  "Succeeded"
                                ]
                              },
                              "inputs": {
                                "name": "processedEmailIds",
                                "value": "@items('For_each_emailId')"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "parameters": {
                  "Host": {
                    "value": "[[parameters('Host')]"
                  },
                  "ClientID": {
                    "value": "[[parameters('ClientID')]"
                  },
                  "ClientSecret": {
                    "value": "[[parameters('ClientSecret')]"
                  },
                  "Brand": {
                    "value": "[[parameters('Brand')]"
                  },
                  "$connections": {
                    "value": {
                      "azuresentinel": {
                        "id": "[[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                        "connectionId": "[[parameters('sentinelConnectionResourceId')]",
                        "connectionName": "[[concat('azuresentinel-', parameters('playbookName'))]"
                      }
                    }
                  }
                }
              },
              "tags": {
                "hidden-SentinelWorkspaceId": "[[variables('workspaceResourceId')]"
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
              "apiVersion": "2022-01-01-preview",
              "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/',concat('Playbook-', last(split(variables('playbookId1'),'/'))))]",
              "properties": {
                "parentId": "[variables('playbookId1')]",
                "contentId": "[variables('_playbookContentId1')]",
                "kind": "Playbook",
                "version": "[variables('playbookVersion1')]",
                "source": {
                  "kind": "Solution",
                  "name": "CheckPoint Harmony Email and Collaboration",
                  "sourceId": "[variables('_solutionId')]"
                },
                "author": {
                  "name": "Checkpoint",
                  "email": "[variables('_email')]"
                },
                "support": {
                  "name": "Harmony Email and Collaboration",
                  "tier": "Partner",
                  "email": "EmailSecurity_Support@checkpoint.com",
                  "link": "https://supportcenter.checkpoint.com/product/495"
                }
              }
            }
          ]
        },
        "packageKind": "Solution",
        "packageVersion": "[variables('_solutionVersion')]",
        "packageName": "[variables('_solutionName')]",
        "packageId": "[variables('_solutionId')]",
        "contentSchemaVersion": "3.0.0",
        "contentId": "[variables('_playbookContentId1')]",
        "contentKind": "Playbook",
        "displayName": "Quarantine-Email",
        "contentProductId": "[variables('_playbookcontentProductId1')]",
        "id": "[variables('_playbookcontentProductId1')]",
        "version": "[variables('playbookVersion1')]"
      }
    }
  ],
  "outputs": {}
}
